<%= simple_form_for(@invite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="invite_message">Hi <span class="invitation_names"><%= "#{user.firstname}" %></span>! invite <span class="invitation_names"><%= "#{@user.firstname} #{@user.lastname}" %></span> to a social</div class="invite_message">

    <%= f.association :social, collection: sociallist_for(user, @user), prompt: "select a social", label: "Listed Socials" %>

    <!-- hidden_field -->
    <label class="hide">user</label>
    <%= f.hidden_field :user_id, value: user.id, label:"user" %>

    <label class="hide">invitee</label>
    <%= f.hidden_field :invitee_id, value: @user.id, label:"invitee" %>
    <!-- hidden_field -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send", invitee: @user, user: current_user %>
  </div>
<% end %>




