<%= simple_form_for(@invite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h5><%= "#{user.firstname}" %>, invite <%= "#{@user.firstname} #{@user.lastname}" %> to a social</h5>

    <%= f.association :social, collection: sociallist_for(user, @user), prompt: "select an social", label: "Listed Socials" %>

    <!-- hidden_field -->
    <label>user</label>
    <%= f.input_field :user_id, value: user.id, label:"user" %><br/>

    <label>invitee</label>
    <%= f.input_field :invitee_id, value: @user.id, label:"invitee" %>
    <!-- hidden_field -->

    <%# f.input :user_id %>
    <%# f.input :invitee_id %>
    <%# f.input :social_id %>
    <%# f.input :event_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send", invitee: @user, user: current_user %>
  </div>
<% end %>




