<%= simple_form_for(@invite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="invite_message">Hi <span class="invitation_names"><%= "#{invite_request.inviter.firstname}" %></span>! <span class="invitation_names"><%= "#{invite_request.user.firstname} #{invite_request.user.lastname}" %></span> would like to attend your social, <span class="invitation_names"><%= "#{invite_request.social.title}" %></span></div>

    <div class="invite_message_info">
      <div>Social: <span class="invitation_names"><%= "#{invite_request.social.title}" %></span></div>
    </div>

    <!-- hidden_field -->
    <label class="hide">social</label>
    <%= f.hidden_field :social_id, value: invite_request.social.id, label:"Social" %>
    
    <label class="hide">user</label>
    <%= f.hidden_field :user_id, value: invite_request.inviter.id, label:"inviter" %>

    <label class="hide">invitee</label>
    <%= f.hidden_field :invitee_id, value: invite_request.user.id, label:"invitee" %>
    <!-- hidden_field -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Invite #{invite_request.user.firstname} #{invite_request.user.lastname}", invitee: invite_request.user.id, user: invite_request.inviter.id %>
  </div>
<% end %>

<div>
  <%= link_to 'Decline', invite_request, method: :delete %>
</div>




