<div class="medium-12 columns messages_page_section">
  <div class="messages_inner_container">
    <div class="medium-12 columns upper_section">
      <div>
        <span><%= link_to "Trash", new_conversation_path, class: "btn btn-success" %></span> |
        <span><%= link_to "Inbox", new_conversation_path, class: "btn btn-success" %></span> |
        <span><%= link_to "Compose", new_conversation_path, class: "btn btn-success" %></span>
      </div>

    </div>

    <!-- left_section -->
    <div class="medium-12 columns left_section">
      <div>
        <%= render 'messages/folders' %>
      </div>
    </div>

    <!-- right_section -->
    <div class="medium-12 columns right_section">
      <div>
        <!-- individual conversations will show here -->
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %><br/> <br/>
      </div>
    </div>
  </div>
</div>


