<!-- =========================================
       display message summary view betweeen reciever & sender for inbox | sent & trash
     ========================================= -->

<div class="medium-12 columns messages_page_section">
  <div class="messages_page_inner_container">


    <!-- upper_section: listed actions -->
    <div class="medium-12 columns upper_section">
      <div class="listed_actions_container">
        <div class="listed_actions_inner_container"> 
          <span>
            <%= link_to message_trash_path do %>
              <em class="fa fa-trash-o fa-lg"></em>
              <span>Trash</span>
              <span>[<%= trashed_messages_count %>]</span>
            <% end %>
          </span> |
          <span>
            <%= link_to message_inbox_path do  %>
              <em class="fa fa-inbox fa-lg"></em>
              <span>Inbox</span>
              <span>[<%= unread_messages_count %>]</span>
            <% end %>
          </span> |
          <span>
            <%= link_to message_sent_path do %>
              <em class="fa fa-paper-plane-o fa-lg"></em>
              <span>Sent</span>
              <span>[<%= sent_messages_count %>]</span>
            <% end %>
          </span> |
          <span><%= link_to "Compose", new_conversation_path, class: "btn btn-success" %></span>
        </div>
      </div>
    </div>
    <!-- upper_section: listed actions -->



    <div><%# render 'messages/folders' %></div>



    <!-- lower_section: conversations -->
    <div class="medium-12 columns lower_section">
      <div class="listed_conversations_container">
        <div class="listed_conversations_inner_container">
          <div class="header">messages</div>
          <!-- individual conversations will show here -->
          <% if is_conversation %>
              <%= render 'conversations/form' %>
          <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %><br/> <br/>
        </div>
      </div>
    </div>
    <!-- lower_section: conversations -->


  </div>
</div>


