<% unless activity.trackable.upcoming_event? %>
  <% unless activity.trackable.expired_or_closed_event %>
    <div class="activity_list">
      <% if activity.trackable.event_access_below_user_score(current_user) %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-star">
            <i class="fa fa-calendar"></i>
          </div> 
          <div class="cd-timeline-content">
            <ul>
              <li class="left_side">
                <!-- activity_left_side -->
                <div class="image_content right_side_content">
                  <div class="activity_feed_img_cover spefz_img_cover"><%= link_to(image_tag("img-logo-five.png"), user_path(activity.owner)) %></div>
                </div>
                <!-- activity_left_side -->
              </li>
              <li class="right_side">
                <!-- activity_right_side -->
                <div class="right_side_content">
                  <div class="title"><%= link_to activity.trackable.title, user_event_path(activity.trackable.user, activity.trackable) %></div>
                  <div class="host">
                    <span>Hosted by</span>
                    <span><%= link_to "spefz", "#" %></span>
                  </div>
                  <div class="social_event_content">
                    <div class="image_cover">
                      <!-- sold out -->
                      <% if activity.trackable.sold_out? || activity.trackable.soldout? || activity.trackable.soldout_men? && activity.trackable.soldout_women?  %>
                        <div class="banner">
                          <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">sold out</div>
                          </div>
                        </div>
                      <% end %>
                      <!-- sold out -->
                      <span class="content_feedlist_img" style="height:105px;display:inline-block;overflow:hidden;">
                        <% if activity.trackable.event_image_link.present? %>
                          <%= link_to(cl_image_tag(activity.trackable.event_image_link, :transformation=>[{:gravity=>"center", :width=>150, :height=>105, :crop=>"fill"}]), user_event_path(activity.trackable.user, activity.trackable)) %>
                        <% else %>
                          <%= link_to(cl_image_tag(activity.trackable.image, :transformation=>[{:gravity=>"center", :width=>150, :height=>105, :crop=>"fill"}]), user_event_path(activity.trackable.user, activity.trackable)) %>
                        <% end %>
                      </span>
                    </div>
                    <div class="social_event_details">
                      <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= activity.trackable.date.strftime("%A, %d %b") %> <span class="mid_divider">|</span> <%= activity.trackable.time.strftime("%I:%M %p") %></div>
                      <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= activity.trackable.city %>, <%= activity.trackable.category_country.name %></div>
                      <div class="info">
                        <span><i class="fa fa-male" aria-hidden="true"></i> 
                          <% if activity.trackable.agerange? %>
                            <%= activity.trackable.agerange_info %>
                          <% else %>
                            <%= activity.trackable.category_age.name %>
                          <% end %>
                        </span>
                        <span class="mid_divider">|</span>
                        <span class="category">Category:</span> 
                        <span class="category_info"><%= link_to "#{activity.trackable.category_topic.name}", events_path(q: {category_topic_name_eq: activity.trackable.category_topic.name}) %></span>
                        <% unless activity.trackable.external_event? %>
                          <% if activity.trackable.display_event_match? %>
                            <span class="mid_divider">|</span> 
                            <span class="category">Match:</span>
                            <span class="match_info">
                              <a href="#<%= activity.trackable.id %>" data-reveal-id="<%= dom_id(activity.trackable) %>_event_match"><%= activity.trackable.match(current_user) %>%</a>
                              <%= render partial: 'shared/modal_match_info', locals: { event: activity.trackable } %>
                            </span> 
                          <% end %>
                        <% end %>
                        <span class="mid_divider">|</span> 
                        <span class="price">Price:</span>
                        <span class="price_figure">
                          <% if activity.trackable.expired_or_closed_event %>
                            <span>Event Closed</span>
                          <% else %>
                            <% if activity.trackable.event_price_zero? %>
                              <span>Free</span>
                            <% else %>
                              <span>£<%= number_with_precision(activity.trackable.price, precision: 2) %></span>
                            <% end %>
                          <% end %>
                        </span>
                      </div>
                      <div class="divider"></div>
                      <div class="description"><%= truncate(activity.trackable.description, length: 200) %></div>
                    </div>
                  </div>
                </div>
                <!-- activity_right_side -->
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>