<div class="activity_list">
  <% if activity.trackable %>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-star">
        <i class="fa fa-calendar"></i>
      </div> 
      <div class="cd-timeline-content">
        <ul>
          <li class="left_side">
            <!-- activity_left_side -->
            <div class="image_content right_side_content">
              <div class="activity_feed_img_cover spefz_img_cover"><%= link_to(image_tag("img-logo-five.png"), user_path(activity.owner)) %></div>
            </div>
            <!-- activity_left_side -->
          </li>
          <li class="right_side">
            <!-- activity_right_side -->
            <div class="right_side_content">
              <div class="title"><%= link_to activity.trackable.title, user_event_path(activity.trackable.user, activity.trackable) %></div>
              <div class="host">
                <span>Hosted by</span>
                <span><%= link_to "spefz", "#" %></span>
              </div>
              <div class="social_event_content">
                <div class="image_cover"><%= link_to(image_tag(activity.trackable.image), user_event_path(activity.trackable.user, activity.trackable)) %></div>
                <div class="social_event_details">
                  <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= activity.trackable.date.strftime("%A, %d %b") %> <span class="mid_divider">|</span> <%= activity.trackable.time.strftime("%I:%M %p") %></div>
                  <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= activity.trackable.city %>, <%= activity.trackable.category_country.name %></div>
                  <div class="info">
                    <span><i class="fa fa-male" aria-hidden="true"></i> <%= activity.trackable.category_age.name %></span>
                    <span class="mid_divider">|</span>
                    <span class="category">Category:</span> 
                    <span class="category_info"><%= link_to "#{activity.trackable.category_topic.name}", events_path(q: {category_topic_name_eq: activity.trackable.category_topic.name}) %></span>
                    <span class="mid_divider">|</span> 
                    <span class="price">Price:</span>
                    <span class="price_figure">£<%= number_with_precision(activity.trackable.price, precision: 2) %></span>
                  </div>
                  <div class="divider"></div>
                  <div class="description"><%= truncate(activity.trackable.description, length: 200) %></div>
                </div>
              </div>
            </div>
            <!-- activity_right_side -->
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<div class="old_content hide">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-star">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    </div> 
    <div class="cd-timeline-content">
      <h2><%= link_to activity.trackable.title, user_event_path(activity.trackable.user, activity.trackable) %></h2>
      <div><%= link_to(image_tag(activity.owner.image), user_path(activity.owner)) %></div>
      <div><%= link_to activity.owner.firstname, activity.owner if activity.owner %></div>
      <p><%= truncate("AfricanJober was founded in October 2015 by Richill ARTLoe. The passion was to develop a platform that made recruitment and outsourcing effective and efficient in Africa (initially starting with Ghana & Nigeria), this in order to create many opportunities for africans overseas looking to move back home and also for africans back home looking to work remotely with local and international leading companies. The mission for AfricanJober is to create great opportunities for the Smartest, Talented, Skillful and Innovative Individuals from the african continent.", length: 208) %>
      </p>
      <span class="cd-date">February 14, 2016 | 04:33 PM</span><br/>
      <div class="cd-posted">posted by richill</div>
    </div>
  </div>
</div>