<div class= "medium-12 columns user_general_settings_section user_main_createblog_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "blogs", stats_blogs_user_path(current_user) %></span> <span class="fwd_sign">></span>
        <% if action_name == 'new'  %>
          <span>create blog</span>
        <% else %>
          <span>update blog</span> <span class="tree_link_btn"><%= link_to 'delete blog', stats_blogs_user_path(@blog, @blog.user), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
      <div class="user_general_settings_inner_section blog_edit_update_form">
        <%= simple_form_for [@user, @blog] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.file_field :image %>

            <%= f.input :blog_image_link, label: "Blog Image [Image Link]", placeholder: "https://res.cloudinary.com/account/image/upload/v1474379672/happy-family.jpg" %>
            <div class="text_info">If unable to upload image for the blog. Place image link here</div> 

            <div class="blog_topic">
              <%= f.input :title, label: "Blog Title", placeholder: "15 First Dates At Speed Dating!" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_blog"></span></div> 
            </div>

            <% if current_user.admin_pa_management_group %>
              <div class="blog_topic">
                <%= f.input :subtitle, label: "Blog Subtitle", placeholder: "currently on a date with mr. right this evening, lets see how this goes..." %>
              </div>
            <% end %>

            <%= f.association :category_blog, collection: CategoryBlog.all, prompt: "select a category", label: "Blog Category" %>
            <%= javascript_include_tag Ckeditor.cdn_url %>
            <%= f.cktext_area :content, value: @blog.content, id: 'sometext' %>
            <%# f.input :content %>

            <%= f.input :video_link, placeholder: "https://www.youtube.com/watch?v=MGsalg2f9js" %>
            <div class="text_info">Have video content you would like post? Grab the Video link and place here.</div>

            <%= f.input :twitter_link, placeholder: "https://twitter.com/username" %>
            <div class="text_info">Place your twitter link here. If posting on behalf of Guest Blogger, place blogger's twitter link here.</div> 

            <%= f.input :user_link, label: "website", placeholder: "https://mywebsite.com" %>
            <div class="text_info">Place your website link here. If posting on behalf of Guest Blogger, place blogger's website link here.</div> 

            <div class="guest_blogger_content">
              <div class="text_info">*SECTION MUST ONLY BE COMPLETED IF BLOG IS BEING POSTED ON BEHALF OF GUEST BLOGGER</div>
              <%= f.input :blogger_name, label: "Blogger's Name", placeholder: "Emma Thompson" %>
              <div class="text_info">Posting a blog on behalf of another? Place blogger's name here.</div>

              <%= f.input :user_image_link, label: "Blogger's Image [Image Link]", placeholder: "https://res.cloudinary.com/account/image/upload/v1480947078/img_profile_11_qzyh7b.png" %>
              <div class="text_info">Posting a blog on behalf of another? Place blogger's link image here</div> 
            </div>

            <div class="publish_content">
              <%= f.input :publish, label: "Publish Blog" %>
              <div class="text_info">Tick if you would like blog to be published</div>
              <%= f.text_field :publishdate, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'blog_date' %>
              <div class="text_info">
                <span>Select a date you want to be displayed that blog was published on</span>
                <span>|</span>
                <span>
                  <% if action_name == 'new'  %>
                    <span>created date will be:</span>
                    <b><%= Date.current.strftime("%B %d, %Y") %></b>
                  <% else %>
                  <span>created on:</span>
                  <b><%= @blog.created_at.strftime("%B %d, %Y") %></b>
                  <% end %>
                </span>
              </div>
            </div>
            
            <!-- hidden fields -->
            <%= f.hidden_field :user_id %>
            <!-- hidden fields -->
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>
