<%= simple_form_for [@user, @blog] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.association :category_blog, collection: CategoryBlog.all, prompt: "select a category", label: "Blog Category" %>
    <%= f.input :video_link %>
    <%= f.input :user_image_url %>
    <%= f.input :user_url_link %>
    <%= f.input :image_url_link %>

    <!-- hidden fields -->
    <%= f.hidden_field :user_id %>
    <!-- hidden fields -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
