<div class="blogs_show_section">
  <div class="medium-12 columns blogs_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <div>
          <ul>
            <li><%= link_to "Blogs", blogs_path %></li>
            <li><%= link_to "Venues", "#" %></li>
            <li><%= link_to "Networking Tips", "#" %></li>
            <li><%= link_to "Dating Tips", "#" %></li>
            <li><%= link_to "SPefz News", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns blogs_show_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="blog_main_container">
      
            <!-- content -->
            <div class="detailed_blog">
              <div class="blog_show_title"><%= link_to "#{@blog.title}", user_blog_path(@blog.user, @blog) %></div>
              <div class="blog_show_sub_content">
                <span class="blog_img_cover"><%= link_to(image_tag("#{@blog.user.image_url}", :alt =>  "image", :class =>"#"), user_path(@blog.user)) %></span>
                <span><%= link_to "#{@blog.user.firstname}", user_path(@blog.user) %></span>
                <span class="divider">|</span>
                <%= link_to "#{@blog.twitter_link}", target:"_blank" do %>
                  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                  <span>twitter</span>
                <% end %>
                <span class="divider">|</span>
                <%= link_to "#{@blog.user_link}", target:"_blank" do %>
                  <span><i class="fa fa-user" aria-hidden="true"></i></span>
                  <span>website</span>
                <% end %>
                <span class="divider">|</span>
                <span>Category: </span>
                <span class="blog_category"><%= link_to "#{@blog.category_blog.name}", "#" %></span>
                <span class="divider">|</span>
                <span><%= @blog.created_at.strftime("%B %d, %Y") %></span>
                <span class="divider">|</span>
                <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
                  <span class="read_more"><%= link_to "edit blog", edit_user_blog_path(@blog.user, @blog) %></span>
                <% end %>
              </div>
              <div class="blog_show_img"><%= link_to(image_tag("#{@blog.image_url}", :alt =>  "image", :class =>"#"), user_blog_path(@blog.user, @blog)) %></div>
              <div class="blog_info_content"><%= @blog.content %></div>
            </div>
            <!-- content -->
     
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>











