<div class="users_sessions_new_section">
  <div class="medium-12 columns banner_singedout_section upper_section">
    <div class="banner_inner_section">
      <!-- header -->
      <div class="header_section">
        <div class="logo_links_section">
          <span class="logo"><%= link_to(image_tag("img_spefz_logo.png", :alt =>  "alt text", :class =>"#"), root_path) %></span>
          <span class="links">
            <ul>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "How it works", ".howitworksheader", rel: "relativeanchor" %></li>
              <li><%= link_to "Blogs", blogs_path %></li>
              <li><%= link_to "About us", about_us_path %></li>
              <!-- <li><%# link_to "About us", ".aboutusheader", rel: "relativeanchor" %></li> -->
            </ul>
          </span>
        </div>
      </div>

      <!-- banner content -->
      <div class="banner_content signupheader">
        <h1>Meet New People, Enjoy Your City</h1>
        <div class="sub_header">
          Welcome! We are confident you will meet like-minded people and share great times. <br/>
          <span style="font-size:11px;">Our events offers busy professionals a great way to meet new people in a fun, safe & chilled environment</span>
        </div>
        <div class="signup_container">
          <div>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: false %>
                <%= f.input :password, required: false, placeholder: "Password", label: false %>
                <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Sign in" %>
              </div>
            <% end %>
          </div>
          <div class="signup_inner_upper_content">We use <%= link_to "cookies", terms_cookie_policy_path %>. If you use our website, we shall assume that you are happy with the use of cookies as described in our <%= link_to "privacy policy", terms_privacy_path %>.</div>
          <div class="terms_info"><%= render "users/shared/links" %></div>
        </div>
      </div>
    </div>
    <div class="banner_bottom_img"></div>
  </div>

  <!--content_events -->
  <!-- <div class="medium-12 columns featured_section">
    <div class="featured_title">as featured in:</div>
    <div class="featured_inner_section">
      <ul>
        <li><%= link_to(image_tag("img_featured_01.png", alt: "image", class: "img_featured_01"), "http://www.londonlovesbusiness.com/business-news/tech/speed-dating-start-up-aims-to-increase-odds-of-romantic-connection/17618.article", target:"_blank") %></li>
        <li><%= link_to(image_tag("img_featured_dailymail.png", alt: "image", class: "img_featured_02"), "#", target:"_blank") %></li>
        <li><%= link_to(image_tag("img_featured_cosmopolitan.png", alt: "image", class: "img_featured_03"), "#", target:"_blank") %></li>
        <li><%= link_to(image_tag("img_featured_theguardian.png", alt: "image", class: "img_featured_04"), "#", target:"_blank") %></li>
        <li class="img_featured_bc"><%= link_to(image_tag("img_featured_businesscloud.png", alt: "image", class: "img_featured_05"), "http://www.businesscloud.co.uk/news/speed-dating-start-up-increases-odds-of-romantic-success", target:"_blank") %></li>
      </ul>
    </div>
  </div> -->


  <div class="medium-12 columns featured_section">
    <div class="featured_title">as featured in:</div>
    <div class="featured_inner_section">
      <ul>
        <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_01_d27prr.png", class: "img_featured_01"), "http://www.londonlovesbusiness.com/business-news/tech/speed-dating-start-up-aims-to-increase-odds-of-romantic-connection/17618.article", target:"_blank") %></li>
        <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_dailymail_cnunyj.png", class: "img_featured_02"), "#", target:"_blank") %></li>
        <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_cosmopolitan_mobc80.png", class: "img_featured_03"), "#", target:"_blank") %></li>
        <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_theguardian_iuunz2.png", class: "img_featured_04"), "#", target:"_blank") %></li>
        <li class="img_featured_bc"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_businesscloud_xhzcm3.png", class: "img_featured_05"), "http://www.businesscloud.co.uk/news/speed-dating-start-up-increases-odds-of-romantic-success", target:"_blank", target:"_blank") %></li>
      </ul>
    </div>
  </div>



  <div class="clear"></div>
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section hide">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.6) 4px 2px 8px;">join UK's favourite speed-social events</div>
        <!-- <div class="sub_header">Discover the most interesting speed-socials & discussions happening around you!</div> -->
        <div class="sub_header">
          <div>We believe meeting people is best done in real life, preferably over a glass of wine!</div>
          <div>Our events and socials offer busy professionals a great way to meet new people in a fun, safe and chilled environment.</div>
        </div>
      </div>
      <div class="medium-12 columns event_content_details">
        <div class="event_container">
          <ul>
            <!-- events -->
            <% Event.asc_order.live_events.limit(20).each do |event| %>
            <li class="medium-12 columns listed_events">
              <div class="eventupcoming_main_cover">
                <% if event.upcoming_event? %>
                  <div class="eventupcoming_cover">
                    <span class="eventupcoming_text">coming soon</span>
                  </div>
                <% end %>
                <div class="medium-12 columns image_content_info">
                  <!-- sold out -->
                  <% if event.sold_out? || event.soldout? || event.soldout_men? && event.soldout_women? %>
                    <div class="banner">
                      <div class="ribbon-wrapper-green">
                        <div class="ribbon-green">sold out</div>
                      </div>
                    </div>
                  <% end %>
                  <!-- sold out -->
                  <!-- left_evt content -->
                  <div class="left_evt">
                    <%= link_to event_path(event) do %>
                      <div class="img_cover">
                        <% if event.image.present? %>
                        <%= link_to(cl_image_tag(event.image, :transformation=>[{:gravity=>"center", :crop=>"fill"}]), preview_event_path(event)) %>
                        <% else %>
                          <%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), preview_event_path(event)) %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <!-- middle_evt content -->
                  <div class="middle_evt">
                    <div class="title">
                      <span class="responsive_display_large"><%= link_to "#{event.title}", preview_event_path(event) %></span>
                      <span class="responsive_display_small"><%= link_to(truncate("#{event.title}", length: 45), preview_event_path(event)) %></span>
                    </div>
                    <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> 
                      <span class="responsive_display_large"><%= event.venuename %></span>
                      <span class="responsive_display_small"><%= truncate("#{event.venuename}", length: 28) %></span>
                    </div>
                    <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.date.strftime("%A, %d %b") %></div>
                    <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.time.strftime("%H:%M") %>h - <%= event.time_end.strftime("%H:%M") %>h</div>
                    <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= event.city %>, <%= event.category_country.name %></div>
                    <div class="divider"></div>
                    <div>
                      <ul class="inline-list middle_evt_bottom_info">
                        <li><div class="header responsive_display">price</div> <div class="content_header" style="margin-top:7px;">£<%= number_with_precision(event.price, precision: 2) %> </div></li>
                        <li class="responsive_display"><div class="header">age group</div> 
                          <div class="content" style="margin-top:7px;">
                            <% if event.agerange? %>
                              <%= event.agerange_info %>
                            <% else %>
                              <%= event.category_age.name %>
                            <% end %>
                          </div>
                        </li>
                        <li>
                          <div class="header responsive_display">space</div> 
                          <div class="content">
                            <% if event.external_event? %>
                              <!-- external_event event_gender_selection_display -->
                              <% if event.selection_BothX_men_and_women %>
                                <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                                <% if event.soldout_men? %>
                                  <span class="content_soldout">sold out</span>
                                <% else %>
                                  <span class="content_available">available</span>
                                <% end %>
                                <span class="content_divider">|</span>
                                <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span>
                                <% if event.soldout_women? %>
                                  <span class="content_soldout">sold out</span>
                                <% else %>
                                  <span class="content_available">available</span>
                                <% end %>
                              <% elsif event.selection_BothAndOnly_men_and_women %>
                                <% if event.soldout? %>
                                  <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                                  <span class="content_soldout">sold out</span>
                                <% elsif !event.soldout? %>
                                  <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                                  <span class="content_available">available</span>
                                <% end %>
                              <% end %>
                              <!-- external_event event_gender_selection_display -->
                            <% else %>
                              <!-- event_gender_selection_display -->
                              <% if event.selection_BothX_men_and_women %>
                                <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                                <% if event.sold_out_Xmen? %>
                                  <span class="content_soldout">sold out</span>
                                <% else %>
                                  <span class="content_available">available</span>
                                <% end %>
                                <span class="content_divider">|</span>
                                <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                                <% if event.sold_out_Xwomen? %>
                                  <span class="content_soldout">sold out</span>
                                <% else %>
                                  <span class="content_available">available</span>
                                <% end %>
                              <% elsif event.selection_BothAndOnly_men_and_women %>
                                <% if event.category_quantitygender.name == "only men" %>
                                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                                  <span class="content_text">[Only Men]</span>
                                <% elsif event.category_quantitygender.name == "only women" %>
                                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                                  <span class="content_text">[Only Women]</span>
                                <% elsif event.category_quantitygender.name == "both men & women" %>
                                  <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                                  <span class="content_text">[Both Men & Women]</span>
                                <% end %>
                                <% if event.sold_out? %>
                                  <span class="content content_soldout">sold out</span>
                                <% else %>
                                  <span class="content content_available">available</span>
                                <% end %>
                              <% end %>
                              <!-- event_gender_selection_display -->
                            <% end %>
                          </div>
                        </li>
                        <li class="report_content">
                          <% if user_signed_in? %>
                            <% if current_user %>
                              <span class="report_container">
                                <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right report" title="Report Event">
                                  <a href="#<%= event.id %>" data-reveal-id="<%= dom_id(event) %>_report" class="fa fa-exclamation-triangle"></a>
                                </span>
                                <div><%= render partial: 'shared/modal_report_event', locals: { event: event } %></div>
                              </span>
                            <% end %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- right_evt content -->
                  <div class="right_evt">
                    <div class="right_evt_container">
                      <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="date"><%= event.date.strftime("%d") %></div>
                      <div class="month"><span><%= event.date.strftime("%b") %></span> <span class="divider">|</span> <span><%= event.date.strftime("%a") %></span></div>

                      <% if event.sold_out? || event.soldout? || event.soldout_men? && event.soldout_women? %>
                        <div class="btn_soldout"><%= link_to "sold out!", preview_event_path(event) %></div>
                      <% else %>
                        <div class="btn_booknow"><%= link_to "book now!", preview_event_path(event) %></div>
                      <% end %>
                    </div>
                  </div>
                  <!-- right_evt content -->
                </div>
              </div>
              <div class="clear"></div>
            </li>
            <% end %>
            <!-- events -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_events -->

  <!--content_socials -->
  <!--content_socials_live -->
  <% if Social.live_socials.open_socials.all.count > 0 %>
  <div class="medium-12 columns lower_section socials_live">
    <div class="medium-12 columns content_container" style="padding-top:0px;">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.6) 4px 2px 8px;">explore your city with new people</div>
        <div class="sub_header">explore socials, events and meet like-minded members of your calibre!</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- socials -->
            <% Social.asc_order.live_socials.limit(4).each do |social| %>
              <li class="medium-3 columns">
              <div class="feed_inner_section">
                <% if social.upcoming_social? %>
                  <div class="socialupcoming_cover">
                    <span class="socialupcoming_text">coming soon</span>
                  </div>
                <% end %>
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= social.date.strftime("%a, %d %b %Y") %> | <%= social.time.strftime("%I:%M %p") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> <%= social.category_country.name %>, <%= social.city %></div>
                    <div class="feed_price">
                      <i class="fa fa-male age"></i>
                      <span>Age: <%= social.category_age.name %></span>
                    </div>
                  </div>
                  <div class="feed_img"><%= link_to(cl_image_tag(social.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), social_path(social)) %></div>
                  <div class="feed_user">
                    <% if social.company_image? %>
                      <div class="img_default"><%= link_to(image_tag("img-logo-five.png", :alt =>  "alt text", :class =>"#"), "#") %></div>
                    <% else %>
                      <% if social.user.image.present? %>
                        <div><%= link_to(cl_image_tag(social.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), user_path(social.user)) %></div>
                      <% else %>
                        <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(social.user)) %></div>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">
                      <span>drinks with</span>
                      <span>
                        <% if social.company_image.present? && social.speakername.present? %>
                          <span><%= link_to(truncate("#{social.speakername}", length: 20), "#{social.speakerlinkedin}", target: "_blank") %></span>
                        <% elsif social.company_image.present? && social.speakername.blank? %>
                          <%= truncate("Spefz", length: 20) %>
                        <% else %>
                          <%= truncate(social.user.firstname, length: 20) %>
                        <% end %>
                      </span>
                    </div>
                    <div class="feed_title"><%= truncate(social.title, length: 55) %></div>
                  </div>
                </div>
                <!-- comments -->
                <% unless social.upcoming_social? %>
                  <% if social.comments.present? %>
                    <div class="feed_comments_container">
                      <ul>
                        <!-- comments_list -->
                        <% social.comments.limit(3).each do |comment| %>
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(cl_image_tag(comment.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), social_path(social)) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "#{comment.user.firstname}", "#" %></b> <%= truncate("#{comment.content}", length: 90) %></span></li>
                          </ul>
                        </li>
                        <% end %>
                        <!-- comments_list -->
                      </ul>
                    </div>
                  <% end %>
                <% end %>
                <!-- comments -->
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <% end %>
            <!-- socials -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_socials_live -->
  
  <!--content_socials_dummy -->
  <%# elsif Social.live_socials.open_socials.all.count == 0 %>
  <div class="medium-12 columns lower_section socials_dummy">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">explore your city with new people</div>
        <div class="sub_header">do more of things you like and discover your surroundings</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= Date.current.strftime("%a, %d %b %Y") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> united kingdom, london</div>
                    <div class="feed_male"><i class="fa fa-male male_icon"></i> AGE: ALL AGES</div>
                  </div>
                  <div class="feed_img">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1487001156/e5dcw0t0jaogizkmracm.png", :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), root_path) %>
                  </div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">drinks with richill</div>
                    <div class="feed_title">how to grow a successful startup business </div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "michael", "#" %></b>looking fwd to the event. Always intrigued by these young startup</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "emma", "#" %></b>yessss!!! finally a social setup. I definitely will be present</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= Date.current.strftime("%a, %d %b %Y") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> united kingdom, london</div>
                    <div class="feed_male"><i class="fa fa-male male_icon"></i> AGE: ALL AGES</div>
                  </div>
                  <div class="feed_img">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1487454692/cavmm7bpcju5lwqarwaf.png", :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), root_path) %>
                  </div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_08.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">drinks with  stacey</div>
                    <div class="feed_title">fast growth and the future of wealth management</div>
                    <div></div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_07.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "stephen", "#" %></b>cool!! count me in, would be great to attend</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_09.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "matt", "#" %></b> hey stacey! thanks for the invite, looking fwd to meeting and discussing</span></li>
                      </ul>
                    </li>
                    <!-- third comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_08.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "stacey", "#" %></b>hey stephen and matt! the last one was a blast, such great talks - see you all there</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= Date.current.strftime("%a, %d %b %Y") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> united kingdom, london</div>
                    <div class="feed_male"><i class="fa fa-male male_icon"></i> AGE: ALL AGES</div>
                  </div>
                  <div class="feed_img">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1487456108/kurcngtdhtrsr7tutjy8.png", :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), root_path) %>
                  </div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_13.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">drinks with ian</div>
                    <div class="feed_title">how to get that $2million investment check for your business</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_04.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "peter", "#" %></b>hey ian! bringing mark and chris along. Last get-together was great! See you there after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= Date.current.strftime("%a, %d %b %Y") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> united kingdom, london</div>
                    <div class="feed_male"><i class="fa fa-male male_icon"></i> AGE: ALL AGES</div>
                  </div>
                  <div class="feed_img">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1487456598/btptzgtjj6mdwqe34ujk.png", :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), root_path) %>
                  </div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_11.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">drinks with  ellen</div>
                    <div class="feed_title">new members meet up drinks</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_06.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "linda", "#" %></b>looking fwd to the event & meeting new faces. heard soo much about spefz socials</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_11.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "ellen", "#" %></b>see you there linda, as usual lots of great new friendly faces to meet</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_socials_dummy -->
  <% end %>
  <!--content_socials -->

  <!--content -->
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">fill your social calendar instantly with socials & events</div>
        <div class="sub_header">find lots of fun socials and events and like minded people to hang out with</div>
        <div class="phone_img_container">
          <%= link_to(image_tag("img_spefz_phone.png", :alt =>  "alt text", :class =>"#"), root_path) %>
          <div class="apple_store_img_container"><%= link_to(image_tag("img_apple_store.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header aboutusheader">about us</div>
        <div class="sub_header">spefz is a selective social dating & networking app that connects ambitious, like-minded people</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container aboutus">
          Spefz is a great way to meet and network with like-minded people. We auto-match individiuals to specific events (via our internal rating algorithm system on personality, physical appearance and interest) in order to ensure our members are able to network effectively and meet like-minded people of their calibre. Our auto-match platform ensures that compatibility and mutual interests are met. We’re passionate about connecting people via social events, so get connected & re-discover your surrounding! <br/><br/>
          We believe meeting people is best done in real life, preferably over a glass of wine. Our events and socials offer busy professionals a great way to meet new people in a fun, safe and chilled environment.
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header howitworksheader">how it works</div>
        <div class="sub_header">Keep an eye out for great socials, events, shows, invitation-only events, VIP upgrades, freebies and more!</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                <div class="cover_number">1</div>
                <div class="header_main">join spefz online</div>
                <div class="header_sub">be part of a fun friendly community.</div>
              </div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div class="cover_number">2</div>
                <div class="header_main">go to events & socials</div>
                <div class="header_sub">pick your favourite events to attend.</div>
              </div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                <div class="cover_number">3</div>
                <div class="header_main">meet new people</div>
                <div class="header_sub">meet lots of interesting people.</div>
              </div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="cover_number">4</div>
                <div class="header_main">make friends and have fun</div>
                <div class="header_sub">have lots of fun with like minded people.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header">socials & events in more than 50 cities!</div>
        <div class="sub_header">explore your surroundings & meet new people</div>
      </div>
      <div class="medium-12 columns content_details" style="margin-bottom:50px">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_accra.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_lagos.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_london.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_ny.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark footer_section">
      <div class="header_section">
        <div class="header">find out more about us</div>
        <div class="sub_header">we like to keep our members up to date via social media</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="social_media">
          <%= link_to '', 'https://www.facebook.com/Spefz-258495281186318/', class: "fa fa-facebook-square", target:"_blank" %>
          <%= link_to '', 'https://twitter.com/spefz', class: "fa fa-twitter-square", target:"_blank" %>
          <% link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-linkedin-square", target:"_blank" %>
          <%= link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-instagram", target:"_blank" %>
        </div>
        <div class="footer_links">
          <ul class="inline-list">
            <li><%= link_to "about us", about_us_path, rel: "relativeanchor" %></li>
            <li><%= link_to "blogs", blogs_path %></li>
            <li><%= link_to "terms", terms_path %></li>
            <li><%= link_to "privacy", terms_privacy_path %></li>
            <li><%= link_to "help", help_path %></li>
            <li><%= link_to "we are hiring!", "https://angel.co/spefz/jobs?utm_source=startup_profile_header", target: "_blank" %></li>
            <li><%= link_to "become a partner", help_partners_path %></li>
            <li><%= link_to "contact us", contact_us_path %></li>
          </ul>
        </div>
        <div class="copyright_content">Copyright © 2017 Spefz App | ARTLoe Technologies Ltd</div>
      </div>
    </div>
  </div>
</div>

