<div class="users_sessions_new_section">
  <div class="medium-12 columns banner_singedout_section upper_section">
    <div class="banner_inner_section">
      <!-- header -->
      <div class="header_section">
        <div class="logo_links_section">
          <span class="logo"><%= link_to(image_tag("img_spefz_logo.png", :alt =>  "alt text", :class =>"#"), root_path) %></span>
          <span class="links">
            <ul>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "How it works", ".howitworksheader", rel: "relativeanchor" %></li>
              <li><%= link_to "About us", ".aboutusheader", rel: "relativeanchor" %></li>
            </ul>
          </span>
        </div>
      </div>

      <!-- banner content -->
      <div class="banner_content signupheader">
        <h1>Meet New People, Enjoy Your City</h1>
        <div class="sub_header">Welcome! Discover the most interesting socials & discussions happening around you.</div>
        <div class="signup_container">
          <div>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: false %>
                <%= f.input :password, required: false, placeholder: "Password", label: false %>
                <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Sign in" %>
              </div>
            <% end %>
          </div>
          <div class="signup_inner_upper_content">We use <%= link_to "cookies", terms_cookie_policy_path %>. If you use our website, we shall assume that you are happy with the use of cookies as described in our <%= link_to "privacy policy", terms_privacy_path %>.</div>
          <div class="terms_info"><%= render "users/shared/links" %></div>
        </div>
      </div>
    </div>
    <div class="banner_bottom_img"><%= image_tag("img_banner_party_01.png") %></div>
  </div>

  <!--content_events -->
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <!-- <div class="header">explore your city with new people</div> -->
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">join UK's favourite speed-social events</div>
        <div class="sub_header">do more of things you like and discover your surroundings</div>
      </div>
      <div class="medium-12 columns event_content_details">
        <div class="event_container">
          <ul>
            <!-- events -->
            <% Event.asc_order.live_events.limit(20).each do |event| %>
            <li class="medium-12 columns listed_events">
              <div class="eventupcoming_main_cover">
                <% if event.upcoming_event? %>
                  <div class="eventupcoming_cover">
                    <span class="eventupcoming_text">coming soon</span>
                  </div>
                <% end %>
                <div class="medium-12 columns image_content_info">
                  <!-- sold out -->
                  <% if event.sold_out? %>
                    <div class="banner">
                      <div class="ribbon-wrapper-green">
                        <div class="ribbon-green">sold out</div>
                      </div>
                    </div>
                  <% end %>
                  <!-- sold out -->
                  <!-- left_evt content -->
                  <div class="left_evt">
                    <%= link_to event_path(event) do %>
                      <div class="img_cover">
                        <% if event.image.present? %>
                        <%= link_to(cl_image_tag(event.image, :transformation=>[{:gravity=>"center", :width=>200, :height=>200, :crop=>"fill"}]), preview_event_path(event)) %>
                        <% else %>
                          <%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), preview_event_path(event)) %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <!-- middle_evt content -->
                  <div class="middle_evt">
                    <div class="title"><%= link_to "#{event.title}", preview_event_path(event) %></div>
                    <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.venuename %></div>
                    <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.date.strftime("%A, %d %b") %></div>
                    <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.time.strftime("%H:%M") %>h - <%= event.time_end.strftime("%H:%M") %>h</div>
                    <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= event.city %>, <%= event.category_country.name %></div>
                    <div class="divider"></div>
                    <div>
                      <ul class="inline-list middle_evt_bottom_info">
                        <li><div class="header">price</div> <div class="content_header" style="margin-top:7px;">£<%= number_with_precision(event.price, precision: 2) %> </div></li>
                        <li><div class="header">age group</div> <div class="content" style="margin-top:7px;"><%= event.category_age.name %></div></li>
                        <li>
                          <div class="header">space</div> 
                          <div class="content">
                            <!-- event_gender_selection_display -->
                            <% if event.selection_BothX_men_and_women %>
                              <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                              <% if event.sold_out_Xmen? %>
                                <span class="content_soldout">sold out</span>
                              <% else %>
                                <span class="content_available">available</span>
                              <% end %>
                              <span class="content_divider">|</span>
                              <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                              <% if event.sold_out_Xwomen? %>
                                <span class="content_soldout">sold out</span>
                              <% else %>
                                <span class="content_available">available</span>
                              <% end %>
                            <% elsif event.selection_BothAndOnly_men_and_women %>
                              <% if event.category_quantitygender.name == "only men" %>
                                <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                                <span class="content_text">[Only Men]</span>
                              <% elsif event.category_quantitygender.name == "only women" %>
                                <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                                <span class="content_text">[Only Women]</span>
                              <% elsif event.category_quantitygender.name == "both men & women" %>
                                <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                                <span class="content_text">[Both Men & Women]</span>
                              <% end %>
                              <% if event.sold_out? %>
                                <span class="content content_soldout">sold out</span>
                              <% else %>
                                <span class="content content_available">available</span>
                              <% end %>
                            <% end %>
                            <!-- event_gender_selection_display -->
                          </div>
                        </li>
                        <li class="report_content">
                          <% if user_signed_in? %>
                            <% if current_user %>
                              <span class="report_container">
                                <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right report" title="Report Event">
                                  <a href="#<%= event.id %>" data-reveal-id="<%= dom_id(event) %>_report" class="fa fa-exclamation-triangle"></a>
                                </span>
                                <div><%= render partial: 'shared/modal_report_event', locals: { event: event } %></div>
                              </span>
                            <% end %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- right_evt content -->
                  <div class="right_evt">
                    <div class="right_evt_container">
                      <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="date"><%= event.date.strftime("%d") %></div>
                      <div class="month"><span><%= event.date.strftime("%b") %></span> <span class="divider">|</span> <span><%= event.date.strftime("%a") %></span></div>

                      <% if event.sold_out? %>
                        <div class="btn_soldout"><%= link_to "sold out!", preview_event_path(event) %></div>
                      <% else %>
                        <div class="btn_booknow"><%= link_to "book now!", preview_event_path(event) %></div>
                      <% end %>
                    </div>
                  </div>
                  <!-- right_evt content -->
                </div>
              </div>
              <div class="clear"></div>
            </li>
            <% end %>
            <!-- events -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_events -->

  <!--content_socials -->
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container" style="padding-top:0px;">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">explore your city with new people</div>
        <div class="sub_header">do more of things you like and discover your surroundings</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- socials -->
            <% Social.asc_order.live_socials.limit(4).each do |social| %>
              <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> <%= social.date.strftime("%a, %d %b %Y") %> | <%= social.time.strftime("%I:%M %p") %></div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> <%= social.category_country.name %>, <%= social.city %></div>
                    <div class="feed_price">
                      <i class="fa fa-male age"></i>
                      <span>Age: <%= social.category_age.name %></span>
                    </div>
                  </div>
                  <div class="feed_img"><%= link_to(cl_image_tag(social.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), social_path(social)) %></div>
                  <div class="feed_user">
                    <% if social.user.image.present? %>
                      <div><%= link_to(cl_image_tag(social.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), user_path(social.user)) %></div>
                    <% else %>
                      <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(social.user)) %></div>
                    <% end %>
                  </div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">
                      <span>drinks with</span>
                      <span>
                        <% if social.companyname.present? %>
                          <%= truncate(social.companyname, length: 20) %>
                        <% else %>
                          <%= truncate(social.user.firstname, length: 20) %>
                        <% end %>
                      </span>
                    </div>
                    <div class="feed_title"><%= truncate(social.title, length: 55) %></div>
                  </div>
                </div>
                <% if social.comments.present? %>
                  <div class="feed_comments_container">
                    <ul>
                      <!-- comments -->
                      <% social.comments.limit(2).each do |comment| %>
                      <li>
                        <ul class="inline-list feed_inner_comment_section">
                          <li class="medium-2 columns feed_comment_img"><%= link_to(cl_image_tag(comment.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), social_path(social)) %></li>
                          <li class="medium-10 columns feed_comment"><span><b><%= link_to "#{comment.user.firstname}", "#" %></b> <%= truncate("#{comment.content}", length: 90) %></span></li>
                        </ul>
                      </li>
                      <% end %>
                      <!-- comments -->
                    </ul>
                  </div>
                <% end %>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <% end %>
            <!-- socials -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_socials -->

  <!--content_socials_old -->
  <div class="medium-12 columns lower_section hide">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">explore your city with new people</div>
        <div class="sub_header">do more of things you like and discover your surroundings</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 october 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> 14 cantoments, accra</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">richill is organising</div>
                    <div class="feed_title">chicken and veg dinner after work</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "michael", "#" %></b>looking fwd to your chicken and veg dinner. You always organise the best events after work</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "emma", "#" %></b>yessss!!! will definitely be there. You must tell me the secret recipe to your grilled chicken</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> fri, 14 september 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> 29 mayfair, london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> FREE</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_04.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_08.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">stacey is organising</div>
                    <div class="feed_title">delicious afternoon brunch & wine</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_07.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "stephen", "#" %></b>cool!! count me in, would be great to see you all again this weekend</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_09.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "matt", "#" %></b> hey stacey! thanks for the invite, looking fwd to meeting new friendly faces</span></li>
                      </ul>
                    </li>
                    <!-- third comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_08.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "stacey", "#" %></b>hey stephen and matt! the last one was a blast, such great fun - see you all there</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 december 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> 163 Duane St, New York</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £24.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_03.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_13.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">josh is organising</div>
                    <div class="feed_title">come dine with me at muchos burger</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_04.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "peter", "#" %></b>hey josh! bringing mark and chris along. Last get-together was a blast! always fun! See you there after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> thur, 24 november 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> king's college, london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> FREE</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img_profile_11.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">ellen is organising</div>
                    <div class="feed_title">new members meet up drinks</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_06.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "linda", "#" %></b>looking fwd to the event & meeting new faces. heard soo much about spefz socials</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_11.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "ellen", "#" %></b>see you there linda, as usual lots of great new friendly faces to meet</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--content_socials_old -->

  <!--content -->
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark">
      <div class="header_section">
        <div class="header" style="text-shadow:rgba(40, 48, 45, 0.8) 4px 2px 8px;">fill your social calendar instantly with socials & events</div>
        <div class="sub_header">find lots of fun socials and events and like minded people to hang out with</div>
        <div class="phone_img_container">
          <%= link_to(image_tag("img_spefz_phone.png", :alt =>  "alt text", :class =>"#"), root_path) %>
          <div class="apple_store_img_container"><%= link_to(image_tag("img_apple_store.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header aboutusheader">about us</div>
        <div class="sub_header">spefz is a social app used to explore socials, events and meet new friendly faces</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container aboutus">
          We’re passionate about connecting people via social events & virtual event experiences, get connected & re-discover your surrounding! We work tirelessly around the clock to bring you the best socials and events happening around you....some last minute, some in advance. Spefz then picks out the hottest of the lot and personalises it all to you – so you can get your social life sorted in a snap, discover new places and meet new friendly faces.... Launching soon!
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header howitworksheader">how it works</div>
        <div class="sub_header">Keep an eye out for great socials, events, shows, invitation-only events, VIP upgrades, freebies and more</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-mobile" aria-hidden="true"></i></div>
                <div class="cover_number">1</div>
                <div class="header_main">join spefz online</div>
                <div class="header_sub">be part of a fun friendly community.</div>
              </div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div class="cover_number">2</div>
                <div class="header_main">go to events & socials</div>
                <div class="header_sub">pick your favourite events to attend.</div>
              </div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                <div class="cover_number">3</div>
                <div class="header_main">meet new people</div>
                <div class="header_sub">meet lots of interesting people.</div>
              </div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div class="howitworks_container">
                <div><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="cover_number">4</div>
                <div class="header_main">make friends and have fun</div>
                <div class="header_sub">have lots of fun with like minded people.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header">socials & events in more than 50 cities!</div>
        <div class="sub_header">explore your surroundings & meet new people</div>
      </div>
      <div class="medium-12 columns content_details" style="margin-bottom:50px">
        <div class="feed_container">
          <ul>
            <!-- first feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_accra.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_lagos.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_london.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div><%= link_to(image_tag("img_city_ny.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark footer_section">
      <div class="header_section">
        <div class="header">find out more about us</div>
        <div class="sub_header">we like to keep our members up to date via social media</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="social_media">
          <%= link_to '', 'https://www.facebook.com/Spefz-258495281186318/', class: "fa fa-facebook-square", target:"_blank" %>
          <%= link_to '', 'https://twitter.com/spefz', class: "fa fa-twitter-square", target:"_blank" %>
          <% link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-linkedin-square", target:"_blank" %>
          <%= link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-instagram", target:"_blank" %>
        </div>
        <div class="footer_links">
          <ul class="inline-list">
            <li><%= link_to "about us", about_us_path, rel: "relativeanchor" %></li>
            <li><%= link_to "blog", blogs_path %></li>
            <li><%= link_to "terms", terms_path %></li>
            <li><%= link_to "privacy", terms_privacy_path %></li>
            <li><%= link_to "help", help_path %></li>
            <li><%= link_to "we are hiring!", "https://angel.co/spefz/jobs?utm_source=startup_profile_header", target: "_blank" %></li>
            <li><%= link_to "become a partner", help_partners_path %></li>
            <li><%= link_to "contact us", contact_us_path %></li>
          </ul>
        </div>
        <div class="copyright_content">Copyright © 2017 Spefz App | ARTLoe Technologies Ltd</div>
      </div>
    </div>
  </div>
</div>

