<div class="conversation_partial_inner_section">
  <% if action_name == 'inbox' %>
    <div class="media">
      <div class="media-left">
        <% if conversation.originator.firstname == current_user.firstname && conversation.messages.last.sender.firstname == current_user.firstname %>
            <div class="user_interaction">
              <ul>
                <%= link_to conversation_path(conversation) do %>
                <li>
                  <div class="medium-1 columns image_name_container">
                    <div class="image_cover">
                      <% if conversation.messages.second.sender.image.present? %>
                        <div><%= image_tag("#{conversation.messages.second.sender.image_url}", alt: "image", :class =>"#") %></div>
                      <% else %>
                        <div><%= image_tag("img-profile-image-default.png", alt: "image", :class =>"#") %></div>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-11 columns additional_info_content_container">
                    <div class="name_info">
                      <div class="name"><%= "#{conversation.messages.second.sender.firstname} #{conversation.messages.second.sender.lastname}" %></div>
                      <div class="subject">subject: <%= conversation.subject %></div>
                      <div class="info"><i class="fa fa-arrow-left" aria-hidden="true"></i> <%= conversation.messages.last.sender.firstname %>: <%= truncate conversation.messages.last.body, length: 145 %></div>
                    </div>
                    <div class="time"><%= time_ago_in_words(conversation.messages.last.created_at) %> ago | <%= conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></div>
                  </div>
                  <div class="clear"></div>
                </li>
                <% end %>
              </ul>
            </div>





        <% elsif conversation.originator.firstname != current_user.firstname %>
          <div><%= link_to(image_tag("#{conversation.originator.image_url}", alt: "image", :class =>"#", size: "64x64"), user_path(conversation.originator)) %></div>
          <div><h4><%= conversation.originator.firstname %></h4></div>
          <div><%= time_ago_in_words(conversation.messages.last.created_at) %> ago</div>
          <div><span><i class="fa fa-arrow-left" aria-hidden="true"></i> <%= conversation.messages.last.sender.firstname %>: <%= truncate conversation.messages.last.body, length: 145 %></span> | <span><%= link_to "View", conversation_path(conversation)  %></span></div>

        <% else %>
          <div><%= link_to(image_tag("#{conversation.messages.last.sender.image_url}", alt: "image", :class =>"#", size: "64x64"), user_path(conversation.messages.last.sender)) %></div>
          <div><h4><%= conversation.messages.last.sender.firstname %></h4></div>
          <div><%= time_ago_in_words(conversation.messages.last.created_at) %> ago</div>
          <div><span><i class="fa fa-envelope" aria-hidden="true"></i> <%= conversation.messages.last.sender.firstname %>: <%= truncate conversation.messages.last.body, length: 145 %></span> | <span><%= link_to "View", conversation_path(conversation)  %></span></div>
        <% end %> 

        <span>
          <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'untrash_can_link', method: :post %>
          <% else %>
            <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'trash_can_link', method: :post, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </span><br/><br/>
      </div>
    </div>

  <% else action_name == 'sent'%>

    <div class="user_interaction">
      <ul>
        <%= link_to conversation_path(conversation) do %>
        <li>
          <div class="medium-1 columns image_name_container">
            <div class="image_cover">
              <% if conversation.originator.image.present? %>
                <div><%= image_tag("#{conversation.originator.image_url}", alt: "image", :class =>"#") %></div>
              <% else %>
                <div><%= image_tag("img-profile-image-default.png", alt: "image", :class =>"#") %></div>
              <% end %>
            </div>
          </div>

          <div class="medium-11 columns additional_info_content_container">
            <div class="name_info">
              <div class="name"><%= conversation.originator.firstname %></div>
              <div class="subject">subject: <%= conversation.subject %></div>
              <div class="info"><span><i class="fa fa-arrow-left" aria-hidden="true"></i> <%= conversation.messages.last.sender.firstname %>: <%= truncate conversation.messages.last.body, length: 145 %></span></div>
            </div>
            <div class="time"><%= time_ago_in_words(conversation.messages.last.created_at) %> ago | <%= conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></div>
          </div>
          <div class="clear"></div>
        </li>
        <% end %>
      </ul>
    </div>
    <span>
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'untrash_can_link', method: :post %>
      <% else %>
        <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'trash_can_link', method: :post, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </span><br/><br/>
  <% end %>
</div>













