<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <%= link_to(image_tag("#{message.sender.image_url}", alt: "image", :class =>"#", size: "64x64"), user_path(message.sender)) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.firstname %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %><br/><br/><br/><br/>
      </div>
    </div>
<% end %>




