<div class="messages_partial_inner_section">
  <div class="subject"><%= @receipts.first.message.subject %></div>
  <div class="user_interaction">
    <ul>
    <% @receipts.each do |receipt| %>
      <% message = receipt.message %>
      <li>
        <div class="medium-1 columns image_name_container">
          <div class="image_cover">
            <% if message.sender.image.present? %>
              <div><%= link_to(image_tag("#{message.sender.image_url}", alt: "image", :class =>"#"), user_path(message.sender)) %></div>
            <% else %>
              <div><%= link_to(image_tag("img-profile-image-default.png", alt: "image", :class =>"#"), user_path(message.sender)) %></div>
            <% end %>
          </div>
        </div>

        <div class="medium-11 columns additional_info_content_container">
          <div class="name_info">
            <span class="name"><%= link_to message.sender.firstname, user_path(message.sender) %></span>
            <span class="info"><%= message.body %></span>
          </div>
          <div class="time">Posted: <%= time_ago_in_words(message.created_at) %> ago | <%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></div>
        </div>
        <div class="clear"></div>
      </li><br/><br/>
    <% end %>
    </ul>
  </div>
</div>





