<div class="user_attending_save_created_section">
  <div class="medium-12 columns attending_save_created_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <ul class="search_fields_left">
          <li>
            <%= link_to live_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>my socials [<%= current_user.socials.count %>]</span>
            <% end %>
          </li>
          <li class="active"> 
            <%= link_to attending_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>attending [<%= (current_user.attending_socials.live_socials.open_socials.count) + (Event.live_events.open_events.booked_events(current_user).count) %>]</span>
            <% end %>
          </li>
          <li>
            <%= link_to saved_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>saved [<%= (current_user.favourite_socials.live_socials.open_socials.count) + (current_user.favourite_events.live_events.open_events.count) %>]</span>
            <% end %>
          </li>
        </ul> 
      </div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_socials_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <!-- sub_tab_headings -->
          <div class="medium-12 columns sub_tab_headings_container">
            <ul>
              <li>
                <%= link_to attending_socials_user_path(current_user), class: "btn btn_attending" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>attending socials [<%= current_user.attending_socials.live_socials.open_socials.count %>]</span>
                <% end %>
              </li>
              <li>
                <%= link_to attending_events_user_path(current_user), class: "btn btn_attending active" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>booked events [<%= Event.live_events.open_events.booked_events(current_user).count %>]</span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- sub_tab_headings -->

          <!-- attending_events -->
          <% if Event.live_events.open_events.booked_events(current_user).present? %>
            <% Event.live_events.open_events.booked_events(current_user).each do |event| %>
              <ul class="inline-list">
                <div class="social_event_list">
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-star">
                      <i class="fa fa-calendar"></i>
                    </div> 
                    <div class="cd-timeline-content">
                      <ul>
                        <li class="left_side">
                          <!-- social_event_left_side -->
                          <div class="image_content right_side_content">
                            <div class="social_event_feed_img_cover">
                              <%= link_to(image_tag("img-logo-five.png"), about_us_path) %>
                            </div>
                          </div>
                          <!-- social_event_left_side -->
                        </li>
                        <li class="right_side">
                          <!-- social_event_right_side -->
                          <div class="right_side_content">
                            <div class="title"><%= link_to event.title, event_path(event) %></div>
                            <div class="host">
                              <span>Hosted by</span>
                              <span><%= link_to "Spefz Team", about_us_path %></span>
                            </div>
                            <div class="social_event_content">
                              <div class="image_cover">
                                <!-- sold out -->
                                <% if event.sold_out? %>
                                  <div class="banner">
                                    <div class="ribbon-wrapper-green">
                                      <div class="ribbon-green">sold out</div>
                                    </div>
                                  </div>
                                <% end %>
                                <!-- sold out -->
                                <span><%= link_to(cl_image_tag(event.image, :transformation=>[{:gravity=>"center", :width=>150, :height=>105, :crop=>"fill"}]), event_path(event)) %></span>
                              </div>
                              <div class="social_event_details">
                                <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.date.strftime("%A, %d %b") %> <span class="mid_divider">|</span> <%= event.time.strftime("%I:%M %p") %></div>
                                <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= event.city %>, <%= event.category_country.name %></div>
                                <div class="info">
                                  <span><i class="fa fa-male" aria-hidden="true"></i> <%= event.category_age.name %></span>
                                  <span class="mid_divider">|</span>
                                  <span class="category">Category:</span> 
                                  <span class="category_info"><%= link_to "#{event.category_topic.name}", socials_path(q: {category_topic_name_eq: event.category_topic.name}) %></span>
                                  <% if event.display_event_match? %>
                                    <span class="mid_divider">|</span> 
                                    <span class="category">Match:</span>
                                    <span class="category_info">
                                      <a href="#<%= event.id %>" data-reveal-id="<%= dom_id(event) %>_event_match"><%= event.match(current_user) %>%</a>
                                      <%= render partial: 'shared/modal_match_info', locals: { event: event } %>
                                    </span> 
                                  <% end %>
                                  <span class="mid_divider">|</span> 
                                  <span class="price">Price:</span>
                                  <span class="price_figure">
                                    <% if event.expired_or_closed_event %>
                                      <span>Event Closed</span>
                                    <% else %>
                                      <span>£<%= number_with_precision(event.price, precision: 2) %></span>
                                    <% end %>
                                  </span>
                                </div>
                                <div class="divider"></div>
                                <div class="description"><%= truncate(event.description, length: 200) %></div>
                              </div>
                            </div>
                          </div>
                          <!-- social_event_right_side -->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              <ul/>
            <% end %>
          <% else %>
            <%= render "shared/content_no_result_attending_events" %>
          <% end %>
          <div class="clear"></div>
          <!-- attending_events -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


