<h1>Live adverts [<%= @businessads.live_adverts.open_adverts.count %>]
  <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all live adverts on the platform</div>
</h1>

<div id="">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">live adverts</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
          <div class="tablecell background"></div>
        <% end %>
      </div>
      <% @businessads.live_adverts.open_adverts.order("created_at desc").each do |advert| %>
        <div class="tablerow">
          <div class="tablecell" style="width:10%">
            <div class="image_container">
              <div class="image">
                <% if advert.imagelink.present? %>
                  <%= link_to image_tag(advert.imagelink), advert, target:"_blank" %>
                <% else %>
                  <% if advert.image.present? %>
                    <%= link_to image_tag(advert.image_url), advert, target:"_blank" %>
                  <% else %>
                    <%= link_to image_tag("img-profile-company-default.png"), advert, target:"_blank" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="user_name"><%= link_to (truncate "#{advert.name}", length: 30), "#{advert.link}", target:"_blank" %></div>
            <div class="user_name"><%= link_to (truncate "#{advert.companyname}", length: 30), "#{advert.link}", target:"_blank" %></div>
            <div class="main_text_format"><%= link_to "#{advert.reference}", advert, target:"_blank" %></div>
            <div>
              <% if advert.category_advert.present? %>
                <% if advert.category_advert.name == "Advert" %>
                  <span class="ad_type blue_advert">advert</span>
                <% elsif advert.category_advert.name == "Sponsorship" %>
                  <span class="ad_type yellow_sponsor">sponsorship</span>
                <% elsif advert.category_advert.name == "Partnership" %>
                  <span class="ad_type tuquois_partnership">partnership</span>
                <% end %>
              <% end %>
            </div>
            <div class="faint_text_format">created: <%= advert.created_at.strftime("%a, %d %b %Y") %></div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">event</div> 
            <div class="user_name"><%= link_to (truncate "#{advert.event.title}", length: 30), event_path(advert.event), target: "_blank" %></div>
            <span class="main_text_format"><%= link_to "#{advert.event.reference}", event_path(advert.event), target:"_blank" %></span><span class="data_divider">|</span>
            <span class="main_text_format"><%= link_to "#{advert.event.businessads.count} ads", event_path(advert.event), target:"_blank" %></span>
            
            <!-- event status -->
            <% if advert.event.open_event && advert.event.live_event %>
              <div class="evt_status_open">live event</div>
            <% else %>
              <div class="evt_status_closed_expired">closed/expired event</div>
            <% end %>
            <!-- event status -->

            <!-- advert status -->
            <% if advert.expired && advert.open %>
              <div class="evt_status_closed_expired">expired advert</div>
            <% elsif advert.expired && advert.close %>
              <div class="evt_status_closed_expired">closed & expired advert</div>
            <% elsif advert.live && advert.open %>
              <div class="evt_status_open">live advert</div>
            <% elsif advert.live && advert.closed %>
              <div class="evt_status_closed_expired">closed advert</div>
            <% end %>
            <!-- advert status -->
          </div>

          <div class="tablecell">
            <div class="faint_text_format">publish Starts</div> 
            <div class="main_text_format"><%= advert.publishdate_start.strftime("%a, %d %b %Y") %></div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">publish Ends</div> 
            <div class="main_text_format"><%= advert.publishdate_end.strftime("%a, %d %b %Y") %></div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">days</div> 
            <div class="main_text_format"><%= advert.advert_period %></div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">impr.</div> 
            <div class="main_text_format">
              <div class="stats_impression_cover">
                <div class="stats_views">evt views</div>
                <div class="stats_views_count"><%= advert.event.impressionist_count(filter: :ip_address)%></div>
              </div>

              <div class="stats_impression_cover">
                <div class="stats_views">ad views</div>
                <div class="stats_views_count"><%= advert.event.impressionist_count(filter: :ip_address)%></div>
              </div>
            </div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">charge</div> 
            <div class="main_text_format">
              <% if advert.price == 0 %>
                <span class="free_charge">Free</span>
              <% else %>
                <span>£<%= number_with_precision(advert.price, precision: 0) %></span>
              <% end %>
            </div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">creator</div> 
            <div class="main_text_format"><%= link_to "#{advert.user.firstname}", user_path(advert.user), target:"_blank" %></div>
          </div>
          <div class="tablecell" style="width:15%;">
            <div class="main_text_format report_content_view">
              <%= (truncate "#{advert.content}", length: 50) %>
              <%= link_to "view", advert, target:"_blank" %>
            </div>
            <div>-------------</div>
            <div class="faint_text_format"><%= link_to "#{advert.clientname}", "#{advert.link}", target:"_blank" %></div>
            <div class="faint_text_format"><%= advert.clientjob %></div>
            <div class="faint_text_format"><%= advert.clientcontact %></div>
          </div>
          <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
            <div class="tablecell">
              <div class="delete_btn"><%= link_to 'Edit', edit_user_businessad_path(advert.user, advert) %></div>
              <div class="delete_btn"><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>