<h1>total unbooked live events [<%= (@events.count_unbooked_active_paid_events) + (@events.count_unbooked_active_free_events) %>]
  <span id="status_statsevents_unbooked_paid" class="status_colour_blue">paid events [<%= @events.count_unbooked_active_paid_events %>]</span>
  <span id="status_statsevents_unbooked_free" class="status_colour_blue">free events [<%= @events.count_unbooked_active_free_events %>]</span>
  <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all unbooked live events on the platform [ordered by date held]</div>
</h1>

<div id="status_statsevents_unbooked_paid_content">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">paid events</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
      </div>
      <% @events.paid_events.unbooked_events.live_events.open_events.order("date asc").each do |event| %>
        <div class="tablerow">
          <div class="tablecell" style="width:10%">
            <div class="image_container">
              <div class="image">
                <% if event.event_image_link.present? %>
                  <%= link_to image_tag(event.event_image_link), event, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(event.image_url), event, target: "_blank" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="user_name"><%= truncate "#{event.title}", length: 30 %></div>
            <div class="ref_id"><%= event.reference %></div>
            <span class="faint_text_format">created: <%= event.created_at.strftime("%a, %d %b %Y") %></span>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">date</div> 
            <div class="main_text_format"><%= event.date.strftime("%a, %d %b %Y") %></div>
            <div class="ref_id">
              <% if event.event_price_zero? %>
                <span>Free</span>
              <% else %>
                <span>£<%= event.price %></span>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">
              <span><%= event.category_country.name %></span>
            </div> 
            <div class="faint_text_format">
              <% if event.city? %>
                <span><%= event.city %></span>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Category</div> 
            <div class="main_text_format">
              <% if event.category_topic.present? %>
                <%= event.category_topic.name %>
              <% else %>
                <%= "-" %>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Age-Group</div> 
            <div class="main_text_format">
              <% if event.agerange? %>
                <%= event.agerange_info %>
              <% else %>
                <%= event.category_age.name %>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="access_score">
              <div>Access</div>
              <div>
                <% if event.external_event? %>
                  <%= "- -" %>
                <% else %>
                  <%= number_with_precision(event.event_score_access, precision: 1) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="overall_rate">
              <div>Rate</div>
              <div>
                <% if event.external_event? %>
                  <%= "- -" %>
                <% else %>
                  <%= number_with_precision(event.overall_ratings, precision: 1) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell" style="width:16%">
            <div>
              <% unless event.external_event? %>
                <span class="main_text_format"><%= event.payments.count %>:</span> <span class="faint_text_format">attendants</span>
              <% end %>
            </div>
            <div>
              <span class="main_text_format"><%= link_to "view details", attendants_event_path(event), target:"_blank" %></span>
            </div>
            <div>
              <% if event.external_event? %>
                <!-- external_event event_gender_selection_display -->
                <% if event.selection_BothX_men_and_women %>
                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                  <% if event.soldout_men? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                  <span class="content_divider">|</span>
                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                  <% if event.soldout_women? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                <% elsif event.selection_BothAndOnly_men_and_women%>
                  <% if event.soldout? %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                    <span class="content content_soldout">sold out</span>
                  <% elsif !event.soldout? %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                    <span class="content content_available">available</span>
                  <% end %>
                <% end %>
                <!-- external_event event_gender_selection_display -->
              <% else %>
                <!-- event_gender_selection_display -->
                <% if event.selection_BothX_men_and_women %>
                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                  <% if event.sold_out_Xmen? %>
                    <span class="content_soldout">sold out</span>
                  <% else %>
                    <span class="content_available">available</span>
                  <% end %>
                  <span class="content_divider">|</span>
                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                  <% if event.sold_out_Xwomen? %>
                    <span class="content_soldout">sold out</span>
                  <% else %>
                    <span class="content_available">available</span>
                  <% end %>
                <% elsif event.selection_BothAndOnly_men_and_women %>
                  <% if event.category_quantitygender.name == "only men" %>
                    <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                    <span class="content_text">[Only Men]</span>
                  <% elsif event.category_quantitygender.name == "only women" %>
                    <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                    <span class="content_text">[Only Women]</span>
                  <% elsif event.category_quantitygender.name == "both men & women" %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                  <% end %>
                  <% if event.sold_out? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                <% end %>
                <!-- event_gender_selection_display -->
              <% end %>
            </div>
            <% if current_user.admin_pa_management_group %>
              <div>
                <% if event.external_event? %>
                  <span class="external_eventlink_info">Amt: <%= link_to "External Event", event.external_eventlink, target:"blank" %></span>
                <% else %>
                  <span>Amt: </span><span class="ref_id">£<%= (event.price) * (event.payments.count) %></span>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">host</div> 
            <% if event.host.present? %>
              <div class="main_text_format">
                <ul style="margin-bottom:0px;">
                  <% event.host.users.each do |host| %>
                  <li class="main_text_format"><%= link_to "#{host.firstname} #{host.lastname}", user_path(host), target: "_blank" %></li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <%= "-" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="status_statsevents_unbooked_free_content" class="hide">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">free events</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
      </div>
      <% @events.free_events.unbooked_events.live_events.open_events.order("date asc").each do |event| %>
        <div class="tablerow">
          <div class="tablecell" style="width:10%">
            <div class="image_container">
              <div class="image">
                <% if event.event_image_link.present? %>
                  <%= link_to image_tag(event.event_image_link), event, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(event.image_url), event, target: "_blank" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="user_name"><%= truncate "#{event.title}", length: 30 %></div>
            <div class="ref_id"><%= event.reference %></div>
            <span class="faint_text_format">created: <%= event.created_at.strftime("%a, %d %b %Y") %></span>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">date</div> 
            <div class="main_text_format"><%= event.date.strftime("%a, %d %b %Y") %></div>
            <div class="ref_id">
              <% if event.event_price_zero? %>
                <span>Free</span>
              <% else %>
                <span>£<%= event.price %></span>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">
              <span><%= event.category_country.name %></span>
            </div> 
            <div class="faint_text_format">
              <% if event.city? %>
                <span><%= event.city %></span>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Category</div> 
            <div class="main_text_format">
              <% if event.category_topic.present? %>
                <%= event.category_topic.name %>
              <% else %>
                <%= "-" %>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Age-Group</div> 
            <div class="main_text_format">
              <% if event.agerange? %>
                <%= event.agerange_info %>
              <% else %>
                <%= event.category_age.name %>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="access_score">
              <div>Access</div>
              <div>
                <% if event.external_event? %>
                  <%= "- -" %>
                <% else %>
                  <%= number_with_precision(event.event_score_access, precision: 1) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="overall_rate">
              <div>Rate</div>
              <div>
                <% if event.external_event? %>
                  <%= "- -" %>
                <% else %>
                  <%= number_with_precision(event.overall_ratings, precision: 1) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell" style="width:16%">
            <div>
              <% unless event.external_event? %>
                <span class="main_text_format"><%= event.payments.count %>:</span> <span class="faint_text_format">attendants</span>
              <% end %>
            </div>
            <div>
              <span class="main_text_format"><%= link_to "view details", attendants_event_path(event), target:"_blank" %></span>
            </div>
            <div>
              <% if event.external_event? %>
                <!-- external_event event_gender_selection_display -->
                <% if event.selection_BothX_men_and_women %>
                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                  <% if event.soldout_men? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                  <span class="content_divider">|</span>
                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                  <% if event.soldout_women? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                <% elsif event.selection_BothAndOnly_men_and_women%>
                  <% if event.soldout? %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                    <span class="content content_soldout">sold out</span>
                  <% elsif !event.soldout? %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                    <span class="content content_available">available</span>
                  <% end %>
                <% end %>
                <!-- external_event event_gender_selection_display -->
              <% else %>
                <!-- event_gender_selection_display -->
                <% if event.selection_BothX_men_and_women %>
                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                  <% if event.sold_out_Xmen? %>
                    <span class="content_soldout">sold out</span>
                  <% else %>
                    <span class="content_available">available</span>
                  <% end %>
                  <span class="content_divider">|</span>
                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                  <% if event.sold_out_Xwomen? %>
                    <span class="content_soldout">sold out</span>
                  <% else %>
                    <span class="content_available">available</span>
                  <% end %>
                <% elsif event.selection_BothAndOnly_men_and_women %>
                  <% if event.category_quantitygender.name == "only men" %>
                    <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                    <span class="content_text">[Only Men]</span>
                  <% elsif event.category_quantitygender.name == "only women" %>
                    <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                    <span class="content_text">[Only Women]</span>
                  <% elsif event.category_quantitygender.name == "both men & women" %>
                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                  <% end %>
                  <% if event.sold_out? %>
                    <span class="content content_soldout">sold out</span>
                  <% else %>
                    <span class="content content_available">available</span>
                  <% end %>
                <% end %>
                <!-- event_gender_selection_display -->
              <% end %>
            </div>
            <% if current_user.admin_pa_management_group %>
              <div>
                <% if event.external_event? %>
                  <span class="external_eventlink_info">Amt: <%= link_to "External Event", event.external_eventlink, target:"blank" %></span>
                <% else %>
                  <span>Amt: </span><span class="ref_id">£<%= (event.price) * (event.payments.count) %></span>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">host</div> 
            <% if event.host.present? %>
              <div class="main_text_format">
                <ul style="margin-bottom:0px;">
                  <% event.host.users.each do |host| %>
                  <li class="main_text_format"><%= link_to "#{host.firstname} #{host.lastname}", user_path(host), target: "_blank" %></li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <%= "-" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>