<h1>spam commercial [<%= @reports.spam_commercial.count %>]
  <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all spam commercial on the platform [ordered by date held]</div>
</h1>

<div id="">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">spam commercial</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
          <div class="tablecell background"></div>
        <% end %>
      </div>
      <% @reports.spam_commercial.order("created_at asc").each do |report| %>
        <div class="tablerow">
          <div class="tablecell">
            <% if report.event_id? %>
              "Event"
            <% elsif report.social_id? %>
              "Social"
            <% elsif report.user_id? %>
              "User"
            <% end %>
            <div class="ref_id"><%= report.reference %></div>
            <div class="faint_text_format"> created: <%= report.created_at.strftime("%a, %d %b %Y") %></div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">reported subject</div> 
            <div class="main_text_format">
              <% if report.event_id? %>
                <%= link_to (truncate "#{report.event.title}", length: 30), event_path(report.event), target:"_blank" %>
              <% elsif report.social_id? %>
                <%= link_to (truncate "#{report.social.title}", length: 30), social_path(report.social), target:"_blank" %>
                <div class="faint_text_format">created by: <br/> <%= link_to "#{report.social.user.firstname} #{report.social.user.lastname}", user_path(report.social.user), target:"_blank" %></div>
                <div class="main_text_format"><%= mail_to "#{report.social.user.email}", "#{report.social.user.email}", subject: "Warning | #{report.category_report.name}" %></div>
              <% elsif report.user_id? %>
                <%= link_to (truncate "#{report.user.firstname} #{report.user.lastname}", length: 30), user_path(report.user), target:"_blank" %>
                <div class="main_text_format"><%= mail_to "#{report.user.email}", "#{report.user.email}", subject: "Warning | #{report.category_report.name}" %></div>
              <% end %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">report category</div> 
            <div class="main_text_format">
              <%= "#{report.category_report.name}" %>
            </div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">reported by</div> 
            <div class="main_text_format">
              <%= link_to "#{report.reporter.firstname} #{report.reporter.lastname}", user_path(report.reporter), target:"_blank" %>
            </div>
            <div class="main_text_format"><%= mail_to "#{report.reporter.email}" %></div>
          </div>
          <div class="tablecell" style="width:25%;">
            <div class="main_text_format report_content_view">
              <%= (truncate "#{report.content}", length: 100) %>
              <a href="#<%= report.id %>" data-reveal-id="<%= dom_id(report) %>_report_content_show" style="">view</a>
              <%= render partial: 'shared/modal_report_content', locals: { report: report } %>
            </div>
          </div>
          <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
            <div class="tablecell">
              <div class="delete_btn"><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>