<h1>total albums [<%= @albums.count %>]
  <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all albums on the platform [ordered by published date]</div>
</h1>

<div id="">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">albums</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
          <div class="tablecell background"></div>
        <% end %>
      </div>
      <% @albums.order("date desc").each do |album| %>
        <div class="tablerow">
          <div class="tablecell" style="width:10%">
            <div class="image_container">
              <div class="image">
                <% if album.album_image_link.present? %>
                  <%= link_to image_tag(album.album_image_link), album, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(album.image_url), album, target: "_blank" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tablecell">
            <div class="user_name"><%= link_to (truncate "#{album.name}", length: 30), album, target: "_blank" %></div>
            <span class="faint_text_format">created: <%= album.created_at.strftime("%a, %d %b %Y") %></span>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">published date</div> 
            <div class="main_text_format"><%= album.date.strftime("%a, %d %b %Y") %></div>
          </div>

          <div class="tablecell">
            <div class="faint_text_format">photos</div> 
            <% if album.photos.present? %>
              <div class="main_text_format"><%= link_to "#{album.photos.count}", "#" %></div>
            <% else %>
              <div><%= "--" %></div>
            <% end %>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">created by</div> 
            <div class="main_text_format"><%= link_to "spefz team", "#" %></div>
          </div>
          <div class="tablecell" style="width:25%;">
            <div class="main_text_format report_content_view">
              <%= (truncate "#{album.description}", length: 100) %>
              <a href="#<%= album.id %>" data-reveal-id="<%= dom_id(album) %>_album_content_show" style="">view</a>
              <%= render partial: 'shared/modal_album_content', locals: { album: album } %>
            </div>
          </div>
          <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
            <div class="tablecell">
              <div class="delete_btn"><%= link_to 'Edit', edit_album_path(album) %></div>
              <div class="delete_btn"><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>