<div class="user_dashboard_admin_company">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content" style="margin-bottom:0px;">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> total registered users</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span><%= @users.all.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> total subscribed users</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <span><%= @users.subcribed_users.count %></span>
          <div class="minor_info">£<%= (@users.subcribed_users.count) * (@premium_plan.price) %>/mth</div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> total active socials</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span><%= @socials.live_socials.open_socials.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> total active socials [mth]</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span><%= @socials.held_this_month.live_socials.open_socials.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> total active events</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
          <span><%= @events.live_events.open_events.count %></span>
          <div class="minor_info">£<%= @events.live_events.open_events.total_price_for_events %> [all]</div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> total active events [mth]</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span><%= @events.held_this_month.live_events.open_events.count %></span>
          <div class="minor_info">£<%= @events.held_this_month.live_events.open_events.total_price_for_events %> [mth]</div>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns upper_data_content">
    <div class="medium-2 columns left_data responsive_data stats_tab_07">
      <div class="data_content">
        <div class="header"> spefz team</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span><%= @users.spefz_team.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_08">
      <div class="data_content">
        <div class="header">  mamagement group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <span><%= @users.management_group.count %></span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_09">
      <div class="data_content">
        <div class="header"> administration group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span><%= @users.adminstration_group.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_10">
      <div class="data_content">
        <div class="header"> event mgt group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span><%= @users.event_mgt_group.count %></span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_11">
      <div class="data_content">
        <div class="header"> sales/mrkt group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <span><%= @users.sales_mrkt_group.count %></span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_12">
      <div class="data_content">
        <div class="header"> client dummy group</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span><%= @users.dummy_group.count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      <%= render 'users/shared/data_info_spefzregistered_users' %>
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_02_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      2.] total subscribed users
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_03_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      3.] total active socials
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_04_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      4.] total active socials [mth]
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_05_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      5.] total active events
    </div>
  </div>

   <div class="medium-12 columns lower_data_content stats_tab_06_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      6.] Total Active Events [Mth]
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_07_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      7.] spefz team
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_08_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      8.] mamagement group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_09_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      9.] administration group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_10_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      10.] event mgt group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_11_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      11.] sales/mrkt group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_12_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      11.] Dummy Group
    </div>
  </div>

  <div class="clear"></div>
</div>

