<div class="user_dashboard_admin_analytics">

  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">
    <!-- candidate sources -->
    <div class="medium-3 columns left_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-users" style="color:#2F3F5B;"></i></div>
            <div class="analytic_header">candidate sources</div>
            <div class="analytic_info">track the candidates from job boards to recruiters.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- hiring velocity -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
            <div class="analytic_header">hiring velocity</div>
            <div class="analytic_info">track the average time it takes candidates to move through the pipeline.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- productivity -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
            <div class="analytic_header">productivity</div>
            <div class="analytic_info">see the activity of every hiring team and track their productivity over time.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- time to hire -->
    <div class="medium-3 columns right_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-sitemap" aria-hidden="true"></i></div>
            <div class="analytic_header">time to hire</div>
            <div class="analytic_info">view time taken to fill a job and the time from application to successful hire.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="medium-12 columns upper_data_content">
    <!-- current pipeline -->
    <div class="medium-3 columns left_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-server" aria-hidden="true"></i></div>
            <div class="analytic_header">current pipeline</div>
            <div class="analytic_info">get a snap shot of the current status of every job on the dashboard</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- historic pipeline -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></div>
            <div class="analytic_header">historic pipeline</div>
            <div class="analytic_info">track the number of candidate who have moved through the pipeline.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- calendar flow -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-area-chart" aria-hidden="true"></i></div>
            <div class="analytic_header">calendar flow</div>
            <div class="analytic_info">a breakdown of new candidatesby date and resultsof the first screening.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- referrals -->
    <div class="medium-3 columns right_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-database" aria-hidden="true"></i></div>
            <div class="analytic_header">referrals</div>
            <div class="analytic_info">see the source of all referred candidates and which referrals were hired.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="medium-12 columns upper_data_content">
    <!-- activity -->
    <div class="medium-3 columns left_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
            <div class="analytic_header">activity</div>
            <div class="analytic_info">get a breakdown of all activity by team member and candidate.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- candidate breakdown -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
            <div class="analytic_header">candidate breakdown</div>
            <div class="analytic_info">see the details of every candidate in pipeline; name, stage and more.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- custom reporting -->
    <div class="medium-3 columns middle_data">
      <div class="analytics_container">
        <%= link_to @user do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-clipboard" aria-hidden="true"></i></div>
            <div class="analytic_header">custom reporting</div>
            <div class="analytic_info">need hands on accessto your recruitingdata? contact us for further details.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- referrals -->
    <div class="medium-3 columns right_data">
      <div class="analytics_container">
        <%= link_to documentation_links_user_path(current_user) do %>
        <div class="data_content">
          <div class="analytics_inner_content">
            <div class="analytic_icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
            <div class="analytic_header">documentation links</div>
            <div class="analytic_info">list of documents link are displayed here for admin purposes.</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

