<h1>documentation links</h1>
<div class="admin_documentationlinks_section">

  <!-- business links -->
  <div class="documentlinks_notes">
    <div class="documentlinks_detailed_info">
      <div class="">
        <div class="header"><i class="fa fa-chain-broken" aria-hidden="true"></i> <%= link_to "business links", "#", class: "settings_link" %></div>
        <div class="sub_header_info">Change your password at anytime. Periodically updating your password will help keep your account secure.</div>
        <div>
          <ul>
            <li>Investment: <span class="highlighted_info"><%= link_to "Investment Link Page", investment_path, target:"_blank" %></span></li>
            <li>Sponsorship: <span class="highlighted_info"><%= link_to "Sponsorship Link Page", sponsorship_path, target:"_blank" %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- user links -->
  <div class="documentlinks_notes">
    <div class="documentlinks_detailed_info">
      <div class="">
        <div class="header"><i class="fa fa-chain-broken" aria-hidden="true"></i> <%= link_to "other links", "#", class: "settings_link" %></div>
        <div class="sub_header_info">You can cancel your subscription at anytime. If unable to cancel your subscription via the website <span class="highlighted_info"><%= link_to "contact us", contact_us_path %></span></div>
        <div>
          <ul>
            <li>Presentation: <span class="highlighted_info"><%= link_to "Presentation Link Page", presentation_path, target:"_blank" %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>