<div class="user_dashboard_admin_statsevents">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> total events</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span><%= @events.all.count %></span>
          <% if current_user.admin_pa_management_group %>
            <div class="minor_info">£<%= @events.total_price_for_events %> [all]</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> total active events</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
          <span><%= @events.live_events.open_events.count %></span>
          <% if current_user.admin_pa_management_group %>
            <div class="minor_info">£<%= @events.live_events.open_events.total_price_for_events %> [all]</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> total active events [mth]</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
          <span><%= @events.held_this_month.live_events.open_events.count %></span>
          <% if current_user.admin_pa_management_group %>
            <div class="minor_info">£<%= @events.held_this_month.live_events.open_events.total_price_for_events %> [mth]</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> total closed events</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span>
          <span><%= @events.expired_or_closed_events.count %></span>
          <% if current_user.admin_pa_management_group %>
            <div class="minor_info">£<%= @events.expired_or_closed_events.total_price_for_events %> [all]</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> total unbooked live events</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span>
          <span><%= @events.events_with_no_bookings.live_events.open_events.count %></span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> avg ratings of all events</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span>0</span>
          <% if current_user.admin_pa_management_group %>
            <div class="minor_info">0 [events]</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content">
    <div class="medium-12 columns lower_data_inner_content">
      <h1>stats events info</h1>
      <ul>
        <li>0.] groups - number of events under each group</li>
        <li>eg: Family & Education | # of events: 4 | # of users attending: 20 | Male: #12 #Female:8 | total money in: £3'000</li>
      </ul>
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      1.] Total Events
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_02_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      2.] Total Active Events
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_03_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      3.] Total Active Events [Mth]
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_04_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      4.] Total Closed Events
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_05_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      5.] Total Unbooked Events
    </div>
  </div>

   <div class="medium-12 columns lower_data_content stats_tab_06_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      6.] Avg Ratings Of All Events
    </div>
  </div>
  <div class="clear"></div>
</div>

