<div class="user_dashboard_admin_statsadverts user_dashboard_admin_statsadverts_show">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">
    <div class="">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Advert Name:</strong>
        <span><%= @businessad.name %></span>
        <span>[<%= @businessad.reference %>]</span>
        <span>
          <% if @businessad.category_advert.present? %>
            <% if @businessad.category_advert.name == "Advert" %>
              <span class="ad_type_cover blue_advert_cover">advert</span>
            <% elsif @businessad.category_advert.name == "Sponsorship" %>
              <span class="ad_type_cover yellow_sponsor_cover">sponsorship</span>
            <% elsif @businessad.category_advert.name == "Partnership" %>
              <span class="ad_type_cover tuquois_partnership_cover">partnership</span>
            <% end %>
          <% end %>
        </span>
      </p>

      <p>
        <span>
          <strong>Advertised Type:</strong>
          <span><%= @businessad.category_advert.name %></span>
        </span>
        <span>|</span>
        <span>
          <% if @businessad.price == 0 %>
            <span class="price">FREE %></span>
          <% else %>
            <span class="price">£<%= @businessad.price %></span>
          <% end %>
        </span>
      </p>

      <p>
        <span>
          <strong>Advertised Under:</strong>
          <span><%= @businessad.event.title %></span>
          <span>[<%= @businessad.event.reference %>]</span>
        </span>
        <span>|</span>
        <span>
          <strong>Evt End Date:</strong>
          <%= @businessad.event.date.strftime("%a, %d %b %Y") %>
        </span>
      </p>

      <p>
        <span>
          <strong>Published Start:</strong>
          <%= @businessad.publishdate_start.strftime("%a, %d %b %Y") %>
        </span>
        <span>|</span>
        <span>
          <strong>Published End:</strong>
          <%= @businessad.publishdate_end.strftime("%a, %d %b %Y") %>
        </span>
        <span>|</span>
        <span>
          <strong>Duration:</strong>
          <%= @businessad.advert_period %> days
        </span>
        <span>|</span>
        <span>
          <strong>Remaining Days:</strong>
          <% if @businessad.expired || @businessad.closed %>
            <span class="price"><%= "expired/close advert" %></span>
          <% else %>
            <span><%= @businessad.advert_remaining_period %> days</span>
          <% end %>
        </span>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @businessad.content %>
      </p>
    </div>
  </div>


  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      <%= render 'users/shared/data_info_statsadverts_addetails' %>
    </div>
  </div>
</div>

