<%= simple_form_for [@event, @host] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>Select Host:</div>
    <div class="medium-12 columns listed_hosts">
      <%# f.association :users, collection: User.hosts.all.order(:firstname), label_method: lambda { |user| image_tag("#{user.image}") "#{user.firstname} #{user.lastname}" }, label: false, as: :check_boxes %>
      <%= f.association :users, collection: User.hosts.all.order(:firstname), label_method: lambda { |user| "#{user.firstname} #{user.lastname}" }, label: false, as: :check_boxes %><br/>
    </div>
    <div class="clear"></div>

    <div>Hosts For the Event:</div>
    <div class="medium-12 columns listed_hosts">
      <b><%= @event.title %></b>
    </div>

    <!-- hidden_field -->
    <%= f.hidden_field :event, value: @event.id %>
    <!-- hidden_field -->

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<!-- cl_image_tag(@user.image) -->