<%= simple_form_for(@host) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :users, collection: User.hosts.all.order(:firstname), label_method: :firstname, label: 'select host', as: :check_boxes %><br/>
    <%= f.association :event, collection: Event.all.order(:title), prompt: "please select your event", label_method: :title, label: 'Event' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
