<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @host.event.title %>
</p>

<p>
  <strong>Hosts:</strong>
  <% @host.users.each do |host| %>
    <%= link_to "#{host.firstname}" %>
  <% end %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
