<div class="user_attending_save_created_section">
  <div class="medium-12 columns attending_save_created_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <ul class="search_fields_left">
          <li class="active"> 
            <%= link_to attending_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>attending [<%= (current_user.attending_socials.live_socials.open_socials.count) + (Event.live_events.open_events.booked_events(current_user).count) %>]</span>
            <% end %>
          </li>
          <li>
            <%= link_to followings_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>saved [<%= (current_user.favourite_socials.count) + (current_user.favourite_events.count) %>]</span>
            <% end %>
          </li>
          <li>
            <%= link_to followers_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>created [<%= current_user.socials.count %>]</span>
            <% end %>
          </li>
        </ul> 
      </div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_socials_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <!-- sub_tab_headings -->
          <div class="medium-12 columns sub_tab_headings_container">
            <ul>
              <li>
                <%= link_to attending_socials_user_path(current_user), class: "btn btn_attending active" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>attending socials [<%= current_user.attending_socials.live_socials.open_socials.count %>]</span>
                <% end %>
              </li>
              <li>
                <%= link_to attending_events_user_path(current_user), class: "btn btn_attending" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>booked events [<%= Event.live_events.open_events.booked_events(current_user).count %>]</span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- sub_tab_headings -->

          <!-- attending_socials -->
       
            <%# render "shared/content_search_no_result" %>
            <%= render "shared/content_no_result_attending_socials" %>
            <%# render "shared/content_no_result_attending_events" %>
            <%# render "shared/content_no_result_saved_socials" %>
            <%# render "shared/content_no_result_saved_events" %>
            <%# render "shared/content_no_result_created_socials" %>
       
          <div class="clear"></div>
          <!-- attending_socials -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


