<!-- <h1>attending socials</h1> -->
<div class="user_attending_save_created_section">
  <div class="medium-12 columns attending_save_created_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <ul class="search_fields_left">
          <li class="active"> 
            <%= link_to network_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>attending [<%= (current_user.attending_socials.count) + (Event.booked_events(current_user).count) %>]</span>
            <% end %>
          </li>
          <li>
            <%= link_to followings_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>saved [<%= (current_user.favourite_socials.count) + (current_user.favourite_events.count) %>]</span>
            <% end %>
          </li>
          <li>
            <%= link_to followers_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>created [<%= current_user.socials.count %>]</span>
            <% end %>
          </li>
        </ul> 
        <!-- <%# search_form_for @search, url: network_user_path(current_user) do |f| %>
        <ul class="search_fields_right">
          <li><%# f.submit 'search' %></li> 
          <li class="field btn_all">
            <%# link_to network_user_path(current_user) do %>
              <i class="fa fa-users" aria-hidden="true"></i>
            <%# end %>
          </li>
          <li class="field select_user_name"><%# f.text_field :firstname_or_lastname_or_reference_cont, placeholder: 'search firstname or lastname eg: kofi'%></li>
        </ul>        
        <%# end %> -->
      </div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_socials_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
            <!-- members -->
            <%# if @friends.blank? %>
              <!-- <div><%# render 'shared/content_search_no_result' %></div> -->
            <%# else %>
              <ul class="inline-list">
                <% current_user.attending_socials.each do |socials| %>
                
                <% end %>
              <ul/>
            <%# end %>
            <div class="clear"></div>
            <!-- members -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


