<div class="connectmatches_section">
  <div class="medium-12 columns connectmatches_inner_section">

    <!-- content -->
    <div class="medium-12 columns member_content_section connectmatches_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <!-- members matches -->

          <!-- user info details -->
          <span><b>individual user listed matches</b></span> <span>|</span> <span><%= link_to "view all users", users_path %></span><br/><br/><br/>
          <div>
            <u><%= "#{@user.firstname}'s" %> info</u>
            <ul>
              <li>user name: <%= link_to "#{@user.firstname} #{@user.lastname}", user_path(@user), target:"_blank" %></li>
              <li>user stats: <%= @user.overall_ratings %></li>
              <li>
                <span>user is seeking:</span>
                <span>
                  <% if @user.preference.present? %>
                    <%= @user.preference.category_matchseeking.name %>
                  <% else %>
                    <span style="color: #E34B51;"><%= "has not completed preference match form" %></span>
                  <% end %>
                </span>
               </li>
            </ul>
          </div><br/>
          <!-- user info details --> 

          <!-- user exact matches -->
          <div>
            <u><%= "#{@user.firstname}'s" %> exact [stat] matches [users with exactly <%= @user.overall_ratings %>]</u>
            <ul>
              <% @users.each do |user| %>
                <% if @user.connectMatchesExact(user) %>
                  <% unless @user == user %>
                  <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
          <!-- user exact matches -->

          <!-- user general matches -->
          <div>
            <u><%= "#{@user.firstname}'s" %> general [stat] matches</u>
            <ul>
              <% @users.each do |user| %>
                <% if @user.connectMatches(user) %>
                  <% unless @user == user %>
                  <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
          <!-- user general matches -->

          <!-- user preference matches -->
          <div>
            <u><%= "#{@user.firstname}'s" %> preference matches</u>
            <% if @user.preference.present? %>
              <ul>
                <% @users.each do |user| %>
                  <% if @user.matching(user) %>
                    <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                  <% end %>
                <% end %>
              </ul>
            <% elsif !@user.preference.present? %>
              <div style="color: #E34B51;"><%= "user has not completed preference match form" %></div>
            <% end %>
          </div><br/>
          <!-- user preference matches -->

          <!-- user preference & stat matches -->
          <u><%= "#{@user.firstname}'s" %> preference & stat matches</u>
          <div>
            <% if @user.preference.present? %>
              <ul>
                <% @users.each do |user| %>
                  <% if @user.matching(user) && @user.connectMatches(user) %>
                    <% unless @user == user %>
                    <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            <% elsif !@user.preference.present? %>
              <div style="color: #E34B51;"><%= "user has not completed preference match form" %></div>
            <% end %>
          </div><br/>
          <!-- user preference & stat matches -->

          <!-- dated section -->
          <u>list of users <%= "#{@user.firstname}" %> has been placed on a date with</u><br/><br/><br/>
          <!-- members matches -->


          <!-- all users with pref form -->
          <div class="">
            <span><u>all users with preference form</u> <%= link_to "view", users_path %></span>
            <ul>
              <% @users.each do |user| %>
                <% if user.preference.present? %>
                <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                <% end %>
              <% end %>
            </ul>
          </div><br/>
          <!-- all users with pref form -->

          <!-- all users eith ratings -->
          <div class="">
            <span><u>all users with ratings</u> <%= link_to "view", users_path %></span>
            <ul>
              <% @users.each do |user| %>
                <% if user.overall_ratings > 0 %>
                  <% unless @user == user %>
                  <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div><br/>
          <!-- all users eith ratings -->

        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


