<div class="connectmatches_section">
  <div class="medium-12 columns connectmatches_inner_section">

    <!-- content -->
    <div class="medium-12 columns member_content_section connectmatches_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <!-- members matches -->

          <!-- user info details -->
          <h1>individual user listed matches</h1>
          <div>
            <u><%= "#{@user.firstname}'s" %> info</u>
            <ul>
              <li>user name: <%= link_to "#{@user.firstname} #{@user.lastname}", user_path(@user), target:"_blank" %></li>
              <li>user stats: <%= @user.overall_ratings %></li>
            </ul>
          </div><br/>
          <!-- user info details --> 

          <!-- all users -->
          <div>
            <u>all users</u>
            <ul>
              <% @users.each do |user| %>
                <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
              <% end %>
            </ul>
          </div><br/>
          <!-- all users --> 

          <!-- user exact matches -->
          <div>
            <u><%= "#{@user.firstname}'s" %> exact matches [users with exactly <%= @user.overall_ratings %>]</u>
            <ul>
              <% @users.each do |user| %>
                <% if @user.connectMatchesExact(user) %>
                <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                <% end %>
              <% end %>
            </ul>
          </div><br/>
          <!-- user exact matches -->

          <!-- user general matches -->
          <div>
            <u><%= "#{@user.firstname}'s" %> general matches</u>
            <ul>
              <% @users.each do |user| %>
                <% if @user.connectMatches(user) %>
                <li><span>stat: <%= user.overall_ratings %></span> | <span>username: <%= link_to "#{user.firstname}", user_path(user), target:"_blank" %></span></li>
                <% end %>
              <% end %>
            </ul>
          </div><br/>
          <!-- user general matches -->

          <!-- members matches -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


