<h1>registered users [<%= @users.all.count %>]
  <span id="status_users_all" class="status_colour_blue">all [<%= @users.all.count %>]</span>
  <span id="status_users_male" class="status_colour_blue">male [<%= @users.males.count %>]</span>
  <span id="status_users_female" class="status_colour_blue">female [<%= @users.females.count %>]</span>
  <!-- <span id="status_hired" class="status_colour_green">hired [<%# @userr.forms.applicant_accepted.count %>]</span>
  <span id="status_rejected" class="status_colour_red">rejected [<%# @userr.forms.applicant_rejected.open_ad_applications.active_ad_applications.count %>]</span>
  <span id="status_interview" class="status_colour_yellow">interview [<%# @userr.forms.applicant_interview.open_ad_applications.active_ad_applications.count %>]</span>
  <span id="status_shortlisted" class="status_colour_bluelight">shortlisted [<%# @userr.forms.applicant_shortlisted.open_ad_applications.active_ad_applications.count %>]</span> -->
  <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all registered users on the platform</div>
</h1>

<div id="status_users_all_content">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">all registered users</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
      </div>
      <% @users.all.each do |user| %>
        <div class="tablerow">
          <div class="tablecell" style="width:16%">
            <% if user_signed_in? %>
              <% if current_user.admin_pa_management_group %>
                <% if user.dummy_group %>
                  <div class="banner_ribbon_wrapper_green_index">
                    <div class="banner_ribbon_name_index">DUMMY</div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <div class="image_container">
              <div class="image"><%= link_to image_tag(user.image_url), user, target: "_blank" %></div>
            </div>
          </div>
          <div class="tablecell">
            <div class="user_name"><%= "#{user.firstname} #{user.lastname}" %></div>
            <div class="ref_id"><%= user.reference %></div>
            <% if user.subscribed? %>
              <div class="ref_id"><%= "subscribed" %></div>
            <% else %>
              <div class="faint_text_format"><%= "unsubscribed" %></div> 
            <% end %>
          </div>
          <div class="tablecell">
            <div class="main_text_format">e: <%= mail_to "#{user.email}", "#{user.email}" %></div>
            <div class="faint_text_format"><%= user.profession %></div>
            <div class="faint_text_format">london, united kingdom</div> 
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Role</div> 
            <div class="main_text_format"><%= user.category_role.name %></div>
          </div>
          <div class="tablecell">
            <div class="faint_text_format">Group</div> 
            <div class="main_text_format"><%= user.category_managementgroup.name %></div>
          </div>
          <div class="tablecell">
            <div class="overall_rate">
              <div>Rate</div>
              <div><%= number_with_precision(user.overall_ratings, precision: 1) %></div>
            </div>
          </div>
          <div class="tablecell">
            <div>
              <span class="main_text_format"><%= user.socials.live_socials.open_socials.count %></span>
              <span class="faint_text_format"> :Created Socials</span> 
            </div>
            <div>
              <span class="main_text_format"><%= user.events.live_events.open_events.count %></span>
              <span class="faint_text_format"> :Created Events</span> 
            </div>
          </div>
          <div class="tablecell">
            <div>
              <span class="main_text_format"><%= user.attending_socials.live_socials.open_socials.count %></span>
              <span class="faint_text_format"> :Attending Socials</span> 
            </div>
            <div>
              <span class="main_text_format"><%= @events.booked_events(user).live_events.open_events.count %></span>
              <span class="faint_text_format"> :Booked Events</span> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="status_pending_content" class="hide">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">all registered users_other</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
      </div>
      <%# @applications.order(created_at: :desc).applicant_pending.each do |application| %>
        <%# if application.advert.active_open_advert %>
          <div class="tablerow">
            <div class="tablecell">
              <div class="banner_wrapper_index">
                <%# if userr_signed_in? %>
                  <%# if current_userr.admin_pa_management_group %>
                    <%# if application.advert.fake? %>
                      <div class="banner_ribbon_wrapper_green_index">
                        <div class="banner_ribbon_name_index">DUMMY</div>
                      </div>
                    <%# end %>
                  <%# end %>
                <%# end %>
              </div>​
              <span data-tooltip aria-haspopup="true" class="tip-bottom" title="view applicant's application"><span class="user_name"><%# link_to "#{application.userj.firstname} #{application.userj.lastname}", application %></span></span>
              <div class="user_location"><%# link_to "#{application.userj.category_country.name}, #{application.userj.city}", application %></div>
              <div><span class="faint_text_main">applied:</span> <span class="applied_job"><%# link_to "#{application.advert.title}", userr_advert_path(application.advert.userr, application.advert) %></span></div>
              <div><span class="applied_date">date applied: <%# application.created_at.strftime("%b %d, %Y") %></span></div>
            </div>
            <div class="tablecell"><div><span class="advert_title"><%# link_to truncate("#{application.advert.title}", length: 30), rabbit_advert_path(application.advert) %></span><br/><span class="faint_text"><%# link_to "#{application.advert.category_country.name}, #{application.advert.city}",  userr_advert_path(application.advert.userr, application.advert) %></span></div><div><span class="ref_title">reference #:</span> <span class="ref_id"><%# application.advert.reference %></span></div><div class="created_by">created by: <%# link_to "#{application.advert.userr.firstname} #{application.advert.userr.lastname}", userr_path(@userr) %></div><div>created: <%# application.advert.created_at.strftime("%b %d, %Y") %></div></div>
            <div class="tablecell"><div><%# application.advert.category_jobtype.name %></div><div>seeking: <%# application.advert.category_positiontype.name %></div></div>
            <div class="tablecell"><%# application.advert.currency %> <%# application.advert.category_price.name %><br/><%# application.advert.category_period.name %></div>
            <div class="tablecell"><div>Advert Deadline</div><div><%# application.advert.appdeadline.strftime("%b %d, %Y") %></div></div>
            <div class="tablecell">
              <div class="job_match_stat">
                <div>Match</div>
                <div><%# number_to_percentage(application.match_percentage(application.advert), precision: 0) %></div>
              </div>
            </div>

            <div class="tablecell">
              <div>Application Status</div>
              <div>
                <%# if application.pending %>
                  <div class="status_app_result status_colour_blue"><%# "pending" %></div>
                <%# elsif application.accepted %>
                  <div class="status_app_result status_colour_green"><%# "hired" %></div>
                <%# elsif application.rejected %>
                  <div class="status_app_result status_colour_red"><%# "rejected" %></div>
                <%# elsif application.interview %>
                  <div class="status_app_result status_colour_yellow"><%# "interview" %></div>
                <%# elsif application.shortlisted %>
                  <div class="status_app_result status_colour_bluelight"><%# "shortlisted" %></div>
                <%# end %>
              </div>
              <div class="new"><%# link_to 'view', application, target: "_blank" %></div>
            </div>
          </div>
        <%# end %>
      <%# end %>
    </div>
  </div>
</div>

<div id="status_hired_content" class="hide">
  <div class="bottom_inner_content">
    <div class="table">
      <div class="tablerow">
        <div class="tablecell header background">hired applicants</div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
        <div class="tablecell background"></div>
      </div>
      <%# @applications.applicant_accepted.each do |application| %>
        <%# if application.advert.active_open_advert %>
          <div class="tablerow">
            <div class="tablecell">
              <div class="banner_wrapper_index">
                <%# if userr_signed_in? %>
                  <%# if current_userr.admin_pa_management_group %>
                    <%# if application.advert.fake? %>
                      <div class="banner_ribbon_wrapper_green_index">
                        <div class="banner_ribbon_name_index">DUMMY</div>
                      </div>
                    <%# end %>
                  <%# end %>
                <%# end %>
              </div>​
              <span data-tooltip aria-haspopup="true" class="tip-bottom" title="view applicant's application"><span class="user_name"><%# link_to "#{application.userj.firstname} #{application.userj.lastname}", application %></span></span>
              <div class="user_location"><%# link_to "#{application.userj.category_country.name}, #{application.userj.city}", application %></div>
              <div><span class="faint_text_main">applied:</span> <span class="applied_job"><%# link_to "#{application.advert.title}", userr_advert_path(application.advert.userr, application.advert) %></span></div>
              <div><span class="applied_date">date applied: <%# application.created_at.strftime("%b %d, %Y") %></span></div>
            </div>
            <div class="tablecell"><div><span class="advert_title"><%# link_to truncate("#{application.advert.title}", length: 30), rabbit_advert_path(application.advert) %></span><br/><span class="faint_text"><%# link_to "#{application.advert.category_country.name}, #{application.advert.city}",  userr_advert_path(application.advert.userr, application.advert) %></span></div><div><span class="ref_title">reference #:</span> <span class="ref_id"><%# application.advert.reference %></span></div><div class="created_by">created by: <%# link_to "#{application.advert.userr.firstname} #{application.advert.userr.lastname}", userr_path(@userr) %></div><div>created: <%# application.advert.created_at.strftime("%b %d, %Y") %></div></div>
            <div class="tablecell"><div><%# application.advert.category_jobtype.name %></div><div>seeking: <%# application.advert.category_positiontype.name %></div></div>
            <div class="tablecell"><%# application.advert.currency %> <%# application.advert.category_price.name %><br/><%# application.advert.category_period.name %></div>
            <div class="tablecell"><div>Advert Deadline</div><div><%# application.advert.appdeadline.strftime("%b %d, %Y") %></div></div>
            <div class="tablecell">
              <div class="job_match_stat">
                <div>Match</div>
                <div><%# number_to_percentage(application.match_percentage(application.advert), precision: 0) %></div>
              </div>
            </div>
            <div class="tablecell">
              <div>Application Status</div>
              <div>
                <%# if application.pending %>
                  <div class="status_app_result status_colour_blue"><%# "pending" %></div>
                <%# elsif application.accepted %>
                  <div class="status_app_result status_colour_green"><%# "hired" %></div>
                <%# elsif application.rejected %>
                  <div class="status_app_result status_colour_red"><%# "rejected" %></div>
                <%# elsif application.interview %>
                  <div class="status_app_result status_colour_yellow"><%# "interview" %></div>
                <%# elsif application.shortlisted %>
                  <div class="status_app_result status_colour_bluelight"><%# "shortlisted" %></div>
                <%# end %>
              </div>
              <div class="new"><%# link_to 'view', application, target: "_blank" %></div>
            </div>
          </div>
        <%# end %>
      <%# end %>
    </div>
  </div>
</div>

<div class="clear"></div>