<span class="btn_follow">
<% if current_user.following?(user) %>
    <span class="icon_user_refresh">
      <!-- render 'user_unfollow' -->
      <%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }, remote: true) do |f| %>
        <%= button_tag type: 'submit', class: "", id: "" do %>
          <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right" title="Un-Follow">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          </span>
        <% end %>
      <% end %>
    </span>
  <% else %>
    <span class="icon_user">
      <!-- render 'user_follow' -->
      <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :followed_id, user.id %></div>
        <%= button_tag type: 'submit', class: "", id: "" do %>
          <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right" title="Follow">
          <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        <% end %>
      <% end %>
    </span>
  <% end %>
</span>