<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :profession %>
    <%= f.association :category_gender, collection: CategoryGender.all, prompt: "select a category", label: "Gender" %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
