<div class= "medium-12 columns user_general_settings_section user_main_form_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{@user.firstname}", user_path(@user)%></span> <span class="fwd_sign">></span> <span>edit profile</span>
      </div>
      <div class="user_general_settings_inner_section user_edit_update_form">
        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <!-- user_image -->
            <div class="image_container">
              <div class="image_header">upload profile image</div>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <%= f.file_field :image, type: 'file', id: "imageUpload", accept: ".png, .jpg, .jpeg" %>
                  <%= f.hidden_field(:image_cache) %>
                  <label for="imageUpload"></label>
                </div>

                <div class="avatar-preview">
                  <% if @user.image.present? %>
                    <span class="current_image_cover">
                      <span class="current_image"><%= cl_image_tag("#{@user.image}") %></span>
                    </span>
                  <% end %>
                  <div id="imagePreview" style="background-image: url(https://res.cloudinary.com/childmindrnet/image/upload/v1561111366/profile%20images/rhihx4rzxdet0mi9n8iz.png);"></div>
                </div>
              </div>
            </div>
            <!-- user_image -->

            <%= f.input :firstname, label: "First Name", placeholder: "first name" %>
            <%= f.input :lastname, label: "Last Name", placeholder: "last name" %>
            <div class="clear"></div>
            <%= f.input :profession, placeholder: "risk management" %>
            <%= f.association :category_gender, collection: CategoryGender.all, prompt: "select a category", label: "Gender" %>
            <div class="clear"></div>
            <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a category", label: "Country" %>
            <%= f.input :city, placeholder: "London" %>
            <div class="clear"></div>
            <div class="label_interest">interest</div>
            <%= f.text_field :tag_list, value: @user.tag_list.to_s, placeholder: "chess, jogging, dogs, skipping, gym, startups, entreprenuers, jazz..." %>
            <%= f.input :description, label: "about me", placeholder: "Tell us a bit about yourself, what you like doing and where you like going." %>
            <%= f.input :link_fb, label: "facebook link", placeholder: "https://www.facebook.com/username" %>
            <%= f.input :link_twitter, label: "twitter link", placeholder: "https://twitter.com/username" %>
            <div class="clear"></div>
            <div class="invite_option"><%= f.association :category_inviteoption, collection: CategoryInviteoption.all, prompt: "select a category", label: "I would like to receive invites from:" %></div>

            <% if current_user.admin_pa_management_group  %>
              <div class="admin_content">
                <div>
                  <%= f.input :host_description, placeholder: "Event Host Description" %>
                </div>
              </div>
            <% end %>

            <% if current_user.admin_pa_management_group %>
              <div class="admin_content">
                <div class="current_role_group">
                  <span><i class="fa fa-user" aria-hidden="true"></i></span>
                  <span>User Current Role & Group [<%= "#{@user.firstname} #{@user.lastname}" %>]: </span>
                  <span class="current_role_group_info">
                    <span><%= @user.category_role.name %></span>
                    <span>|</span>
                    <span><%= @user.category_managementgroup.name %></span> 
                  </span>
                </div>
                <div class="select_role_group">
                  <%= f.association :category_role, collection: CategoryRole.all, prompt: "select a category", label: "Role" %>
                  <%= f.association :category_managementgroup, collection: CategoryManagementgroup.all, prompt: "select a category", label: "Management Group" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update Profile" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>

