<div class="members_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns member_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="member_container">
            <ul>
              <!-- members -->
              <% @users.each do |user| %>
                <%= link_to "#{user.firstname} #{user.lastname}", user %>
                <%= user.birthdate %>
                <%= user.category_gender.name %>
                <%= user.profession %>
                <%= user.description %>
                <%= user.email %>
              <% end %>
              <!-- members -->
              <!-- members_old -->
              <table>
                <thead>
                  <tr>
                    <th>name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Profession</th>
                    <th>email</th>
                    <th>Description</th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= link_to "#{user.firstname} #{user.lastname}", user %></td>
                      <td><%= user.birthdate %></td>
                      <td><%= user.category_gender.name %></td>
                      <td><%= user.profession %></td>
                      <td><%= user.description %></td>
                      <td><%= user.email %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- members_old -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


