<div class="members_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <%= search_form_for(@search) do |f| %>
        <ul class="search_fields_left">
          <li class="field select_role"><%= f.select :category_role_id_eq, options_from_collection_for_select(CategoryRole.all, "id", "name", @search.category_role_id_eq), prompt: "Role" %></li>
          <li class="field select_mgtgroup"><%= f.select :category_managementgroup_id_eq, options_from_collection_for_select(CategoryManagementgroup.all, "id", "name", @search.category_managementgroup_id_eq), prompt: "Group" %></li>
        </ul>   

        <ul class="search_fields_right">
          <li><%= f.submit 'search' %></li> 
          <li class="field btn_all">
            <%= link_to users_path do %>
              <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="field select_user_name"><%= f.text_field :firstname_or_lastname_cont, placeholder: 'search firstname or lastname eg: kofi'%></li>
        </ul>        
        <% end %>
      </div>
    </div>
    <% end %>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns member_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
            <!-- members -->
            <% if @users.blank? %>
              <div><%= render 'shared/content_search_no_result' %></div>
            <% else %>
              <ul class="inline-list">
                <% @users.desc_order.each do |user| %>
                  <% if current_user.subscribed? || current_user.admin_pa_management_group %>
                    <li class="medium-3 columns member_container user_subscribed">
                      <div class="medium-12 columns member_inner_container">
                        <div class="image_section">
                          <% if user.image_url.present? %>
                            <div class="image_cover"><%= link_to(image_tag("#{user.image_url}", :alt =>  "image", :class =>"#"), user) %></div>
                          <% else %>
                            <div class="image_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), user) %></div>
                          <% end %>
                        </div>
                        <div class="user_info">
                          <div class="user_name"><%= link_to "#{user.firstname} #{user.lastname}", user %></div>
                          <div class="user_profession"><%= truncate(user.profession, length: 25) %></div>
                        </div>
                        <div class="action_btns">
                          <% if user != current_user %>
                          <%= render partial: "form_request", locals: { user: user } %>
                          <%= render partial: "form_follow", locals: { user: user } %>
                          <% end %>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
                      <div class="user_roles">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span><%= truncate(user.category_role.name, length: 25) %></span>
                        <span class="divider"> | </span>
                        <span><%= truncate(user.category_managementgroup.name, length: 25) %></span>
                      </div>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="medium-3 columns member_container user_unsubscribed">
                      <div class="medium-12 columns member_inner_container">
                        <div class="image_section">
                          <% if user.image_url.present? %>
                            <div class="image_cover"><%= link_to(image_tag("#{user.image_url}", :alt =>  "image", :class =>"#"), subscription_path(@premium_plan)) %></div>
                          <% else %>
                            <div class="image_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), subscription_path(@premium_plan)) %></div>
                          <% end %>
                        </div>
                        <div class="user_info">
                          <div class="user_name"><%= link_to "#{user.firstname} #{user.lastname}", subscription_path(@premium_plan) %></div>
                          <div class="user_profession"><%= truncate(user.profession, length: 25) %></div>
                        </div>
                        <div class="action_btns">
                          <%= link_to subscription_path(@premium_plan) do  %>
                            <% if user != current_user %>
                            <%= render partial: "form_request", locals: { user: user } %>
                            <%= render partial: "form_follow", locals: { user: user } %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
                      <div class="user_roles">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span><%= truncate(user.category_role.name, length: 25) %></span>
                        <span class="divider"> | </span>
                        <span><%= truncate(user.category_managementgroup.name, length: 25) %></span>
                      </div>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              <ul/>
            <% end %>
            <div class="clear"></div>
            <!-- members -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


