<div class= "medium-12 columns user_general_settings_section user_main_membership_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content goes here -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span>membership</span>
      </div>
      <div class="user_membership_section">


        <div class="membership_status_container">
          <ul>
            <li class="subscription_status_li">
              <span class="subscription_status">
                <div class="text_info">you are currently a</div>
                <div class="text_status_info">
                  <% if current_user.subscribed_access? %>
                    <span><i class="fa fa-trophy" aria-hidden="true"></i></span>
                    <span>premium member</span>
                  <% else %>
                    <span><i class="fa fa-certificate" aria-hidden="true"></i></span>
                    <span>basic member</span>
                  <% end %>
                </div>
              </span>
            </li>
            <li class="subscription_date_li">
              <% if current_user.subscribed_access? %>
                <div class="text_info">subscription date</div>
                <div class="subscription_date">
                  <div><%= current_user.recent_subscription_pymt_date.strftime("%a, %d %b %Y") %> | <%= current_user.recent_subscription_pymt_date.strftime("%I:%M %p") %></div>
                </div>
              <% else %>
                <div class="text_info">subscription date</div>
                <div class="subscription_date">
                  <div>you currently have no subscription</div>
                </div>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="subscribe_unsubscribe_conatiner">
          <% if current_user.subscribed_access? %>
            <div class="sub_btn cancel_sub"><%= link_to "cancel subscription", "#" %></div>
          <% else %>
            <div class="sub_btn start_sub"><%= link_to "subscribe now!", subscription_path(@premium_plan)%></div>
          <% end %>
        </div>

        <div class="subscription_notes">
          <% if current_user.subscribed_access? %>
            <div class="subscribed_memeber"></div>
          <% else %>
            <div class="unsubscribed_memeber">
              <div>premium membership</div>
              <div>With our Premium plans you will get the most out of our spefz community. Attend and host socials, send messages, meet new people and much more.</div>
              <div>
                <ul>
                  <li>PREMIUM offers access to a range of free socials and events</li>
                  <li>Be part of a fun friendly community - meet like minded people</li>
                  <li>Access to a range of Exclusive Benefits</li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>




      </div>
    </div>
  </div>
</div>
<!-- right_column_section -->
