<div class="user_attending_save_created_section">
  <div class="medium-12 columns attending_save_created_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <ul class="search_fields_left">
          <li>
            <%= link_to live_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>my socials [<%= current_user.socials.count %>]</span>
            <% end %>
          </li>
          <li> 
            <%= link_to attending_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>attending [<%= (current_user.attending_socials.live_socials.open_socials.count) + (Event.live_events.open_events.booked_events(current_user).count) %>]</span>
            <% end %>
          </li>
          <li class="active">
            <%= link_to saved_socials_user_path(current_user) do %>
              <i class="fa fa-server" aria-hidden="true"></i>
              <span>saved [<%= (current_user.favourite_socials.live_socials.open_socials.count) + (current_user.favourite_events.live_events.open_events.count) %>]</span>
            <% end %>
          </li>
        </ul> 
      </div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_socials_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <!-- sub_tab_headings -->
          <div class="medium-12 columns sub_tab_headings_container">
            <ul>
              <li>
                <%= link_to saved_socials_user_path(current_user), class: "btn btn_attending active" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>saved socials [<%= current_user.favourite_socials.live_socials.open_socials.count %>]</span>
                <% end %>
              </li>
              <li>
                <%= link_to saved_events_user_path(current_user), class: "btn btn_attending" do %>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  <span>saved events [<%= current_user.favourite_events.live_events.open_events.count %>]</span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- sub_tab_headings -->

          <!-- saved_socials -->
          <% if current_user.favourite_socials.live_socials.open_socials.present? %>
            <% current_user.favourite_socials.live_socials.open_socials.each do |social| %>
              <ul class="inline-list">
                <div class="social_event_list">
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-star">
                      <i class="fa fa-calendar"></i>
                    </div> 
                    <div class="cd-timeline-content">
                      <ul>
                        <li class="left_side">
                          <!-- social_event_left_side -->
                          <div class="image_content right_side_content">
                            <div class="social_event_feed_img_cover">
                              <% if social.user.image.present? %>
                                <%= link_to(cl_image_tag(social.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(social.user)) %>
                              <% else %>
                                <%= link_to(image_tag("img-profile-image-default.png"), user_path(social.user)) %>
                              <% end %>
                            </div>
                          </div>
                          <!-- social_event_left_side -->
                        </li>
                        <li class="right_side">
                          <!-- social_event_right_side -->
                          <div class="right_side_content">
                            <div class="title"><%= link_to social.title, social_path(social) %></div>
                            <div class="host">
                              <span>Hosted by</span>
                              <span><%= link_to social.user.firstname, social.user if social.user %></span>
                            </div>
                            <div class="social_event_content">
                              <div class="image_cover">
                                <!-- sold out -->
                                <% if social.sold_out? %>
                                  <div class="banner">
                                    <div class="ribbon-wrapper-green">
                                      <div class="ribbon-green">sold out</div>
                                    </div>
                                  </div>
                                <% end %>
                                <!-- sold out -->
                                <span><%= link_to(cl_image_tag(social.image, :transformation=>[{:gravity=>"center", :width=>150, :height=>105, :crop=>"fill"}]), social_path(social)) %></span>
                              </div>
                              <div class="social_event_details">
                                <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= social.date.strftime("%A, %d %b") %> <span class="mid_divider">|</span> <%= social.time.strftime("%I:%M %p") %></div>
                                <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= social.city %>, <%= social.category_country.name %></div>
                                <div class="info">
                                  <span><i class="fa fa-male" aria-hidden="true"></i> <%= social.category_age.name %></span>
                                  <span class="mid_divider">|</span>
                                  <span class="category">Category:</span> 
                                  <span class="category_info"><%= link_to "#{social.category_topic.name}", socials_path(q: {category_topic_name_eq: social.category_topic.name}) %></span>
                                </div>
                                <div class="divider"></div>
                                <div class="description"><%= truncate(social.description, length: 200) %></div>
                                <div class="attendance">
                                  <div>
                                    <% if social.sold_out? %>
                                      <ul>
                                        <% social.attendances.limit(6).each do |attendant| %>
                                          <li>
                                            <% if attendant.user.image.present? %>
                                              <%= link_to(image_tag(attendant.user.image_url, :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                            <% else %>
                                              <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                            <% end %>
                                          </li> 
                                        <% end %>
                                      </ul>
                                    <% else %>
                                      <ul>
                                        <% social.attendances.order(created_at: :desc).limit(5).each do |attendant| %>
                                          <li>
                                            <% if attendant.user.image.present? %>
                                              <%= link_to(cl_image_tag(attendant.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), user_path(attendant.user)) %>
                                            <% else %>
                                              <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                            <% end %>
                                          </li> 
                                        <% end %>
                                        <li class="remaining_places" style="margin-right: 0px;">
                                          <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right" title="<%="#{social.available_places_BothAndOnly_men_and_women}"%> places left">
                                            <%= link_to "+#{social.available_places_BothAndOnly_men_and_women}", social_path(social), class: "#" %>
                                          </span>
                                        </li>
                                      </ul>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- social_event_right_side -->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              <ul/>
            <% end %>
          <% else %>
            <%= render "shared/content_no_result_saved_socials" %>
          <% end %>
          <div class="clear"></div>
          <!-- saved_socials -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


