<div class="medium-12 columns users_profile_page_section">

  <!-- upper section -->
  <div class="upper_section">
    <div class="profile_banner">
      <div class="profile_inner_banner">
        <div class="upper_profile_content">
          <div class="profile_img_main_cover"><%= image_tag("img-profile-image.png") %></div>
          <div class="user_name">richill artloe</div>
          <div class="user_location">
            <i class="fa fa-map-pin" aria-hidden="true"></i> <span>london</span>, <span>united kingdom</span>
            <span class="divider">|</span>
            <i class="fa fa-suitcase" aria-hidden="true"></i> <span>software engineer</span>
          </div>
          <div class="clear"></div>
          <div class="user_social_icons"><span class="socialicon_cover_fb"><%= link_to '', '#', class: "fa fa-facebook" %></span> <span class="socialicon_cover_tt"><%= link_to '', '#', class: "fa fa-twitter" %></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- middle section -->
  <div class="middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li>48 followers</li>
        <li>12 past events</li>
        <li>10 up coming events</li>
      </ul>

      <ul class="inline-list right">
        <li>follow</li>
        <li>add as friend</li>
        <li>invite to event</li>
      </ul>
    </div>
  </div>

  <!-- lower section -->
  <!-- <div class="lower_section"></div> -->
</div>

<div>i am the proile page - show.html.erb</div>
<div><%= link_to "socials", events_path %></div>
<div><%= link_to "edit profile", edit_user_path(current_user) %></div>
<div><%= link_to "sign out", destroy_user_session_path, method: :delete  %></div>