<div class="medium-12 columns users_profile_page_section">

  <!-- upper section -->
  <div class="medium-12 columns upper_section">
    <div class="profile_banner">
      <div class="profile_inner_banner">
        <div class="header"><%= render 'shared/header' %></div>
        <div class="upper_profile_content">
          <div class="profile_img_main_cover"><%= image_tag("img-profile-image.png") %></div>
          <div class="user_name">richill artloe</div>
          <div class="user_location">
            <i class="fa fa-map-pin" aria-hidden="true"></i> <span>london</span>, <span>united kingdom</span>
            <span class="divider">|</span>
            <i class="fa fa-suitcase" aria-hidden="true"></i> <span>software engineer</span>
          </div>
          <div class="clear"></div>
          <div class="user_social_icons"><span class="socialicon_cover_fb"><%= link_to '', '#', class: "fa fa-facebook" %></span> <span class="socialicon_cover_tt"><%= link_to '', '#', class: "fa fa-twitter" %></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- middle section -->
  <div class="medium-12 columns middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li><span class="header">followers:</span> <span class="content">150</span></li>
        <li><span class="header">past events:</span> <span class="content">15</span></li>
        <li><span class="header">upcoming events:</span> <span class="content">10</span></li>
      </ul>
      <ul class="inline-list right">
        <li class="btn btn_follow"><%= link_to "follow", "#" %></li>
        <li class="btn btn_friend"><%= link_to "add as friend", "#" %></li>
        <li class="btn btn_invite"><%= link_to "invite to social", "#" %></li>
      </ul>
    </div>
  </div>

  <!-- lower section -->
  <div class="medium-12 columns lower_section">
    <div class="lower_inner_section">
      <!-- left column -->
      <div class="medium-3 columns column_left">
        <div class="medium-12 columns left_container">
          <div class="medium-12 columns left_inner_container aboutme_container">
            <div class="header"><div class="header_content"><i class="fa fa-user" aria-hidden="true"></i> about me</div></div>
            <div class="content"><div class="content_info">my name is richill and Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div></div>
          </div>
        </div>
        <div class="medium-12 columns left_container">
          <div class="medium-12 columns left_inner_container interest_container">
            <div class="header"><div class="header_content"><i class="fa fa-street-view" aria-hidden="true"></i> interests</div></div>
            <div class="content">
              <div class="content_info">
                <ul class="tags">
                  <li><%= link_to 'tag', '#' %></li>
                  <li><%= link_to 'tag name', '#' %></li>
                  <li><%= link_to 'dogs', '#' %></li>
                  <li><%= link_to 'skipping', '#' %></li>
                  <li><%= link_to 'gym', '#' %></li>
                  <li><%= link_to 'startups', '#' %></li>
                  <li><%= link_to 'entreprenuers', '#' %></li>
                  <li><%= link_to 'jazz', '#' %></li>
                  <li><%= link_to 'soul', '#' %></li>
                  <li><%= link_to 'classics', '#' %></li>
                  <li><%= link_to 'love', '#' %></li>
                  <li><%= link_to 'travelling', '#' %></li>
                  <li><%= link_to 'dancing', '#' %></li>
                  <li><%= link_to 'music', '#' %></li>
                  <li><%= link_to 'programming', '#' %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- middle column -->
      <div class="medium-6 columns column_middle">
        <div class="left_container middle_container">
          <div class="medium-12 columns middle_inner_container">
            <div class="medium-12 columns header">
              <div class="medium-4 columns header_content evts_feed">feed</div>
              <div class="medium-4 columns header_content evts_upcoming">upcoming events</div>
              <div class="medium-4 columns header_content evts_past">past events</div>
            </div>
            <div class="clear"></div>
            <div class="content">
              <div class="content_info evts_feed_content hide"><%= render 'shared/content_users_feed' %></div>
              <div class="content_info evts_upcoming_content"><%= render 'shared/content_users_upcomingevents' %></div>
              <div class="content_info evts_past_content hide"><%= render 'shared/content_users_pastevents' %></div>
            </div>
          </div>
        </div>
      </div>


      <!-- right column -->
      <div class="medium-3 columns column_right">
        <div class="medium-12 columns right_container">
          <div class="medium-12 columns right_inner_container network_container">
            <div class="header"><div class="header_content"><i class="fa fa-user" aria-hidden="true"></i> about me</div></div>
            <div class="content"><div class="content_info">my name is richill and Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hide">
  <div>i am the proile page - show.html.erb</div>
  <div><%= link_to "socials", events_path %></div>
  <div><%= link_to "edit profile", edit_user_path(current_user) %></div>
  <div><%= link_to "sign out", destroy_user_session_path, method: :delete  %></div>
</div>


