<div>
  <div><h1><%= @user.firstname %></h1> <b>socials:</b> <%= @user.socials.count %></div>
  <div><%= link_to "view my profile", @user %></div> <br/>

  <div>
    <%= render 'shared/stats' %>
    
    <% if @users.present? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
          <%= link_to user.image_url, user %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h3><%= @title %></h3>
    <% if @users.present? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
  </div>

</div>
