<div class="content_venue_imgs_container">
  <div>
    <ul>
      <li>
        <a href="#" data-reveal-id="myModal-event-venue-image"><%= cl_image_tag(@event.imgvenue_one, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></a>
        <span><%= render 'shared/modal_venue_images' %></span>
      </li>
      <li class="middle_img">
        <a href="#" data-reveal-id="myModal-event-venue-image"><%= cl_image_tag(@event.imgvenue_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></a>
        <span><%= render 'shared/modal_venue_images' %></span>
      </li>
      <li>
        <a href="#" data-reveal-id="myModal-event-venue-image"><%= cl_image_tag(@event.imgvenue_three, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></a>
        <span><%= render 'shared/modal_venue_images' %></span>
      </li>
    </ul>
  </div>
</div>