<div class="users_network_section">
  <div>
    <ul class="inline-list">
      <li><%= link_to (image_tag("img-profile-image.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_02.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_03.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_04.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_13.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_06.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_07.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_08.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_09.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_10.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_11.png")), "#" %></li>
      <li><%= link_to (image_tag("img_profile_12.png")), "#" %></li>
    </ul>
  </div>
</div>