<div class="user_activity_inner_section">
  <div class="background_main">
    <section id="cd-timeline" class="cd-container">
      <% @activities_user.each do |activity| %>
        <% if activity.key == "social.create" %>
        <ul class="inline-list">
          <li style="width:100%;"><%= render partial: "shared/content_users_feed_activities", locals: { activity: activity } %></li>
        </ul>
        <% end %>
      <% end %>

      <% if current_user.id == @user.id %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-star">
            <i class="fa fa-star"></i>
          </div> 
          <div class="cd-timeline-content">
            <h2>Welcome <%= @user.firstname %> to Spefz!</h2>
            <p>
              Hi <%= @user.firstname %>! we are excited to welcome you to spefz! We are passionate about connecting people like you via experiences. Explore new socials & discussions, connect with like minded people and Discover new places. Get connected and re-discover your surroundings…
            </p>
            <span class="cd-date"><%= @user.created_at.strftime("%B %d, %Y") %>  | <%= @user.created_at.strftime("%I:%M %p") %></span><br/>
            <div class="cd-posted">The Spefz Team</div>
          </div>
        </div>
      <% else %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-star">
            <i class="fa fa-users"></i>
          </div> 
          <div class="cd-timeline-content">
            <h2>Connect with <%= @user.firstname %>!</h2>
            <p>
              Hi <%= current_user.firstname %>! connect with <%= @user.firstname %>. Follow or send a Request to get connceted, or simply discover socials <%= @user.firstname %> is attending and tag along! We are passionate about connecting like minded people via experiences. Explore new socials and meet new friendly faces!
            </p>
            <span class="cd-date"><%= @user.created_at.strftime("%B %d, %Y") %>  | <%= @user.created_at.strftime("%I:%M %p") %></span><br/>
            <div class="cd-posted">The Spefz Team</div>
          </div>
        </div>
      <% end %>
    </section> 
  </div>
</div>