<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Terms <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "Terms of Service", terms_path %></li> 
                <li class="active"><%= link_to "Privacy Policy", terms_privacy_path %></li>
                <li><%= link_to "Cookie Policy", terms_cookie_policy_path %></li>
                <li><%= link_to "GDPR Compliance", terms_gdpr_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>privacy policy</h1>
            <div class="terms_date">Revised: March, 2018</div>
            <div class="terms_content_info">
              <p>Spefz Limited are committed to protecting and respecting your privacy.</p>

              <p>This policy (together with our terms of website use and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.</p>

              <p>For the purpose of the Data Protection Act 1998 (the “Act”), the data controller is Spefz Limited, registered in England and Wales under the company number 10600699.</p>

              <p><b>Information we may collect from you</b> We may collect and process different types of information about you. Some of this data is considered to be Personal Data (that means you can be identified by it including Sensitive Personal Data) and Anonymous Data (that is data that you cannot be identified from).
                <ul>
                  <li>Information that you provide by filling in forms on our site, spefz.com or on any mobile applications we may provide (together “our site”). This includes information provided at the time of registering to use our site, subscribing to our service, posting material or requesting further services.</li>
                  <li>We may also ask you for information when you report a problem with our site.</li>
                  <li>If you contact us, we may keep a record of that correspondence.</li>
                  <li>We may also ask you to complete surveys that we use for research purposes, although you do not have to respond to them.</li>
                  <li>Details of transactions you carry out through our site and of the fulfilment of your orders.</li>
                  <li> Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</li>
                  <li>Information we collect when you sign up to our Services: We will collect your personal details including but not limited to your real name, user name, address, telephone, email address, date of birth, race, religion, sexual orientation and any other information you submit when you create a profile and sign up to our Services</li>
                  <li>Data we collect in respect of customer service and support: If you contact customer support we will keep any information you provide to us including records of correspondence. If you provide feedback to us, or take part in any customer survey, or participate in competitions we, we will keep any information you provide.</li>
                  <li>Data we collect/you upload from your activity across our Services: When you use our Services to search for other users, explore our Services, or interact with other users, we will gather data related to these activities including: Any information you populate your profile with including photographs (see also – Important Notice about how we use your photos); Any messages that you send or receive through our sites; A record of your activity including winks, block lists and search histories for example is also stored by us; Details of any transactions that you carry out, including any information we require to provide the products or services that you sign up to; Data from your other social network accounts if they are linked to our sites (see more details below – Information we collect from other social networks you use); Your location according to the IP address assigned to your computer machine or mobile device by your Internet Service Provider, and mobile location data (see more details below – Information we collect about your location) Usage data about how you use our site, this is what we consider Anonymous Data, which we collect using Cookies (see more details below – Our Cookie Policy)</li>
                  <li>Information we collect from other social networks that you use: Some of our Services have the ability to link your use of the Services to other social networks you might have access to. If you have an account with another social network e.g. Facebook, you can share the data you have on our site with that network. To enhance your experience and create a personalised service we may ask you to login to your Facebook account. By doing so you grant us access to your information stored on your Facebook profile including without limitation your personal information, photographs, videos, interests and locations. When you login to the other network or install our app, we will receive the basic information from you including but not limited to your name, photos, gender, networks, user ID, friends list and any other information you make public and your email address. If you have logged into other social networks and linked them to any of our profiles you grant permission for us to post updates, including location information, on your behalf therefore please exercise caution.</li>
                  <li>Information we collect about your location: We can collect location data from your computer and/or mobile device. When accessing the Services from a mobile device you will be given the option to allow location sharing with our application. If you do not wish to share your location data with us please turn off this feature by following your mobile device instructions to do so. We can track your IP address if you are using a computer to access the Services. If you are using a mobile device we use GPS with an accuracy range of 20 to 100 metres. Although location data is anonymous and can’t identify you, it can be shown to other users so please exercise caution if you do not wish to publicise your location. We also use your location data to research our own Services, develop new products and improve our Services, including using third parties to help us either provide the Services to you or develop new ones, and target advertising to suit your user experience. Your devices can give us lots of information about the device including the brand, model, version of operating system, installed app details, email accounts, mobile carrier and so on. We may also connect your account with location data from Foursquare and can show your Foursquare check ins on our map within some of our Services.</li>
                  <li>Information we collect about your Contacts: Some features of the Services allow you to share your user experience with people you know (“your Contacts”), or to invite them to join the Services. When given the option to do so you can choose to upload your Contacts information; we will request their name and email address. If you give us your password to upload these Contacts through a web based email provider we shall not store your password after you have uploaded your Contacts’ addresses. You may also choose to invite friends through your connected social networks. You assume all responsibility for ensuring that when you select a friend to be invited by email, application or SMS that the person wants to receive that invite from you.</li>
                </ul>
              </p>

              <p><b>How We Use Your Information - Over View: </b> We process data we collect from you for the following core purposes:
                <ul>
                  <li>To administer your user account with us (including notifying you of any compatible matches, tips, announcements, updates, special offers or services, should you consent to this);</li>
                  <li>To help us improve the structure, layout and usability of the Services;</li>
                  <li>To allow you to participate in any interactive features of the Services (including the features that require the mobile phone number);</li>
                  <li>To help personalise your repeat visits to and usage of the Services;</li>
                  <li>To notify you of any compatible matches or any matches who are near your location;</li>
                  <li>To provide you with information on products or services or news and offers that you request from us (see below under 'Marketing' for more information);</li>
                  <li>To provide you with information on products or services or news and offers that you request from us (see below under 'Marketing' for more information);</li>
                  <li>To answer any questions you may raise or respond to any comments you may send to us;</li>
                  <li>To notify you about changes to our service or the functionality of the Site;</li>
                  <li>To carry out market analysis and research;</li>
                  <li>To ensure that you are complying with the terms and conditions of use and to comply with our statutory and regulatory obligations.</li>
                </ul>
                Providing our products and services, We use the information we collect about you: 
                <ul>
                  <li>to fulfill your requests for our products, programs, and services;</li>
                  <li>to respond to your inquiries about our offerings;</li>
                  <li>to provide, personalize, and improve our offerings; and </li>
                  <li>to offer you other products, programs, or services from us and our affiliates, business partners, and selected third parties that we believe may be of interest to you.</li>
                </ul>
                We may also use information that we collect about you to 
                <ul>
                  <li>perform research and analysis about your use of, or interest in, our products, services, or content, or products, services, or content offered by others; or </li>
                  <li>perform research and analysis about your use of, or interest in, our products, services, or content, or products, services, or content offered by others; or </li>
                  <li>develop and display content and advertising tailored to your interests on our Website and other websites, including providing our advertisements to you when you visit other websites. </li>
                </ul>
                We use the information we collect for our online forums and communities to provide an interactive experience. We use this information to facilitate participation in these online forums and communities and, on one or more occasions, to offer you products, programs, or services. If you choose to submit content, we may publish your screen name and other information you have provided to us on our Website, the Internet, or elsewhere. We use information about you to communicate with you, including:

                <ul>
                  <li>to notify you when we make changes to our terms;</li>
                  <li>to otherwise enforce or exercise any rights in our terms; </li>
                  <li>to fulfil a request by you for an online newsletter; </li>
                  <li>to confirm purchasers you have made through our Website; or </li>
                  <li>to contact you about your account with us (including managing your account and providing you with customer support).</li>
                </ul>
                If offered, you may also choose to receive push notifications from us on your mobile device. Please note that any communications from other users are through our internal systems, which we use to match the message to you and generate an email notice without disclosing any information aside from your chosen screen name and the information contained in your profile. We use the information that you provide about others to allow us to send them invitations, gifts, cards, or other content on your behalf or through our Website. Occasionally, we also may use this information to offer products, programs, or services to them.
              </p>

              <p>When you access our Website on a mobile device, we may use the information collected for any purpose stated in this privacy policy. We use aggregate information about our users and non-personal information that we collect to improve the design, functionality, and content of our Website and to allow us to personalize your experience with our Website and offerings. We use this information
                <ul>
                  <li>to provide, maintain, personalize, protect, improve, and develop our products, programs, and services and to operate our business; </li>
                  <li>to analyze usage and performance of our Website (including to perform ad tracking and website or mobile application analytics); and </li>
                  <li>for us and our affiliates, business partners, and selected third parties to offer you products, programs, or services.</li>
                </ul>
              </p>

              <p><b>Marketing</b>
                <ul>
                  <li>When we market to you directly about our products and services: We may share your information with our Partner Sites and Group Companies to develop and deliver targeted advertising to you of our Partner Sites and Group Companies’ products and services, or to help us to prepare marketing reports. We may send you information about our Partner Sites and Group Companies’ products and services, news and offers, and selected third party products and services that we think may be of interest to you. We may do this by contacting you through your email address or mobile phone number that you have provided. Any communication received from us, as consented to by you, will clearly state that it is being sent by us. You have the option to opt-out of our marketing communications at any time (see below).</li>
                  <li>When third parties market to you (Our “third party Partner Services”): If you have consented to receive marketing communications from third parties, referred to as Partner Services, your data may be passed on to such third parties as we enter into data sharing agreements with, from time to time, for marketing and analytical reporting purposes. We cannot be held liable for the content of the third party’s communications or products/services they are promoting. If you have provided this consent, but change your mind, you can opt-out at any time (see below). Please be advised that you will also require to contact the individual third parties who have been marketing to you if you wish to stop receiving their communications directly.</li>
                  <li>Opting Out of Marketing: If you change your mind about the marketing consent you have granted to us, you can amend your preferences under the “My Account” section of your chosen Site or emailing us at <%= link_to "unsubscribe@spefz.com", contact_us_path %></li>
                </ul>
              </p>

              <p><b>IP addresses</b> We may collect information about your computer, including where available your IP address, operating system and browser type, or the type of mobile phone or smart device used, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>

              <p><b>Cookies</b> For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on your browser or the hard drive of your computer or smart device. Cookies contain information that is transferred to your computer or smart device’s hard drive. They help us to improve our site and to deliver a better and more personalized service. Some of the cookies we use are essential for the site to operate. If you register with us or if you continue to use our site, you agree to our use of cookies. Please note that any advertisers may also use cookies, over which we have no control.</p>

              <p>You can block cookies by activating the setting on your browser which allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be to access all or parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies as soon you visit our site.</p>

              <p><b>Where we store your personal data</b> The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfillment of any order, the processing of any payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>

              <p>All information you provide to us is stored on our secure servers. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>

              <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site - any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access. <u>Please note we do not store credit card details.</u></p>

              <p><b>Uses made of the information</b> We use information held about you in the following ways:
                <ul>
                  <li>To match you with suitable job roles based on the preferences you have selected when registering.</li>
                  <li>To ensure that content from our site is presented in the most effective manner for you and for your computer, mobile phone or smart device.</li>
                  <li> To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes.</li>
                  <li>To carry out our obligations arising from any contracts entered into between you and us.</li>
                  <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>
                  <li>To notify you about changes to our service.</li>
                </ul>
              </p>

              <p>We will share your personal information with third party employment businesses who have placed adverts for available job roles, and you consent to the sharing of your personal data in this way. We may also use your data, or permit selected third parties to use your data, to provide you with information about goods and services which may be of interest to you and we or they may contact you about these using the contact details you have provided at the time of registration.</p>

              <p>If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your data (the registration form). [We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day).</p>

              <p>If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your data (the registration form). [We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day).</p>

              <p><b>Disclosure of your information</b> We may disclose your personal information to any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.</p>

              <p>We may disclose your personal information to third parties:
                <ul>
                  <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
                  <li>If spefz Limited or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
                  <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of website use and other agreements; or to protect the rights, property, or safety of spefz Limited, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
                </ul>
              </p>

              <p><b>How We Keep Your Data Secure</b> Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to the Site; any transmission is at your own risk. We take reasonable administrative, physical, and electronic measures designed to safeguard and protect your information from unauthorized access or disclosure. This includes using Se-cure Sockets Layer (SSL) software, which encrypts the personal information you input, and storing your information in encrypted form behind a firewall designed to block access from outside our network. Although we use commercially reasonable efforts to safeguard the privacy of your information, transmissions on the Internet cannot be made absolutely secure. Moreover, we cannot assure you that your personal information that we collect will not be used or disclosed inconsistently with this privacy policy. We assume no responsibility or liability for disclosure of any of your in-formation due to errors in transmission, unauthorized third-party access, or other causes be-yond our reasonable control.</p>

              <p><b>How You Can Help Keep Your Data Secure</b> We have designed the Website to make it easy for you to find, connect, and interact with other members of the Website by posting information about yourself. You can also use our electronic messaging system, which allows you to communicate with other users provided you are both subscribers. We recommend and encourage you (and all our members) to think carefully about the information they disclose about themselves. We also do not recommend that you put email addresses, URLs, instant messaging details, phone numbers, full names or addresses, credit card details, national identity numbers, drivers’ license details, and other sensitive information in your profile, which is open to abuse and misuse.</p>

              <p>Please be careful about posting sensitive details about yourself on your profile such as your re-ligious denomination and health details. While you may voluntarily provide this information to us when you create your profile, including your sexual preferences and ethnic background, there is no requirement to do so. Please remember that photographs or any video clips that you post on the Website may reveal these kinds of sensitive personal data. Where you do upload and choose to tell us sensitive information about yourself, you are explicitly consenting to our processing your information and making this public to other users.</p>

              <p>When you post information about yourself or use the messaging service, the amount of personal information you share is at your own risk. In addition, these postings may appear on other web-sites or in searches on the subject matter of your posting. Whenever you voluntarily disclose personal information on publicly viewable webpages, you make that information publicly avail-able and others can collect and use that information. For example, if you post your email ad-dress, you may receive unsolicited email messages. If you post anything that is inconsistent with our terms, we reserve the right to terminate your account.</p>

              <p><b>Your rights</b> You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at <%= link_to "info@spefz.com", contact_us_path %>.</p>

              <p>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that We do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>

              <p><b>Access to information</b> The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee to meet our costs in providing you with details of the information we hold about you, and we will notify you of this fee prior to fulfilling any request you make to us.</p>

              <p><b>Changes to our privacy policy</b> Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>

              <p><b>Our Rights To Amend This Policy</b> We keep our privacy policy under regular review and will post any changes to it on this page. We encourage you to regularly review our privacy policy to make sure you are always aware of what information we collect, how we use it and under what circumstances, if any, we may share it with other parties. We may also contact you from time to time to advise of any changes if we feel such notification is necessary depending on the extent of the changes.</p>

              <p><b>Links To Other Third Party Websites</b> Our websites, apps, and promotional materials, may, from time to time, contain links to and from the websites of our third party networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>

              <p><b>Contact</b> Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <%= link_to "info@spefz.com", contact_us_path %>.</p>
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







