<div class="userprofile_dropdownbox_inner_container">
  <ul>

    <% if current_user.admin_pa_management_group || current_user.pa_administration_group || current_user.pa_event_mgt_group  %>
    <li>
      <div class="list_cover">
        <span><i class="fa fa-tasks" aria-hidden="true"></i></span>
        <span>
          <% if current_user.admin_pa_management_group %>
            <%= link_to "dashboard", dashboard_user_path(current_user) %>
          <% elsif current_user.pa_administration_group %>
            <%= link_to "dashboard", stats_blogs_user_path(current_user) %>
          <% else current_user.pa_event_mgt_group %>
            <%= link_to "dashboard", stats_socials_user_path(current_user) %>
          <% end %>
        </span>
      </div>
    </li>
    <% end %>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span><%= link_to "edit profile", edit_user_path(current_user) %></span>
      </div>
    </li>

    <li class="responsive_display_link">
      <div class="list_cover">
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <span><%= link_to "speed socials", events_path %></span>
        <span>|</span>
        <span><%= link_to "socials", socials_path %></span>
      </div>
    </li>

    <li class="responsive_display_link">
      <% if User.platform_sufficient_users %>
      <div class="list_cover">
        <span><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
        <% if current_user.image? %>
          <span><%= link_to "my matches", matches_user_path(current_user) %></span>
        <% else %>
          <span><%= link_to "my matches", image_restriction_page_path %></span>
        <% end %>
      </div>
      <% end %>
    </li>

    <li class="responsive_display_link">
      <div class="list_cover">
        <span><i class="fa fa-signal" aria-hidden="true"></i></span>
        <% if current_user.image? %>
          <span><%= link_to "activity", activities_path %></span>
        <% else %>
          <span><%= link_to "activity", image_restriction_page_path %></span>
        <% end %>
      </div>
    </li>
    
    <% if current_user.subscribed_access? %>
    <li>
      <div class="list_cover">
        <% if current_user.image? %>
          <span><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
          <span><%= link_to 'create social', new_user_social_path(current_user) %></span>
        <% else %>
          <span><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
          <span><%= link_to 'create social', image_restriction_page_path %></span>
        <% end %>
      </div>
    </li>
    <% end %>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <span><%= link_to 'my socials', live_socials_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
        <span><%= link_to 'my social cards', cards_path %></span>
      </div>
    </li>
    
    <li>
      <div class="list_cover">
        <span><i class="fa fa-users" aria-hidden="true"></i></span>
        <span><%= link_to 'network', network_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>
        <span><%= link_to 'account', account_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-cog" aria-hidden="true"></i></span>
        <span><%= link_to 'settings',settings_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <span><%= link_to 'help & support', help_path %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-power-off" aria-hidden="true"></i></span>
        <span><%= link_to "sign out", destroy_user_session_path, method: :delete  %></span>
      </div>
    </li>
  </ul>
</div>





