<div class="users_matches_section">
  <div class="medium-12 columns users_matches_inner_section">

    <!-- preference -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container"> 
        <ul class="search_fields_left">
          <% if current_user.preference.present? %>
            <li class="field preference_btn"><%= link_to "view preference", user_preference_path(current_user, current_user.preference) %></li>
            <li class="field preference_btn"><%= link_to "edit preference", edit_user_preference_path(current_user, current_user.preference) %></li>
          <% else %>
            <li class="field preference_btn"><%= link_to "create preference", new_user_preference_path(current_user) %></li>
          <% end %>
        </ul>   

        <ul class="search_fields_right">
          <% if current_user.preference.present? %>
            <li class="field btn_all">
              <%= link_to matches_user_path(current_user) do %>
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>view all matches</span>
              <% end %>
            </li>
          <% end %>
        </ul>      
      </div>
    </div>
    <!-- preference -->

    <!-- match_info -->
    <% if current_user.preference.present? %>
      <div class="medium-12 columns matches_no_result_info">
        <div class="inner_content"><i class="fa fa-info-circle" aria-hidden="true"></i> If there are no search results matching your preference consider expanding <%= link_to "your preference", edit_user_preference_path(current_user, current_user.preference) %></div>
      </div>
    <% end %>
    <!-- match_info -->

    <!-- content -->
    <div class="medium-12 columns matches_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
          <!-- members -->
          <% if current_user.preference.present? %>
            <%# if user matches based on preference form are present %>
              <ul class="inline-list">
                <% @users.all.desc_order.each do |user| %>
                  <% if current_user.matching(user) %>
                    <% unless user == current_user %>
                      <li class="medium-3 columns member_container user_subscribed">
                        <!-- subscribed banner -->
                        <div class="subie_banner_wrapper_container_index">
                          <div class="subie_banner_wrapper_index">
                            <% if current_user.admin_pa_management_group %>
                              <% if user.subscribed? %>
                                <div class="subie_banner_ribbon_wrapper_red_index">
                                  <div class="subie_banner_ribbon_name_index"></div>
                                </div>
                              <% end %>
                            <% end %>
                          </div>​
                        </div>
                        <!-- subscribed banner -->
                        <!-- dummy banner -->
                        <div class="banner_wrapper_container_index">
                          <div class="banner_wrapper_index">
                            <% if current_user.admin_pa_management_group %>
                              <% if user.category_managementgroup.name == "Dummy Group" %>
                                <div class="banner_ribbon_wrapper_green_index">
                                  <div class="banner_ribbon_name_index">DUMMY</div>
                                </div>
                              <% end %>
                            <% end %>
                          </div>​
                        </div>
                        <!-- dummy banner -->
                        <div class="medium-12 columns member_inner_container">
                          <div class="image_section">
                            <% if user.image_url.present? %>
                              <% if current_user.subscribed? || current_user.subscribed_access? %>
                                <div class="image_cover"><%= link_to(cl_image_tag(user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(user)) %></div>
                              <% else %>
                                <div class="image_cover unsunbscribed_img_cover"><%= link_to(cl_image_tag(user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(user)) %></div>
                              <% end %>
                            <% else %>
                              <div class="image_cover" style="border-radius:0px;"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), user) %></div>
                            <% end %>
                          </div>
                          <% if current_user.admin_pa_management_group %>
                            <div class="user_info_adj">
                              <div class="user_name"><%= link_to truncate(current_user.name_shortner(user), length: 15), user %></div>
                              <div class="user_profession"><%= truncate(user.profession, length: 25) %></div>
                              <div>
                                <span class="user_ref"><%= mail_to "#{user.email}", "#{user.reference}", subject: "Spefz | #{user.firstname} #{user.lastname}", class: "user_ref" %></span>
                                <span class="divider">|</span>
                                <span class="user_age">Age:  <%= user.age %></span>
                              </div>
                            </div>
                          <% else %>
                            <div class="user_info_adj">
                              <div class="user_name"><%= link_to truncate(current_user.name_shortner(user), length: 15), user %></div>
                              <div class="user_profession"><%= truncate(user.profession, length: 25) %></div>
                              <div>
                                <span class="profile_view"><%= link_to "profile", user %></span>
                                <span class="divider">|</span>
                                <span class="user_age">Age:  <%= user.age %></span>
                              </div>
                            </div>
                          <% end %>
                          <% if current_user.subscribed? || current_user.subscribed_access?  %>
                            <% if @events.live_events.open_events.booked_events(user).present? || @events.live_events.open_events.booked_events_attendinglist(user).present? || user.attending_socials.live_socials.open_socials.present? %>
                              <div class="action_btns">
                                <a href="#<%= user.id %>" data-reveal-id="<%= dom_id(user) %>_user_match_event">events</a>
                                <div><%= render partial: 'shared/modal_users_matches_events', locals: { user: user } %></div>
                              </div>
                            <% else %>
                              <div class="action_btns"><%= link_to "profile", user %></div>
                            <% end %>
                          <% else %>
                            <div class="action_btns"><%= link_to "profile", subscription_path(@premium_plan) %></div>
                          <% end %>
                        </div>
                        <div class="clear"></div>
                        <% if current_user.admin_pa_management_group || current_user.pa_administration_group %>
                        <div class="user_roles">
                          <span><i class="fa fa-user" aria-hidden="true"></i></span>
                          <span><%= truncate(user.category_role.name, length: 25) %></span>
                          <span class="divider"> | </span>
                          <span><%= truncate(user.category_managementgroup.name, length: 25) %></span>
                        </div>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              <ul/>
            <%# else %>
              <div><%# render 'shared/content_matches_no_result' %></div>
            <%# end %>
          <% else %>
            <div><%= render 'shared/content_matches_no_preference' %></div>
          <% end %>
          <div class="clear"></div>
          <!-- members -->

        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


