<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <li><%= link_to "Account & Profile", help_account_and_profile_path %></li>
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li class="active"><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>top FAQS</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p><b>Do people come to speed event alone or with friends?</b> It’s entirely up to the person whether they bring a friend or not. Most men tend to come alone whereas women usually come with a friend.</p>

              <p><b>How can I pay for a ticket to an event? What are the booking line opening hours?</b> For off-line bookings and general enquiries <%= link_to "contact us", contact_us_path %> , we are available 24/7. All requests and escalated complaints are dealt with by management, please <%= link_to "contact us", contact_us_path %> during office hours (9.30am-6pm Monday to Friday). Please note we do not accept payment by cheque or postal order</p>

              <p>If you have problems with your debit/credit card, please call us on <%= link_to "admin@spefz.com", contact_us_path %> to discuss if an alternative payment option is available. Cash payments can be made at the door (depending on availability of the event), however this will be at full price and any early bird discounts will not be applied. </p>

              <p>All socials are FREE provided you are a subscribed Premium Member</p>

              <p><b>How do I book a ticket to an event?</b> At the top of every page is a panel, where you can search events by city/type/age/date. Once you have made your selection just click the "Search" button. The next page to be displayed will show the event results from your selection. To view more information on an event just click the button "Book Now!" for the event you are interested in. This will display the full info for the event, including venue and travel info. Once you are ready to book, just click on the 'book now' button. Alternatively you can contact us on <%= link_to "admin@spefz.com", contact_us_path %> .</p>

              <p><b>How do I find out the location of a Social or and Event?</b> Just use the panel at the top of every page to choose your city, then click 'Find'. You'll then see a list of all events & socials in your city sorted by date. To view more information about the location click on the 'book now' link for an event or 'attend' link for a social to find information about the venue and the location.</p>

              <p><b>How do matches/connection and emails work?</b> For Speed Events, we do send a courtesy email or notification the next day telling you the event is open for you to connect with members that attended the speed-event. Simply log into your spefz account using your email and password. Then, just click on the "Bell Notification Icon". You will now be taken to a screen which will have your events listed on it. Click "Connect" to be connected to a memeber, if the the other member accepts your "request" you'll both be added sucessfully to each others network.</p>

              <p><b>How many memebrs will I meet at a speed-event?</b> Our maximum amount at a speed event is approximately 20. Our minimum amount is 8.</p>

              <p><b>How should I dress for a speed-event?</b> Mianly casual smart but wear what you feel comfortable in. Many people will be coming straight from work so suits are fine - don't forget that in speed-events first impressions counts.</p>

              <p><b>What happens when I arrive at the event?</b> When you arrive you will see a Speed-Event Host who will register you. Once everyone has arrived the Speed-Event host will explain how speed event works and answer any questions. Then the event begins. Usually women will stay seated while men rotate every four minutes when the bell rings. At the end of the evening many people stay around to chat to the people they've just met.</p>

              <p><b>What sort of people go to the spefz speed-events?</b> Most members/attendees are professionals who want to meet more people. They're generally normal, attractive people who just aren't meeting people through their work or immediate circle of friends.</p>

              <p><b>What is a social?</b> A Social is any group activity on our website. Socials are organised by our members for the rest of the community, as a means to meet up, do the things members like doing and making new friends offline.</p>

              <p>Most of the socials are organised by regular Spefz members and are pretty casual events. Members who organise socials call themselves hosts and are generally pretty awesome at bringing people together. It is polite to leave them a review after the social to let them know what you thought of it.</p>

              <p>Sometimes, we will organise Special Socials for our members. These are bigger events, that attract a lot more members and if there is one happening you should not miss out.</p>

              <p><b>How Do I Join A Social?</b> Once you’ve found a social you would like to attend simply click on the "Attend Social" link on a social page to join a social, this will ensure that your name is on the list of attendeed and you receive any info from the host of the social.</p>

              <p><b>How Do I Cancel My Place On A Social?</b> If after reseving a place at a social and you can no longer attend, clikc the link "Un-Attend Social" to Cancel Your Place. Your place will be cancelled and we'd also suggest you be nice and either post a comment on the comments board or sending a message to the host to let them know.</p>

              <p><b>Whose Activity Can I See?</b> At the moment there’s two types of Activity. "Feed" activity will allow you view all events and socials being created by all members. The "Feed Network" activity page will allow you to view all activities by only you and your network, It’s great for people with large networks who want to stay on top of everything.</p>

              <p><b>Can I Organise My Own Socials?</b> Yes, all members can host their own socials for others. We make it really easy so if there’s something in particular you want to do, post up your own social and see who’s free to join.</p>

              <p><b>How Do I Create A Social?</b> In order to create a social you must be a subscribed spefz member, it is also important to give the following information so spefz members can make an informed decision to attend your social: 
                <ul>
                  <li>Firstly make sure you have a nice, clear personal profile picture – makes it easier for people to spot you at the social and know who it is who’s organised it</li>
                  <li>Title: Think of a good title for your social – make it stand out from the rest & make people want to find out more.</li>
                  <li>Categories: make sure you categorize your social so that like minded members will find and book on to your social.</li>
                  <li>Pick a picture: choose a picture of which you feel reflects the type of activity that you’re doing on your social.</li>
                  <li>A brief description: Be detailed but not overwhelming – Let guests know what to expect without overwhelming them with too much information.</li>
                  <li>Venue: pick the right place – sounds obvious, but make sure you think about choosing somewhere you’d like to attend, that’s close to good public transport links and that you think will be popular with your fellow members. Don’t forget to add a meet up venue and details if needed.</li>
                  <li>Add the date & time</li>
                  <li>Pick the number of guests: sometimes you need to get a small group together for an intimate dinner, other times you can get as many as possible for a big night out. Select the maximum number of guests you would like or leave it blank for an unlimited number. Keep in mind there might be some last minute dropouts so add about 5 people over the number you would ideally like.</li>
                  <li>Specify who the social is for: you can specify parameters for age and gender so if it’s a girly cocktail evening you’re after, the boys can’t rsvp. Vice-versa too guys</li>
                  <li>choose a guest speaker for the social</li>
                </ul>
              </p>

              <p><b>What Is A Host?</b> A host can be any of our wonderful members that organises socials or events for others.By hosting your own socials you can do exactly what you like doing and that makes it easier to meet people who have the same interests as you.</p>

              <p><b>Who Can Attend My Socials?</b> By default, everyone on spefz is able to attend your socials. However, as a host you have the option to limit the people who can join your social if you choose to do so, by selecting the option "just my guest" under the selector "who's invited" of creating a social. </p>

            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







