<div class="content_event_imgs_container">
  <div>
    <ul>
      <a href="#" data-reveal-id="myModal-event-image">
        <li><%= cl_image_tag(@event.imgevent_one, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li class="middle_img"><%= cl_image_tag(@event.imgevent_three, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li><%= cl_image_tag(@event.imgevent_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li><%= cl_image_tag(@event.imgevent_four, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li class="middle_img"><%= cl_image_tag(@event.imgevent_five, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li><%= cl_image_tag(@event.imgevent_six, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
      </a>
      <span><%= render 'shared/modal_event_images' %></span>
    </ul>
  </div>
</div>