<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <!-- <li><%# link_to "Account & Profile", help_account_and_profile_path %></li> -->
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li class="active"><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>cancellations & refunds</h1>
            <div class="terms_date">Revised: March, 2019</div>
            <div class="terms_content_info">

              <p><b>What Is Spefz's Refund Policy?</b> Spefz does not provide any refunds for the termination of our services. This includes cases of:
                <ul>
                  <li>cancelling your subscription</li>
                  <li>cancelling your booked event</li>
                  <li>not wishing to use the service any more</li>
                  <li>not having used the service in the past</li>
                  <li>not being satisfied with the service</li>
                  <li>forgetting that you are a premium member</li>
                  <li>forgetting the renewal date of your membership</li>
                  <li>the termination of your account after any violations of our code of conduct</li>
                </ul>
              </p>

              <p><b>I Canceled My Subscription. Can I Get A Refund?</b> When you cancel your premium membership, you'll enjoy full membership benefits until the end of your then-current subscription term. After that period your subscription will not renew again and you will return to being a free member. There will not be any refunds of any portion of your membership. For more info read our full <%= link_to "terms and conditions", terms_path %>.</p>

              <p><b>How do I get a refund for my Spefz online subscription membership?</b> We are not able to refund online memberships. However, if you think you qualify for a refund please contact us using at <%= link_to "admin@spefz.com", contact_us_path %>. We are not able to deal with refund requests on the telephone.</p>

              <p><b>How do I get a refund for my Spefz online booked event?</b> We are not able to refund members on booked events. However, if you think you qualify for a refund please contact us using at <%= link_to "admin@spefz.com", contact_us_path %>. We are not able to deal with refund requests on the telephone.</p>

              <p><b>I can't make an event. Can I send a friend instead?</b> Yes, you can send a friend of the same gender in your place for no additional charge. Please contact us at <%= link_to "admin@spefz.com", contact_us_path %> so that we can register your friend. If your friend is the opposite gender we may still be able to help you. Please call us to check.</p>

              <p><b>I've signed up for a Spefz online membership auto-renewal but would now like to cancel?</b> Please contact us at <%= link_to "admin@spefz.com", contact_us_path %> for any subscription membership cancellation. Under our terms and conditions we do not refund membership fees.</p>

              <p><b>My credit card seems to have been charged twice?</b> Very occasionally we do get double payments. Please contact us at <%= link_to "admin@spefz.com", contact_us_path %> with your transaction ID or the date you booked and we'll refund the double payment for you.</p>

              <p><b>Where can I view my "Billing History" and how long is left of my membership?</b> To view your current status: Just click on your profile image in the header, then got to 
                <span>
                  <% if signed_in? %>
                    <%= link_to "Account", account_user_path(current_user) %>.
                  <% else %>
                    <%= link_to "Account", "#" %>. 
                  <% end %> 
                </span>
              </p>

              <p><b>Do I Have To Pay To Use Spefz?</b> Spefz is free to sign up, take a look around and make some initial connections with other members, but ultimately we charge a membership fee for our services which means you will not be able to attend socials or send messages as a free member (Basic Member).</p>

              <p><b>How Much Does Membership Cost? (Subscription Plan)</b> Premium Membership £18.00 per month. All of our membership plans operate with a Continuous Service Agreement, meaning that they will keep renewing until canceled. You can see the status of your membership and the date of the next renewal in your account settings and you are free to cancel at any point.</p>

              <p><b>What Payment Methods Are Accepted On Spefz?</b> You are able to pay by debit or credit card. We accept Visa, Mastercard, Solo and Maestro and your payment is protected by 128-bit security. Payments can be in the following currencies: £ GBP, $ USD or € EUR according to your country of residence (generally that selection depends on your IP address).  We welcome spefz members from all over the world and payments in your local currency will be converted at the daily exchange rate of your card issuer. It is not possible to pay via paypal, direct debit, money transfers or cash.</p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







