<!-- invites -->
<% if current_user.recieved_invites.present? %>
  <div class="userinviterequests_inner_container">
    <div class="content_list">
      <ul>
        <% current_user.recieved_invites.each do |invite| %>
          <li>
            <div class="image_section">
              <span class="img_cover">
                <% if invite.social.image_url.present? %>
                  <%= link_to(image_tag(invite.social.image_url, :alt =>  "image", :class =>"#", id: ""), social_path(invite.social)) %>
                <% else %>
                  <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: ""), social_path(invite.social)) %>
                <% end %>
              </span>
            </div>

            <div class="info_section">
              <div class="title"><%= link_to truncate("#{invite.social.title}", length: 30), social_path(invite.social) %></div>
              <div class="date_country_info" style="margin-top:2px;">
                <span><%= invite.social.date.strftime("%a, %d %b %Y") %></span> 
                <span class="divider">|</span> 
                <span><%= invite.social.time.strftime("%I:%M %p") %></span>
              </div>
              <div class="date_country_info">
                <span><%= invite.social.category_country.name %></span> 
                <span>-</span> 
                <span><%= invite.social.city %></span>
              </div>
              <div class="date_country_info"> 
                <span>invited by:</span>
                <span><%= link_to current_user.name_shortner(invite.user), user_path(invite.user) %></span>
              </div>
            </div>

            <% if invite.social.current_user_attending?(current_user) %>
              <div class="action_btn_section_attending"> 
                <span class="btn btn_decline_invite"><%= link_to 'Attending', social_path(invite.social) %></span>
                <%= form_for invite, url: invite_path(invite), method: :put do |f| %>
                  <%= f.hidden_field :user_id, value: invite.user.id %>
                  <%= f.hidden_field :invitee_id, value: current_user.id %>
                  <%= submit_tag "Remove", class: "btn btn_decline_invite" %>
                <% end %>
              </div>
            <% else %>
              <div class="action_btn_section"> 
                <%= form_for invite, url: invite_path(invite), method: :put do |f| %>
                  <%= f.hidden_field :user_id, value: invite.user.id %>
                  <%= f.hidden_field :invitee_id, value: current_user.id %>
                  <%= submit_tag "Decline", class: "btn btn_decline_invite" %>
                <% end %>
              </div>
            <% end %>
          </li>
          <div class="clear"></div>
        <% end %>
      </ul>
    </div> 
  </div>
<% else %>
  <div class="userinviterequests_inner_container">
    <div class="content_list_none">you currently have no invite notifications</div> 
  </div>
<% end %>

<div class="userinviterequests_inner_container_middle_divider"></div>

<!-- invite requests -->
<div class="hide">
<% if current_user.recieved_invite_requests.present? %>
  <div class="userinviterequests_inner_container">
    <div class="content_list">
      <ul>
        <% current_user.recieved_invite_requests.each do |invite_request| %>
          <li>
            <div class="image_section">
              <span class="img_cover">
                <% if invite_request.social.image_url.present? %>
                  <%= link_to(image_tag(invite_request.social.image_url, :alt =>  "image", :class =>"#", id: ""), social_path(invite_request.social)) %>
                <% else %>
                  <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: ""), social_path(invite_request.social)) %>
                <% end %>
              </span>
            </div>

            <div class="info_section">
              <div class="title"><%= link_to truncate("#{invite_request.social.title}", length: 30), social_path(invite_request.social) %></div>
              <div class="date_country_info" style="margin-top:2px;">
                <span><%= invite_request.social.date.strftime("%a, %d %b %Y") %></span> 
                <span class="divider">|</span> 
                <span><%= invite_request.social.time.strftime("%I:%M %p") %></span>
              </div>
              <div class="date_country_info">
                <span><%= link_to "user", user_path(invite_request.user) %> wants to attend your social</span>
              </div>
              <div class="date_country_info"> 
                <span>invite request from:</span>
                <span><%= link_to current_user.name_shortner(invite_request.user), user_path(invite_request.user) %></span>
              </div>
            </div>
            <div class="action_btn_section_attending">
              <span data-tooltip aria-haspopup="true" class="tip-left btn action_btn_view_request_section" title="view invite request"><a href="#<%= invite_request.id %>" data-reveal-id="<%= dom_id(invite_request) %>_inviterequest">view</a></span>
              <div><%= render partial: 'shared/modal_organiser_invite_user', locals: { invite_request: invite_request } %></div>
            </div>
          </li>
          <div class="clear"></div>
        <% end %>
      </ul>
    </div> 
  </div>
<% else %>
  <div class="userinviterequests_inner_container">
    <div class="content_list_none">you currently have no invite request notifications</div> 
  </div>
<% end %>
<div class="userinviterequests_inner_container_middle_divider"></div>
</div>

<!-- cards -->
<% if @cards.cards_with_booked_events(current_user).unread_by(current_user).present? %>
  <div class="userinviterequests_inner_container">
    <div class="content_list">
      <ul>
        <% @cards.cards_with_booked_events(current_user).unread_by(current_user).each do |card| %>
          <% if card.event.current_user_attending_paid?(current_user) %>
          <li>
            <div class="image_section">
              <span class="img_cover">
                <% if card.event.image.present? %>
                  <%# link_to(image_tag(card.event.image_url, :alt =>  "image", :class =>"#", id: ""), cards_path) %>
                  <%= link_to(cl_image_tag(card.event.image, :alt =>  "image", :class =>"#", id: ""), cards_path) %>
                <% else %>
                  <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: ""), cards_path) %>
                <% end %>
              </span>
            </div>

            <div class="info_section">
              <div class="title"><%= link_to truncate("#{card.event.title}", length: 30), "#" %></div>
              <div class="date_country_info" style="margin-top:2px;">
                <span><%= card.event.date.strftime("%a, %d %b %Y") %></span> 
                <span class="divider">|</span> 
                <span><%= card.event.time.strftime("%I:%M %p") %></span>
              </div>
              <div class="date_country_info">
                <span><%= card.event.category_country.name %></span> 
                <span>-</span> 
                <span><%= card.event.city %></span>
              </div>
              <div class="date_country_info"> 
                <span>card:</span>
                <span><%= link_to "social card", cards_path %></span>
              </div>
            </div>

            <% if card.card_status_open? && card.unread?(current_user) %>
              <div class="action_btn_section_attending action_btn_card_section"> 
                <span class="btn btn_view_card"><%= link_to 'view', card_mark_as_viewed_path(card_id: card.id), method: :post %></span>
              </div>
            <% elsif %>
              <div class="action_btn_section action_btn_card_section"> 
                <span class="btn btn_view_card_not_open"><%= link_to "not open", cards_path %></span>
              </div>
            <% end %>
          </li>
          <% end %>
        <% end %>
        <div class="clear"></div>
      </ul>
    </div> 
  </div>
<% else %>
  <div class="userinviterequests_inner_container">
    <div class="content_list_none">
      <div>you currently have no card notification</div>
      <div class="content_list_none_link" ><%= link_to "view all social cards", cards_path %></div>
    </div> 
  </div>
<% end %>

