<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <li><%= link_to "Account & Profile", help_account_and_profile_path %></li>
                <li><%= link_to "Membership", help_membership_path %></li>
                <li class="active"><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>payment queries</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p><b>Do you charge extra for credit card transactions?</b> To defray the substantial charges we incur when processing credit cards, we now charge a handling fee for all transactions of more than £100. This is set at 2.5 percent of the total transaction for all credit cards. We do not charge for debit cards or Electron cards. For transactions of less than £100 we absorb the cost ourselves.</p>

              <p><b>How can I pay for membership?</b> Just click on your profile image in the header, then got to 
                <span>
                  <% if signed_in? %>
                    <%= link_to "Account > Membership", account_user_path(current_user) %> and click on <%= link_to "Subscribe Now!", subscription_path(@premium_plan) %>.
                  <% else %>
                    <%= link_to "Account > Membership", '#' %> and click on <%= link_to "Subscribe Now!", '#' %>.
                  <% end %>
                </span> 
                We accept the majority of credit and debit cards. We do not hold any card details on our servers, which ensures maximum safety for your details Please note we do not accept payment by cheque/postal order.</p>

              <p><b>How much does a Spefz membership cost?</b> Monthly Membership £15.99</p>

              <p><b>I have a problem with payments, where can I get help?</b> Please email us: admin@spefz.com</p>

              <p><b>I've signed up for a Spefz online membership with auto-renewal but would now like to cancel?</b> Please email us: admin@spefz.com. Under our terms and conditions we do not refund membership fees</p>

              <p><b>My credit card has been rejected by your payment system. Why?</b> There may be a number of reasons why your card has not been accepted. These include:
                <ul>
                  <li>You may simply have entered an invalid card number. The most likely reasons for this are that you have mistyped the card number or missed some of the digits, or you have not entered the card number we need. Please try again, checking your typing carefully.</li>
                  <li>The card type you have specified (e.g. Visa, Debit) does not appear to match the card number supplied. Please go back and check that the card type selected is correct.</li>
                  <li>Your bank has declined to authorize payment for this amount.</li>
                  <li>Your card may be of the type that requires the cardholder to be present, and is therefore not suitable for telephone/internet bookings.</li>
                </ul>
              </p>

              <p><b>What happens after I pay?</b> Once you have paid, your account is immediately activated, and your period of subscription starts. You will receive an email notifying you of your payment. This acts as your payment receipt and the reference on it should be used if you need to contact us for any reason. Your ability to have full access to the site is confirmation from us that we have actioned your payment.</p>

              <p><b>What if I don't want to pay by credit card?</b> Please note we do not accept payments by cheque or postal order. Please contact us at <%= link_to "admin@spefz.com" %> if you are unable to pay by debit/credit card.</p>

              <p><b>Will my card be automatically re-billed at the end of my membership?</b> Yes your card will be automatically re-billed once you subscribe to Premium membership.</p>

            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







