<div class="medium-12 columns sponsorship_section">
  <div class="sponsorship_inner_container">
    <!-- left_column_section -->
    <div class="medium-2 columns left_section">
      <div class="company_section">
        <span class="business_name">spefz ltd</span>
        <span class="business_logo"><%= link_to(image_tag("apple-touch-icon.png"), "https://www.spefz.com", target:"_blank") %></span>
      </div>
      <div class="clear"></div>
      <div class="divider"></div>
      <div class="listed_sections">
        <ul>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".introduction_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">introduction</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".services_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">our services</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".team_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">who we are</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".benifit_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">the benifit to you</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".value_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">added value</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".option_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship option</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".budget_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">budget</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".look_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">look and feel</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".terms_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship terms</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".signature_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">signature</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- right_column_section -->
    <div class="medium-10 columns right_section">
      <div class="right_inner_section">

        <!-- pagecover_content -->
        <div class="medium-12 columns sonpsorship_content pagecover_content">
          <div class="sp_inner_content pagecover_inner_content">
            <div class="main_text">sponsorship proposal</div>
            <div class="sub_text">spefz event management</div>
              <div class="sp_event_details">
              <div class="minor_text">event date: 24th November 2017</div>
              <div class="minor_text">event location: Mahiki, 1 Dover St, Mayfair, London W1S 4LD</div>
              <div class="sp_evt_link"><%= link_to "www.spefz-event.com", "https://www.spefz.com/events/speed-social-elite-professionals/preview", target:"_blank" %></div>
            </div>
          </div>
          <div class="img_banner_content"><div class="main_img"></div></div>
        </div>
        <div class="clear"></div>

        <!-- introduction_content -->
        <div class="medium-12 columns sonpsorship_content introduction_content">
          <div class="sp_inner_content introduction_inner_content">
            <div class="sp_main_header">introduction</div>
            <p>Spefz is a selective social dating app that holds exclusive live events for our resgitered members on the platform. We create profiled live events that gather and group individuals of similar interest and preference, so the potential of members connecting will be much higher; we do this by auto-matching individiuals to specific events (via our internal rating algorithm system on personality, physical appearance and interests) in order to ensure our members are able to network effectively and meet like-minded people of their calibre.</p>
            <p>Our events offer busy professionals a great way to meet new people in a fun, safe and chilled environment. The key to creating our events is based on our internal algorithm that ensures that the compatibility and mutual interests of our members are met.</p>
            <p>From the decorations to the food choices and activities, and by providing events in the best UK's most stylish venues, we ensure that we provides our members with a 360 degree experience. Our team of experts are ready to create a phenomenal experience for our members.</p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">1</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- our_services_content -->
        <div class="medium-12 columns sonpsorship_content services_content">
          <div class="sp_main_header">our services</div>
          <p>We manage end-to-end logistics of our events. Our services include;</p>
          <ul>
            <li>
              <span>Creating events for our memebers in the best UK's most stylish venues. Events are held on a weekly bases.</span>
              <div>There 3 main types of events Spefz organizes:</div>
              <ul>
                <li>
                  <u>SpeedDating Events:</u>
                  <div>maximum number of attendees 40. This is a seated event. Women are seated and men circulate. 5 mins given to each member to communicate with one another.</div>
                </li>
                <li>
                  <u>MixMatch Events:</u>
                  <div>maximum number of attendees 60. This is both a seated and standing networking event. Spefz team take the initiative in introducing members to one another based on algorithm stats created on the web platform.</div>
                </li>
                <li>
                  <u>Socials/After-work Drinks:</u>
                  <div>maximum number of attendees 30. These are socials, after work drinks/meeting, where subscribed members can attend.</div>
                </li>
              </ul>
            </li>
            <li>Auto-matching members to the right events based on algorithmic statistics</li>
            <li>Attendee Evaluation: matching members to one another at live based on algorithmic statistics. Capturing onsite and post event feedback.</li>
            <li>Event planning: management and execution of events</li>
            <li>Venue location: selecting the right venues and managing contracts associated</li>
            <li>Event registration: pre and day registration of all our event registration requirements</li>
            <li>Post Event Analysis: delivering a post event report detailing achievements and providing recommendations for our members on future events to attend</li>
            <li>Sponsorship and speaking opportunities</li>
            
          </ul>
          <div class="page_number_section">
            <div class="page_number_line"></div>
            <div class="page_number_content"><div class="page_number"><span class="number">2</span></div></div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- team_content -->
        <div class="medium-12 columns sonpsorship_content team_content">
          <div class="sp_inner_content team_inner_content">
            <div class="sp_main_header">who we are</div>
            <p>Since early 2017, Spefz Ltd has been aiming to focus on helping our members effectively meet, network and connect with ambitious, like-minded people through social dating & networking events. Our Team and Webapp platform brings and contributes a wealth of knowledge and experience that is unmatched in the event dating/networking industry.</p>
            <p>
              <b>Why We Do What We Do</b><br/>
              <span>We are passionate about connecting people via live events. We believe these days a lot of social dating & networking events are focused mainly on gathering random individuals to an event. We would like to be a part of changing that by gathering individuals of similar interests and personality traits to an event, thus increasing the likely hood of members being connected with other members of their caliber and preference.</span>
            </p>
            <p>
              <b>The Event Leadership Team</b><br/>
              <span><i>"it is important for us to be sponsored by companies that match our values and to focus on our strengths and weaakness and provide sponsership oppotunities that really fit our values."</i></span>
              <div class="event_leaderships">
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns"><%= image_tag("img_profile_17.png") %></div>
                  <div class="medium-10 columns">
                    <div><b>Helen Stuarts</b></div>
                    <span>Helen has more than 15 years of experience in public relations and event planning. She started her career in New York city, where she worked as a publicist for celebrities and busniess monguls. She specialise in planning, excuting and managing our social dating and networking events, and particular enjoys working for a cause that benifits our memebers.</span>
                  </div>
                </div>
                <div class="medium-12 columns evt_divider"></div>
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns"><%= image_tag("img_profile_01.png") %></div>
                  <div class="medium-10 columns">
                    <div><b>Richill Tamakloe</b></div>
                    <span>Coming from the Swiss private banking world, where she became and expert in managing the often eccentric demands of private clients, Richill brings the personal touch to all her sponsor relationships. Her job is to ensure you are getting the most out of your sponsorship experience.</span>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">3</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- benifit_content -->
        <div class="medium-12 columns sonpsorship_content benifit_content">
          <div class="sp_inner_content benifit_inner_content">
            <div class="sp_main_header">the benifits to you</div>
            <p>As your marketing partner, Spefz Ltd. takes our sponsorship agreement very seriously. You make a promise to support our values, and in return we promise to deliver the best sponsorship benifits.</p>
            <p>
              <b>Connect With Our Members</b><br/>
              <span>Sponsers are getting more and more discerning about which event companies they do business with. What better way to communicate and promote your product by sponsoring our social events that matches the value of your product.</span>
            </p>
            <p>
              <b>Increase Sales</b><br/>
              <span>You'll have unparalleled in-person access to thousands of our registered members when you become and integral part of the Spefz Events through having your brand and message displayed through out the entire event.</span>
            </p>
            <p>
              <b>Promote Your Brand And Win New Customers</b><br/>
              <span>Prmote your brand to a whole new social circle. Everytime our members attend a social dating or networking event and encounter with our services, your brand will be front and centered.</span>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">4</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- value_content -->
        <div class="medium-12 columns sonpsorship_content value_content">
          <div class="sp_inner_content value_inner_content">
            <div class="sp_main_header">added value</div>
            <p>As a Sponser, you'll have access to our extensive list of influential members and volunteers, as well as special brand and social marketing. The value we bring to the table include;</p>
            <ul>
              <li>
                <b>Social Media Exposure</b><br/>
                <span>part_01</span>
              </li>
              <li>
                <b>A Proven Track Record of Honesty & Accountability</b><br/>
                <span>part_02</span>
              </li>
              <li>
                <b>Unique Marketing Channels</b><br/>
                <span>part_03</span>
              </li>
            </ul>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">5</span></div></div>
            </div>
          </div>
        </div>
        <div class="medium-12 columns sonpsorship_content option_content">sponsorship_option_content</div>
        <div class="medium-12 columns sonpsorship_content budget_content">budget_content</div>
        <div class="medium-12 columns sonpsorship_content look_content">look_and_feel_content</div>
        <div class="medium-12 columns sonpsorship_content terms_content">sponsorship_terms_content</div>
        <div class="medium-12 columns sonpsorship_content signature_content">signature_content</div>
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>


















<div class="medium-12 columns subscription_detail_info_section aboutus_section old_content hide">
  <div class="aboutus_inner_container">
    <div class="aboutus_info_content">
      
      <!-- banner_content -->
      <div class="banner_img_cover">
        <div class="aboutus_banner_text"> 
          <div>we are so confident you'll meet like minded people</div>
          <div>and share great times!</div>
        </div>
      </div>
      <!-- banner_content -->

      <!-- content -->
      <div class="main_content_section">
        <div class="content_info">
          <div class="title">about us</div>
          <div class="subtitle">find lots of interesting socials, events & discussions and meet like minded people today!</div>
          <div class="text_info">Spefz is a selective social dating & networking app that connects ambitious, like-minded people. We auto-match individiuals to specific events (via our internal rating algorithm system on personality, physical appearance and interests) in order to ensure our members are able to network effectively and meet like-minded people of their calibre. This ensures that compatibility and mutual interests are met. We’re passionate about connecting people via social events, so get connected & re-discover your surrounding!</div><br/>
          <div class="text_info">We believe meeting people is best done in real life, preferably over a glass of wine. Our events and socials offer busy professionals a great way to meet new people in a fun, safe and chilled environment.</div>
          <!-- <div class="text_info">Our online network helps you meet new people through social events and speed events. Our social discovery network allows you to make the most of your free time and connects people offline. Members can select from all the social events created by their network, or can create their own socials for other members of similar interest to join. In any case, you will meet and connect with lots of new people in your city.</div> -->
        </div>
        <div class="medium-12 columns content_info">
          <div class="team_members hide">
            <div class="title">the founders</div>
            <div class="subtitle">we're a really cool team! check us out and connect with us!</div>
            <div class="team_member">
              <div class="team_img"><%= link_to(image_tag("img_profile_01.png"), "https://uk.linkedin.com/in/a-richill-artloe-138520", target:"_blank") %></div>
              <div class="team_name">richill artloe</div>
              <div class="team_position">cheif executive officer</div>
              <div class="team_note">CEO. Addicted Coder / Food Junkie / Cycling Addict / Traveller / Love Painting / Art Fanatic</div>
            </div>
            <div class="team_member">
              <div class="team_img"><%= link_to(image_tag("img-profile-image-default.png"), "#", target:"_blank") %></div>
              <div class="team_name">stephan elliot</div>
              <div class="team_position">cheif technology officer</div>
              <div class="team_note">CTO. Fanatic Programmer / Asian Food Junkie / Cycling Addict / Traveller / Coffe Addict / Hyperactive / Talented growth-hacker</div>
            </div>
            <div class="title">the team</div>
            <div class="subtitle">What spefz is made off! A Great talented team turned up to ensure you have a great time on spefz!</div>
            <div class="team_member" style="margin-bottom: 0px;">
              <div class="team_img"><%= link_to(image_tag("img-profile-image-default.png"), "#", target:"_blank") %></div>
              <div class="team_name">simon cohen</div>
              <div class="team_position">cheif operating officer</div>
              <!-- <div class="team_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div> -->
            </div>
            <div class="medium-12 columns team_members">
              <ul>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">emma</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">stuat</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">noel</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">callum</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">rachel</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">micahel</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">kwame</div></li>
                <li><div class="sub_team_img"><%= image_tag("img-profile-image-default.png") %></div><div class="sub_team_members">essie</div></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content_info" style="margin-top:50px;">
            <div class="title">get in touch with us</div>
            <div class="subtitle">We look forward to hearing from you! </div>
            <div class="text_info">Please make sure you are writing to the department that is relevant to your request, as we cannot otherwise guarantee a response. Besides that, we are always looking to improve our service. If you have any issues do kindly contact us.</div>
          </div>
          <div class="btn_contact"><%= link_to "contact us", contact_us_path %></div>
        </div>
      </div>
      <!-- content -->
      
    </div>
  </div>
</div>












