<!-- <div class="socials_upcomingevents_header">
  <b>upcoming socials</b>
</div> -->
<% if @social.user.socials.present? %>
<div class="socials_upcomingevents_section">
  <div class="socials_upcomingevents_inner_section">
    <div class="event_container">
      <% @social.user.socials.live_socials.each do |social| %>
      <ul>
        <li class="medium-12 columns">
          <div class="title"><%= link_to "#{social.title}", user_social_path(social.user, social) %></div>
          <div class="medium-12 columns image_content_info">
            <% if social.sold_out? %>
              <div class="banner">
                <div class="ribbon-wrapper-green">
                  <div class="ribbon-green">sold out</div>
                </div>
              </div>
            <% end %>
            <div class="left_evt">
              <div class="img_cover"><%= link_to(image_tag("#{social.image_url}", :alt =>  "image", :class =>"#"), user_social_path(social.user, social)) %></div>
            </div>
            <div class="right_evt">
              <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= social.date.strftime("%A, %d %b") %></div>
              <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= social.time.strftime("%I:%M %p") %></div>
              <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= social.city %>, <%= social.category_country.name %></div>
              <div class="divider"></div>
              <div class="description"><%= truncate(social.description, length: 100) %></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="info_action_container">
            <ul class="inline-list left_evt_info">
              <!-- <li><div class="header">price</div> <div class="content">£14.99</div></li> -->
              <li><div class="header">price</div> <div class="content_header">Free</div></li>
              <li>
                <div class="header">space</div> 
                <div class="content">
                  <!-- male -->
                  <% if social.category_quantitygender.name == "only men" %>
                    <span>
                      <% if social.sold_out? %>
                        <span class="content_soldout">sold out</span>
                      <% else %>
                        <span class="content_available">available</span>
                      <% end %>
                    </span>

                  <!-- female -->
                  <% elsif social.category_quantitygender.name == "only women" %>
                    <span>
                      <% if social.sold_out? %>
                        <span class="content_soldout">sold out</span>
                      <% else %>
                        <span class="content_available">available</span>
                      <% end %>
                    </span>
                    
                  <!-- male & female -->
                  <% else social.category_quantitygender.name == "both men & women" %>
                    <span>
                      <% if social.sold_out? %>
                        <span class="content_soldout">sold out</span>
                      <% else %>
                        <span class="content_available">available</span>
                      <% end %>
                    </span>
                  <% end %>
                </div>
              </li>
              <li>
                <div class="header">attendees</div> 
                <div class="content">

                  <!-- male -->
                  <% if social.category_quantitygender.name == "only men" %>
                    <span><%= social.total_attendance_to_male_only_social %></span>

                  <!-- female -->
                  <% elsif social.category_quantitygender.name == "only women" %>
                    <span><%= social.total_attendance_to_female_only_social %></span>
                    
                  <!-- male & female -->
                  <% else social.category_quantitygender.name == "both men & women" %>
                    <span><%= social.attendances.count %></span>
                  <% end %>

                </div>
              </li>
            </ul>
            <ul class="inline-list right_evt_info">
              <% if social.category_invite_id.present? && social.category_invite.name == "just my guest" %>
                <li class="btn_attend"><%= link_to "invite only", "#" %></li>
              <% else %>
                <li class="btn_attend"><%= link_to "attend", "#" %></li>
              <% end %>
              <li class="btn_save"><%= link_to "save", "#" %></li>
            </ul>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
<% end %>