<div class="users_upcomingevents_section">
  <div class="users_upcomingevents_inner_section">
    <div class="event_container">
      <% Event.all.each do |event| %>
      <ul>
        <li>
          <div class="title"><%= link_to "#{event.title}", "#" %></div>
          <div class="medium-12 columns image_content_info">
            <div class="left_evt">
              <div><%= image_tag("img_background.jpg") %></div>
            </div>
            <div class="right_evt">
              <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> Friday, 1 july</div>
              <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00h - 19:00h</div>
              <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> london, united kingdom</div>
              <div class="divider"></div>
              <div class="description"><%= truncate(event.description, length: 100) %></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="info_action_container">
            <ul class="inline-list left_evt_info">
              <li><div class="">price</div> <div class="">£14.99</div></li>
              <li><div class="">space</div> <div class=""><%= link_to "15", "#" %></div></li>
              <li><div class="">attendees</div> <div class=""><%= link_to "10", "#" %></div></li>
            </ul>
            <ul class="inline-list right_evt_info">
              <li class="btn_attend"><%= link_to "attend", "#" %></li>
              <li class="btn_save"><%= link_to "save", "#" %></li>
            </ul>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>