<div class="userprofile_dropdownbox_inner_container">
  <ul>
    <li>
      <div class="list_cover">
      <% if current_user.admin_pa_management_group %>
        <span><i class="fa fa-tasks" aria-hidden="true"></i></span>
        <span><%= link_to "dashboard", dashboard_user_path(current_user) %></span>
      <% end %>
      </div>
    </li>

    <li><div class="list_cover"><%= link_to "update profile", edit_user_path(current_user) %></div></li>
    
    <li>
      <div class="list_cover">
      <% if current_user.subscribed_access? %>
        <% if current_user.image? %>
          <div><%= link_to 'create social', new_user_social_path(current_user) %></div>
        <% else %>
          <div><%= link_to 'create social', image_restriction_page_path %></div>
        <% end %>
      <% end %>
      </div>
    </li>

    <li><div class="list_cover"><%= link_to 'my socials', "#" %></div></li>
    <li><div class="list_cover"><%= link_to 'network', "#" %></div></li>
    <li><div class="list_cover"><%= link_to 'settings', "#" %></div></li>
    <li><div class="list_cover"><%= link_to 'help & support', "#" %></div></li>
    <li><div class="list_cover"><%= link_to "sign out", destroy_user_session_path, method: :delete  %></div></li>
  </ul>
</div>