<div class="medium-12 columns information_section">
  <div class="information_inner_container">
    <!-- left_column_section -->
    <div class="medium-2 columns left_section">
      <div class="company_section">
        <span class="business_name">spefz ltd</span>
        <span class="business_logo"><%= link_to(image_tag("apple-touch-icon.png"), "https://www.spefz.com", target:"_blank") %></span>
      </div>
      <div class="clear"></div>
      <div class="divider"></div>
      <div class="listed_sections">
        <ul>
          <li>
            <div class="info_list_options">
              <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">cover</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="info_list_options">
              <%= link_to ".introduction_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">introduction</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="info_list_options">
              <%= link_to ".spefzsocialcard_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">spefz social card</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- right_column_section -->
    <div class="medium-10 columns right_section">

      <!-- scroll_up_btn -->
      <div class="medium-12 columns lift_btn_cover">
        <div class="lift_btn" >
          <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      
      <div class="right_inner_section">
        <!-- pagecover_content -->
        <div class="medium-12 columns spefz_information_content pagecover_content">
          <div class="sp_inner_content pagecover_inner_content">
            <div class="main_text">spefz documentation</div>
            <div class="sub_text">events dating app</div>
              <div class="sp_event_details">
              <div class="minor_text">a dating experience with a difference</div>
              <div class="sp_evt_link"><span><%= link_to "www.spefz.com", "https://www.spefz.com", target:"_blank" %></span></div>
            </div>
          </div>
          <div class="img_banner_content"><div class="main_img"></div></div>
        </div>
        <div class="clear"></div>

        <!-- introduction_content -->
        <div class="medium-12 columns spefz_information_content introduction_content">
          <div class="sp_inner_content introduction_inner_content">
            <div class="sp_main_header">introduction</div>
            <p>Spefz is a selective social dating app that holds exclusive live events for our registered members on the platform. We create profiled live events that gather and group individuals of similar interests and preferences, so the probability of members connecting will be much higher; we do this by auto-matching individuals to specific events (via our internal rating algorithm system on personality, physical appearance and interests) in order to ensure our members are able to network effectively and meet like-minded people of their calibre.</p>
            <p>We have a thriving community of followers between the ages of 28-48 and we would like to discuss with you the opportunity to align your product with our event in order promote your brand and to promote our app.</p>
            <p>Our events offer busy professionals a great way to meet new people in a fun, safe and chilled environment. The main key to creating our events is based on our internal algorithm that ensures that the compatibility and mutual interests of our members are met.</p>
            <p>From the decorations to the food choices and activities, and by holding events in the best UK's most stylish venues, we ensure that we provide our members with a 360 degree experience. Our team of experts are ready to create a phenomenal experience for our members.</p>
            <div class="medium-12 columns featured_section">
              <div class="featured_title">we've been featured in:</div>
              <div class="featured_inner_section">
                <ul>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_01_d27prr.png", class: "img_featured_01"), "http://www.londonlovesbusiness.com/business-news/tech/speed-dating-start-up-aims-to-increase-odds-of-romantic-connection/17618.article", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_dailymail_cnunyj.png", class: "img_featured_02"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_cosmopolitan_mobc80.png", class: "img_featured_03"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_theguardian_iuunz2.png", class: "img_featured_04"), "#", target:"_blank") %></li>
                  <li class="img_featured_bc"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_businesscloud_xhzcm3.png", class: "img_featured_05"), "http://www.businesscloud.co.uk/news/speed-dating-start-up-increases-odds-of-romantic-success", target:"_blank", target:"_blank") %></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">1</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- spefz_social_card_content -->
        <div class="medium-12 columns spefz_information_content spefzsocialcard_content">
          <div class="sp_inner_content spefzsocialcard_inner_content">
            <div class="sp_main_header">spefz social card</div>
            <div class="new_content">
              <p style="margin-bottom:5px;">
                <b>What is a Social Card?</b>
                <ul>
                  <li>A Social Card is an online card specifically for the event you attended.</li>
                  <li>The Social Card displays all listed members that attended the event you went to and allows you to connect with the members that were present at the event</li>
                  <li>The Social Card is only displayed after the date of the event</li>
                </ul>
              </p><br/>

              <p style="margin-bottom:5px;">
                <b>Accessing the Social Card?</b>
                <ul>
                  <li>
                    <span>Sign-in into you spefz account</span> 
                    <span>|</span>
                    <span class="terms_inner_content"><%= link_to "www.spefz.com", "https://www.spefz.com/" , target:"_blank" %></span>
                  </li>
                  <li>On the right upper corner click on your profile image. This will display a drop down menu</li>
                  <li>
                    <span>Select the option</span>
                    <span class="terms_inner_content"><%= link_to "My Social Cards", cards_path , target:"_blank" %> as displayed in the below image</span>
                    <div class="info_img_main_container">
                      <div class="inner_img_container">
                        <%= cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515778139/spefzinformation/spefz_card_01.png", class: "") %>
                      </div>
                    </div>
                  </li>
                  <li>Once the option "My Social Cards" is selected, you will be directed the "Social Cards Page"</li>
                  <li>You Social Cards page displays a list of cards specifically for the event you attended.</li>
                  <li>
                    <span>Each Social Card displays the list of all memebers that attended the event</span>
                    <div class="info_img_main_container">
                      <div class="inner_img_container">
                        <%= cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515778131/spefzinformation/spefz_card_02.png", class: "") %>
                      </div>
                    </div>
                  </li>
                  <li>Click on the link "View Attendees & Connect" to view list of members that attended the event</li>
                  <li>
                    <span>Once "View Attendees & Connect" is clicked the list of attendees will be displayed</span>
                    <div class="info_img_main_container">
                      <div class="inner_img_container">
                        <%= cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515778145/spefzinformation/spefz_card_03.png", class: "") %>
                      </div>
                    </div>
                  </li>
                  <li>You as a member should now be able to connect with other members that attended the event</li>
                </ul>
              </p><br/>
              <p class="info_contact">
                <span>If you have any questions, please do not hesitate to</span>
                <span class="terms_inner_content"><%= link_to "contact us", contact_us_path, target:"_blank" %></span>
              </p>
            </div>
            <div class="clear"></div>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">2</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>

















