<div class="landingpage_singedout_section">
  
  <div class="medium-12 columns banner_singedout_section upper_section">
    <div class="banner_inner_section">
      <!-- header -->
      <div class="header_section">
        <div class="logo_links_section">
          <span class="logo"><%= link_to(image_tag("img_spefz_logo.png", :alt =>  "alt text", :class =>"#"), root_path) %></span>
          <!-- <span class="logo_title">Spef<span>z</span></span> -->
          <span class="links">
            <ul>
              <li><%= link_to "Contact us", "#" %></li>
              <li><%= link_to "How it works", "#" %></li>
              <li><%= link_to "About us", "#" %></li>
            </ul>
          </span>
        </div>
      </div>

      <!-- banner content -->
      <div class="banner_content">
        <h1>Meet New People, Enjoy Your City</h1>
        <div class="sub_header">Discover the most interesting socials and events happening around you.</div>
        <div class="signup_container">
          <div><%= render 'signups/form' %></div>
          <div class="launch_info">launching in 2016</div>
        </div>
      </div>
    </div>
  </div>

  <!--content -->
  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header">explore your city with new people</div>
        <div class="sub_header">do more of things you like, when you discover new things to do</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="feed_container">
          <ul class="">
            <!-- first feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 october 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> king's college london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">richill is organising</div>
                    <div class="feed_title">chicken and veg dinner after work</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- second feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 october 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> king's college london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">richill is organising</div>
                    <div class="feed_title">chicken and veg dinner after work</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                    <!-- third comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- third feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 october 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> king's college london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">richill is organising</div>
                    <div class="feed_title">chicken and veg dinner after work</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
            <!-- fourth feed -->
            <li class="medium-3 columns">
              <div class="feed_inner_section">
                <div class="feed">
                  <div class="feed_header">
                    <div class="feed_date"><i class="fa fa-calendar date"></i> sat, 24 october 2016</div>
                    <div class="feed_location"><i class="fa fa-map-pin location"></i> king's college london</div>
                    <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                  </div>
                  <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="feed_user"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></div>
                  <div class="clear"></div>
                  <div class="feed_sub_title">
                    <div class="feed_organizer">richill is organising</div>
                    <div class="feed_title">chicken and veg dinner after work</div>
                  </div>
                </div>
                <div class="feed_comments_container">
                  <ul>
                    <!-- first comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                    <!-- second comment -->
                    <li>
                      <ul class="inline-list feed_inner_comment_section">
                        <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img-profile-image.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                        <li class="medium-10 columns feed_comment"><span><b><%= link_to "richill", "#" %></b>chicken and veg dinner after work chicken and veg dinner after work</span></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="booking">
                  <div><%= link_to "attend", "#" %></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark">
      <div class="header_section">
        <div class="header">fill your social dairy, instantly and on-the-go</div>
        <div class="sub_header">do more of things you like, when you discover new things to do</div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns content_container">
      <div class="header_section">
        <div class="header">now in more than 50 cities!</div>
        <div class="sub_header">use spefz when you travel to new cities to travel with locals</div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns lower_section">
    <div class="medium-12 columns background_dark">
      <div class="header_section">
        <div class="header">find out more about us</div>
        <div class="sub_header">we like to keep our members up to date via social media</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="social_media">
          <%= link_to '', 'https://www.facebook.com/AfricanJober-484647871743429/', class: "fa fa-facebook-square" %>
          <%= link_to '', 'https://twitter.com/africanjober', class: "fa fa-twitter-square" %>
          <%= link_to '', 'https://www.linkedin.com/company/africanjober', class: "fa fa-linkedin-square" %>
          <%= link_to '', 'https://www.instagram.com/africanjober/', class: "fa fa-instagram" %>
        </div>
      </div>
    </div>
  </div>

</div>

