<!-- _content_user_adminpanel_left_column-->
<div class="left_inner_section">
  <ul>
    <li>
      <div class="list_options active">
        <%= link_to "#" do %>
        <span><i class="fa fa-tachometer" aria-hidden="true"></i></span>
        <span class="option_header">overview</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
        <span><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
        <span class="option_header">analytics</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
        <span><i class="fa fa-building-o" aria-hidden="true"></i></span>
        <span class="option_header">spefz ltd</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="option_header">users</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
          <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span class="option_header">socials</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
          <span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
          <span class="option_header">events</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
          <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>
          <span class="option_header">transactions</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
          <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          <span class="option_header">blogs</span>
        <% end %>
      </div>
    </li>
    <li>
      <div class="list_options">
        <%= link_to "#" do %>
          <span><i class="fa fa-rss" aria-hidden="true"></i></span>
          <span class="option_header">inquiries</span>
        <% end %>
      </div>
    </li>
  </ul>
</div>