<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <li><%= link_to "Account & Profile", help_account_and_profile_path %></li>
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li class="active"><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>become a partner</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">
              <p>Want to partner with CitySocializer? You should do.Our partners are at the forefront of social discovery thanks to us. Get in touch and we can talk you through what we can do for your company <%= link_to "partners@spefz.com", "#" %></p>

              <p>This page (together with the documents referred to or on it) informs users the terms of use in which they may make use of on the website www.africanjober.com together with the use of any mobile applications (together “our site”), whether as a guest or a registered user, and whether as a job-seeker or as the placer of available roles. Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</p>

              <p><b>Information about us</b> www.africanjober.com is a site operated by Africanjober Limited. We are registered in England and Wales under company number 10180012. We are a limited company.</p>

              <p><b>Accessing our site</b> Access to our site is permitted on a temporary basis, and We reserve the right to withdraw or amend the service We provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period. From time to time, We may restrict access to some parts of our site, or our entire site, to users who have registered with us. If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.
              </p>

              <p>In the case of an Employment engagement, the Employer may elect to pay one of the following two Success Fee options: 
                <ul>
                  <li>(1) the Employer may pay a Success Fee equal to 15% of the Prospective Employee’s first year base salary (an “Upfront Success Fee”), which amount shall be due and payable thirty (30) days after the Start Date (the “Upfront Success Fee Option”); OR </li>
                  <li>(2) in the event that Africanjober in its sole discretion has approved the Employer to pay on a monthly basis (the “Monthly Success Fee Option”), the Employer may pay a monthly Success Fee equal to 2% of the Employee’s first year base salary (a “Monthly Success Fee”), with the first payment due on the Start Date and each subsequent payment due monthly thereafter for ten (10) months until the earlier of (a) payment of ten Monthly Success Fee installments or (b) termination of the Prospective Employee for whom the Monthly Success Fee Option was selected.</li>
                </ul>
              </p>

              <p>Employers granted the Monthly Success Fee option are required to (1) complete the Africanjober Direct Debit Authorization Form allowing Africanjober to directly withdraw, debit or charge monthly payments from Employer’s designated bank or credit card account(s) and (2) be subject to a credit review.</p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







