<div class="userprofile_dropdownbox_inner_container">
  <ul>

    <% if current_user.admin_pa_management_group %>
    <li>
      <div class="list_cover">
        <span><i class="fa fa-tasks" aria-hidden="true"></i></span>
        <span><%= link_to "dashboard", dashboard_user_path(current_user) %></span>
      </div>
    </li>
    <% end %>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span><%= link_to "edit profile", edit_user_path(current_user) %></span>
      </div>
    </li>
    
    <% if current_user.subscribed_access? %>
    <li>
      <div class="list_cover">
        <% if current_user.image? %>
          <span><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
          <span><%= link_to 'create social', new_user_social_path(current_user) %></span>
        <% else %>
          <span><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
          <span><div><%= link_to 'create social', image_restriction_page_path %></div></span>
        <% end %>
      </div>
    </li>
    <% end %>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <span><%= link_to 'my socials', "#" %></span>
      </div>
    </li>
    
    <li>
      <div class="list_cover">
        <span><i class="fa fa-users" aria-hidden="true"></i></span>
        <span><%= link_to 'network', "#" %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>
        <span><%= link_to 'account', account_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-cog" aria-hidden="true"></i></span>
        <span><%= link_to 'settings',settings_user_path(current_user) %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <span><%= link_to 'help & support', help_path %></span>
      </div>
    </li>

    <li>
      <div class="list_cover">
        <span><i class="fa fa-power-off" aria-hidden="true"></i></span>
        <span><%= link_to "sign out", destroy_user_session_path, method: :delete  %></span>
      </div>
    </li>
  </ul>
</div>





