<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <!-- <li><%# link_to "Account & Profile", help_account_and_profile_path %></li> -->
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li class="active"><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>become a partner</h1>
            <div class="terms_date"></div>
            <div class="terms_content_info">

              <p>Become our venue partner. Want to partner with Spefz? You should do. Our partners are at the forefront of social discovery thanks to us. Get in touch and we can talk you through what we can do for your company <%= mail_to "partners@spefz.com", "partners@spefz.com", subject: "Become a Partner of Spefz" %></p>

              <div class="partner_images">
                <ul style="list-style-type:none; margin-left:0px;">
                  <li class="img_shake">
                    <div><%= image_tag("img_partner_handshake.png") %></div>
                    <div class="img_text">join us</div>
                  </li>
                  <li class="img_partner">
                    <div><%= image_tag("img_partner_case.png") %></div>
                    <div class="img_text">become a busines partner</div>
                  </li>
                  <li class="img_people">
                    <div><%= image_tag("img_partner_people.png") %></div>
                    <div class="img_text">drive in more customers</div>
                  </li>
                  <li class="img_graph">
                    <div><%= image_tag("img_partner_graph.png") %></div>
                    <div class="img_text">see your busniess grow</div>
                  </li>
                </ul>
              </div>
              <div class="clear"></div>

              <p>Drive new customers to your door. <%= link_to "Become our venue partner. Get in Touch!", contact_us_path %>
                <ul>
                  <li><b>More customers</b> Increase your footfall and revenues.</li>
                  <li><b>Grow your community</b> Build a relationship with our trusted members.</li>
                  <li><b>New audience</b> Promote your venue to a new and active audience</li>
                </ul>
              </p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







