<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <li><%= link_to "Account & Profile", help_account_and_profile_path %></li>
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li class="active"><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>cancellations & refunds</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p><b>How do I get a refund for my Spefz online dating membership?</b> We are not able to refund online memberships. However, if you think you qualify for a refund please contact us using at <%= link_to "spefz@admin.com", "#" %>. We are not able to deal with refund requests on the telephone.</p>

              <p><b>I can't make an event. Can I send a friend instead?</b> Yes, you can send a friend of the same gender in your place for no additional charge. Please contact us at <%= link_to "spefz@admin.com", "#" %> so that we can register your friend. If your friend is the opposite gender we may still be able to help you. Please call us to check.</p>

              <p><b>I've signed up for a Spefz online membership auto-renewal but would now like to cancel?</b> Please contact us at <%= link_to "spefz@admin.com", "#" %> for any subscription membership cancellation. Under our terms and conditions we do not refund membership fees.</p>

              <p><b>My credit card seems to have been charged twice?</b> Very occasionally we do get double payments. Please contact us at <%= link_to "spefz@admin.com", "#" %> with your transaction ID or the date you booked and we'll refund the double payment for you.</p>

              <p><b>Where can I view my "Billing History" and how long is left of my membership?</b> To view your current status: Just click on your profile image in the header, then got to 
                <span>
                  <% if signed_in? %>
                    <%= link_to "Account", account_user_path(current_user) %>.
                  <% else %>
                    <%= link_to "Account", "#" %>. 
                  <% end %> 
                </span>
              </p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







