<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li class="active"><%= link_to "About Spefz", help_path %></li> 
                <!-- <li><%# link_to "Account & Profile", help_account_and_profile_path %></li> -->
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>about spefz</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p>Spefz is a speed-networking & a social life app. We believe meeting people is best done in rela life, preferably over a glass of wine. Our events and socials offer busy professionals a great way to meet new people in a fun, safe and chilled environment.</p>

              <p>We organise a range of networking events such as elite professionals, graduate professionals, silent-networking, speed-dating, wine tasting, quiz nights and more. We intend to create a place that combines having fun with new people offline, and a place to stay in touch with them online as your new network grows.</p>

              <p>We like to offer guests a variety of ways to meet new people but our heart is really in events. Connecting has never been more fun, safe, or awesome</p>

              <p>Spefz is an online network that helps you meet new people through social events and speed events. Our social discovery network allows you to make the most of your free time and connects people offline. Members can select from all the social events created by their network, or can create their own socials for other members of similar interest to join. In any case, you will meet and connect with lots of new people in your city.</p>

              <p class="underlined_header"><b>PR</b></p>
              <p>We're the experts in social discovery, connecting people around their interests. Get in touch for comments and case studies <%= mail_to "press@spefz.com", "press@spefz.com", subject: "Press Related Enquiry" %></p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







