<% if @event.host.present? %>
  <div class="event_host_section">
    <div class="listed_hosts">
      <ul>
        <% @event.host.users.each do |host| %>
        <li>
          <span class="host"><%= link_to(image_tag(host.image_url), host) %></span>
          <div class="host_details">
            <div>Meet your host</div>
            <div class="host_name"><%= link_to "#{host.firstname} #{host.lastname}", host %></div>
          </div>
          <div class="introduction">
            <%= host.host_description %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
      <div class="edit_host"><%= link_to "Edit Host", edit_host_path(@event.host), target:"_blank" %></div>
    <% end %>
  </div>
<% else %>
  <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
    <div class="event_host_section">
      <div class="listed_hosts">
        <div class="no_host_text">currently no hosts for this event</div>
        <div class="add_host">
          <a href="#" data-reveal-id="myModal-events-hosts">Add Hosts</a>
          <span><%= render 'shared/modal_event_hosts' %></span>
        </div>
      </div>
    </div>
  <% else %>
    <div class="event_host_section">
      <div class="listed_hosts">
        <ul>
          <li>
            <span class="host"><%= link_to (image_tag("img-profile-image-default.png")), "#" %></span>
            <div class="host_details">
              <div>Meet your host</div>
              <div class="host_name"><%= link_to "Assigning Host", "#" %></div>
            </div>
          </li>
          <li>
            <span class="host"><%= link_to (image_tag("img-profile-image-default.png")), "#" %></span>
            <div class="host_details">
              <div>Meet your host</div>
              <div class="host_name"><%= link_to "Assigning Host", "#" %></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>


