<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Terms <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "Terms of Service", terms_path %></li> 
                <li><%= link_to "Privacy Policy", terms_privacy_path %></li>
                <li class="active"><%= link_to "Cookie Policy", terms_cookie_policy_path %></li>
                <li><%= link_to "GDPR Compliance", terms_gdpr_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>cookie policy</h1>
            <div class="terms_date">Revised: March, 2018</div>
            <div class="terms_content_info">
              <p>Like many online services, we use cookies to collect information. “Cookies” are small pieces of information that a website sends to your computer’s hard drive while you are viewing the website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site. This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs.</p>

              <p>In particular, we use the following categories of cookies on our Site:</p>

              <p><b>Category 1: Strictly Necessary Cookies</b> These cookies are essential in order to enable you to move around the Site and use its features. Without these cookies, services you have asked for such as remembering your login details cannot be provided.</p>

              <p><b>Category 2: Performance Cookies</b> These cookies collect anonymous information on how people use our Site. For example, we use Google Analytics to collect information such as how often users visit the Site, what pages they visit, and what other sites they used prior to coming to the Site. We use the information we get from Google Analytics only to improve our Site and Service. Google Analytics collects only the IP address assigned to you on the date you visit the Site, rather than your name or other Personal Data. We do not combine the information generated through the use of Google Analytics with your Personal Data. Although Google Analytics plants a persistent Cookie on your web browser to identify you as a unique user the next time you visit the Site, the Cookie cannot be used by anyone but Google. Google’s ability to use and share information collected by Google Analytics about your visits to the Site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy.</p>

              <p><b>Category 3: Functionality Cookies</b> These cookies remember choices you make such as the country you visit our Site from. These can then be used to provide you with an experience more appropriate to your selections and to make the visits more tailored and pleasant. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>

              <p><b>Category 4: Targeting cookies or advertising cookies</b> These cookies collect information about your browsing habits in order to make advertising more relevant to you and your interests. They are also used to limit the number of times you see an advert as well as help measure the effectiveness of an advertising campaign. The cookies are usually placed by third party advertising networks. They remember the websites you visit and that information is shared with other parties such as advertisers.</p>

              <p><b>Category 5: Social Media Cookies</b> These cookies allow you to share what you’ve been doing on the website on social media such as Facebook and Twitter. These cookies are not within our control.  Please refer to the respective privacy policies for how their cookies work.</p>

              <p><b>How to delete cookies</b> If you want to delete any cookies that are already on your computer, please refer to the help and support area on your internet browser for instructions on how to locate the file or directory that stores cookies.</p>

              <p>Information on deleting or controlling cookies is available at <%= link_to "http://allaboutcookies.org", "http://allaboutcookies.org", target:"_blank" %>. Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.</p>

              <p>To opt out of being tracked by Google Analytics across all websites visit <%= link_to "http://tools.google.com/dlpage/gaoptout", "http://tools.google.com/dlpage/gaoptout", target:"_blank" %>.</p>

              <p>If you'd like to opt out of other third party cookies relating to behavioural advertising, please go to <%= link_to "http://youronlinechoices.eu", "http://youronlinechoices.eu", target:"_blank" %>. Opting out does not mean you will no longer receive online advertising. It does mean that the company or companies from which you opted out will no longer deliver ads tailored to your web preferences and usage patterns.</p>

              <p><b>Information Collected by Our Servers</b> To make our Site and Service more useful to you, to analyse trends and to gather broad demographic information for aggregate use, our servers (which may be hosted by a third party service provider) automatically collect information from you, including your browser type, operating system, Internet Protocol (“IP”) address (a number that is automatically assigned to your computer when you use the Internet, which may vary from session to session), domain name, and/or a date/time stamp for your visit.</p>
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







