<div class="userfriendrequests_inner_container">
  <div class="content_list">
    <ul>
      <% current_user.requested_friends.each do |friend| %>
        <li>

          <div class="image_section">
            <span class="img_cover">
              <% if friend.image_url.present? %>
                <%= link_to(image_tag(friend.image_url, :alt =>  "image", :class =>"#", id: ""), user_path(friend)) %>
              <% else %>
                <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: ""), user_path(friend)) %>
              <% end %>
            </span>
          </div>

          <div class="user_info_section">
            <div class="friend_request_name"><%= link_to truncate("#{friend.firstname} #{friend.lastname}", length: 23), user_path(friend) %></div>
            <div class="user_profession"><%= truncate(friend.profession, length: 23) %></div>
          </div>

          <div class="action_btn_section"> 
            <span class="btn btn_add_friend"><%= link_to "Connect", "#" %></span>
            <!-- <span class="btn btn_add_friend"><%# link_to "Add Friend", "#" %></span>  -->
            <span class="btn btn_remove_friend"><%= link_to "Remove", "#" %></span>       
          </div>

        </li>
        <div class="clear"></div>
      <% end %>
    </ul>
  </div> 
</div>