<div class="medium-12 columns sponsorship_section">
  <div class="sponsorship_inner_container">
    <!-- left_column_section -->
    <div class="medium-2 columns left_section">
      <div class="company_section">
        <span class="business_name">spefz ltd</span>
        <span class="business_logo"><%= link_to(image_tag("apple-touch-icon.png"), "https://www.spefz.com", target:"_blank") %></span>
      </div>
      <div class="clear"></div>
      <div class="divider"></div>
      <div class="listed_sections">
        <ul>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">cover</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".introduction_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">introduction</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".services_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">our services</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".team_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">who we are</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".benifit_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">the benifit to you</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".value_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">added value</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".option_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship options</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".look_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">look and feel</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".terms_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship terms</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".signature_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">signature</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- right_column_section -->
    <div class="medium-10 columns right_section">

      <!-- scroll_up_btn -->
      <div class="medium-12 columns lift_btn_cover">
        <div class="lift_btn" >
          <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      
      <div class="right_inner_section">
        <!-- pagecover_content -->
        <div class="medium-12 columns sonpsorship_content pagecover_content">
          <div class="sp_inner_content pagecover_inner_content">
            <div class="main_text">sponsorship proposal</div>
            <div class="sub_text">spefz event management</div>
              <div class="sp_event_details">
              <div class="minor_text">event date: <span class="update_text">24th November 2017</span></div>
              <div class="minor_text">event location: <span class="update_text">Mahiki, 1 Dover St, Mayfair, London W1S 4LD</span></div>
              <div class="sp_evt_link"><span class="update_text"><%= link_to "www.spefz-event.com", "https://www.spefz.com/events/speed-social-elite-professionals/preview", target:"_blank" %></span></div>
            </div>
          </div>
          <div class="img_banner_content"><div class="main_img"></div></div>
        </div>
        <div class="clear"></div>

        <!-- introduction_content -->
        <div class="medium-12 columns sonpsorship_content introduction_content">
          <div class="sp_inner_content introduction_inner_content">
            <div class="sp_main_header">introduction</div>
            <p>We are pleased to inform you that Spefz Ltd is organizing a promotional event for the launch of its social dating/networking app. The Event is located at <span class="update_text">Mahiki, 1 Dover St, Mayfair, London W1S 4LD</span> on the <span class="update_text">24th of November 2017</span>.</p>
            <p>We have a thriving community of followers between the ages of 28-48 and we would like to discuss with you the opportunity to align your product with our event in order promote your brand and to promote our app.</p>
            <p>Spefz is a selective social dating app that holds exclusive live events for our registered members on the platform. We create profiled live events that gather and group individuals of similar interests and preferences, so the probability of members connecting will be much higher; we do this by auto-matching individuals to specific events (via our internal rating algorithm system on personality, physical appearance and interests) in order to ensure our members are able to network effectively and meet like-minded people of their calibre.</p>
            <p>Our events offer busy professionals a great way to meet new people in a fun, safe and chilled environment. The main key to creating our events is based on our internal algorithm that ensures that the compatibility and mutual interests of our members are met.</p>
            <p>From the decorations to the food choices and activities, and by providing events in the best UK's most stylish venues, we ensure that we provide our members with a 360 degree experience. Our team of experts are ready to create a phenomenal experience for our members.</p>
            <div class="medium-12 columns featured_section">
              <div class="featured_title">we've been featured in:</div>
              <div class="featured_inner_section">
                <ul>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_01_d27prr.png", class: "img_featured_01"), "http://www.londonlovesbusiness.com/business-news/tech/speed-dating-start-up-aims-to-increase-odds-of-romantic-connection/17618.article", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_dailymail_cnunyj.png", class: "img_featured_02"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_cosmopolitan_mobc80.png", class: "img_featured_03"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_theguardian_iuunz2.png", class: "img_featured_04"), "#", target:"_blank") %></li>
                  <li class="img_featured_bc"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_businesscloud_xhzcm3.png", class: "img_featured_05"), "http://www.businesscloud.co.uk/news/speed-dating-start-up-increases-odds-of-romantic-success", target:"_blank", target:"_blank") %></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">1</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- our_services_content -->
        <div class="medium-12 columns sonpsorship_content services_content">
          <div class="sp_main_header">our services</div>
          <p>We manage the end-to-end logistics of our events. Our services include;</p>
          <ul>
            <li>
              <span>Creating events for our members in the best UK's most stylish venues. Events are held on a weekly bases.</span>
              <div>There 3 main types of events Spefz organizes:</div>
              <ul>
                <li>
                  <u>SpeedDating Events:</u>
                  <div>maximum number of attendees 40. This is a seated event. Women are seated and men circulate. 5 mins given to each member to communicate with one another.</div>
                </li>
                <li>
                  <u>MixMatch Events:</u>
                  <div>maximum number of attendees 60. This is both a seated and standing networking event. Spefz team take the initiative in introducing members to one another based on algorithm stats created on the web platform.</div>
                </li>
                <li>
                  <u>Socials/After-work Drinks:</u>
                  <div>maximum number of attendees 30. These are socials, after work drinks/meeting, where subscribed members can attend.</div>
                </li>
              </ul>
            </li>
            <li>Auto-matching members to the right events based on algorithmic statistics</li>
            <li>Attendee Evaluation: matching members with one another at live based on algorithmic statistics</li>
            <li>Event planning: management and execution of events. Capturing onsite and post event feedback</li>
            <li>Venue location: selecting the right venues and managing contracts associated</li>
            <li>Event registration: pre and day registration of all our event registration requirements</li>
            <li>Post Event Analysis: delivering a post event report detailing achievements and providing recommendations for our members on future events to attend</li>
            <li>Sponsorship and speaking opportunities</li>
            
          </ul>
          <div class="page_number_section">
            <div class="page_number_line"></div>
            <div class="page_number_content"><div class="page_number"><span class="number">2</span></div></div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- team_content -->
        <div class="medium-12 columns sonpsorship_content team_content">
          <div class="sp_inner_content team_inner_content">
            <div class="sp_main_header">who we are</div>
            <p>Since early 2017, Spefz Ltd has been aiming to focus on helping its members effectively meet, network and connect with ambitious, like-minded people of their calibre through social dating & networking events. Our Team and Webapp platform brings and contributes a wealth of knowledge and experience that is unmatched in the event dating/networking industry.</p>
            <p>
              <b>Why We Do What We Do</b><br/>
              <span>We are passionate about connecting the right people via live events. We believe these days a lot of social dating & networking events are focused mainly on gathering random individuals to an event. We would like to be a part of changing that by gathering individuals of similar interests and personality traits at an event, thus increasing the likely hood of members being connected with other members of their calibre and preference.</span>
            </p>
            <p>
              <b>The Event Leadership Team</b><br/>
              <span><i>"it is important for us to be sponsored by companies that match our values and to focus on our strengths and weakness in order to provide sponsorship opportunities that really fit our values and our sponsors values."</i></span>
              <div class="event_leaderships">
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns event_member">
                    <div class="img_cover">
                      <%= image_tag("img_profile_17.png") %>
                    </div>
                  </div>
                  <div class="medium-10 columns event_member_info">
                    <div><b>Helen Stuarts</b></div>
                    <span>Helen has more than 15 years of experience in public relations and event planning. She started her career in New York City, where she worked as a publicist for celebrities and business moguls. She specializes in the planning, executing and managment of our social dating and networking events, and particular enjoys working for a cause that benefits our members.</span>
                  </div>
                </div>
                <div class="medium-12 columns evt_divider"></div>
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns event_member">
                    <div class="img_cover">
                      <%= image_tag("img_profile_01.png") %>
                    </div>
                  </div>
                  <div class="medium-10 columns event_member_info">
                    <div><b>Richill Tamakloe</b></div>
                    <span>Coming from the Swiss private banking world, where she became and expert in managing the often eccentric demands of private clients, Richill brings the personal touch to all her client relationships. Her job is to ensure you (our sponsors) are getting the most out of your sponsorship experience.</span>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">3</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- benifit_content -->
        <div class="medium-12 columns sonpsorship_content benifit_content">
          <div class="sp_inner_content benifit_inner_content">
            <div class="sp_main_header">the benefits to you</div>
            <p>As your marketing partner, Spefz Ltd. takes our sponsorship agreement very seriously. You make a promise to support our values and concept, and in return we promise to deliver the best sponsorship benefits.</p>
            <p>
              <b>Connect With Our Members</b><br/>
              <span>Sponsors are getting more and more discerning about which event companies they do business with. What better way to communicate and promote your product by sponsoring our social events that matches the social value of your product.</span>
            </p>
            <p>
              <b>Increase Sales</b><br/>
              <span>You'll have unparalleled in-person access to thousands of our registered members when you become and integral part of our events, through having your brand and message displayed through out the entire event.</span>
            </p>
            <p>
              <b>Promote Your Brand And Win New Customers</b><br/>
              <span>Promote your brand to a whole new target social circle. Every time our members attend a social dating or networking event and encounter with our services, your brand will be front and centered.</span>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">4</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- value_content -->
        <div class="medium-12 columns sonpsorship_content value_content">
          <div class="sp_inner_content value_inner_content">
            <div class="sp_main_header">added value</div>
            <p>As a Sponsor, you'll have access to our extensive list of influential members and volunteers, as well as special brand and social marketing. The value we bring to the table include;</p>
            <ul>
              <li>
                <b>Social Media Exposure</b><br/>
                <span>With a listed level of followers via facebook and twitter and more than 2000 on other social media platforms we can surely provide exposure in the promotion of your brand on our platforms. We're highly skilled at engaging with and leveraging those connections for your benefits.</span>
              </li>
              <li>
                <b>Brand Promotion</b><br/>
                <span>We'll promote your brand to a whole new social circle. Every time our members attend a social dating or networking event, your brand will be front and centered.</span>
              </li>
              <li>
                <b>Unique Marketing Channels</b><br/>
                <span>Because we have the longstanding trust of our community, we have access to valuable marketing channels. In addition to our own database of members, we partner with other organizations and events.</span>
              </li>
            </ul>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">5</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- option_content -->
        <div class="medium-12 columns sonpsorship_content option_content">
          <div class="sp_inner_content option_inner_content">
            <div class="sp_main_header">sponsorship options</div>
            <p>
              <table>
                <tr>
                  <th>Gold Sponsor</th>
                  <th>Silver Sponsor</th>
                  <th>Bronze Sponsor</th>
                </tr>
                <tr>
                  <td>£9'000</td>
                  <td>£6'000</td>
                  <td>£3'000</td>
                </tr>
                <tr>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>equal naming rights to the event</li>
                        <li>brand promotion on flyers</li>
                        <li>brand promotion on site</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>-</li>
                        <li>-</li>
                        <li>brand promotion on site</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><%= link_to "View Gold Sponsorship", "" %></td>
                  <td><%= link_to "View Silver Sponsorship", "" %></td>
                  <td><%= link_to "View Bronze Sponsorship", "" %></td>
                </tr>
              </table>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">6</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- look_content -->
        <div class="medium-12 columns sonpsorship_content look_content">
          <div class="sp_inner_content look_inner_content">
            <div class="sp_main_header">how your sponsorship will look and feel</div>
            <p>As a <b>Gold Sponsor</b> you'll get star treatment, equal naming right to the event, promotion of brand on advertising materials, website, social media platforms and at the event. Your brand will appear on all collateral, advertising and electronic media associated with the event. You'll also be invited to display your banner at the venue.</p>
            <p>As a <b>Silver Sponsor</b> you'll get a fantastic opportunity to promote your brand on our website, social media platforms and at the event. You'll also be invited to display your banner at the event venue.</p>
            <p>Our <b>Bronze Sponsors</b> will have the opportunity of the promotion of their brand at our event and accross our range of social media platforms. You'll also be invited to display your banner at the venue.</p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">8</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- terms_content -->
        <div class="medium-12 columns sonpsorship_content terms_content">
          <div class="sp_inner_content terms_inner_content">
            <div class="sp_main_header">sponsorship terms & conditions</div>
            <p>This Agreement and the rights and obligations of both parties shall be governed by, and construed in accordance with, the laws of England and Wales, the parties irrevocably agree to submit to the exclusive jurisdiction of the courts of England and Wales.</p>
            <p>The Event <%= link_to "(as defined on the cover page)", ".pagecover_content", rel: "relativeanchor" %> is organised and managed by Spefz Limited, a company registered in England and Wales with registration 10600699.</p>
            <p>This <span class="update_text">[EVENT NAME]</span> Sponsorship Contract (the “Contract”) states the terms and conditions that govern by the contractual agreement between <span class="update_text">[SPONSOR COMPANY]</span> having its principal place of business at <span class="update_text">[SPONSOR ADDRESS]</span> (the “Sponsor”), and <span class="update_text">[SPEFZ EVENT MANAGEMENT/HOST (Company name)]</span> (the “Host”) who agrees to be bound by this Agreement.</p>
            <p>WHEREAS, the Host is conducting <span class="update_text">[EVENT NAME]</span>, <span class="update_text">[DESCRIPTION OF EVENT]</span>, on <span class="update_text">[EVENT DATE]</span> (the “Event”); and</p>
            <p>WHEREAS, the Sponsor agrees to sponsor the Event according to the terms and conditions herein.</p>
            <p>NOW, THEREFORE, In consideration of the mutual covenants and promises made by the parties hereto, the Company and the Sponsor (individually, each a “Party” and collectively, the “Parties”) covenant and agree as follows:</p>
            <p>
              <b>Contribution</b><br/>
              <span>The total contribution provided by the Sponsor is <span class="update_text">[CONTRIBUTION AMOUNT]</span>, to be paid in full by <span class="update_text">[MMDDYYYY]</span></span>
            </p>
            <p>
              <b>Term/Termination</b><br/>
              <span>This Contract will terminate automatically upon completion of <span class="update_text">[TERMINATION DATE OR MILESTONE]</span>.</span>
            </p>
            <p>
              <b>Changes/Cancellations</b><br/>
              <span>Any changes made to this Contract must be made in writing and signed by all parties. If the Event is cancelled, refunds are <span class="update_text">[insert term(s)]</span>.</span>
            </p>

            <div class="big_header">1. agreement</div>
            <p>These terms and conditions of sponsorship (the “Terms and Conditions”) are entered into by Spefz Limited and the sponsor (“Sponsor”). These Terms and Conditions (collectively, the “Sponsorship Agreement”) shall govern the performance of the Sponsor (the “Sponsorship”), as described further in this Sponsorship Agreement.</p>
            <p>Spefz Limited reserves the right to accept or refuse any Sponsorship Agreement or proposed Sponsorship, in its sole discretion. Spefz Limited reserves the right to adopt additional regulations and to modify these Terms and Conditions, as may be deemed necessary by Spefz Limited for the general success of the Event. Such modications may include changes to the Terms and Conditions, rules and regulations stated herein, to the Sponsorship Agreement, and to all other written agreements, which may affect the parties hereto, all of which are made a part hereof as though fully incorporated herein and Sponsor agrees to be bound thereby.</p>

            <div class="big_header">2. payment & cancellation policy</div>
            <p>Full payment must be received with the Book Form to secure the Sponsorship. Without full payment, Spefz Limited cannot guarantee and will not reserve the Sponsorship for Sponsor. All requests for cancellation of a Sponsorship must be submitted in writing. All paid and guaranteed Sponsorships cancelled in writing (as set forth in the Terms and Conditions) at least sixty (60) days in advance of the Event will receive a fifty percent (50%) refund of the total Sponsorship fee. No refunds or credits will be issued on cancellation requests received less than sixty (60) days prior to the scheduled Event. Sponsorships are non-transferable.</p>

            <div class="big_header">3. term</div>
            <p>The term of the Sponsorship Agreement shall commence on the date hereof and shall continue in full force and effect until the conclusion of the Event.</p>

            <div class="big_header">4. compliance</div>
            <p>Sponsor agrees to comply with all rules, regulations and policies of Spefz Limited, as currently in existence and as may be adopted hereafter by Spefz Limited.</p>

            <div class="big_header">5. sponsorship approval</div>
            <p>All Sponsorship activities and promotions are subject to approval by Spefz Limited. Spefz Limited reserves the right to restrict, prohibit, or remove any activity, material, or promotion by Sponsor which, in its opinion and at its sole discretion, becomes objectionable for any reason and may detract from the general character of the Event. Such activities and promotions may include, but are not limited to, persons, objects, conduct, printed materials and anything which Spefz Limited determines to be objectionable. In no event shall Spefz Limited be liable for any expenses incurred as a result of such restriction, prohibition or removal.</p>

            <div class="big_header">6. choice of company logo</div>
            <p>Upon Sponsorship Agreement, Sponsor may provide Spefz Limited with multiple versions of Sponsor logo. Spefz Limited will select the best version of Sponsor logo for the most effective collateral production.</p>

            <div class="big_header">7. company recognition</div>
            <p>A Sponsorship shall exist under one (1) corporate brand name only. Sponsorship cannot be shared between two (2) or more entities.</p>

            <div class="big_header">8. sponsorship materials</div>
            <p>Spefz Limited retains complete control over the design of all materials produced to fulfill the Sponsorship. All materials used to advertise the Event shall remain the property of Spefz Limited If the materials contain a Spefz Limited logo, the materials must also contain the following: (i) the Date of the Event; (ii) the name of the Event; and (iii) the Spefz Limited Event Logo provided by Spefz Limited specifically for the Event. Under no circumstance can Sponsor use a Spefz Limited Logo that is not specifically provided in connection with the sponsored Event.</p>
            <p>Spefz Limited hereby grants Sponsor a limited, royalty free, fully paid-up, non-exclusive, non-transferable, terminable right and privilege to use the specifically provided Spefz Limited Logo for the sole purpose of marketing the Event as described above. No other right, property, license, permission or interest of any kind in or to the use of any intellectual property rights of Spefz Limited is or is intended to be given to, transferred to, or acquired by Sponsor. Sponsor agrees to comply with the marking provisions of the trademark laws of England and Wales. Sponsor agrees that its use of the Spefz Limited Logo inures to the benefit of Spefz Limited and that Sponsor shall not acquire any rights as a result of this limited license. Any use of Spefz Limited intellectual property that exceeds the limited license set forth above shall constitute a material breach of this Agreement.</p>

            <div class="big_header">9. cost and expenses</div>
            <p>All costs, fees, and expenses not directly covered as benefits of Sponsorship are the full responsibility of the sponsor.</p>

            <div class="big_header">10. exhibition</div>
            <p>The following applies to Spefz Limited Events, only.</p>
            <p>Sponsors committing to any of the offerd Sponsorships by Spefz limited (Gold Sponsor: £9'000, Silver Silver Sponsor: £6'000, Bronze Sponsor: £3'000) are referred to herein as an “Exhibitor”. Sponsors are required to maintain an exhibit at the Event. Please note that all Exhibitors will have to contact Spefz Limited in regards to completing an Exhibit Space Contract form which will be sent to the “Exhibitor” to complete . Please note that all of the terms of the Exhibit Space Contract are incorporated into this Sponsorship Agreement by reference.</p>
            <p>If Spefz Limited terminates this Sponsorship Agreement for any reason, the Exhibit Space Contract will automatically terminate. However, if Exhibitor chooses to terminate this Sponsorship Agreement in accordance with Section 18(b) of this Sponsorship Agreement, at Spefz Limited sole discretion, the Exhibitor may be allowed to maintain an exhibit at the Event. Spefz Limited will notify Exhibitor whether or not it can maintain an exhibit at the Event within five (5) days of receiving Exhibitor’s notice of termination.</p>

            <div class="big_header">11. independent contractor</div>
            <p>Each party is an independent contractor. This Sponsorship Agreement does not constitute either party as an agent, representative or partner of the other and neither shall have the authority to enter into contracts or obligations on the other’s behalf. Each party shall be solely responsible for all debts and obligations incurred by it in performing its obligations under the Sponsorship Agreement, including, without limitation, all obligations to and in respect of its employees, and each party agrees to indemnify the other to the extent a party is held to be liable for a debt or obligation of the other party under this paragraph</p>

            <div class="big_header">12. intellectual property</div>
            <p>Subject to the provisions below relating to termination of the Agreement, Spefz Limited trademarks, service marks, brand names, logos and artwork displayed on the signs and other materials hereunder, and all trademark rights or copyrights in such signs and other materials, shall be and remain the sole and exclusive property of Spefz Limited. Sponsor shall not have the right to use in any way or reproduce for any purpose the corporate or trade names, trademarks, service marks, logos or other proprietary symbols of Spefz Limited without the Spefz Limited prior written consent. Spefz Limited use of Sponsor’s name and logo pursuant to the Sponsorship does not convey Spefz Limited approval, endorsement, certification, or referral of any product or service provided by Sponsor.</p>

            <div class="big_header">13. confidentiality</div>
            <p>
              “Confidential Information” means information exchanged by the parties that is not generally known to the public and at the time of disclosure is identified as, or would reasonably be understood by the receiving party to be, proprietary or confidential. Confidential Information may be disclosed by a party in oral, written, visual, electronic or other form. The party receiving any such Confidential Information (“Receiving Party”) will use the same care and discretion to avoid disclosure, publication or dissemination of any Confidential Information received from the party disclosing such Confidential Information (“Disclosing Party”) as the Receiving Party uses with its own similar information that it does not wish to disclose, publish or disseminate (but in no event less than a reasonable degree of care). Except as otherwise expressly permitted under this Sponsorship Agreement, the Receiving Party shall not: 
              <ul>
                <li>(a) disclose, duplicate, copy, transmit or otherwise disseminate in any manner what-so-ever any Confidential Information of the Disclosing Party;</li>
                <li>(b) use the Confidential Information of the Disclosing Party 
                  <ul>
                    <li>(i) for the Receiving Party’s own benefit or that of any third party,</li>
                    <li>(ii) to the Disclosing Party’s detriment, or </li>
                    <li>(iii) for any purpose other than performance of this Agreement; </li>
                  </ul>
                </li>
                <li>(c) commercially exploit any Confidential Information of the Disclosing Party; or </li>
                <li>(d) acquire any right in, or assert any lien against, the Confidential Information of the DisclosingParty. Confidential Information shall also include the terms of this Agreement. This paragraph shall survive the termination of this Agreement.</li>
              </ul>
            </p>

            <div class="big_header">14. insurance requirement</div>
            <p>During the term of this Agreement, Sponsor is required to maintain general liability insurance in the annual aggregate for the acts and omissions of Sponsor.</p>

            <div class="big_header">15. compliance with laws</div>
            <p>Sponsor will perform all of its obligations to Spefz Limited in compliance at all times with all laws of England and Wales, rules, statutes, enactments, orders and regulations, including those of any governmental agency, and all interpretations of and changes, supplements or replacements to, any of the foregoing that are applicable to Sponsor in performing its obligations for the Event. Sponsor is duly licensed, authorized or qualified to do business and is in good standing in every jurisdiction in which a license, authorization or qualification is required for ownership or leasing of assets or the transaction of business of the character transacted by it except where the failure to be so licensed, authorized or qualified would not have a material adverse effect on Sponsor’s ability to fulfill its obligations under this Sponsorship Agreement.</p>

            <div class="big_header">16. indemnification</div>
            <p>Sponsor agrees to indemnify and hold Spefz Limited, the Event facility and its owners, officers, committees, directors, employees and agents (collectively, the “Indemnitees”) harmless from any and all claims, damages, costs, losses, expenses, causes of action, liabilities and obligations of whatever nature or type, which the Sponsor has, or may have, or which have been, or could have been, or in the future otherwise might have asserted against it in connection with acts of the Sponsor, its directors, shareholders, officers, agents or employees. Upon signing this Agreement, Sponsor expressly releases the Indemnitees from any and all claims for loss, damage or injury.</p>

            <div class="big_header">17. notices</div>
            <p>Notices (including any consent or communication hereunder) must either;
              <ul>
                <li>be in writing and may be given by first class mail (return receipt requested) or hand delivered to the address set forth below for Spefz Limited, and to the address set forth on the Booking Form, as supplied by Sponsor or</li>
                <li>be written and signed via email to the emaill address set below</li>
              </ul>
              Either party may change its notice address ro email address by using this procedure.
            </p>
            <p>
              <b>To Spefz Limited:</b><br/>
              <span>Spefz Limited, 7 Henery Court, Stanmore Place, HA7 1FG</span><br/><br/>
              <b>Email Address:</b>
              <span>admin@spefz.com</span>
            </p>

            <div class="big_header">18. termination</div>
            <ul>
              <li><b>a.</b> In the event that the Event does not occur, Spefz Limited will refund the Sponsorship fee amount to Sponsor within thirty (30) days of providing notification to Sponsor of termination of the Event.</li>
              <li><b>b.</b> Sponsor may terminate this Sponsorship Agreement by providing written notice or signed email of such cancellation to the Spefz Limited no less than sixty (60) days prior to the Event; provided, however, that Sponsor will receive fifty percent (50%) refund of the total Sponsorship fee and provided further, that upon Spefz Limited receipt of such notice of cancellation, Spefz Limited reserves its right to remove all references to Sponsor from any and all Event materials. In the event that Sponsor fails to provide Spefz Limited with notice of its intent to terminate the Sponsorship Agreement more than sixty (60) days prior to the Event, Spefz Limited will not refund the Sponsorship fee; provided, however, that Sponsor reserves the right to remove all references to Sponsor from any and all Event materials.</li>
              <li><b>c.</b> Spefz Limited may terminate this Sponsorship Agreement at any time in the event of material breach of this Sponsorship Agreement (including without limitation non-payment of fees) by Sponsor.</li>
              <li><b>d.</b> Spefz Limited may terminate this Sponsorship Agreement without cause upon written notice provided to Sponsor no less than ten (10) days prior to the Event. In the event that Spefz Limited terminates the Sponsorship Agreement following a material breach, Sponsor shall receive no refund of the Sponsorship fee. However, when terminated by Spefz Limited without cause, Spefz Limited shall refund one hundred percent (100%) of the total Sponsorship fee that Sponsor has paid as of the date of notice within thirty (30) days of providing such notice.</li>
            </ul>

            <div class="big_header">19. governing law</div>
            <p>This Sponsorship Agreement shall be governed by,  and construed in accordance with, the laws of England and Wales, exclusive of its conflicts of law rules. Venue for any action arising under or to enforce this Sponsorship Agreement shall lie exclusively in the jurisdiction of the courts of England and Wales.</p>

            <div class="big_header">20. miscellaneous</div>
            <ul>
              <li><b>a.</b> Amendments to the Sponsorship Agreement. No term of this Sponsorship Agreement may be amended, modified or waived without the express written permission of each party hereto.</li>
              <li><b>b.</b> Representations and Warranties. EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, SPEFZ LIMITED MAKES NO, AND EXPRESSLY DISCLAIMS ANY, REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, REGARDING THE EVENT, SPONSORSHIP OF THE EVENT AND SPONSORSHIP BENEFITS AND ANY OTHER SERVICE PROVIDED BY SPEFZ LIMITED HEREUNDER. THE PROVISIONS OF THIS PARAGRAPH SHALL SURVIVE TERMINATION OR EXPIRATION OF THE AGREEMENT.</li>
              <li><b>c.</b> LimitationofLiability.NEITHER PARTY WILL BE LIABLE TO THE OTHER PARTY FOR ANY INDIRECT,INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE OR SPECIAL DAMAGES ARISING OUT OF OR IN RELATION TO THIS AGREEMENT, INCLUDING LOST PROFITS REGARDLESS OF THE FORM OF THE ACTION OR THEORY OF RECOVERY, EVEN IF SUCH PARTY HAS BEEN NOTIFIED OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIMITATION OF LIABILITY SHALL NOT APPLY TO THE SPONSOR’S INDEMNIFICATION OBLIGATIONS UNDER THIS SPONSORSHIP AGREEMENT OR EITHER PARTY’S BREACH OF ITS OBLIGATIONS OF CONFIDENTIALITY.</li>
              <li><b>d.</b> Force Majeure. Spefz Limited shall not be liable for any prevention or delay in performance resulting in whole or in part, directly or indirectly, from an Act of God, terrorism, civil disturbance, court order, natural disasters, wars, riots, actions by Federal, state or local governments, or any other circumstances or causes beyond the reason- able control of Spefz Limited or its suppliers.</li>
              <li><b>e.</b> No Waiver. No delay or omission by either party in exercising any right or remedy under this Sponsorship Agreement or existing at law or equity shall be considered a waiver of such right or remedy. No waiver by either party of any right or remedy whether under this Sponsorship Agreement or otherwise shall be effective unless in writing.</li>
              <li><b>f.</b> Severability. If any provision of this Sponsorship Agreement is held to be invalid or unenforceable, it will be construed to have the broadest interpretation which would make it valid and enforceable. Invalidity and unenforceability of one provision will not affect any other provision of this Sponsorship Agreement.</li>
              <li><b>g.</b> Assignability. Neither party to this Sponsorship Agreement may assign, transfer, sell, pledge, or hypothecate its right, title of interest in this contract or any part thereof, or any rights or privileges created thereby without prior written consent of the other party. Any assignment or attempted assignment contrary to this paragraph shall be null and void. This Sponsorship Agreement shall be binding upon all successors, legal representatives and permitted assigns of the parties.</li>
              <li><b>h.</b> EntireAgreement. This Sponsorship Agreement constitutes the entire agreement of the parties hereto with respect to the subject matter hereof and supersedes any prior or contemporaneous written or verbal communications or representations regarding such subject matter. This Sponsorship Agreement may not be modified except in writing signed by both parties hereto.</li>
            </ul>
        


            

           
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">10</span></div></div>
            </div>
          </div>
        </div>




       
        
        <!-- signature_content -->
        <div class="medium-12 columns sonpsorship_content signature_content">
          <div class="sp_inner_content signature_inner_content">
            <div class="sp_main_header">signature / booking form</div>
            <p>This Agreement and the rights and obligations of both parties shall be governed by, and construed in accordance with, the laws of England and Wales, the parties irrevocably agree to submit to the exclusive jurisdiction of the courts of England and Wales.</p>
            <ul>
              <li>Please read the contract on the previous page to make sure you understand all the details involved with us working together. It's really important to us that everything is transparent and understood from the beginning so that we lay a solid foundation for a great working relationship.</li>
              <li>If you have any questions at all, please let us know. We're happy to clarify any points and there may be some items that we can sort out together. We're committed to finding the best way to work together.</li>
              <li>Once you feel confident about everything and are ready to move forward, please click the 'sign here' button below.</li>
              <li>Once we receive notification of your acceptance, we'll contact you shortly to sort out next steps and get the project rolling.</li>
              <li>If you'd like to contact us, do not hesitate to reach us <%= mail_to "admin@spefz.com", "admin@spefz.com", subject: "Sponsorship Related Enquiry" %></p></li>
            </ul>

            <!-- working_content -->
            <div class="medium-12 columns booking_form_content">
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">event name:</li>
                <li class="medium-10 columns space_content"><div>Elite Professional</div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">event date & location:</li>
                <li class="medium-10 columns space_content"><div>Mahiki, 1 Dover St, Mayfair, London W1S 4LD</div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">company name:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">sponsor representative:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">business address:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">city/town:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">postcode:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">country:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">business phone:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">business fax:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">sponsor e-mail:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">company website:</li>
                <li class="medium-10 columns space_content"><div></div></li>
              </ul>
              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">sponsorship value:</li>
                <ul>
                  <li class="medium-10 columns space_content" style="margin-top:3px;">
                    <span>
                      <input type="checkbox" value="1" id="checkboxTwoInput" name=""/>
                      <span><%= link_to "Gold Sponsor £9'000", ".option_content", rel: "relativeanchor" %></span>
                    </span>

                    <span>
                      <input type="checkbox" value="1" id="checkboxTwoInput" name=""/>
                      <span><%= link_to "Silver Sponsor £6'000", ".option_content", rel: "relativeanchor" %></span>
                    </span>

                    <span>
                      <input type="checkbox" value="1" id="checkboxTwoInput" name=""/>
                      <span><%= link_to "Bronze Sponsor £3'000", ".option_content", rel: "relativeanchor" %></span>
                    </span>
                    <span><%= link_to "view sponsorship description", ".option_content", rel: "relativeanchor" %></span>
                  </li>
                </ul>
              </ul>

              <ul class="medium-12 columns">
                <li class="medium-2 columns label_content">company logo:</li>
                <li class="medium-10 columns space_content" style="margin-top:5px;">
                  <span>
                    <input type="checkbox" value="1" id="checkboxTwoInput" name=""/>
                    <span><%= link_to ".eps vector company logo is included with this agreement", ".option_content", rel: "relativeanchor" %></span>
                  </span>
                  <div class="medium-12 columns" style="font-size:10px; background-color:transparent; padding:0px;">
                    Sponsor must provide an .eps vector file of company logo or placement cannot be guaranteed on printed materials or website produced by Spefz Limited.
                  </div>
                </li>
              </ul>
            </div>
            <div class="clear"></div>

            <!-- working_content -->

            <p class="signature_content">
              <div class="member_sig">Sponsor signature ______________________</div>
              <div>Date: ________________________________</div>  
            </p>
            <p class="signature_content">
              <div class="member_sig">Event lead signature ____________________</div>
              <div>Date: ________________________________</div> 
              <!-- Event lead signature ____________________________________________  Date: ____________________ -->
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">10</span></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>
















