<div class="medium-12 columns sponsorship_section">
  <div class="sponsorship_inner_container">
    <!-- left_column_section -->
    <div class="medium-2 columns left_section">
      <div class="company_section">
        <span class="business_name">spefz ltd</span>
        <span class="business_logo"><%= link_to(image_tag("apple-touch-icon.png"), "https://www.spefz.com", target:"_blank") %></span>
      </div>
      <div class="clear"></div>
      <div class="divider"></div>
      <div class="listed_sections">
        <ul>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">cover</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".introduction_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">introduction</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".services_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">our services</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".team_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">who we are</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".benifit_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">the benifit to you</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".value_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">added value</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".option_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship options</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".look_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">look and feel</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".terms_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">sponsorship terms</span>
              <% end %>
            </div>
          </li>
          <li>
            <div class="sponsor_list_options">
              <%= link_to ".signature_content", rel: "relativeanchor" do %>
              <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
              <span class="option_header">signature</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- right_column_section -->
    <div class="medium-10 columns right_section">

      <!-- scroll_up_btn -->
      <div class="medium-12 columns lift_btn_cover">
        <div class="lift_btn" >
          <%= link_to ".pagecover_content", rel: "relativeanchor" do %>
            <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      
      <div class="right_inner_section">
        <!-- pagecover_content -->
        <div class="medium-12 columns sonpsorship_content pagecover_content">
          <div class="sp_inner_content pagecover_inner_content">
            <div class="main_text">sponsorship proposal</div>
            <div class="sub_text">spefz event management</div>
              <div class="sp_event_details">
              <div class="minor_text">event date: 24th November 2017</div>
              <div class="minor_text">event location: Mahiki, 1 Dover St, Mayfair, London W1S 4LD</div>
              <div class="sp_evt_link"><%= link_to "www.spefz-event.com", "https://www.spefz.com/events/speed-social-elite-professionals/preview", target:"_blank" %></div>
            </div>
          </div>
          <div class="img_banner_content"><div class="main_img"></div></div>
        </div>
        <div class="clear"></div>

        <!-- introduction_content -->
        <div class="medium-12 columns sonpsorship_content introduction_content">
          <div class="sp_inner_content introduction_inner_content">
            <div class="sp_main_header">introduction</div>
            <p>We are pleased to inform you that Spefz Ltd is organizing a promotional event for the launch of its social dating/networking app. The Event is located at Mahiki, 1 Dover St, Mayfair, London W1S 4LD on the 24th of November 2017.</p>
            <p>We have a thriving community of followers between the ages of 28-48 and we would like to discuss with you the opportunity to align your product with our event in order promote your brand and to promote our app.</p>
            <p>Spefz is a selective social dating app that holds exclusive live events for our registered members on the platform. We create profiled live events that gather and group individuals of similar interests and preferences, so the probability of members connecting will be much higher; we do this by auto-matching individuals to specific events (via our internal rating algorithm system on personality, physical appearance and interests) in order to ensure our members are able to network effectively and meet like-minded people of their calibre.</p>
            <p>Our events offer busy professionals a great way to meet new people in a fun, safe and chilled environment. The main key to creating our events is based on our internal algorithm that ensures that the compatibility and mutual interests of our members are met.</p>
            <p>From the decorations to the food choices and activities, and by providing events in the best UK's most stylish venues, we ensure that we provide our members with a 360 degree experience. Our team of experts are ready to create a phenomenal experience for our members.</p>
            <div class="medium-12 columns featured_section">
              <div class="featured_title">we've been featured in:</div>
              <div class="featured_inner_section">
                <ul>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_01_d27prr.png", class: "img_featured_01"), "http://www.londonlovesbusiness.com/business-news/tech/speed-dating-start-up-aims-to-increase-odds-of-romantic-connection/17618.article", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_dailymail_cnunyj.png", class: "img_featured_02"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_cosmopolitan_mobc80.png", class: "img_featured_03"), "#", target:"_blank") %></li>
                  <li><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_theguardian_iuunz2.png", class: "img_featured_04"), "#", target:"_blank") %></li>
                  <li class="img_featured_bc"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1506784519/img_featured_businesscloud_xhzcm3.png", class: "img_featured_05"), "http://www.businesscloud.co.uk/news/speed-dating-start-up-increases-odds-of-romantic-success", target:"_blank", target:"_blank") %></li>
                </ul>
              </div>
            </div>
            <div class="clear"></div>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">1</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- our_services_content -->
        <div class="medium-12 columns sonpsorship_content services_content">
          <div class="sp_main_header">our services</div>
          <p>We manage end-to-end logistics of our events. Our services include;</p>
          <ul>
            <li>
              <span>Creating events for our memebers in the best UK's most stylish venues. Events are held on a weekly bases.</span>
              <div>There 3 main types of events Spefz organizes:</div>
              <ul>
                <li>
                  <u>SpeedDating Events:</u>
                  <div>maximum number of attendees 40. This is a seated event. Women are seated and men circulate. 5 mins given to each member to communicate with one another.</div>
                </li>
                <li>
                  <u>MixMatch Events:</u>
                  <div>maximum number of attendees 60. This is both a seated and standing networking event. Spefz team take the initiative in introducing members to one another based on algorithm stats created on the web platform.</div>
                </li>
                <li>
                  <u>Socials/After-work Drinks:</u>
                  <div>maximum number of attendees 30. These are socials, after work drinks/meeting, where subscribed members can attend.</div>
                </li>
              </ul>
            </li>
            <li>Auto-matching members to the right events based on algorithmic statistics</li>
            <li>Attendee Evaluation: matching members to one another at live based on algorithmic statistics. Capturing onsite and post event feedback.</li>
            <li>Event planning: management and execution of events</li>
            <li>Venue location: selecting the right venues and managing contracts associated</li>
            <li>Event registration: pre and day registration of all our event registration requirements</li>
            <li>Post Event Analysis: delivering a post event report detailing achievements and providing recommendations for our members on future events to attend</li>
            <li>Sponsorship and speaking opportunities</li>
            
          </ul>
          <div class="page_number_section">
            <div class="page_number_line"></div>
            <div class="page_number_content"><div class="page_number"><span class="number">2</span></div></div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- team_content -->
        <div class="medium-12 columns sonpsorship_content team_content">
          <div class="sp_inner_content team_inner_content">
            <div class="sp_main_header">who we are</div>
            <p>Since early 2017, Spefz Ltd has been aiming to focus on helping our members effectively meet, network and connect with ambitious, like-minded people through social dating & networking events. Our Team and Webapp platform brings and contributes a wealth of knowledge and experience that is unmatched in the event dating/networking industry.</p>
            <p>
              <b>Why We Do What We Do</b><br/>
              <span>We are passionate about connecting people via live events. We believe these days a lot of social dating & networking events are focused mainly on gathering random individuals to an event. We would like to be a part of changing that by gathering individuals of similar interests and personality traits to an event, thus increasing the likely hood of members being connected with other members of their caliber and preference.</span>
            </p>
            <p>
              <b>The Event Leadership Team</b><br/>
              <span><i>"it is important for us to be sponsored by companies that match our values and to focus on our strengths and weaakness and provide sponsership oppotunities that really fit our values."</i></span>
              <div class="event_leaderships">
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns event_member">
                    <div class="img_cover">
                      <%= image_tag("img_profile_17.png") %>
                    </div>
                  </div>
                  <div class="medium-10 columns event_member_info">
                    <div><b>Helen Stuarts</b></div>
                    <span>Helen has more than 15 years of experience in public relations and event planning. She started her career in New York city, where she worked as a publicist for celebrities and busniess monguls. She specialise in planning, excuting and managing our social dating and networking events, and particular enjoys working for a cause that benifits our memebers.</span>
                  </div>
                </div>
                <div class="medium-12 columns evt_divider"></div>
                <div class="medium-12 columns event_team">
                  <div class="medium-2 columns event_member">
                    <div class="img_cover">
                      <%= image_tag("img_profile_01.png") %>
                    </div>
                  </div>
                  <div class="medium-10 columns event_member_info">
                    <div><b>Richill Tamakloe</b></div>
                    <span>Coming from the Swiss private banking world, where she became and expert in managing the often eccentric demands of private clients, Richill brings the personal touch to all her sponsor relationships. Her job is to ensure you are getting the most out of your sponsorship experience.</span>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">3</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- benifit_content -->
        <div class="medium-12 columns sonpsorship_content benifit_content">
          <div class="sp_inner_content benifit_inner_content">
            <div class="sp_main_header">the benifits to you</div>
            <p>As your marketing partner, Spefz Ltd. takes our sponsorship agreement very seriously. You make a promise to support our values, and in return we promise to deliver the best sponsorship benifits.</p>
            <p>
              <b>Connect With Our Members</b><br/>
              <span>Sponsers are getting more and more discerning about which event companies they do business with. What better way to communicate and promote your product by sponsoring our social events that matches the value of your product.</span>
            </p>
            <p>
              <b>Increase Sales</b><br/>
              <span>You'll have unparalleled in-person access to thousands of our registered members when you become and integral part of the Spefz Events through having your brand and message displayed through out the entire event.</span>
            </p>
            <p>
              <b>Promote Your Brand And Win New Customers</b><br/>
              <span>Promote your brand to a whole new social circle. Everytime our members attend a social dating or networking event and encounter with our services, your brand will be front and centered.</span>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">4</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- value_content -->
        <div class="medium-12 columns sonpsorship_content value_content">
          <div class="sp_inner_content value_inner_content">
            <div class="sp_main_header">added value</div>
            <p>As a Sponser, you'll have access to our extensive list of influential members and volunteers, as well as special brand and social marketing. The value we bring to the table include;</p>
            <ul>
              <li>
                <b>Social Media Exposure</b><br/>
                <span>With are listed level of followers via facebook and twitter and more than 2000 on other social media platforms we can surely provide exposure in the prmotion of your brand on our platforms. We're highly skilled at engaging with and leveraging those connections ofr your benifits.</span>
              </li>
              <li>
                <b>Brand Promotion</b><br/>
                <span>We'll promote your brand to a whole new social circle. Everytime our members attend a social dating or networking event, your brand will be front and centered.</span>
              </li>
              <li>
                <b>Unique Marketing Channels</b><br/>
                <span>Because we have the longstanding trust of our community, we have access to valuable marketing channels. In addition to our own database of memebers, we partner with other organizations and events.</span>
              </li>
            </ul>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">5</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- option_content -->
        <div class="medium-12 columns sonpsorship_content option_content">
          <div class="sp_inner_content option_inner_content">
            <div class="sp_main_header">sponsorship options</div>
            <p>
              <table>
                <tr>
                  <th>Gold Sponsor</th>
                  <th>Silver Sponsor</th>
                  <th>Bronze Sponsor</th>
                </tr>
                <tr>
                  <td>£9'000</td>
                  <td>£6'000</td>
                  <td>£3'000</td>
                </tr>
                <tr>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>equal naming rights to the event</li>
                        <li>brand promotion on flyers</li>
                        <li>brand promotion on site</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>-</li>
                        <li>-</li>
                        <li>brand promotion on site</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="listed_benifits">
                      <ul>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        <li>brand promotion at event</li>
                        <li>social media exposure</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><%= link_to "View Gold Sponsorship", "" %></td>
                  <td><%= link_to "View Silver Sponsorship", "" %></td>
                  <td><%= link_to "View Bronze Sponsorship", "" %></td>
                </tr>
              </table>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">6</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- look_content -->
        <div class="medium-12 columns sonpsorship_content look_content">
          <div class="sp_inner_content look_inner_content">
            <div class="sp_main_header">how your sponsorship will look and feel</div>
            <p>As a <b>Gold Sponsor</b> you'll get star treatment, equal naming right to the event, promotion of brand on advertising materials, website, social media platforms and at event. Your brand will appear on all collateral, advertising and electronic media associated with the event. You'll also be invited to to display your banner at the venue.</p>
            <p>As a <b>Silver Sponsor</b> you'll get a fantastic opportunity of the promotion of your brand on our website, social media platforms and at the event. You'll also be invited to to display your banner at the venue.</p>
            <p>Our <b>Bronze Sponsors</b> will have the opportunity of the promotion of their brand at our events and accros our range of social media platforms. You'll also be invited to to display your banner at the venue.</p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">8</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- terms_content -->
        <div class="medium-12 columns sonpsorship_content terms_content">
          <div class="sp_inner_content terms_inner_content">
            <div class="sp_main_header">sponsorship terms & conditions</div>
            <p>This [EVENT NAME] Sponsorship Contract (the “Contract”) states the terms and conditions that govern the contractual agreement between  [SPONSOR COMPANY] having its principal place of business at [SPONSOR ADDRESS] (the “Sponsor”), and [EVENT HOST] (the “Host”) who agrees to be bound by this Agreement.</p>
            <p>WHEREAS, the Host is conducting [EVENT NAME], [DESCRIPTION OF EVENT], on [EVENT DATE] (the “Event”); and</p>
            <p>WHEREAS, the Sponsor agrees to sponsor the Event according to the terms and conditions herein.</p>
            <p>NOW, THEREFORE, In consideration of the mutual covenants and promises made by the parties hereto, the Company and the Sponsor (individually, each a “Party” and collectively, the “Parties”) covenant and agree as follows:</p>
            <p>
              <b>Contribution</b><br/>
              <span>The total contribution provided by the Sponsor is [CONTRIBUTION AMOUNT], to be paid in full by [MMDDYYYY]</span>
            </p>
            <p>
              <b>Term/Termination</b><br/>
              <span>This Contract will terminate automatically upon completion of [TERMINATION DATE OR MILESTONE].</span>
            </p>
            <p>
              <b>Changes/Cancellations</b><br/>
              <span>Any changes made to this Contract must be made in writing and signed by all parties. If the Event is canceled, refunds are [insert term(s)].</span>
            </p>

            <div class="big_header">article 1: scope of work</div>
            <p>
              <b>1.1 Services</b><br/>
              <span>The Company has engaged Consultant to provide services in connection with the Company's [summary of the project or business of the Company]. Consultant will [summary of the services Consultant is to provide], and such other services as described in Exhibit A (collectively, the "consulting services").</span>
            </p>
            <p>
              <b>1.2 Time and Availability</b><br/>
              <span>Consultant will devote _______ hours per month in performing the services for the Company as stated herein. Consultant shall have discretion in selecting the dates and times it performs such consulting services throughout the month giving due regard to the needs of the Company's business. If the Company deems it necessary for the Consultant to provide more than ________ hours in any month, Consultant is not obligated to undertake such work until the Consultant and Company have agreed on a rate of compensation.</span>
            </p>
            <p>
              <b>1.3 Confidentiality</b><br/>
              <span>In order for Consultant to perform the consulting services, it may be necessary for the Company to provide Consultant with Confidential Information (as defined below) regarding the Company's business and products. The Company will rely heavily upon Consultant's integrity and prudent judgment to use this information only in the best interests of the Company.</span>
            </p>
            <p>
              <b>1.4 Standard of Contact</b>
              <span>In rendering consulting services under this Agreement, Consultant shall conform to high professional standards of work and business ethics. Consultant shall not use time, materials, or equipment of the Company without the prior written consent of the Company. In no event shall Consultant take any action or accept any assistance or engage in any activity that would result in any university, governmental body, research institute or other person, entity, or organization acquiring any rights of any nature in the results of work performed by or for the Company.</span>
            </p>
            <p>
              <b>1.5 Outside Services</b><br/>
              <span>Consultant shall not use the service of any other person, entity, or organization in the performance of Consultant's duties without the prior written consent of an officer of the Company. Should the Company consent to the use by Consultant of the services of any other person, entity, or organization, no information regarding the services to be performed under this Agreement shall be disclosed to that person, entity, or organization until such person, entity, or organization has executed an agreement to protect the confidentiality of the Company's Confidential Information (as defined in Article 5) and the Company's absolute and complete ownership of all right, title, and interest in the work performed under this Agreement.</span>
            </p>
            <p>
              <b>1.6 Reports</b><br/>
              <span>Consultant shall periodically provide the Company with written reports of his or her observations and conclusions regarding the consulting services. Upon the termination of this Agreement, Consultant shall, upon the request of Company, prepare a final report of Consultant's activities.</span>
            </p>


            <div class="big_header">article 2: independent contractor</div>
            <p>
              <b>2.1 Independent Contractor</b><br/>
              <span>Consultant is an independent contractor and is not an employee, partner, or co-venturer of, or in any other service relationship with, the Company. The manner in which Consultant's services are rendered shall be within Consultant's sole control and discretion. Consultant is not authorized to speak for, represent, or obligate the Company in any manner without the prior express written authorization from an officer of the Company.</span>
            </p>
            <p>
              <b>2.2 Taxes</b><br/>
              <span>Consultant shall be responsible for all taxes arising from compensation and other amounts paid under this Agreement, and shall be responsible for all payroll taxes and fringe benefits of Consultant's employees. Neither federal, nor state, nor local income tax, nor payroll tax of any kind, shall be withheld or paid by the Company on behalf of Consultant or his/her employees. Consultant understands that he/she is responsible to pay, according to law, Consultant's taxes and Consultant shall, when requested by the Company, properly document to the Company that any and all federal and state taxes have been paid.</span>
            </p>
            <p>
              <b>2.3 Benifits</b><br/>
              <span>Consultant and Consultant's employees will not be eligible for, and shall not participate in, any employee pension, health, welfare, or other fringe benefit plan of the Company. No workers' compensation insurance shall be obtained by Company covering Consultant or Consultant's employees.</span>
            </p>

            <div class="big_header">article 3: compensation for consulting services</div>
            <p>
              <b>3.1 Compensation</b><br/>
              <span>The Company shall pay to Consultant £_________ per month for services rendered to the Company under this Agreement. The monthly compensation shall be paid on the first of the month following the month the services were provided. The monthly compensation shall be paid regardless of the number of consulting hours provided by Consultant in a particular month. [Another option is to pay hourly and require monthly time documentation. The monthly compensation would be reduced by the hourly rate for the number of hours less than the devoted hours.]</span>
            </p>
            <p>
              <b>3.2 Reimbursement</b><br/>
              <span>The Company agrees to reimburse Consultant for all actual reasonable and necessary expenditures, which are directly related to the consulting services. These expenditures include, but are not limited to, expenses related to travel (i.e., airfare, hotel, temporary housing, meals, parking, taxis, mileage, etc.), telephone calls, and postal expenditures. Expenses incurred by Consultant will be reimbursed by the Company within 15 days of Consultant's proper written request for reimbursement.</span>
            </p>


            <div class="big_header">article 4: term and termination</div>
            <p>
              <b>4.1 Term</b><br/>
              <span>This Agreement shall be effective as of _________, 201__, and shall continue in full force and effect for ____ consecutive months. The Company and Consultant may negotiate to extend the term of this Agreement and the terms and conditions under which the relationship shall continue.</span>
            </p>
            <p>
              <b>4.2 Termination</b><br/>
              <span>The Company may terminate this Agreement for "Cause," after giving Consultant written notice of the reason. Cause means: (1) Consultant has breached the provisions of Article 5 or 7 of this Agreement in any respect, or materially breached any other provision of this Agreement and the breach continues for 30 days following receipt of a notice from the Company; (2) Consultant has committed fraud, misappropriation, or embezzlement in connection with the Company' s business; (3) Consultant has been convicted of a felony; or (4) Consultant's use of narcotics, liquor, or illicit drugs has a detrimental effect on the performance of his or her employment responsibilities, as determined by the Company.</span>
            </p>
            <p>
              <b>4.3 Responsibility Upon Termination</b><br/>
              <span>Any equipment provided by the Company to the Consultant in connection with or furtherance of Consultant's services under this Agreement, including, but not limited to, computers, laptops, and personal management tools, shall, immediately upon the termination of this Agreement, be returned to the Company.</span>
            </p>
            <p>
              <b>4.4 Survival</b><br/>
              <span>The provisions of Articles 5, 6, 7, and 8 of this Agreement shall survive the termination of this Agreement and remain in full force and effect thereafter.</span>
            </p>

            <div class="big_header">article 5: confidential information</div>
            <p>
              <b>5.1 Obligation of Confidentiality</b><br/>
              <span>In performing consulting services under this Agreement, Consultant may be exposed to and will be required to use certain "Confidential Information" (as hereinafter defined) of the Company. Consultant agrees that Consultant will not and Consultant's employees, agents, or representatives will not use, directly or indirectly, such Confidential Information for the benefit of any person, entity, or organization other than the Company, or disclose such Confidential Information without the written authorization of the President of the Company, either during or after the term of this Agreement, for as long as such information retains the characteristics of Confidential Information.</span>
            </p>
            <p>
              <b>5.2 Definition</b><br/>
              <span>"Confidential Information" means information not generally known and proprietary to the Company or to a third party for whom the Company is performing work, including, without limitation, information concerning any patents or trade secrets, confidential or secret designs, processes, formulae, source codes, plans, devices or material, research and development, proprietary software, analysis, techniques, materials, or designs (whether or not patented or patentable), directly or indirectly useful in any aspect of the business of the Company, any vendor names, customer and supplier lists, databases, management systems and sales and marketing plans of the Company, any confidential secret development or research work of the Company, or any other confidential information or proprietary aspects of the business of the Company. All information which Consultant acquires or becomes acquainted with during the period of this Agreement, whether developed by Consultant or by others, which Consultant has a reasonable basis to believe to be Confidential Information, or which is treated by the Company as being Confidential Information, shall be presumed to be Confidential Information.</span>
            </p>
            <p>
              <b>5.3 Property of the Company</b><br/>
              <span> Consultant agrees that all plans, manuals, and specific materials developed by the Consultant on behalf of the Company in connection with services rendered under this Agreement, are and shall remain the exclusive property of the Company. Promptly upon the expiration or termination of this Agreement, or upon the request of the Company, Consultant shall return to the Company all documents and tangible items, including samples, provided to Consultant or created by Consultant for use in connection with services to be rendered hereunder, including, without limitation, all Confidential Information, together with all copies and abstracts thereof.</span>
            </p>
            
            <div class="big_header">article 6: rights and data</div>
            <p>All drawings, models, designs, formulas, methods, documents, and tangible items prepared for and submitted to the Company by Consultant in connection with the services rendered under this Agreement shall belong exclusively to the Company and shall be deemed to be works made for hire (the "Deliverable Items"). To the extent that any of the Deliverable Items may not, by operation of law, be works made for hire, Consultant hereby assigns to the Company the ownership of copyright or mask work in the Deliverable Items, and the Company shall have the right to obtain and hold in its own name any trademark, copyright, or mask work registration, and any other registrations and similar protection which may be available in the Deliverable Items. Consultant agrees to give the Company or its designees all assistance reasonably required to perfect such rights.</p>

            <div class="big_header">article 7: conflicts on interests and non-solicitation</div>
            <p>
              <b>7.1 Conflict of Interest</b><br/>
              <span>Consultant covenants and agrees not to consult or provide any services in any manner or capacity to a direct competitor of the Company during the duration of this Agreement unless express written authorization to do so is given by the Company's President. A direct competitor of the Company for purposes of this Agreement is defined as any individual, partnership, corporation, and/or other business entity that engages in the business of [define business - substantially similar to what is provided at Section 1.1] within _____ miles of the [facility, headquarters, etc.].</span>
            </p>
            <p>
              <b>7.2 Non-Solicitation</b><br/>
              <span>Consultant covenants and agrees that during the term of this Agreement, Consultant will not, directly or indirectly, through an existing corporation, unincorporated business, affiliated party, successor employer, or otherwise, solicit, hire for employment or work with, on a part-time, consulting, advising, or any other basis, other than on behalf of the Company any employee or independent contractor employed by the Company while Consultant is performing services for the Company.</span>
            </p>
            
            <div class="big_header">article 8: right to injunctive relief</div>
            <p>Consultant acknowledges that the terms of Articles 5, 6, and 7 of this Agreement are reasonably necessary to protect the legitimate interests of the Company, are reasonable in scope and duration, and are not unduly restrictive. Consultant further acknowledges that a breach of any of the terms of Articles 5, 6, or 7 of this Agreement will render irreparable harm to the Company, and that a remedy at law for breach of the Agreement is inadequate, and that the Company shall therefore be entitled to seek any and all equitable relief, including, but not limited to, injunctive relief, and to any other remedy that may be available under any applicable law or agreement between the parties. Consultant acknowledges that an award of damages to the Company does not preclude a court from ordering injunctive relief. Both damages and injunctive relief shall be proper modes of relief and are not to be considered as alternative remedies.</p>

            <div class="big_header">article 9: general provisions</div>
            <p>
              <b>9.1 Construction of Terms</b><br/>
              <span>If any provision of this Agreement is held unenforceable by a court of competent jurisdiction, that provision shall be severed and shall not affect the validity or enforceability of the remaining provisions.</span>
            </p>
            <p>
              <b>9.2 Governing Law</b><br/>
              <span>This Agreement shall be governed by and construed in accordance with the internal laws (and not the laws of conflicts) of the State of [governing law].</span>
            </p>
            <p>
              <b>9.3 Complete Agreement</b><br/>
              <span>This Agreement constitutes the complete agreement and sets forth the entire understanding and agreement of the parties as to the subject matter of this Agreement and supersedes all prior discussions and understandings in respect to the subject of this Agreement, whether written or oral.</span>
            </p>
            <p>
              <b>9.4 Dispute Resolution</b><br/>
              <span>If there is any dispute or controversy between the parties arising out of or relating to this Agreement, the parties agree that such dispute or controversy will be arbitrated in accordance with proceedings under American Arbitration Association rules, and such arbitration will be the exclusive dispute resolution method under this Agreement. The decision and award determined by such arbitration will be final and binding upon both parties. All costs and expenses, including reasonable attorney's fees and expert's fees, of all parties incurred in any dispute that is determined and/or settled by arbitration pursuant to this Agreement will be borne by the party determined to be liable in respect of such dispute; provided, however, that if complete liability is not assessed against only one party, the parties will share the total costs in proportion to their respective amounts of liability so determined. Except where clearly prevented by the area in dispute, both parties agree to continue performing their respective obligations under this Agreement until the dispute is resolved.</span>
            </p>
            <p>
              <b>9.5 Modification</b><br/>
              <span>No modification, termination, or attempted waiver of this Agreement, or any provision thereof, shall be valid unless in writing signed by the party against whom the same is sought to be enforced.</span>
            </p>
            <p>
              <b>9.6 Waiver of Breach</b><br/>
              <span>The waiver by a party of a breach of any provision of this Agreement by the other party shall not operate or be construed as a waiver of any other or subsequent breach by the party in breach.</span>
            </p>
            <p>
              <b>9.7 Successors and Assigns</b><br/>
              <span>This Agreement may not be assigned by either party without the prior written consent of the other party; provided, however, that the Agreement shall be assignable by the Company without Consultant's consent in the event the Company is acquired by or merged into another corporation or business entity. The benefits and obligations of this Agreement shall be binding upon and inure to the parties hereto, their successors and assigns.</span>
            </p>
            <p>
              <b>9.8 No Conflict</b><br/>
              <span>Consultant warrants that Consultant has not previously assumed any obligations inconsistent with those undertaken by Consultant under this Agreement.</span>
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">9</span></div></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        
        <!-- signature_content -->
        <div class="medium-12 columns sonpsorship_content signature_content">
          <div class="sp_inner_content signature_inner_content">
            <div class="sp_main_header">signature</div>
            <ul>
              <li>Please read the contract on the previous page to make sure you understand all the details involved with us working together. It's really important to us that everything is transparent and understood from the beginning so that we lay a solid foundation for a great working relationship.</li>
              <li>If you have any questions at all, please let us know. We're happy to clarify any points and there may be some items that we can sort out together. We're committed to finding the best way to work together.</li>
              <li>Once you feel confident about everything and are ready to move forward, please click the 'sign here' button below.</li>
              <li>Once we receive notification of your acceptance, we'll contact you shortly to sort out next steps and get the project rolling.</li>
              <li>If you'd like to contact us, do not hesitate to reach us <%= mail_to "admin@spefz.com", "admin@spefz.com", subject: "Sponsorship Related Enquiry" %></p></li>
            </ul>
            <p>
              <div class="member_sig">Sponsor signature ______________________</div>
              <div>Date: ________________________________</div>  
            </p>
            <p>
              <div class="member_sig">Event lead signature ____________________</div>
              <div>Date: ________________________________</div> 
              <!-- Event lead signature ____________________________________________  Date: ____________________ -->
            </p>
            <div class="page_number_section">
              <div class="page_number_line"></div>
              <div class="page_number_content"><div class="page_number"><span class="number">10</span></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>
















