<div class="medium-12 columns messagesent_page_section">
  <div class="messagesent_inner_container">
    <div class="messagesent_content_section">
      <h2 class="header">Message Sent</h2>

      <% if current_user %>
        <div class="subtitle">Dear <%= current_user.firstname %>, thank you for your message/feedback - we will get back to you as soon as possible</div>
      <% else %>
        <div class="subtitle">Dear User, thank you for your message/feedback - we will get back to you as soon as possible</div>
      <% end %>

      <div class="messagesent_content_inner_section">
        <h1>Thank You! </h1>
        <div><i class="fa fa-users"></i></div>
        <h2>Thank you for getting in touch with us</h2>
        <div class="sub_content">We have successfully received your message/feedback and will do our best to <br/> get back to you within 48 hours.</div>
        <div class="messagesent_btn">
          <% if signed_in? %>
            <div class="btn_first"><%= link_to 'view socials', socials_path %></div>
            <div class="btn_second"><%= link_to 'view speed-events', events_path %></div>
          <% else %>
            <div class="btn_first"><%= link_to 'sign-up', new_user_registration_path %></div>
            <div class="btn_second"><%= link_to 'sign-in', user_session_path %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>