<div>
  <div><%= link_to "sign out", destroy_user_session_path, method: :delete  %></div>
  <div><%= link_to "profile", user_path(current_user) %></div>
  <div><%= link_to "profile_a", user_path(current_user) %></div>
  <div><%= link_to "profile_b", user_path(current_user) %></div>
  <div><%= link_to "profile_c", user_path(current_user) %></div>
  <div><%= link_to "profile_d", user_path(current_user) %></div>
  <div><%= link_to "profile_e", user_path(current_user) %></div>
  <div><%= link_to "profile_f", user_path(current_user) %></div>
  <div><%= link_to "profile_g", user_path(current_user) %></div>
  <div><%= link_to "profile_h", user_path(current_user) %></div>
  <div><%= link_to "profile_i", user_path(current_user) %></div>
  <div><%= link_to "profile_j", user_path(current_user) %></div>
  <div><%= link_to "profile_k", user_path(current_user) %></div>
  <div><%= link_to "profile_l", user_path(current_user) %></div>
</div>