<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li>
                <!-- <li><%# link_to "Account & Profile", help_account_and_profile_path %></li> --> 
                <li class="active"><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>membership</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p><b>Do I Have To Pay To Use Spefz?</b> Spefz is free to sign up, take a look around and make some initial connections with other members, but ultimately we charge a membership fee for our services which means you will not be able to attend socials or send messages as a free member (Basic Member). You do not have to be a Paid Member (Subscribed Member) To attend a Speed-Event, but you do have to be a susbcsribed member to attend community socials</p>

              <p><b>How Much Does Membership Cost? (Subscription Plan)</b> Premium Membership £15.00 per month. All of our membership plans operate with a Continuous Service Agreement, meaning that they will keep renewing until canceled. You can see the status of your membership and the date of the next renewal in your account settings and you are free to cancel at any point.</p>

              <p><b>What Is A Continuous Service Agreement?</b> spefz operates a Continuous Service Agreement for our membership fees. This means that spefz automatically renews your membership when it’s about to expire. Continuous service rates apply to credit/debit card payments only and are applicable both if you join as a member online or we manually process your card details. All amounts are billed in UK sterling at the beginning of each renewal period. Your spefz membership subscription will be automatically extended for successive renewal periods of the same duration as the subscription term originally selected at the then-current membership subscription rate. If you cancel your Premium membership, you'll enjoy Premium membership benefits until the end of your then-current subscription term; your subscription won't be renewed after that term expires; and you will not be eligible for a proratad refund of any portion of the subscription fees paid.</p>

              <p><b>What Payment Methods Are Accepted On Spefz?</b> You are able to pay by debit or credit card. We accept Visa, Mastercard, Solo and Maestro and your payment is protected by 128-bit security. Payments can be in the following currencies: £ GBP, $ USD or € EUR according to your country of residence (generally that selection depends on your IP address).  We welcome spefz members from all over the world and payments in your local currency will be converted at the daily exchange rate of your card issuer. It is not possible to pay via paypal, direct debit, money transfers or cash.</p>

              <p><b>How do I get a refund for my Spefz online subscription membership?</b> We are not able to refund online memberships. However, if you think you qualify for a refund please contact us using at <%= link_to "admin@spefz.com", contact_us_path %>. We are not able to deal with refund requests on the telephone.</p>
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







