<div class="medium-12 columns ad_sponsor_mian_section">
  <!-- advert -->
  <div class="medium-12 columns ad_section">
    <% @event.businessads.live_adverts.open_adverts.each do |advert| %>
      <div class="medium-12 columns ad_container">
        <div class="ad_inner_content">
          
          <% if advert.imagelink.present? || advert.image.present? %>
            <div class="imagecontainer"><%= link_to (cl_image_tag(advert.imagelink, :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}])), "#{advert.link}", target:"_blank" %></div>
          <% else %>
            <div class="imagecontainer_no_img"></div>
          <% end %>
         
          <div class="text_conent">
            <div class="text_conent_header"><%= link_to "#{advert.name}", "#{advert.link}" %></div>
            <div class="text_conent_link"><%= link_to "#{advert.link}", "#{advert.link}" %></div>
            <div class="main_content"><%= "#{advert.content}" %></div>
          </div>

          <% if user_signed_in? %>
            <% if current_user.admin_pa_management_group || current_user.pa_administration_group || current_user.pa_event_mgt_group %>
              <% if advert.category_advert.name == "Advert" %>
                <%= link_to businessad_path(advert), target:"_blank" do %>
                  <div data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right add_type red_advert" title="<%= "#{advert.category_advert.name}"%>"></div>
                <% end %>
              <% elsif advert.category_advert.name == "Sponsorship" %>
                <%= link_to businessad_path(advert), target:"_blank" do %>
                  <div data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right add_type yellow_sponsor" title="<%= "#{advert.category_advert.name}"%>"></div>
                <% end %>
              <% elsif advert.category_advert.name == "Partnership" %>
                <%= link_to businessad_path(advert), target:"_blank" do %>
                  <div data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right add_type blue_partnership" title="<%= "#{advert.category_advert.name}"%>"></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>     
        </div>
      </div> 
    <% end %>
  </div>
  <!-- advert -->
</div>












