<% if @event.host.present? %>
  <div class="event_host_section">
    <div class="listed_hosts">
      <ul>
        <% @event.host.users.each do |host| %>
        <li>
          <span class="host"><%= link_to(image_tag(host.image_url), host) %></span>
          <div class="host_details">
            <div>Meet your host</div>
            <div class="host_name"><%= link_to "#{host.firstname} #{host.lastname}", host %></div>
          </div>
          <div class="introduction">
            <%= host.host_description %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="event_host_section">
    <div class="listed_hosts">
      <ul>
        <li>
          <span class="host"><%= link_to (image_tag("img_profile_13.png")), "#" %></span>
          <div class="host_details">
            <div>Meet your host</div>
            <div class="host_name"><%= link_to "Ian Gallaper", "#" %></div>
            <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
              <div class="dummy_host">Dummy Host [<%= link_to "Add Hosts", new_host_path %>]</div class="dummy_host">
            <% end %>
          </div>
          <div class="introduction">
            Ian is our events and marketing executive here at Spefz HQ. He deals with the organisation of all the UK speed social events.
          </div>
        </li>

        <li>
          <span class="host"><%= link_to (image_tag("img_profile_10.png")), "#" %></span>
          <div class="host_details">
            <div>Meet your host</div>
            <div class="host_name"><%= link_to "Emma Watson", "#" %></div>
            <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
              <div class="dummy_host">Dummy Host [<%= link_to "Add Hosts", new_host_path %>]</div class="dummy_host">
            <% end %>
          </div>
          <div class="introduction">
            Emma is our events and marketing executive here at Spefz HQ. She deals with the organisation of all the UK speed social events.
          </div>
        </li>
      </ul>
    </div>
  </div>
<% end %>


