<div class="medium-12 columns nav_user_section_header_unsigned">
  <header class="nav_user_inner_section">
    <nav class="nav_list">

      <!-- nav left side -->
      <ul class="inline-list left">
        <li class="logo_text"><%= link_to "SPEFZ", root_path %></li>
      </ul>

      <!-- nav right side -->
      <ul class="inline-list right">
        <li class="link responsive_view"><%= link_to 'about us', about_us_path %></li>
        <% if Album.count > 3 %>
          <li class=""><%= link_to "Albums", albums_path %></li> 
        <% else %>
          <% if Photo.count > 4 %>
            <li class="link"><%= link_to "Photos", photos_path %></li>
          <% end %>
        <% end %>
        <li class="link"><%= link_to 'sign-up', new_user_registration_path %></li>
        <li class="link"><%= link_to 'sign-in', signin_path %></li>
      </ul>
    </nav>
  </header>
</div>
<div class="clear"></div>



