<div class="medium-12 columns nav_user_section">
  <header class="nav_user_inner_section">
    <nav class="nav_list">

      <!-- nav left side -->
      <ul class="inline-list left">
        <li class="logo_text"><%= link_to "SPEFZ", socials_path %></li>
      </ul>

      <!-- nav right side -->
      <ul class="inline-list right">
        <li class="link"><%= link_to 'speed-socials', events_path %></li>
        <li class="link"><%= link_to 'socials', socials_path %></li>
        <li class="link">
          <% if current_user.image? %>
            <%= link_to 'activity', activities_path %>
          <% else %>
            <%= link_to 'activity', image_restriction_page_path %>
          <% end %>
        </li>
        <% if current_user.subscribed_access? %>
          <% if current_user.image? %>
            <li class="create_button"><%= link_to 'create social', new_user_social_path(current_user) %></li>
          <% else %>
            <li class="create_button"><%= link_to 'create social', image_restriction_page_path %></li>
          <% end %>
        <% end %>
        <li class="notification_li">
          <% if current_user.requested_friends.present? %>
            <span id="notification_count_friendRequest"><%= current_user.requested_friends.count %></span>
          <% end %>
          <div><%= link_to '', '#', id: "notificationLink_friendRequest", class: "fa fa-users" %></div>
          <div id="notificationContainer_friendRequest">
            <div id="notificationTitle_friendRequest">
              <div class="dropdown_nottification_title"><%= link_to "Requests", "#" %></div>
              <div class="dropdown_nottification_info"><i class="fa fa-user-plus" aria-hidden="true"></i> <span><%= "List of Request Received" %></span> </div>
            </div>
            <div id="notificationsBody_friendRequest" class="notifications">
              <%= render 'shared/content_dropdownbox_friendrequest' %>
            </div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>

        <li class="notification_li">
          <% if current_user.recieved_invites.present? %>
            <span id="notification_count_invites"><%= current_user.recieved_invites.count %></span>
          <% end %>
          <div><%= link_to '', '#', id: "notificationLink_invites", class: "fa fa-calendar-check-o" %></div>
          <div id="notificationContainer_invites">
            <div id="notificationTitle_invites">
              <div class="dropdown_nottification_title"><%= link_to "Invites & Cards", "#" %></div>
              <div class="dropdown_nottification_info"><i class="fa fa-envelope" aria-hidden="true"></i> <span><%= "List of Invitations Received & Cards" %></span></div>
            </div>
            <div id="notificationsBody_invites" class="notifications">
              <%= render 'shared/content_dropdownbox_invites' %>
            </div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>

        <li class="notification_li">
          <span id="notification_count_bell">2</span>
          <div><%= link_to '', '#', id: "notificationLink_bell", class: "fa fa-bell" %></div>
          <div id="notificationContainer_bell">
            <div id="notificationTitle_bell">
              <div class="dropdown_nottification_title"><%= link_to "Notifications", "#" %></div>
              <div class="dropdown_nottification_info"><i class="fa fa-globe" aria-hidden="true"></i> <span><%= "Recent Updates" %></span></div>
            </div>
            <div id="notificationsBody_bell" class="notifications"><%# render 'shared/notification' %></div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
        <li class="notification_li">
          <% if unread_messages_count > 0 %>
            <span id="notification_count_comment"><%= unread_messages_count %></span>
          <% end %>
          <div><%= link_to '', message_inbox_path, id: "", class: "fa fa-comment" %></div>
          <!-- <div><%# link_to '', "", id: "notificationLink_comment", class: "fa fa-comment" %></div> -->
          <!-- <div id="notificationContainer_comment">
            <div id="notificationTitle_comment">Messages</div>
            <div id="notificationsBody_comment" class="notifications">
              <%# render 'shared/content_dropdownbox_messages' %>
            </div>
          </div> -->
        </li>
        <li class="notification_li">
          <div class="profile_img_cover">
            <% if current_user.image.present? %>
              <div><%= link_to(image_tag(current_user.image_url, :alt =>  "image", :class =>"#", id: "notificationLink_profile"), '#') %></div>
            <% else %>
              <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: "notificationLink_profile"), '#') %></div>
            <% end %>
          </div>
          <div id="notificationContainer_profile">
            <!-- <div id="notificationTitle_profile">Notifications</div> -->
            <div id="notificationTitle_profile">
              <div class="dropdown_user_name"><%= link_to "#{current_user.firstname} #{current_user.lastname}", user_path(current_user) %></div>
              <div class="dropdown_user_membership">
                <% if current_user.subscribed? %>
                  <div><i class="fa fa-trophy" aria-hidden="true"></i> <span><%= "Your are a Premium Member" %></span></div>
                <% else %>
                  <div><i class="fa fa-certificate" aria-hidden="true"></i> <span><%= "Your are a Basic Member" %></span> <span class="divider">|</span> <span><%= link_to "Subscribe", subscription_path(@premium_plan) %></span></div>
                <% end %>
              </div>
            </div>
            <div id="notificationsBody_profile" class="notifications">
              <%= render 'shared/content_dropdownbox_users_profile' %>
            </div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div class="clear"></div>







