<div class="medium-12 columns nav_user_section">
  <header class="nav_user_inner_section">
    <nav class="nav_list">

      <!-- nav left side -->
      <ul class="inline-list left">
        <li class="logo_text"><%= link_to "SPEFZ", socials_path %></li>
      </ul>

      <!-- nav right side -->
      <ul class="inline-list right">
        <li class="link"><%= link_to 'socials', socials_path %></li>
        <li class="link"><%= link_to 'activity', '#' %></li>
        <li class="link"><%= link_to 'members', users_path %></li>
        <li class="create_button"><%= link_to 'create social', new_user_social_path(current_user) %></li>
        <li class="notification_li">
          <% if current_user.received_friend_requests.present? %>
            <span id="notification_count_friendRequest"><%= current_user.received_friend_requests.count %></span>
          <% end %>
          <div><%= link_to '', '#', id: "notificationLink_friendRequest", class: "fa fa-users" %></div>
          <div id="notificationContainer_friendRequest">
            <div id="notificationTitle_friendRequest">Notifications</div>
            <div id="notificationsBody_friendRequest" class="notifications">
              <%= render 'shared/content_users_dropdownbox_friendrequest' %>
              <%# render 'shared/notification' %>
            </div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
        <li class="notification_li">
          <span id="notification_count_bell">2</span>
          <div><%= link_to '', '#', id: "notificationLink_bell", class: "fa fa-bell" %></div>
          <div id="notificationContainer_bell">
            <div id="notificationTitle_bell">Notifications</div>
            <div id="notificationsBody_bell" class="notifications"><%# render 'shared/notification' %></div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
        <li class="notification_li">
          <span id="notification_count_comment">4</span>
          <div><%= link_to '', '#', id: "notificationLink_comment", class: "fa fa-comment" %></div>
          <div id="notificationContainer_comment">
            <div id="notificationTitle_comment">Notifications</div>
            <div id="notificationsBody_comment" class="notifications"><%# render 'shared/notification' %></div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
        <li class="notification_li">
          <div class="profile_img_cover">
            <% if current_user.image.present? %>
              <div><%= link_to(image_tag(current_user.image_url, :alt =>  "image", :class =>"#", id: "notificationLink_profile"), '#') %></div>
            <% else %>
              <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: "notificationLink_profile"), '#') %></div>
            <% end %>
          </div>
          <div id="notificationContainer_profile">
            <div id="notificationTitle_profile">Notifications</div>
            <div id="notificationsBody_profile" class="notifications">
              <%= render 'shared/content_users_dropdownbox_profile' %>
            </div>
            <!-- <div id="notificationFooter"><a href="#">See All</a></div> -->
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div class="clear"></div>







