<!-- blog mini images -->
<div id="myModal-blog-image" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="blog_mini_img_inner_container">
    <div class="header"><%= @blog.title %></div>
    <div class="content_list">
      <div>
        <div class="info_blogmini_img_content">
          <ul>
            <li>
              <%= cl_image_tag(@blog.blogimg_one, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %>
              <span class="sub_text"><%= @blog.blogimgtxt_one %></span>
            </li>
            <li class="middle_img">
              <%= cl_image_tag(@blog.blogimg_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %>
              <span class="sub_text"><%= @blog.blogimgtxt_two %></span>
            </li>
            <li>
              <%= cl_image_tag(@blog.blogimg_three, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %>
              <span class="sub_text"><%= @blog.blogimgtxt_three %></span>
            </li>
          </ul>
        </div>
      </div>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>
