<div id="myModal-users-followings" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="userfollowings_inner_container">
    <div class="header">Following Testing [<%= @user.followings.count %>]</div>
    <div class="content_list">
      <ul>
        <% @user.active_relationships.each do |user| %>
          <li>

            <div class="image_section">
              <span class="img_cover">
                <% if user.followed.image_url.present? %>
                  <%= link_to(image_tag(user.followed.image_url, :alt =>  "image", :class =>"#", id: ""), user_path(user.followed)) %>
                <% else %>
                  <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: ""), user_path(user.followed)) %>
                <% end %>
              </span>
            </div>

            <div class="user_info_section">
              <div class="follower_following_name"><%= link_to truncate("#{user.followed.firstname} #{user.followed.lastname}", length: 25), user_path(user.followed) %></div>
            <div class="user_profession"><%= truncate(user.followed.profession, length: 25) %></div>
            </div>

            <div class="action_btn_section">         
              <span class="follow_unfollow_form btn"><%= link_to "unfollow", user, method: :delete, html: { method: :delete }, remote: true %></span>
            </div>

          </li>
          <div class="clear"></div>
        <% end %>
      </ul>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>


