<div class= "medium-12 columns user_general_settings_section user_main_createbusinessad_page ">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "adverts", stats_adverts_user_path(current_user) %></span> <span class="fwd_sign">></span>
        <% if action_name == 'new'  %>
          <span>create advert</span>
        <% else %>
          <span>update advert</span> <span class="tree_link_btn"><%= link_to 'delete advert', stats_adverts_user_path(@businessad, @businessad.user), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
      <div class="user_general_settings_inner_section businessad_edit_update_form">
        <%= simple_form_for [@user, @businessad] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="">
              <%= f.input :close, label: "close advert" %>
              <div class="text_info" style="margin-bottom:15px;">Tick if you would like to close this advert</div>
            </div>

            <!-- businessAdverts_image -->
            <div class="image_container">
              <div class="image_header">upload business ad image</div>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <%= f.file_field :image, type: 'file', id: "imageUpload", accept: ".png, .jpg, .jpeg" %>
                  <label for="imageUpload"></label>
                </div>

                <div class="avatar-preview">
                  <% if @businessad.image.present? %>
                    <span class="current_image_cover">
                      <span class="current_image"><%= cl_image_tag("#{@businessad.image}") %></span>
                    </span>
                  <% end %>
                  <div id="imagePreview" style="background-image: url(https://res.cloudinary.com/spefzapp/image/upload/v1566053569/Venue%20Images/Spefz%20Images/img-profile-company-default.png);"></div>
                </div>
              </div>
            </div>
            <!-- businessAdverts_image -->
            
            <%= f.input :imagelink, label: "Advert Image [Image Link]", placeholder: "https://res.cloudinary.com/account/image/upload/v1474379672/happy-family.jpg" %>
            <div class="text_info">If unable to upload image for the advert. Place image link here</div> 

            <div class="page_topic">
              <%= f.input :name, label: "Advert Name", placeholder: "Spefz | Dating App" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_blog"></span></div> 
            </div>

            <div class="page_topic">
              <%= f.input :companyname, label: "Company Name", placeholder: "Spefz | Dating App" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_blog"></span></div> 
            </div>

            <div class="page_topic">
              <%= f.input :link, label: "Advert website", placeholder: "https://www.spefz.com" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_blog"></span></div> 
            </div>

            <%= f.association :event, collection: Event.live_events.open_events.all, prompt: "select a event", label: "Event" %>
            <%= f.association :category_advert, collection: CategoryAdvert.all, prompt: "select a category", label: "Advert Category" %>
            <%= javascript_include_tag Ckeditor.cdn_url %>
            <%= f.input :content %>

            <div class="publish_content">
              <%= f.input :displaytext, label: "display text content" %>
              <div class="text_info">Tick if you would like to display the text content of the advert</div>
            </div>

            <div class="publish_content advert_content">
              <div class="text_info">Place duration of advert</div>
              <%= f.text_field :publishdate_start, label: false, class: "event_datepicker", placeholder: "publish start date", id: 'blog_date' %>
              <%= f.text_field :publishdate_end, label: false, class: "event_datepicker", placeholder: "publish end date", id: '' %>
            </div>

            <div class="publish_content">
              <div class="text_info">Place Client/Partner/Sponser information</div>
              <%= f.input :clientname, label: false, placeholder:"client name" %>
              <%= f.input :clientjob, label: false, placeholder:"client job eg: consultant" %>
              <%= f.input :clientcontact, label: false, placeholder:"client number" %>
              <%= f.input :price, label: false, placeholder:"200" %>
            </div>

            <!-- hidden fields -->
            <%= f.hidden_field :user_id %>
            <!-- hidden fields -->
          </div>

          <div class="form-actions">
            <% if action_name == 'new'  %>
              <%= f.button :submit, "Create Advert" %>
            <% else %>
              <%= f.button :submit, "Update Advert" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

