<div class="attendants_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
    <div class="medium-12 columns event_info_container">
      <div class="event_inner_info_container">
        <ul>
          <li>
            <div class="event_details">
              <div>
                <% if @event.image.present? %>
                  <div class="image_cover event_image_cover">
                    <%= link_to(cl_image_tag(@event.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), user_event_path(@event.user, @event)) %>
                  </div>
                <% else %>
                  <div class="image_cover event_image_cover"><%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), "#") %></div>
                <% end %>
              </div>        
              <div>
                <span><%= link_to @event.title, user_event_path(@event.user, @event) %></span>
                [<%= link_to " #{@event.impressionist_count(filter: :ip_address)}", event_path(@event), id: "", class: "fa fa-eye" %>]
                <% if @event.sold_out? %>
                  <span class="mini_sold_out">[sold out!]</span>
                <% end %>
              </div>
              <div>
                <span><i class="fa fa-calendar" aria-hidden="true"></i> <%= @event.date.strftime("%A, %d %b") %></span>
                <span class="mid_divider">|</span> 
                <span><%= @event.time.strftime("%I:%M %p") %></span>
              </div>
              <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= @event.city %>, <%= @event.category_country.name %></div>
              <div>
                <span>
                  <i class="fa fa-male" aria-hidden="true"></i> 
                  <% if @event.agerange? %>
                    <%= @event.agerange_info %>
                  <% else %>
                    <%= @event.category_age.name %>
                  <% end %>
                </span>
                <span class="mid_divider">|</span>
                <span class="category">Category:</span> 
                <span class="category_info"><%= link_to "#{@event.category_topic.name}", events_path(q: {category_topic_name_eq: @event.category_topic.name}) %></span>
                <span class="mid_divider">|</span> 
                <span class="price">Price:</span>
                <span class="price_figure">
                  <% if @event.event_price_zero? %>
                    <span>Free</span>
                  <% else %>
                    <span>£<%= number_with_precision(@event.price, precision: 2) %></span>
                  <% end %>
                </span>
              </div>
              <div class="event_hosts">
                <div>
                  <span>Event Hosts: </span>
                  <span><%= link_to "Ian Gallaper", "#" %></span>
                  <span> & </span>
                  <span><%= link_to "Emma Watson", "#" %></span>
                </div>
                <div class="event_gender_type">Event Type: <%= link_to @event.category_quantitygender.name, "#" %></div>
                <div><%= render 'shared/content_events_external_attendees' %></div>
              </div>
            </div>
          </li>
          <li><span class="divider"></span></li>
          <!-- event_gender_selection_display_calculation -->
          <li>
            <% if @event.selection_BothX_men_and_women %>
              <% if current_user.admin_pa_management_group %>
                <div class="capacity">
                  <span class="event_header">Capacity</span>
                  <i class="fa fa-university" aria-hidden="true"></i>: 
                  <span><%= (@event.quantity_men) +  (@event.quantity_women) %></span>
                  <span>-</span>
                  <span>£<%= ((@event.quantity_men) + (@event.quantity_women)) * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-male" aria-hidden="true"></i>: 
                  <span><%= @event.quantity_men %></span>
                  <span>-</span>
                  <span>£<%= (@event.quantity_men) * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-female" aria-hidden="true"></i>: 
                  <span><%= @event.quantity_women %></span>
                  <span>-</span>
                  <span>£<%= (@event.quantity_women) * (@event.price).to_i %></span>
                </div>
                <div class="attendance">
                  <span class="event_header">Attendance</span>
                  <i class="fa fa-users" aria-hidden="true"></i>: 
                  <span><%= @event.total_attendance_BothX_men_and_women %></span>
                  <span>-</span>
                  <span>£<%= (@event.total_attendance_BothX_men_and_women)  * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-male" aria-hidden="true"></i>: 
                  <span><%= @event.payments.by_males.count %></span>
                  <span>-</span>
                  <span>£<%= (@event.payments.by_males.count) * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-female" aria-hidden="true"></i>: 
                  <span><%= @event.payments.by_females.count %></span>
                  <span>-</span>
                  <span>£<%= (@event.payments.by_females.count) * (@event.price).to_i %></span>
                </div>
                <div class="availability">
                  <div>
                    <span class="event_header">Availability</span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= @event.total_available_places_BothX_men_and_women %></span>
                    <span>-</span>
                    <span>£<%= (@event.total_available_places_BothX_men_and_women)  * (@event.price).to_i %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.available_places_Xmen %></span>
                    <span>-</span>
                    <span>£<%= (@event.available_places_Xmen) * (@event.price).to_i %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.available_places_Xwomen %></span>
                    <span>-</span>
                    <span>£<%= (@event.available_places_Xwomen) * (@event.price).to_i %></span>
                  </div>
                </div>
              <% end %>
              <div class="profit_loss">
                <% if ((@event.total_attendance_BothX_men_and_women)  * (@event.price).to_i) > (((@event.quantity_men) + (@event.quantity_women)) * (@event.price).to_i) %>
                  <div class="profit">
                    <span><%= "profit" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= (@event.quantity_men) +  (@event.quantity_women) %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothX_men_and_women %> [total attendance]</span>
                  </div>
                <% elsif ((@event.total_attendance_BothX_men_and_women)  * (@event.price).to_i) == (((@event.quantity_men) + (@event.quantity_women)) * (@event.price).to_i)  %>
                  <div class="break_even">
                    <span><%= "break-even" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= (@event.quantity_men) +  (@event.quantity_women) %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothX_men_and_women %> [total attendance]</span>
                  </div>
                <% elsif ((@event.total_attendance_BothX_men_and_women)  * (@event.price).to_i) < (((@event.quantity_men) + (@event.quantity_women)) * (@event.price).to_i)  %>
                  <div class="loss">
                    <span><%= "loss" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= (@event.quantity_men) +  (@event.quantity_women) %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothX_men_and_women %> [total attendance]</span>
                  </div>
                <% end %>
              </div>
            <% elsif @event.selection_BothAndOnly_men_and_women %>
              <% if current_user.admin_pa_management_group %>
                <div class="capacity">
                  <span class="event_header">Capacity</span>
                  <i class="fa fa-university" aria-hidden="true"></i>: 
                  <span><%= @event.quantity %></span>
                  <span>-</span>
                  <span>£<%= (@event.quantity) * (@event.price).to_i %></span>
                </div>
                <div class="attendance">
                  <span class="event_header">Attendance</span>
                  <i class="fa fa-users" aria-hidden="true"></i>: 
                  <span><%= @event.total_attendance_BothAndOnly_men_and_women %></span>
                  <span>-</span>
                  <span>£<%= (@event.total_attendance_BothAndOnly_men_and_women)  * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-male" aria-hidden="true"></i>: 
                  <span><%= @event.payments.by_males.count %></span>
                  <span>-</span>
                  <span>£<%= (@event.payments.by_males.count) * (@event.price).to_i %></span>
                  <span class="divider">|</span>
                  <i class="fa fa-female" aria-hidden="true"></i>: 
                  <span><%= @event.payments.by_females.count %></span>
                  <span>-</span>
                  <span>£<%= (@event.payments.by_females.count) * (@event.price).to_i %></span>
                </div>
                <div class="availability">
                  <span class="event_header">Availability</span>
                  <i class="fa fa-university" aria-hidden="true"></i>: 
                  <span>
                    <% if @event.total_available_places_BothAndOnly_men_and_women <= 0 %>
                      0
                    <% else %>
                      <%= @event.total_available_places_BothAndOnly_men_and_women %>
                    <% end %>
                  </span>
                  <span>-</span>
                  <span>
                    <% if ((@event.total_available_places_BothAndOnly_men_and_women) * (@event.price).to_i) <= 0 %>
                      £0
                    <% else %>
                      £<%= (@event.total_available_places_BothAndOnly_men_and_women) * (@event.price).to_i %>
                    <% end %>
                  </span>
                  <% if @event.category_quantitygender.name == "only men" %>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.available_places_men %></span>
                    <span>-</span>
                    <span>£<%= (@event.available_places_men) * (@event.price).to_i %></span>
                  <% elsif @event.category_quantitygender.name == "only women" %>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.available_places_women %></span>
                    <span>-</span>
                    <span>£<%= (@event.available_places_women) * (@event.price).to_i %></span>
                  <%# elsif @event.category_quantitygender.name == "both men & women" %>
                    <!-- <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_available_places_BothAndOnly_men_and_women %></span>
                    <span>-</span>
                    <span>£<%= (@event.total_available_places_BothAndOnly_men_and_women) * (@event.price).to_i %></span> -->
                  <% end %>
                </div>
              <% end %>
              <div class="profit_loss">
                <% if ((@event.total_attendance_BothAndOnly_men_and_women) * (@event.price).to_i) > ((@event.quantity) * (@event.price).to_i) %>
                  <div class="profit">
                    <span><%= "profit" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= @event.quantity %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothAndOnly_men_and_women %> [total attendance]</span>
                  </div>
                <% elsif ((@event.total_attendance_BothAndOnly_men_and_women) * (@event.price).to_i) == ((@event.quantity) * (@event.price).to_i)  %>
                  <div class="break_even">
                    <span><%= "break-even" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= @event.quantity %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothAndOnly_men_and_women %> [total attendance]</span>
                  </div>
                <% elsif ((@event.total_attendance_BothAndOnly_men_and_women) * (@event.price).to_i) < ((@event.quantity) * (@event.price).to_i)  %>
                  <div class="loss">
                    <span><%= "loss" %></span>
                    <span class="divider"> || </span>
                    <i class="fa fa-university" aria-hidden="true"></i>: 
                    <span><%= @event.quantity %> [capacity]</span>
                    <span class="divider">|</span>
                    <i class="fa fa-male" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_males.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-female" aria-hidden="true"></i>: 
                    <span><%= @event.payments.by_females.count %></span>
                    <span class="divider">|</span>
                    <i class="fa fa-users" aria-hidden="true"></i>: 
                    <span><%= @event.total_attendance_BothAndOnly_men_and_women %> [total attendance]</span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </li>
          <!-- event_gender_selection_display_calculation -->
        </ul>
      </div>
    </div>
    <% end %>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns member_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
            <!-- members -->
            <%# if @users.blank? %>
              <div><%# render 'shared/content_search_no_result' %></div>
            <%# else %>
              <ul class="inline-list">
                <% @event.payments.each do |attendant| %>
                  <li class="medium-3 columns member_container user_subscribed">
                    <!-- dummy banner -->
                    <div class="banner_wrapper_container_index">
                      <div class="banner_wrapper_index">
                        <% if current_user.admin_pa_management_group %>
                          <% if attendant.user.category_managementgroup.name == "Dummy Group" %>
                            <div class="banner_ribbon_wrapper_green_index">
                              <div class="banner_ribbon_name_index">DUMMY</div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>​
                    </div>
                    <!-- dummy banner -->
                    <div class="medium-12 columns member_inner_container">
                      <div class="image_section">
                        <% if attendant.user.image_url.present? %>
                        <div class="image_cover"><%= link_to(cl_image_tag(attendant.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(attendant.user)) %></div>
                        <% else %>
                          <div class="image_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), user_path(attendant.user)) %></div>
                        <% end %>
                      </div>
                      <div class="user_info_adj">
                        <div class="user_name"><%= link_to "#{attendant.user.firstname} #{attendant.user.lastname}", user_path(attendant.user) %></div>
                        <div class="user_profession"><%= truncate(attendant.user.profession, length: 25) %></div>
                        <div>
                          <span class="user_ref"><%= attendant.user.reference %></span>
                          <span class="divider">|</span>
                          <% if attendant.user.category_gender.name == "Male" %>
                            <span class="user_gender"><i class="fa fa-male" aria-hidden="true"></i> <%= "M" %></span>
                          <% elsif attendant.user.category_gender.name == "Female" %>
                            <span class="user_gender"><i class="fa fa-female" aria-hidden="true"></i> <%= "W" %></span>
                          <% end %>
                          <span class="divider">|</span>
                          <span class="user_age">Age:  <%= attendant.user.age %></span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <% if current_user.admin_pa_management_group %>
                    <div class="user_roles">
                      <span><i class="fa fa-user" aria-hidden="true"></i></span>
                      <span><%= truncate(attendant.user.category_role.name, length: 25) %></span>
                      <span class="divider"> | </span>
                      <span><%= truncate(attendant.user.category_managementgroup.name, length: 25) %></span>
                    </div>
                    <% end %>

                    <% if current_user.admin_pa_management_group || current_user.hosts %>
                    <div class="user_roles">
                      <span><i class="fa fa-star" aria-hidden="true"></i></span>
                      <span class="rate_title">rate looks:</span>
                      <span class="rate_stars"><%= rating_for attendant.user, 'looks', cancel_place: "right", disable_after_rate: true %></span>
                      <div class="clear"></div>
                    </div>
                    <% end %>

                    <% if current_user.admin_pa_management_group || current_user.hosts %>
                    <div class="user_roles">
                      <span><i class="fa fa-star" aria-hidden="true"></i></span>
                      <span class="rate_title">rate personality:</span>
                      <span class="rate_stars"><%= rating_for attendant.user, 'personality', cancel_place: "right", disable_after_rate: true %></span>
                      <div class="clear"></div>
                    </div>
                    <% end %>
                  </li>
                <% end %>
              <ul/>
            <%# end %>
            <div class="clear"></div>
            <!-- members -->


            <!-- external members -->
            <ul class="inline-list">
              <% @event.externalattendinglist.users.each do |attendant| %>
                <li class="medium-3 columns member_container user_subscribed">
                  <!-- dummy banner -->
                  <div class="banner_wrapper_container_index">
                    <div class="banner_wrapper_index">
                      <% if current_user.admin_pa_management_group %>
                        <% if attendant.category_managementgroup.name == "Dummy Group" %>
                          <div class="banner_ribbon_wrapper_green_index">
                            <div class="banner_ribbon_name_index">DUMMY</div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>​
                  </div>
                  <!-- dummy banner -->
                  <div class="medium-12 columns member_inner_container">
                    <div class="image_section">
                      <% if attendant.image_url.present? %>
                      <div class="image_cover"><%= link_to(cl_image_tag(attendant.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(attendant)) %></div>
                      <% else %>
                        <div class="image_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), user_path(attendant)) %></div>
                      <% end %>
                    </div>
                    <div class="user_info_adj">
                      <div class="user_name"><%= link_to "#{attendant.firstname} #{attendant.lastname}", user_path(attendant) %></div>
                      <div class="user_profession"><%= truncate(attendant.profession, length: 25) %></div>
                      <div>
                        <span class="user_ref"><%= attendant.reference %></span>
                        <span class="divider">|</span>
                        <% if attendant.category_gender.name == "Male" %>
                          <span class="user_gender"><i class="fa fa-male" aria-hidden="true"></i> <%= "M" %></span>
                        <% elsif attendant.category_gender.name == "Female" %>
                          <span class="user_gender"><i class="fa fa-female" aria-hidden="true"></i> <%= "W" %></span>
                        <% end %>
                        <span class="divider">|</span>
                        <span class="user_age">Age:  <%= attendant.age %></span>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <% if current_user.admin_pa_management_group %>
                  <div class="user_roles">
                    <span><i class="fa fa-user" aria-hidden="true"></i></span>
                    <span><%= truncate(attendant.category_role.name, length: 25) %></span>
                    <span class="divider"> | </span>
                    <span><%= truncate(attendant.category_managementgroup.name, length: 25) %></span>
                  </div>
                  <% end %>

                  <% if current_user.admin_pa_management_group || current_user.hosts %>
                  <div class="user_roles">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="rate_title">rate looks:</span>
                    <span class="rate_stars"><%= rating_for attendant, 'looks', cancel_place: "right", disable_after_rate: true %></span>
                    <div class="clear"></div>
                  </div>
                  <% end %>

                  <% if current_user.admin_pa_management_group || current_user.hosts %>
                  <div class="user_roles">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="rate_title">rate personality:</span>
                    <span class="rate_stars"><%= rating_for attendant, 'personality', cancel_place: "right", disable_after_rate: true %></span>
                    <div class="clear"></div>
                  </div>
                  <% end %>
                </li>
                <!-- <li><%# link_to "#{attendant.firstname}", attendant, target: "_blank" %></li> -->
              <% end %>
            </ul>
            <!-- external members -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


