<div class= "medium-12 columns user_general_settings_section user_main_createevent_page">
  
  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "events", stats_events_user_path(current_user) %></span> <span class="fwd_sign">></span>
        <% if action_name == 'new'  %>
          <span>create event</span>
        <% else %>
          <span>update event</span>
        <% end %>
      </div>
      <div class="user_general_settings_inner_section event_edit_update_form">
        <%= simple_form_for [@user, @event] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.file_field :image %>

            <% unless action_name == 'new' %>
            <div class="close_social_section">
              <%= f.input :close, label: 'Close Event' %>
              <div class="text_info">If ticked (closed) the event will be removed from the list of speed-events. Members will no longer be able to view nor attend the event.</div>
            </div>
            <% end %>

            <div class="event_topic">
              <div class="event_label">discussion title</div>
              <%= f.text_field :title, label: "Event Title", placeholder: "Speed Social - Graduate Professionals" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_event"></span></div> 
            </div>

            <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Event Category" %>
            <%= f.input :description, label: "About Event", placeholder: "tell us about the event" %>

            <div class="event_tags">
              <div class="event_label">event tags</div>
              <%= f.text_field :tag_list, value: @event.tag_list.to_s, placeholder: "charity, education, social, music, social impact, travel, health, jazz..." %>
              <div class="text_info">Place word tags that best describes the event. This allows members to easily allocate the event.</div>
            </div>

            <div class="address_upper">
              <%= f.input :venuename, label: "venue name", placeholder: "Eclipse (South Kensington) (London)" %>
              <%= f.input :address, label: "Location", placeholder: "address" %>
            </div>
            <div class="clear"></div>

            <div class="address_lower">
              <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
              <%= f.input :city, label: false, placeholder: "city" %>
              <%= f.input :postcode, label: false, placeholder:"postcode" %>
            </div>
            <div class="clear"></div>

            <div class="map_link">
              <%= f.input :maplink, label: "Google Map Link URL", placeholder: "https://www.google.co.uk/maps?q=Brasserie+Blanc+(Tower+Hill)+Trinity+Square+(Tower+of+London)+London+EC3N+4AA&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjz_orD857QAhUsCMAKHV2nD2QQ_AUICCgB" %>
              <div class="text_info">Copy and past the Google URL Link for the address/location of the social here. This allows members to access the location of the social on the web directly via a click of the address. <i class="fa fa-angle-double-right" aria-hidden="true"></i>Here is an example of how this will be displayed with the given address with the embeded link: <%= link_to "The Pepys, Stew Lane, London, EC4V 3PT", "https://www.google.co.uk/maps/place/The+Pepys/@51.510479,-0.0983617,17z/data=!3m1!4b1!4m5!3m4!1s0x487604aa3ade883b:0x10f9847b2204fa31!8m2!3d51.510479!4d-0.096173", target:"_blank" %></div>
            </div>

            <div class="medium-12 columns date_time">
              <div class="event_label">date</div>
              <%= f.text_field :date, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'social_date' %>
              <%= f.input :time, label: "Sart Time" %>
              <%= f.input :time_end, label: "End Time" %>
            </div>
            <div class="clear"></div>

            <div class="gender_selection_section">
              <% if action_name == 'edit' %>
                <div class="current_gender_selection">
                  <span>Current Settings:</span>
                  <span>
                    <% if @event.category_quantitygender.name == "both men & women" %>
                      <i class="fa fa-users" aria-hidden="true"></i>
                    <% elsif @event.category_quantitygender.name == "only men" %>
                      <i class="fa fa-male" aria-hidden="true"></i>
                    <% else @event.category_quantitygender.name == "only women" %>
                      <i class="fa fa-female" aria-hidden="true"></i>
                    <% end %>
                  </span>
                  <span><%= @event.category_quantitygender.name %></span>
                  <span class="divider">|</span>
                  <span><%= @event.quantity %> space limit</span>
                </div>
              <% end %>
              <%= f.association :category_quantitygender, collection: CategoryQuantitygender.all, prompt: "select a category", label: "Quantity Gender Selection", input_html: { class: 'category_select' } %>
              <div class="general_gender_quantity_content">
                <%= f.input :quantity, placeholder: "quantity", label: false %>
              </div>
              <div class="specific_gender_quantity_content">
                  <%= f.input :quantity_men, placeholder: "quantity men", label: "men" %>
                  <%= f.input :quantity_women, placeholder: "quantity women", label: "women" %>
              </div>
            </div>
            <div class="clear"></div>

            <div class="additional_options">
              <%= f.input :price, label: "Price" %>
              <%= f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
            </div>
            <div class="clear"></div>


            <%# f.input :close, label: 'Close Event' %>
            <%# f.input :title, label: "Event Name", placeholder: "Speed Social - Graduate Professionals" %>
            <%# f.input :description, label: "Description" %>
            <%# f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Event Category" %>
            <%# f.input :venuename, label: "venue name", placeholder: "Eclipse (South Kensington) (London)" %>
            <%# f.input :address, label: "Location", placeholder: "address" %>
            <%# f.input :city, label: false, placeholder: "city" %>
            <%# f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
            <%# f.input :postcode %>
            <%# f.input :maplink %>
            <%# f.input :date %>
            <%# f.input :time, label: "Sart Time" %>
            <%# f.input :time_end, label: "End Time" %>
            <%# f.input :price, label: "Price" %>

            <%# f.association :category_quantitygender, collection: CategoryQuantitygender.all, prompt: "select a category", label: "Quantity Gender Selection", input_html: { class: 'category_select' } %>
            <!-- <div class="general_gender_quantity_content">
              <%# f.input :quantity, placeholder: "quantity", label: false %>
            </div>
            <div class="specific_gender_quantity_content">
              <%# f.input :quantity_men, placeholder: "quantity men", label: "men" %>
              <%# f.input :quantity_women, placeholder: "quantity women", label: "women" %>
            </div> -->

            <%# f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
            <%# f.text_field :tag_list, value: @event.tag_list.to_s, placeholder: "charity, education, social, music, social impact, travel, health, jazz..." %>

            <div class="event_score_access">
              <div><%= f.input :display_match, label: "Display Event Match %" %></div>
              <div><%= f.input :event_score_access, label: "Event Score Access", placeholder: "3.5" %></div>
            </div>

            <div class="host_selection_section">
              <div><%# f.association :hosts, collection: Host.all.order(:firstname), label_method: :firstname, label: false, as: :check_boxes %></div>
            </div><br/>

            <!-- hidden fields -->
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
            <%= f.hidden_field :user_id %>
            <!-- hidden fields -->
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>
