<div class="events_section">
  <div class="medium-12 columns events_inner_section">

    <!-- search -->
    <div class="medium-12 columns search_container">
      <div class="search_inner_container">        
        <%= search_form_for(@search) do |f| %>
        <ul class="search_fields_left">
          <li class="field select_country"><%= f.select :category_country_id_eq, options_from_collection_for_select(CategoryCountry.all, "id", "name", @search.category_country_id_eq), prompt: "Select Country" %></li>
          <li class="field select_type"><%= f.select :category_topic_id_eq, options_from_collection_for_select(CategoryTopic.all, "id", "name", @search.category_topic_id_eq), prompt: "Event Type" %></li>
          <li class="field select_age"><%= f.select :category_age_id_eq, options_from_collection_for_select(CategoryAge.all, "id", "name", @search.category_age_id_eq), prompt: "Age Group" %></li>
          <!-- <li class="field select_country"><%# f.select :category_country_id_eq, options_from_collection_for_select(CategoryCountry.all, "id", "name", @search.category_country_id_eq), prompt: "Select Country" %></li>
          <li class="field select_type"><%# f.grouped_collection_select :category_topic_id_eq, CategoryCountry.order(:name), :category_topics, :name, :id, :name, include_blank: false, prompt: "Event Type" %></li>
          <li class="field select_age"><%# f.grouped_collection_select :category_age_id_eq, CategoryTopic.order(:name), :category_ages, :name, :id, :name, include_blank: false, prompt: "Age Group" %></li>
          <li class="field select_age"><%# f.select :category_age_id_eq, options_from_collection_for_select(CategoryAge.all, "id", "name", @search.category_age_id_eq), prompt: "Age Group" %></li> -->
        </ul>   

        <ul class="search_fields_right">
          <li><%= f.submit 'search' %></li>
          <li class="field select_enddate"><%= f.text_field :date_lteq, placeholder: "Date End", class: "datepicker" %></li>
          <li class="field select_startdate"><%= f.text_field :date_gteq, placeholder: "Date Start", class: "datepicker" %></li>
        </ul>        
        <% end %>
      </div>
    </div>
    <!-- search -->

    <!-- temp_content -->
    <div class="hide">Total events:<%= @events.count %> | 
      Expired events: <%= @events.expired_events.count %> | 
      Live events: <%= @events.live_events.count %> | 
      <%= link_to "SUBSCRIPTION", subscription_path(@premium_plan) %>
    </div>
    <!-- temp_content -->

    <!-- content -->
    <% if @events.blank? %>
      <div><%= render 'shared/content_search_no_result' %></div>
    <% else %>
      <div class="medium-12 columns event_content_section">
        <div class="medium-12 columns content_container">
          <div class="content_details">
            <div class="event_container">
              <ul>
                <!-- events -->
                <% @events.asc_order.live_events.each do |event| %>
                <li class="medium-12 columns listed_events">
                  <div class="eventupcoming_main_cover">
                    <% if event.upcoming_event? %>
                      <div class="eventupcoming_cover">
                        <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
                          <span class="eventupcoming_text"><%= link_to "coming soon", edit_user_event_path(event.user, event) %></span>
                        <% else %>
                          <span class="eventupcoming_text">coming soon</span>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="medium-12 columns image_content_info">
                      <!-- sold out -->
                      <% if event.sold_out? %>
                        <div class="banner">
                          <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">sold out</div>
                          </div>
                        </div>
                      <% end %>
                      <!-- sold out -->
                      <!-- left_evt content -->
                      <div class="left_evt">
                        <%= link_to event_path(event) do %>
                          <% if current_user.admin_pa_management_group || current_user.pa_event_mgt_group %>
                            <div class="img_shade_cover"><span><%= link_to '', edit_user_event_path(event.user, event), class: "fa fa-pencil-square-o" %></span></div>
                          <% end %>
                          <div class="img_cover">
                            <% if event.image.present? %>
                            <%= link_to(cl_image_tag(event.image, :transformation=>[{:gravity=>"center", :width=>200, :height=>200, :crop=>"fill"}]), event_path(event)) %>
                            <% else %>
                              <%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), event_path(event)) %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>

                      <!-- middle_evt content -->
                      <div class="middle_evt">
                        <div class="title"><%= link_to "#{event.title}", event_path(event) %></div>
                        <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.venuename %></div>
                        <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.date.strftime("%A, %d %b") %></div>
                        <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.time.strftime("%H:%M") %>h - <%= event.time_end.strftime("%H:%M") %>h</div>
                        <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= event.city %>, <%= event.category_country.name %></div>
                        <div class="divider"></div>
                        <div>
                          <ul class="inline-list middle_evt_bottom_info">
                            <li><div class="header">price</div> <div class="content_header" style="margin-top:7px;">£<%= number_with_precision(event.price, precision: 2) %> </div></li>
                            <li><div class="header">age group</div> 
                              <div class="content" style="margin-top:7px;">
                                <% if event.agerange? %>
                                  <%= event.agerange_info %>
                                <% else %>
                                  <%= event.category_age.name %>
                                <% end %>
                              </div>
                            </li>
                            <% if event.display_event_match? %>
                            <li>
                              <div class="header">match</div> 
                              <div class="content match_link_info" style="margin-top:3px;">
                                <a href="#<%= event.id %>" data-reveal-id="<%= dom_id(event) %>_event_match"><%= event.match(current_user) %>%</a>
                                <div><%= render partial: 'shared/modal_match_info', locals: { event: event } %></div>
                              </div>
                            </li>
                            <% end %>
                            <li>
                              <div class="header">space</div> 
                              <div class="content">
                                <!-- event_gender_selection_display -->
                                <% if event.selection_BothX_men_and_women %>
                                  <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                                  <% if event.sold_out_Xmen? %>
                                    <span class="content_soldout">sold out</span>
                                  <% else %>
                                    <span class="content_available">available</span>
                                  <% end %>
                                  <span class="content_divider">|</span>
                                  <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                                  <% if event.sold_out_Xwomen? %>
                                    <span class="content_soldout">sold out</span>
                                  <% else %>
                                    <span class="content_available">available</span>
                                  <% end %>
                                <% elsif event.selection_BothAndOnly_men_and_women %>
                                  <% if event.category_quantitygender.name == "only men" %>
                                    <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> </span>
                                    <span class="content_text">[Only Men]</span>
                                  <% elsif event.category_quantitygender.name == "only women" %>
                                    <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> </span>
                                    <span class="content_text">[Only Women]</span>
                                  <% elsif event.category_quantitygender.name == "both men & women" %>
                                    <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i> </span>
                                    <span class="content_text">[Both Men & Women]</span>
                                  <% end %>
                                  <% if event.sold_out? %>
                                    <span class="content content_soldout">sold out</span>
                                  <% else %>
                                    <span class="content content_available">available</span>
                                  <% end %>
                                <% end %>
                                <!-- event_gender_selection_display -->
                              </div>
                            </li>
                            <li class="report_content">
                              <% if user_signed_in? %>
                                <% if current_user %>
                                  <span class="report_container">
                                    <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right report" title="Report Event">
                                      <a href="#<%= event.id %>" data-reveal-id="<%= dom_id(event) %>_report" class="fa fa-exclamation-triangle"></a>
                                    </span>
                                    <div><%= render partial: 'shared/modal_report_event', locals: { event: event } %></div>
                                  </span>
                                <% end %>
                              <% end %>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- right_evt content -->
                      <div class="right_evt">
                        <div class="right_evt_container">
                          <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                          <div class="date"><%= event.date.strftime("%d") %></div>
                          <div class="month"><span><%= event.date.strftime("%b") %></span> <span class="divider">|</span> <span><%= event.date.strftime("%a") %></span></div>
                          
                          <% if event.current_user_attending_paid?(current_user) %>
                            <div class="btn_booked"><%= link_to "booked!", event_path(event) %></div>
                          <% else %>
                            <% if event.sold_out? %>
                              <div class="btn_soldout"><%= link_to "sold out!", event_path(event) %></div>
                            <% else %>
                              <div class="btn_booknow"><%= link_to "book now!", event_path(event) %></div>
                            <% end %>
                          <% end %>
                          
                          <div class="btn_save_unsave_section">
                            <% if current_user %>
                              <% unless current_user.favourite_events.exists?(id: event.id)  %>
                                <div class="btn_save"><%= link_to 'Save', favourite_events_path(event_id: event), method: :post %></div>
                              <% else %>
                                <div class="btn_unsave"><%= link_to 'Un-Save', favourite_event_path(event), method: :delete %></div>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!-- right_evt content -->
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <% end %>
                <!-- events -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- content -->

  </div>
</div>








