<div class="events_section">
  <div class="medium-12 columns events_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="event_container">
            <ul>
              <!-- events -->
              <% @events.each do |event| %>
              <li class="medium-12 columns listed_events">
                <div class="medium-12 columns image_content_info">
                  <div class="banner">
                    <div class="ribbon-wrapper-green">
                      <div class="ribbon-green">sold out</div>
                    </div>
                  </div>
                  <!-- left_evt content -->
                  <div class="left_evt">
                    <%= link_to user_event_path(event.user, event) do %>
                      <div class="img_shade_cover"><span><%= link_to '', edit_user_event_path(event.user, event), class: "fa fa-pencil-square-o" %></span></div>
                      <div class="img_cover">
                        <% if event.image.present? %>
                          <%= link_to(image_tag("#{event.image_url}", :alt =>  "image", :class =>"#"), user_event_path(event.user, event)) %>
                        <% else %>
                          <%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), user_event_path(event.user, event)) %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <!-- middle_evt content -->
                  <div class="middle_evt">
                    <div class="title"><%= link_to "#{event.title}", user_event_path(event.user, event) %></div>
                    <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.venuename %></div>
                    <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.date.strftime("%A, %d %b") %></div>
                    <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= event.time.strftime("%H:%M") %>h - <%= event.time_end.strftime("%H:%M") %>h</div>
                    <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= event.city %>, <%= event.category_country.name %></div>
                    <div class="divider"></div>
                    <div>
                      <ul class="inline-list middle_evt_bottom_info">
                        <li><div class="header">price</div> <div class="content_header" style="margin-top:7px;">£25.00</div></li>
                        <li><div class="header">age group</div> <div class="content" style="margin-top:7px;">28 -38</div></li>
                        <li>
                          <div class="header">space</div> 
                          <div class="content">
                            <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                            <span class="content_available">available</span>
                            <span class="content_divider">|</span>
                            <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                            <span class="content_soldout">sold out</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- right_evt content -->
                  <div class="right_evt">
                    <div class="right_evt_container">
                      <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="date">01</div>
                      <div class="month"><span>july</span> <span class="divider">|</span> <span>Wed</span></div>
                      <div class="btn_booknow"><%= link_to "book now", user_event_path(event.user, event) %></div>
                      <div class="btn_save"><%= link_to "save", "#" %></div>
                    </div>
                  </div>
                  <!-- right_evt content -->
                </div>
                <div class="clear"></div>
              </li>
              <% end %>
              <!-- events -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>








