<div class="events_section">
  <div class="medium-12 columns events_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="event_container">
            <ul>
              <!-- speed-events -->
              <% @events.each do |event| %>
              <li>
                <div><%= event.title %></div>
                <div><%= event.description %></div>
                <div><%= event.address %></div>
                <div><%= event.postcode %></div>
                <div><%= link_to 'Show', event %></div>
                <div><%= link_to 'Edit', edit_event_path(event) %></div>
                <div><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </li>
              <% end %>
              <!-- speed-events -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>








