<div class="events_section">
  <div class="medium-12 columns events_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="event_container">
            <ul>
              <!-- events -->
              <% @events.each do |event| %>
              <li class="medium-12 columns listed_events">
                <div class="medium-12 columns image_content_info">
                  <div class="banner">
                    <div class="ribbon-wrapper-green">
                      <div class="ribbon-green">sold out</div>
                    </div>
                  </div>
                  <!-- left_evt content -->
                  <div class="left_evt">
                    <%= link_to user_event_path(event.user, event) do %>
                    <div class="img_shade_cover"></div>
                    <div class="img_cover"><%= link_to(image_tag("img_feed_07.png", :alt =>  "image", :class =>"#"), user_event_path(event.user, event)) %></div>
                    <% end %>
                  </div>

                  <!-- middle_evt content -->
                  <div class="middle_evt">
                    <div class="title"><%= link_to "#{event.title}", user_event_path(event.user, event) %></div>
                    <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> Eclipse (South Kensington) (London)</div>
                    <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> Friday, 1 july</div>
                    <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00h - 19:00h</div>
                    <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> london, united kingdom</div>
                    <div class="divider"></div>
                    <!-- <div class="description"><%# truncate(event.description, length: 100) %></div> -->
                    <div>
                      <ul class="inline-list middle_evt_bottom_info">
                        <li><div class="header">price</div> <div class="content_header" style="margin-top:7px;">£20.99</div></li>
                        <li><div class="header">age group</div> <div class="content" style="margin-top:7px;">28 -38</div></li>
                        <li>
                          <div class="header">space</div> 
                          <div class="content">
                            <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i></span>
                            <span class="content_available">available</span>
                            <span class="content_divider">|</span>
                            <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span> 
                            <span class="content_soldout">sold out</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- right_evt content -->
                  <div class="right_evt">
                    <div class="right_evt_container">
                      <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="date">01</div>
                      <div class="month">july</div>
                      <div class="btn_booknow"><%= link_to "book now", "#" %></div>
                      <div class="btn_save"><%= link_to "save", "#" %></div>
                    </div>
                  </div>
                  <!-- right_evt content -->
                </div>
                <div class="clear"></div>


                <div class="info_action_container old_content">
                  <!-- <ul class="inline-list left_evt_info">
                    <li><div class="header">price</div> <div class="content_header">£20.99</div></li>
                    <li><div class="header">space</div> <div class="content"><%= link_to "15", "#" %></div></li>
                    <li><div class="header">attendees</div> <div class="content"><%= link_to "10", "#" %></div></li>
                  </ul> -->
                  <!-- <ul class="inline-list action_info">
                    <%# if event.category_invite_id.present? && event.category_invite.name == "just my guest" %>
                      <li class="btn_attend"><%# link_to "invite only", "#" %></li>
                    <%# else %>
                      <li class="btn_attend"><%# link_to "attend", "#" %></li>
                    <%# end %>
                    <li class="btn_save"><%# link_to "save", "#" %></li>
                  </ul> -->
                </div>
              </li>
              <li class="hide old_content">
                <div><%= event.title %></div>
                <div><%= event.description %></div>
                <div><%= event.address %></div>
                <div><%= event.postcode %></div>
                <div><%= link_to 'Show', user_event_path(event.user, event) %></div>
                <div><%= link_to 'Edit', edit_user_event_path(event.user, event) %></div>
                <div><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </li>
              <% end %>
              <!-- events -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>








