<div class="medium-12 columns events_show_inner_section">

  <!-- upper section -->
  <div class="medium-12 columns upper_section">
    <div class="profile_banner">
      <div class="medium-12 columns profile_inner_banner">
        <div class="header"><%= render 'shared/header' %></div>
        <div class="medium-12 columns upper_profile_content">
          <div class="evt_details_container">

            <!-- left_evt_details -->
            <div class="medium-3 columns left_evt_details">left</div>

            <!-- right_evt_details -->
            <div class="medium-9 columns right_evt_details">right</div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- middle section -->
  <div class="medium-12 columns middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li><span class="header">past socials:</span> <span class="content">15</span></li>
        <li><span class="header">upcoming socials:</span> <span class="content">10</span></li>
      </ul>
      <ul class="inline-list right">
        <li>
          <%# if current_user %>
            <%# if @social.category_invite.present? && @social.category_invite.name == "just my guest" %>
              <div class="social_profile_btn btn_request"> <%# link_to "request to be invited", "#" %></div>
            <%# else %>
              <span class="attendance">
                <%# unless current_user.attending_socials.exists?(id: @social.id)  %>
                    <div class="social_profile_btn btn_social_attend"><%# link_to 'Attend', attending_socials_path(social_id: @social), method: :post %></div>
                <%# else %>
                    <div class="social_profile_btn btn_social_unattend"><%# link_to 'Un-Attend Social', attending_social_path(@social), method: :delete %></div>
                <%# end %>
              </span>
            <%# end %>
          <%# end %>
        </li> 
        <li>
          <%# if current_user %>
            <%# unless current_user.favourite_socials.exists?(id: @social.id)  %>
              <div class="social_profile_btn btn_social_save"><%# link_to 'Save', favourite_socials_path(social_id: @social), method: :post %></div>
            <%# else %>
              <div class="social_profile_btn btn_social_unsave"><%# link_to 'Un-Save', favourite_social_path(@social), method: :delete %></div>
            <%# end %>
          <%# end %>
        </li>
        <%# if @social.user == current_user %>
          <li>
            <div class="social_profile_btn btn_edit"><%# link_to "edit", edit_user_social_path(@social.user, @social) %></div>
          </li>
        <%# end %>
      </ul>
    </div>
  </div>

  <!-- lower section -->
  <div class="medium-12 columns lower_section">
    <div class="lower_inner_section">
      <!-- left column -->
      <div class="medium-3 columns column_left">left column</div>

      <!-- middle column -->
      <div class="medium-6 columns column_middle">middle column</div>

      <!-- right column -->
      <div class="medium-3 columns column_right">right column</div>
    </div>
  </div>
</div>










<div>------------------------------------------</div>
<div class="events_show_section">
  <div class="medium-12 columns events_show_main_inner_section_testing">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_show_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="event_container">

            <!-- event details -->
            <div class="medium-12 columns evt_details_container">
              <div class="medium-6 columns left_evt_details">
                <span><%= image_tag("img_feed_06.png") %></span>
              </div>
              <div class="medium-6 columns right_evt_details">right</div>
            </div>
            <!-- event details -->

          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>




<div>------------------------------------------</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @event.postcode %>
</p>


<%= link_to 'Back', events_path %>
