<div class="events_show_section">
  <div class="medium-12 columns events_show_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns event_show_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="event_container">

            <!-- event details -->
            <div class="medium-12 columns evt_details_container">
              <div class="medium-8 columns left_evt_details">left</div>
              <div class="medium-4 columns right_evt_details">right</div>
            </div>
            <!-- event details -->

          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>




<div>------------------------------------------</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @event.postcode %>
</p>


<%= link_to 'Back', events_path %>
