<div class="medium-12 columns events_show_inner_section">

  <!-- upper section -->
  <div class="medium-12 columns upper_section">
    <div class="profile_banner">
      <div class="medium-12 columns profile_inner_banner">
        <div class="header"><%= render 'shared/header' %></div>
        <div class="medium-12 columns upper_profile_content">
          <div class="medium-12 columns evt_details_cover">
            <div class="evt_details_container">

              <!-- left_evt_details -->
              <div class="medium-3 columns left_evt_details">
                <div class="image_cover"><%= image_tag("img_feed_07.png") %></div>
              </div>

              <!-- right_evt_details -->
              <div class="medium-9 columns right_evt_details">
                <div class="title"><%= @event.title %></div>
                <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> Eclipse (South Kensington) (London)</div>
                <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> Friday, 1 july</div>
                <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00h - 19:00h</div>
                <div class="info city_country"><i class="fa fa-map-pin" aria-hidden="true"></i> london, united kingdom</div>
                <div class="price">£25.00</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- middle section -->
  <div class="medium-12 columns middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li>
          <span class="content_gender"><i class="fa fa-male" aria-hidden="true"></i> [Men]</span>
          <span class="content content_available">available</span>
        </li>
        <li><span>|</span></li>
        <li>
          <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i> [Women]</span>
          <span class="content content_soldout">sold out</span>
        </li>
      </ul>
      <ul class="inline-list right">
        <li><span><div class="social_profile_btn btn_social_attend"><%= link_to 'Book Now!', "#" %></div></span></li>
        <li><div class="social_profile_btn btn_social_save"><%= link_to 'Save', "#" %></div></li>
      </ul>
    </div>
  </div>

  <!-- lower section -->
  <div class="medium-12 columns lower_section">
    <div class="lower_inner_section">
      <!-- left column -->
      <div class="medium-3 columns column_left">left column</div>

      <!-- middle column -->
      <div class="medium-6 columns column_middle">middle column</div>

      <!-- right column -->
      <div class="medium-3 columns column_right">right column</div>
    </div>
  </div>
</div>







