<div class= "medium-12 columns user_general_settings_section user_main_dashboard_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "events", stats_events_user_path(current_user) %></span> <span class="fwd_sign">></span> <span><%= link_to "venues", venues_path %></span> <span class="fwd_sign">></span> 
        <span>
          <% if action_name == 'new'  %>
            create venue
          <% else %>
            edit venue
          <% end %>
        </span>
      </div>
      <div class="user_general_settings_inner_section venue_edit_update_form">
        <%= simple_form_for(@venue) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.file_field :image %>
            <div class="clear"></div>
            <div class="">
              <%= f.input :favourite, label: 'favourite' %>
              <div class="text_info">If ticked the venue will be considered as a favourite</div>
            </div>
            <div class="clear"></div>
            <%= f.input :venuename, label: "Venue Name", placeholder: "Pullman Hotel (Golden Arrow Bar)" %>
            <%= f.input :website, placeholder: "http://www.pullmanhotels.com" %>
            <%= f.input :address, placeholder: "100 - 110 Euston Road" %>
            <%= f.input :postcode, placeholder: "NW1 2AJ" %>
            <div class="clear"></div>
            <div class="address_lower">
              <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country" %>
              <%= f.input :city, placeholder: "London" %>
            </div>
            <div class="clear"></div>
            <%= f.input :maplink, label: "Map Link", placeholder: "https://www.google.co.uk/maps?q=Pullman+Hotel+(Golden+Arrow+Bar),+100+-+110+Euston+Road,+NW1+2AJ&ion=1&espv=2&bav=on.2,or.r_cp.&bvm=bv.145822982,d.d24&biw=1366&bih=609&dpr=1&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiF6pC-ou_RAhVLJ8AKHd9wBmsQ_AUIBigB" %>
            <%= f.input :station, label: "Closet Station", placeholder: "Kings Cross St. Pancrease" %>
            <%= f.input :price, label: "Price (£) / hr", placeholder: "200" %>
            <%= f.input :min_capacity, label: "Minimum Capacity", placeholder: "35" %>

            <div class="clear"></div>
            <div class="event_manager_details">
              <%= f.input :eventmanager, label: "Event Manager", placeholder: "Dr. Nelson Larbi" %>
              <%= f.input :contact, label: "Contact", placeholder: "0208-958-7999" %>

              <div class="clear"></div>
              <%= f.input :email, label: false, placeholder: "nelson@networks.com" %>
    
              <div class="clear"></div>
              <%= f.input :note, label: "Notes" %>
              <div class="clear"></div>
              <div class="text_info">If you would like to have a speaker present at the social, kindly write in the full name of the speaker and place in the linked in web address of the speaker. We highly recommend socials to have speakers present, this enables active conversation set around the topic of the event, and attracts more attendees to the event. </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>
