<%= simple_form_for(@venue) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :venuename %>
    <%= f.input :address %>
    <%= f.input :postcode %>
    <%= f.input :maplink %>
    <%= f.input :website %>
    <%= f.input :station %>
    <%= f.input :price %>
    <%= f.input :min_capacity %>
    <%= f.input :eventmanager %>
    <%= f.input :contact %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
