<div class="user_dashboard_admin_venues">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content hide">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <span>0</span>
          <div class="minor_info">£0.00/mth</div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      <!-- search -->
      <div class="medium-12 columns search_container">
        <div class="search_inner_container">        
          <%= search_form_for(@search) do |f| %>
          <ul class="search_fields_left">
            <li class="field select_role"><%= f.text_field :venuename_cont, placeholder: 'venue name eg: bar soho'%></li>
            <li class="field select_mgtgroup"><%= f.text_field :postcode_cont, placeholder: 'poscode eg: W1D 6DG'%></li>
          </ul>   

          <ul class="search_fields_right">
            <li><%= f.submit 'search' %></li> 
            <li class="field btn_all">
              <%= link_to venues_path do %>
                <i class="fa fa-building" aria-hidden="true"></i>
              <% end %>
            </li>
            <li class="field select_user_name"><%= f.text_field :eventmanager_cont, placeholder: 'event manager eg: kofi'%></li>
          </ul>        
          <% end %>
        </div>
      </div>
      <!-- search -->
      <!-- listed venues -->
      <h1>listed venues [<%= @venues.all.count %>]
        <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all venues on the platform [ordered by  venue name]</div>
      </h1>
      <div id="status_users_all_content">
        <div class="bottom_inner_content">
          <div class="table">
            <div class="tablerow">
              <div class="tablecell header background">all listed venues</div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
            </div>
            <% @venues.order("venuename asc").each do |venue| %>
              <div class="tablerow">
                <div class="tablecell" style="width:16%">
                  <div class="image_container">
                    <div class="image">
                      <% if venue.image.blank? %>
                        <%= link_to(image_tag("img-profile-company-default.png"), "#{venue.website}", target: "_blank") %>
                      <% else %>
                        <%= link_to image_tag(venue.image_url), venue, target: "_blank" %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="tablecell">
                  <div class="faint_text_format">Venue Name</div> 
                  <div class="main_text_format"><%= link_to "#{venue.venuename}", "#{venue.website}", target: "_blank" %></div>
                  <div class="venue_email_link"><%= mail_to "#{venue.email}", "#{venue.email}", subject: "Spefz | #{venue.venuename}", class: "venue_email_link" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Address</div>
                  <div class="main_text_format"><%= link_to (truncate "#{venue.address}", length: 30), "#{venue.maplink}" %></div>
                  <div class="main_text_format"><%= link_to "#{venue.postcode}", "#{venue.maplink}", target: "_blank" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Closet Station</div> 
                  <div class="main_text_format"><%= link_to "#{venue.station}", target: "_blank" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Price (£) / hr</div> 
                  <div class="main_text_format">
                    <% if venue.price? %>
                      <%= venue.price %>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                  </div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Min. Cap.</div> 
                  <div class="main_text_format">
                    <% if venue.min_capacity? %>
                      <%= venue.min_capacity %>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                  </div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Event Manager</div> 
                  <div class="main_text_format">
                    <% if venue.eventmanager? %>
                      <%= venue.eventmanager %>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                  </div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Contact</div> 
                  <div class="main_text_format">
                    <% if venue.contact? %>
                      <%= venue.contact %>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                  </div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Actions</div> 
                  <div class="main_text_format">
                    <ul>
                      <% if current_user.admin_pa_management_group %>
                        <!-- <li><%= link_to 'Show', venue %></li> -->
                      <% end %>
                      <li><%= link_to 'Edit', edit_venue_path(venue) %></li>
                      <% if current_user.admin_pa_management_group %>
                        <li><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      <% end %>
                      <% if venue.note? %> 
                        <li>
                          <a href="#<%= venue.id %>" data-reveal-id="<%= dom_id(venue) %>_venuenote">Note</a>
                          <%= render partial: 'shared/modal_venue_note', locals: { venue: venue } %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>

              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- listed venues -->
    </div>
  </div>
  <div class="clear"></div>
</div>




<div class="old_content hide">
  <h1>Listing Venues</h1>
  <table>
    <thead>
      <tr>
        <th>Venuename</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Maplink</th>
        <th>Station</th>
        <th>Price</th>
        <th>Min capacity</th>
        <th>Eventmanager</th>
        <th>Contact</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td><%= venue.venuename %></td>
          <td><%= venue.address %></td>
          <td><%= venue.postcode %></td>
          <td><%= venue.maplink %></td>
          <td><%= venue.station %></td>
          <td><%= venue.price %></td>
          <td><%= venue.min_capacity %></td>
          <td><%= venue.eventmanager %></td>
          <td><%= venue.contact %></td>
          <td><%= venue.image %></td>
          <td><%= link_to 'Show', venue %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
          <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>


