<div class="user_dashboard_admin_overview user_dashboard_admin_venues">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content hide">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <span>0</span>
          <div class="minor_info">£0.00/mth</div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      <!-- listed venues -->
      <h1>listed venues [<%= @venues.all.count %>]
        <div class="h1_subtitle"><i class="fa fa-info-circle"></i> displays all registered users on the platform [ordered by user last name]</div>
      </h1>
      <div id="status_users_all_content">
        <div class="bottom_inner_content">
          <div class="table">
            <div class="tablerow">
              <div class="tablecell header background">all listed venues</div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
              <div class="tablecell background"></div>
            </div>
            <% @venues.order("venuename asc").each do |venue| %>
              <div class="tablerow">
                <div class="tablecell" style="width:16%">
                  <div class="image_container">
                    <div class="image"><%# link_to image_tag(venue.image_url), venue, target: "_blank" %></div>
                  </div>
                </div>
                <div class="tablecell">
                  <div class="faint_text_format">Venue Name</div> 
                  <div class="main_text_format"><%= link_to "#{venue.venuename}", "#{venue.website}", target: "_blank" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Address</div> 
                  <div class="main_text_format"><%= link_to "#{venue.address}", "#{venue.maplink}", target: "_blank" %></div>
                  <div class="main_text_format"><%= link_to "#{venue.postcode}", "#{venue.maplink}", target: "_blank" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Closet Station</div> 
                  <div class="main_text_format"><%= link_to "#{venue.station}", target: "_blank" %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Price (£) / hr</div> 
                  <div class="main_text_format"><%= venue.price %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Min. Capcaity</div> 
                  <div class="main_text_format"><%= venue.min_capacity %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Event Manager</div> 
                  <div class="main_text_format"><%= venue.eventmanager %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Contact</div> 
                  <div class="main_text_format"><%= venue.contact %></div>
                </div>

                <div class="tablecell">
                  <div class="faint_text_format">Actions</div> 
                  <div class="main_text_format">
                    <ul>
                      <li><%= link_to 'Show', venue %></li>
                      <li><%= link_to 'Edit', edit_venue_path(venue) %></li>
                      <li><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    </ul>
                  </div>
                </div>

             
            
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- listed venues -->
    </div>
  </div>
  <div class="clear"></div>
</div>




<div class="old_content hide">
  <h1>Listing Venues</h1>
  <table>
    <thead>
      <tr>
        <th>Venuename</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Maplink</th>
        <th>Station</th>
        <th>Price</th>
        <th>Min capacity</th>
        <th>Eventmanager</th>
        <th>Contact</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td><%= venue.venuename %></td>
          <td><%= venue.address %></td>
          <td><%= venue.postcode %></td>
          <td><%= venue.maplink %></td>
          <td><%= venue.station %></td>
          <td><%= venue.price %></td>
          <td><%= venue.min_capacity %></td>
          <td><%= venue.eventmanager %></td>
          <td><%= venue.contact %></td>
          <td><%= venue.image %></td>
          <td><%= link_to 'Show', venue %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
          <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>


