<div class="medium-12 columns static_content_main_section contact_form_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Help & Support <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "About Spefz", help_path %></li> 
                <!-- <li><%# link_to "Account & Profile", help_account_and_profile_path %></li> -->
                <li><%= link_to "Membership", help_membership_path %></li>
                <li><%= link_to "Payment Queries", help_payment_queries_path %></li>
                <li><%= link_to "Cancellations & Refunds", help_cancellations_and_refunds_path %></li>
                <li><%= link_to "Top FAQs", help_faqs_path %></li>
                <li><%= link_to "Become A Partner", help_partners_path %></li>
                <li class="active"><%= link_to "Contact us", contact_us_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section" style="margin-bottom: 15px;">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>get in touch</h1>
            <div class="terms_date"><u>Please make sure you are writing to the department that is relevant to your request</u>, as we cannot otherwise guarantee a response. Beside that, we are always looking to improve our service. If you have any issues do kindly contact us. Please enter your enquiry below.</div>
            <div class="terms_content_info">

              <div class="contact_form">
                <%= simple_form_for(@contact) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.association :category_contactclient, collection: CategoryContactclient.all, prompt: "-- please select --", label: "Type of Contact" %>
                    <%= f.association :category_enquiry, collection: CategoryEnquiry.all, prompt: "-- please select --", label: "Type Enquiry" %>
                    <% if signed_in? %>
                      <%= f.input :firstname, label:"First Name", placeholder:"First Name", input_html: { value: current_user.firstname } %>
                      <%= f.input :lastname, label:"Last Name", placeholder:"Last Name", input_html: { value: current_user.lastname } %>
                      <%= f.input :email, label:"Email", placeholder:"Email", input_html: { value: current_user.email } %>
                    <% else %>
                      <%= f.input :firstname, label:"*First Name", placeholder:"First Name" %>
                      <%= f.input :lastname, label:"*Last Name", placeholder:"Last Name" %>
                      <%= f.input :email, label:"*Email", placeholder:"Email" %>
                    <% end %>

                    <%= f.input :companyname, label:"Company or Institute", placeholder:"Company or Institute" %>
                    <%= f.input :tel, label:"Telephone", placeholder:"Telephone Number" %>
                    
                    <%= f.input :message, label: "Message" %>

                    <!-- hidden_fields -->
                    <%= f.hidden_field :status %>
                    <%= f.hidden_field :reference %>
                    <!-- hidden_fields -->
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Send" %>
                  </div>
                <% end %>
              </div>

              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
