<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Category enquiry:</strong>
  <%= @contact.category_enquiry_id %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @contact.tel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @contact.reference %>
</p>

<p>
  <strong>Category contactclient:</strong>
  <%= @contact.category_contactclient_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
