<div class="activity_list">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-star">
      <i class="fa fa-calendar"></i>
    </div> 
    <div class="cd-timeline-content medium-12 columns">
      <!-- activity_left_side -->
      <div class="medium-1 columns image_content left_side">
        <div class="activity_feed_img_cover"><%= link_to(image_tag(activity.owner.image), user_path(activity.owner)) %></div>
      </div>
      <!-- activity_left_side -->

      <!-- activity_right_side -->
      <div class="medium-11 columns image_content right_side">
        <h2><%= link_to activity.trackable.title, user_social_path(activity.trackable.user, activity.trackable) %></h2>
        <div><%= link_to activity.owner.firstname, activity.owner if activity.owner %></div>
        <p><%= truncate("AfricanJober was founded in October 2015 by Richill ARTLoe. The passion was to develop a platform that made recruitment and outsourcing effective and efficient in Africa (initially starting with Ghana & Nigeria), this in order to create many opportunities for africans overseas looking to move back home and also for africans back home looking to work remotely with local and international leading companies. The mission for AfricanJober is to create great opportunities for the Smartest, Talented, Skillful and Innovative Individuals from the african continent.", length: 208) %>
        </p>
        <span class="cd-date">February 14, 2016 | 04:33 PM</span><br/>
        <div class="cd-posted">posted by richill</div>
      </div>
      <!-- activity_right_side -->
    </div>
  </div>
</div>

<div class="old_content hide">
  <% if activity.trackable %>
    <div class="activity_feed">
      <div class="medium-1 columns image_content">
        <div class="activity_feed_img_cover"><%= link_to(image_tag(activity.owner.image), "#") %></div>
      </div>
      <div class="medium-11 columns activity_content">
        <div class="activity_action">
          <span class="highlighted_info header"><%= link_to activity.owner.firstname, activity.owner if activity.owner %></span>
          <span class="highlighted_action">created the social</span>
          <span class="highlighted_info"><%= link_to activity.trackable.title, user_social_path(activity.trackable.user, activity.trackable), target:"_blank" %></span>
        </div>
        <div class="advert_main_details_container">
          <div class="advert_sub_header_sector">
            <span class="content_header"><%= link_to activity.trackable.title, user_social_path(activity.trackable.user, activity.trackable), target:"_blank" %></span>
            <span class="divider">|</span>
            <span class="first_category"><%= activity.trackable.category_topic.name %></span>
            <span><i class="fa fa-circle"></i></span>
            <span class="second_category"><%# activity.trackable.category_advertskill.name %></span>
          </div>
          <div class="advert_sub_details">
            <span><span class="minor_header">created:</span> <%= activity.trackable.created_at.strftime("%b %d, %Y") %></span>
            <span class="divider">|</span>
            <span><span class="minor_header">location:</span> <%= activity.trackable.category_country.name %>, <%= activity.trackable.city %></span>
            <span class="divider">|</span>
            <span><span class="minor_header">salary:</span> <%# activity.trackable.currency %><%# activity.trackable.category_price.name %> <%# activity.trackable.category_period.name %></span>
          </div>
        </div>
      </div>
      <div class="medium-11 columns activity_date_container">
        <div class="activity_date_inner">date: <%= activity.created_at.to_s %></div>
      </div>
    </div>
  <% else %>
    <div class="activity_feed">
      <div class="medium-1 columns image_content">
        <div class="activity_feed_img_cover"><%= link_to(image_tag(activity.owner.image), "#") %></div>
      </div>
      <div class="medium-11 columns activity_content">
        <div class="activity_action">
          <span class="highlighted_info header"><%= link_to activity.owner.firstname, activity.owner if activity.owner %></span>
          <span class="highlighted_action">created an advert which has now been removed</span>
        </div>
        <div class="advert_main_details_container">
          <div class="deleted_activity_info">job advert removed</div>
        </div>
      </div>
      <div class="medium-11 columns activity_date_container">
        <div class="activity_date_inner">date: <%= activity.created_at.to_s %></div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>