<% unless activity.trackable.upcoming_social? %>  
  <% unless activity.trackable.expired_or_closed_social %>
    <div class="activity_list">
      <% if activity.trackable %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-star">
            <i class="fa fa-calendar"></i>
          </div> 
          <div class="cd-timeline-content">
            <ul>
              <li class="left_side">
                <!-- activity_left_side -->
                <div class="image_content right_side_content">
                  <div class="activity_feed_img_cover">
                    <% if activity.trackable.company_image? %>
                      <%= link_to(image_tag("img-logo-five.png", :alt =>  "alt text", :class =>"#"), "#") %>
                    <% else %>
                      <% if activity.owner.image.present? %>
                        <%= link_to(cl_image_tag(activity.owner.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(activity.owner)) %>
                      <% else %>
                        <%= image_tag("img-profile-image-default.png") %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <!-- activity_left_side -->
              </li>
              <li class="right_side">
                <!-- activity_right_side -->
                <div class="right_side_content">
                  <div class="title"><%= link_to activity.trackable.title, user_social_path(activity.trackable.user, activity.trackable) %></div>
                  <div class="host">
                    <span>Hosted by</span>
                    <span><%= link_to activity.owner.firstname, activity.owner if activity.owner %></span>
                  </div>
                  <div class="social_event_content">
                    <div class="image_cover">
                      <!-- sold out -->
                      <% if activity.trackable.sold_out? %>
                        <div class="banner">
                          <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">sold out</div>
                          </div>
                        </div>
                      <% end %>
                      <!-- sold out -->
                      <span><%= link_to(cl_image_tag(activity.trackable.image, :transformation=>[{:gravity=>"center", :width=>150, :height=>105, :crop=>"fill"}]), user_social_path(activity.trackable.user, activity.trackable)) %></span>
                    </div>
                    <div class="social_event_details">
                      <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= activity.trackable.date.strftime("%A, %d %b") %> <span class="mid_divider">|</span> <%= activity.trackable.time.strftime("%I:%M %p") %></div>
                      <div class="info"><i class="fa fa-map-pin" aria-hidden="true"></i> <%= activity.trackable.city %>, <%= activity.trackable.category_country.name %></div>
                      <div class="info">
                        <span><i class="fa fa-male" aria-hidden="true"></i> <%= activity.trackable.category_age.name %></span>
                        <span class="mid_divider">|</span>
                        <span class="category">Category:</span> 
                        <span class="category_info"><%= link_to "#{activity.trackable.category_topic.name}", socials_path(q: {category_topic_name_eq: activity.trackable.category_topic.name}) %></span>
                      </div>
                      <div class="divider"></div>
                      <div class="description"><%= truncate(activity.trackable.description, length: 200) %></div>
                      <div class="attendance">
                        <div>
                          <% if activity.trackable.sold_out? %>
                            <ul>
                              <% activity.trackable.attendances.limit(6).each do |attendant| %>
                                <li>
                                  <% if attendant.user.image.present? %>
                                    <%= link_to(image_tag(attendant.user.image_url, :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                  <% else %>
                                    <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                  <% end %>
                                </li> 
                              <% end %>
                            </ul>
                          <% else %>
                            <ul>
                              <% activity.trackable.attendances.order(created_at: :desc).limit(5).each do |attendant| %>
                                <li>
                                  <% if attendant.user.image.present? %>
                                    <%= link_to(cl_image_tag(attendant.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill"}]), user_path(attendant.user)) %>
                                  <% else %>
                                    <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
                                  <% end %>
                                </li> 
                              <% end %>
                              <li class="remaining_places" style="margin-right: 0px;">
                                <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="tip-right" title="<%="#{activity.trackable.available_places_BothAndOnly_men_and_women}"%> places left">
                                  <%= link_to "+#{activity.trackable.available_places_BothAndOnly_men_and_women}", user_social_path(activity.trackable.user, activity.trackable), class: "#" %>
                                </span>
                              </li>
                            </ul>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- activity_right_side -->
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>