<div class= "medium-12 columns user_general_settings_section user_main_createalbum_page">
  
  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "albums", stats_albums_user_path(current_user) %></span> <span class="fwd_sign">></span>
        <% if action_name == 'new'  %>
          <span>create album</span>
        <% else %>
          <span>update album</span>
        <% end %>
      </div>
      <div class="user_general_settings_inner_section album_edit_update_form">
        <%= simple_form_for (@album) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div><%= f.file_field :image %></div>

            <%= f.input :album_image_link, label: "Album Image [Image Link]", placeholder: "https://res.cloudinary.com/account/image/upload/v1474379672/happy-family.jpg" %>
            <div class="text_info">If unable to upload image for the album. Place image link here</div> 

            <div class="album_topic">
              <%= f.input :name, label: "Album Name", placeholder: "Speed Social - Graduate Professionals" %>
              <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_event"></span></div> 
            </div>
            <div><%= f.input :description, label: "Album description", placeholder: "tell us about the album" %></div>
            <div class="medium-12 columns date_time">
              <div class="album_label">date</div>
              <%= f.text_field :date, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'social_date' %>
            </div>
            <div class="clear"></div>

            <div class="clear"></div>
            <div class="publish_content">
              <%= f.input :publish, label: "Publish Album" %>
              <div class="text_info">Tick if you would like the album to be published</div>
            </div>

            <!-- hidden fields -->
            <%= f.hidden_field :user_id %>
            <!-- hidden fields -->

          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

