<p id="notice" class="hide"><%= notice %></p>

<div class="albums_section">
  <div class="medium-12 columns albums_inner_section">

    <!-- content -->
      <div class="medium-12 columns album_index_content_section">
        <div class="medium-12 columns content_container">
          <div class="content_details">
            <div class="album_main_container">
              <ul>
                <!-- albums -->
                <li class="listed_albums">
                  <div class="polaroid_images">
                    <span class="album_img">
                      <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423655/mahiki_venue_03_t4q9ny.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "top_card") %>
                      <div class="album_name">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <span><%= (truncate "Speed Social - Silent Speed Dating Silent Speed Dating", length: 35) %></span>
                        <span class="album_divider">|</span>
                        <span>Wednesday, 28 Feb</span>
                      </div>
                    </span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423655/mahiki_venue_03_t4q9ny.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "bottom_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423655/mahiki_venue_03_t4q9ny.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "middle_card") %></span>
                  </div>
                </li>
                <li class="listed_albums">
                  <div class="polaroid_images">
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "top_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "bottom_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "middle_card") %></span>
                  </div>
                </li>
                <li class="listed_albums">
                  <div class="polaroid_images">
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423107/forge_venue_00_ki6iom.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "top_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423107/forge_venue_00_ki6iom.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "bottom_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423107/forge_venue_00_ki6iom.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "middle_card") %></span>
                  </div>
                </li>
                <li class="listed_albums">
                  <div class="polaroid_images">
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423529/z_04dion_02_itdsvj.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "top_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423529/z_04dion_02_itdsvj.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "bottom_card") %></span>
                    <span class="album_img"><%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515423529/z_04dion_02_itdsvj.png", alt:"", title:"", class: ""), "#", target:"_blank", class: "middle_card") %></span>
                  </div>
                </li>
                <!-- albums -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- content -->

  </div>
</div>







<div class="old_content hide">
  <h1>Listing Albums</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.name %></td>
          <td><%= album.date %></td>
          <td><%= album.description %></td>
          <td><%= album.image %></td>
          <td><%= link_to 'Show', album %></td>
          <td><%= link_to 'Edit', edit_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Album', new_album_path %>
</div>