<p id="notice" class="hide"><%= notice %></p>

<div class="albums_section">
  <div class="medium-12 columns albums_inner_section">

    <!-- content -->
      <div class="medium-12 columns album_index_content_section">
        <div class="medium-12 columns content_container">
          <div class="content_details">
            <div class="medium-12 columns album_main_container">
              <ul>
                <!-- albums -->
                <% @albums.published_albums.order("date desc").each do |album| %>
                  <li class="listed_albums medium-4 columns">
                    <div class="polaroid_images">
                      <ul class="polaroid_listed_images">
                        <li class="album_img">
                          <% if album.album_image_link.present? %>
                            <%= link_to(cl_image_tag(album.album_image_link, :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), preview_album_path(album)) %>
                          <% else %>
                            <%= link_to(cl_image_tag(album.image, :transformation=>[{:gravity=>"face", :width=>600, :height=>320, :crop=>"fill"}]), preview_album_path(album)) %>
                          <% end %>
                          <div class="album_name">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <span><%= (truncate "#{album.name}", length: 35) %></span>
                            <span class="album_divider">|</span>
                            <span><%= album.date.strftime("%A, %d %b %Y") %></span>
                          </div>
                        </li>
                        <li class="album_img">
                          <% if album.album_image_link.present? %>
                            <%= link_to(cl_image_tag(album.album_image_link, :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), album_path(album)) %>
                          <% else %>
                            <%= link_to(cl_image_tag(album.image, :transformation=>[{:gravity=>"face", :width=>600, :height=>320, :crop=>"fill"}]), album_path(album)) %>
                          <% end %>
                        </li>
                        <li class="album_img">
                          <% if album.album_image_link.present? %>
                            <%= link_to(cl_image_tag(album.album_image_link, :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), album_path(album)) %>
                          <% else %>
                            <%= link_to(cl_image_tag(album.image, :transformation=>[{:gravity=>"face", :width=>600, :height=>320, :crop=>"fill"}]), album_path(album)) %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
                <!-- albums -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- content -->

  </div>
</div>







<div class="old_content hide">
  <h1>Listing Albums</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.name %></td>
          <td><%= album.date %></td>
          <td><%= album.description %></td>
          <td><%= album.image %></td>
          <td><%= link_to 'Show', album %></td>
          <td><%= link_to 'Edit', edit_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Album', new_album_path %>
</div>