<div class="album_photos_section">
  <div class="medium-12 columns album_photos_inner_section">

    <!-- content -->
      <div class="medium-12 columns album_photos_index_content_section">
        <div class="medium-12 columns content_container">
          <div class="outter_tree_link_container">
            <div class="tree_link">
              <span><i class="fa fa-camera" aria-hidden="true"></i> <%= link_to "albums", albums_path %></span>
              <span class="fwd_sign">></span> 
              <span><%= @album.name %></span> 
              <span class="fwd_sign">></span>
              <span><%= "photos #{[@album.photos.count]}" %></span> 
            </div>
          </div>
          <div class="content_details">
            <div class="album_photos_main_container">
              <ul>
                <!-- photos -->
                <% @album.photos.published_photos.order("created_at desc").each do |photo| %>
                  <li class="listed_photos">
                    <div class="polaroid_images">
                      <a href="#<%= photo.id %>" data-reveal-id="<%= dom_id(photo) %>_photo_content_show_image" style=""><%= image_tag(photo.photo_image_link) %></a>
                      <%= render partial: 'shared/modal_photo_show_content', locals: { photo: photo } %>
                    </div>
                  </li>
                <% end %>
                <!-- photos -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- content -->

  </div>
</div>
