<p id="notice" class="hide"><%= notice %></p>

<div class="photos_section">
  <div class="medium-12 columns photos_inner_section">

    <!-- content -->
      <div class="medium-12 columns photos_index_content_section">
        <div class="medium-12 columns content_container">
          <div class="content_details">
            <div class="photos_main_container">
              <ul>
                <!-- photos -->
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <li class="listed_photos">
                  <div class="polaroid_images">
                    <%= link_to(cl_image_tag("https://res.cloudinary.com/spefzapp/image/upload/v1515683241/Venue Images/forge_img_04.png", alt:"", title:"", class: "img_album_02"), "#", target:"_blank", alt:"", title:"") %>
                  </div>
                </li>
                <!-- photos -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- content -->

  </div>
</div>

