<div class= "medium-12 columns user_general_settings_section preference_main_form_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> 
        <span class="fwd_sign">></span> 
        <span>
          <% if action_name == 'new' %>
            <span>create preference</span>
          <% else %>
            <span>update preference</span>
          <% end %>
        </span>
      </div>
      <div class="user_general_settings_inner_section preference_edit_update_form">
        <%= simple_form_for [@user, @preference] do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs medium-12 columns preference_form">





            <!-- workings -->
            <div class="medium-12 columns preference_main_section">
              <div class="pref_upper_img"><%= image_tag("img_background_banner.jpg") %></div>
              <div>
                <ul>
                  <li>
                    <div class="pref_header">
                      <div class="medium-6 columns left_pref_section">about_me</div>
                      <div class="medium-6 columns right_pref_section">my_ideal</div>
                    </div>
                  </li>
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section"><%= f.input :town, placeholder: "my town" %></div>
                      <div class="medium-6 columns right_pref_section"><%= f.input :town, placeholder: "my ideal date's town" %></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- workings -->






          </div>
          <div class="clear"></div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>