<div class= "medium-12 columns user_general_settings_section preference_main_show_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> 
        <span class="fwd_sign">></span> 
        <span>preference</span>
        <span class="tree_link_btn"><%= link_to "edit preference", edit_user_preference_path(current_user, current_user.preference) %></span>
      </div>
      <div class="user_general_settings_inner_section preference_main_show">
    
        <div class="form-inputs medium-12 columns preference_show">
          <div class="medium-12 columns preference_show_main_section">
            <div class="pref_upper_img"><%= image_tag("img_background_banner.jpg") %></div>
            <div class="pref_main_header_section">
              <ul>
                <li>
                  <div class="pref_header">
                    <div class="medium-6 columns left_pref_section">
                      <div class="inner_pref_section">
                        <div class="pref_img_cover">
                          <% if current_user.image? %>
                            <%= link_to(cl_image_tag(current_user.image, :transformation=>[{:gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max"}]), "#", id: "") %>
                          <% else %>
                            <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                          <% end %>
                        </div>
                        <div><%= current_user.firstname %></div>
                      </div>
                    </div>
                    <div class="medium-6 columns right_pref_section">

                      <div class="inner_pref_section">
                        <div class="pref_img_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %></div>
                        <div>my ideal partner</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
            <div class="background_main">

              <!-- preference_questions -->
              <section id="cd-timeline" class="cd-container">
                <ul>
                  <!-- section_seeking -->
                  <li>
                    <div class="pref_content pref_section_seeking">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">i am seeking</div>
                          <div class="title_subcontent">Tell us whom you seek. We are excited to get to know you in order to introduce you to some great people!</div>
                          <div>
                            <% if @preference.category_matchseeking.present? %>
                              <div class="user_info_content"><%= @preference.category_matchseeking.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">potential matches</div>
                          <div class="title_subcontent">The more you reveal about yourself the better chance you have to meet great people like you!</div>
                          <div class="potential_partners_selection">

                            <% if @preference.category_matchseeking.present? %>
                              <% if @preference.category_matchseeking.name == "Female" %>
                                <!-- females -->
                                <% if @users.females.count > 15 %>
                                  <ul class="medium-12 columns females">
                                    <% @users.females.limit(8).each do |female| %>
                                      <% if female.image.present? %>
                                      <li>
                                        <div class="potential_img_cover">
                                          <%= link_to(cl_image_tag(female.image, :transformation=>[{:gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max"}]), "#", id: "") %>
                                        </div>
                                      </li>
                                      <% end %>
                                    <% end %>
                                  </ul>
                                <% else %>
                                  <ul class="medium-12 columns females">
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_02.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_06.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_08.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_11.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_15.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_17.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_20.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_21.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                  </ul>
                                <% end %>
                              <% elsif @preference.category_matchseeking.name == "Male"  %>
                                <!-- males -->
                                <% if @users.males.count > 15 %>
                                  <ul class="medium-12 columns males">
                                    <% @users.males.limit(8).each do |male| %>
                                      <% if male.image.present? %>
                                      <li>
                                        <div class="potential_img_cover">
                                          <%= link_to(cl_image_tag(male.image, :transformation=>[{:gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max"}]), "#", id: "") %>
                                        </div>
                                      </li>
                                      <% end %>
                                    <% end %>
                                  </ul>
                                <% else %>
                                  <ul class="medium-12 columns males">
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_13.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_09.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_07.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_04.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_12.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_16.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_18.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="potential_img_cover">
                                      <%= link_to(image_tag("img_profile_19.png", :alt =>  "image", :class =>"#", id: "", style:"border-radius: 200px;"), '#') %>
                                      </div>
                                    </li>
                                  </ul>
                                <% end %>
                              <% end %>
                            <% else %>
                              <div class="user_info_content_uncompleted" style="margin-bottom:15px;"><%= link_to "you need to complete preference form to view potential matches", edit_user_preference_path(current_user, current_user.preference) %></div>
                              <ul class="medium-12 columns females">
                                <% @users.limit(8).each do |user| %>
                                  <% if user.image.present? %>
                                  <li>
                                    <div class="potential_img_cover">
                                      <%= link_to(cl_image_tag(user.image, :transformation=>[{:gravity=>"face", :width=>50, :height=>50, :crop=>"fill", :radius=>"max"}]), "#", id: "") %>
                                    </div>
                                  </li>
                                  <% end %>
                                <% end %>
                              </ul>
                            <% end %>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_seeking -->

                  <!-- section_age -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">your age</div>
                          <div class="title_subcontent">The below states your current age.</div>
                          <div class="user_info_content"><%= current_user.age %></div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">your ideal date: what is their age range?</div>
                          <div class="title_subcontent">What age range are you looking for in a potential date?</div>
                          <div class="age_selection">
                          <div>
                            <% if @preference.idealage_start.present? && @preference.idealage_end.present? %>
                              <div class="user_info_content"><%= @preference.idealage_start %> - <%= @preference.idealage_end %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_age -->

                  <!-- section_relationship -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">How do you feel about getting involved in a relationship?</div>
                          <div class="title_subcontent">Ready for something serious or prefer to take things slowly? let us know.</div>
                          <div>
                            <% if @preference.category_matchrelationship.present? %>
                              <div class="user_info_content"><%= @preference.category_matchrelationship.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: How do they feel about getting involved in a relationship?</div>
                          <div class="title_subcontent">Ready for something serious or prefer to take things slowly? let us know.</div>
                          <div>
                            <% if @preference.category_idealrelationship.present? %>
                              <div class="user_info_content"><%= @preference.category_idealrelationship.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_relationship -->

                  <!-- section_relationshipstatus -->
                  <li>
                    <div class="pref_content pref_section_relationshipstatus">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">What is your relationship status?</div>
                          <div class="title_subcontent">Members might be interested in your history. Share it!</div>
                          <div>
                            <% if @preference.category_matchstatus.present? %>
                              <div class="user_info_content"><%= @preference.category_matchstatus.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: What is their relationship status?</div>
                          <div class="title_subcontent">Members might be interested in your history. Share it!</div>
                          <div class="relationshipstatus_check_content">
                            <% if @preference.category_idealstatus.present?  %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealstatus.each do |status| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= status.name %></li>
                              <% end %>
                              </ul> 
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_relationshipstatus -->

                  <!-- section_parent -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Are you a parent?</div>
                          <div class="title_subcontent">If you have little ones, tell us. It could be a deal-breaker!</div>
                          <div>
                            <% if @preference.category_matchparent.present? %>
                              <div class="user_info_content"><%= @preference.category_matchparent.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Do they have children?</div>
                          <div class="title_subcontent">If you have little ones, tell us. It could be a deal-breaker!</div>
                          <div>
                            <% if @preference.category_idealparent.present? %>
                              <div class="user_info_content"><%= @preference.category_idealparent.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_parent -->

                  <!-- section_kids -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Would you like to have children?</div>
                          <div class="title_subcontent">It might be early doors, but it is useful to know.</div>
                          <div>
                            <% if @preference.category_matchkid.present? %>
                              <div class="user_info_content"><%= @preference.category_matchkid.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Do they want children? | Their Preference:</div>
                          <div class="title_subcontent">It might be early doors, but it is useful to know.</div>
                          <div>
                            <% if @preference.category_idealkid.present? %>
                              <div class="user_info_content"><%= @preference.category_idealkid.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_kids -->

                  <!-- section_education -->
                  <li>
                    <div class="pref_content pref_section_education">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Tell us you highest level of education</div>
                          <div class="title_subcontent">School of Life or Oxford Scholar?</div>
                          <div>
                            <% if @preference.category_matcheducation.present? %>
                              <div class="user_info_content"><%= @preference.category_matcheducation.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: What is their highest Education Level</div>
                          <div class="title_subcontent">School of Life or Oxford Scholar?</div>
                          <div class="education_check_content">
                            <% if @preference.category_idealeducation.present?  %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealeducation.each do |education| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= education.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_education -->

                  <!-- section_height -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">How tall are you? | your height level</div>
                          <div class="title_subcontent"> Remeber good things come in all sizes!</div>
                          <div>
                            <% if @preference.category_matchheight.present? %>
                              <div class="user_info_content"><%= @preference.category_matchheight.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Their Height level</div>
                          <div class="title_subcontent"> Remeber good things come in all sizes!</div>
                          <div class="height_check_content">
                            <% if @preference.category_idealheight.present? %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealheight.each do |height| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= height.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_height -->

                  <!-- section_bodytype -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">If you had to describe your body type, you would be...</div>
                          <div class="title_subcontent">Considering that admired celebrities have come in all shape sizes and looked on as sex symbols, there is no right or wrong answer.</div>
                          <div>
                            <% if @preference.category_matchbodytype.present? %>
                              <div class="user_info_content"><%= @preference.category_matchbodytype.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Their body type</div>
                          <div class="title_subcontent">Considering that admired celebrities have come in all shape sizes and looked on as sex symbols, there is no right or wrong answer.</div>
                          <div class="bodytype_check_content">
                            <% if @preference.category_idealbodytype.present? %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealbodytype.each do |bodytype| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= bodytype.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_bodytype -->

                  <!-- section_ethnicity -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">What is your ethnicity?</div>
                          <div class="title_subcontent">Let your culture tell a story!</div>
                          <div>
                            <% if @preference.category_matchethnicity.present? %>
                              <div class="user_info_content"><%= @preference.category_matchethnicity.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Their Ethnicity</div>
                          <div class="title_subcontent">Let your culture tell a story!</div>
                          <div class="ethnicity_check_content">
                            <% if @preference.category_idealethnicity.present? %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealethnicity.each do |ethnicity| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= ethnicity.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_ethnicity -->

                  <!-- section_religion -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">What religion do you practise?</div>
                          <div class="title_subcontent">Members might be interested in your history. Share it!</div>
                          <div>
                            <% if @preference.category_matchreligion.present? %>
                              <div class="user_info_content"><%= @preference.category_matchreligion.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: What religion do they practise?</div>
                          <div class="title_subcontent">Members might be interested in your history. Share it!</div>
                          <div class="religion_check_content">
                            <% if @preference.category_idealreligion.present? %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealreligion.each do |religion| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= religion.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_religion -->

                  <!-- section_smoke -->
                  <li>
                    <div class="pref_content">
                      <div class="medium-6 columns left_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Do you smoke?</div>
                          <div class="title_subcontent">Whether you are trying to quite or not or never started, it's better to be honest!</div>
                          <div>
                            <% if @preference.category_matchsmoke.present? %>
                              <div class="user_info_content"><%= @preference.category_matchsmoke.name %></div>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="medium-6 columns right_pref_section">
                        <div class="cd-timeline-img cd-star">
                          <i class="fa fa-users"></i>
                        </div>
                        <div class="cd-timeline-content">
                          <div class="title">Your ideal date: Do they smoke? | Their Preference</div>
                          <div class="title_subcontent">Whether you are trying to quite or not or never started, it's better to be honest!</div>
                          <div class="smoke_check_content">
                            <% if @preference.category_idealsmoke.present?  %>
                              <ul class="medium-12 columns multiple_question">
                              <% @preference.category_idealsmoke.each do |smoke| %>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><%= smoke.name %></li>
                              <% end %>
                              </ul>
                            <% else %>
                              <div class="user_info_content_uncompleted"><%= link_to "not completed", edit_user_preference_path(current_user, current_user.preference) %></div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </li>
                  <!-- section_smoke -->
                </ul>
              </section>
              <!-- preference_questions -->

            </div>
          </div>
        </div>
        <div class="clear"></div>
         
      </div>
    </div>
  </div>
  <!-- right_column_section -->
</div>