<%= simple_form_for(@invite_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="invite_message">Hi <span class="invitation_names"><%= "#{user.firstname}!" %></span> send an invite request to the organiser to be invited to the social <span class="invitation_names"><%= "#{@social.title}" %></span></div>
    <%= f.input_field :user_id, value: user.id, label:"user" %>
    <%= f.input_field :inviter_id, value: @social.user.id, label:"inviter" %>
    <%= f.input_field :social_id, value: @social.id, label:"social" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
