<div class="medium-12 columns subscription_detail_info_section">
  <div class="pricing_detail_inner_container">
    <div class="pricing_detail_info_content">
      
      <!-- upper_content -->
      <div class="upper_content">
        <div class="upper_content_pricing_info">
          <div class="pricing_title"><%= @subscription.title %> plan</div>
          <div class="pricing_subtitle">Get access to a pool of talented skilled individuals & start hiring today!</div>
          <div class="btn_container">
            <ul class="inline-list">
              <li>
                <div class="btn_first"> <%= link_to "get current plan", new_payment_path(product_id: @subscription.id, userr: current_user.id) %></div>
              </li>
              
              <li><div class="btn_second"><%= link_to "view all plan", "#" %></div></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- mid_content -->
      <div class="absolute_content"> 
        <div class="absolute_inner_content">
          <div class="absolute_content_pricing_info">

            <!-- subscription payment plan -->
            <div class="left_section">
              <div class="pricing_body left_inner_section">
                <% if @subscription.title == "premium" %>
                  <div class="text first_content" style="background-color: #6ebd63;">
                    <div class="recommended">recommended</div>
                    <span class="currency">$</span>
                    <% if @subscription.price.blank? %>
                      <span><%= number_with_precision("0.00", precision: 0) %></span>
                    <% else %>
                      <span><%= number_with_precision(@subscription.price, precision: 0) %></span>
                    <% end %>
                    <div class="period">per month</div>
                  </div>
                <% else %>
                  <div class="text first_content">
                    <span class="currency">$</span>
                    <% if @subscription.price.blank? %>
                      <span><%= number_with_precision("0.00", precision: 0) %></span>
                    <% else %>
                      <span><%= number_with_precision(@subscription.price, precision: 0) %></span>
                    <% end %>
                    <div class="period">per month</div>
                  </div>
                <% end %>


                <div class="text second_content">Post
                  <% if @subscription.price.blank? %> 
                    <span class="figure"><%= "0" %></span> Job Ads
                  <% else %>
                    <span class="figure"><%# @subscription.adverts %></span> Job Ads
                  <% end %>
                </div>
                <div class="text second_content">
                  <div><span class="figure"><%= "dashboard" %></span> & <span class="figure"><%= "analytics" %></span></div>
                </div>
                <div class="text third_content">view 
                  <% if @subscription.price.blank? %> 
                    <span class="figure"><%= "0" %></span> CVs
                  <% else %>
                    <span class="figure"><%# @subscription.cvs %>unlimited</span> CVs
                  <% end %> 
                  <div class="database">search through our CV database</div>
                </div>
                <div class="text fifth_content">
                  <%# if current_user.admin_pa_management_group || current_user.admin_client_group %>
                    <%# if current_user.subscribed? %>

                      <%# link_to 'UPGRADE PLAN', new_payment_path(product_id: @subscription.id, userr: current_user.id), target:"_blank" %>
                      <a href="#" data-reveal-id="myModal-userr-upgrade-plan-info">UPGRADE PLAN</a>
                      <div><%# render 'shared/modal_userr_upgrade_plan_info' %></div>
                    
                    <%# else %>
                      <%= link_to 'GET PLAN', new_payment_path(product_id: @subscription.id, userr: current_user.id), target:"_blank" %>
                    <%# end %>
                  <%# else %>
                    <a href="#" data-reveal-id="myModal-userr-payment-info">GET PLAN</a>
                    <div><%# render 'shared/modal_userr_payment_info' %></div>
                  <%# end %>
                </div>
              </div>
            </div>

            <!-- PAYMENT plan benifits -->
            <div class="benifit_content">
              <div class="medium-12 columns benifit_title"><%= @subscription.title %> benifits</div>
              <% if @subscription.title == "premium" %>
                <div class="premium_listed_benifits">
                  <ul>
                    <li><i class="fa fa-check"></i> PREMIUM offers a postage of <%# @subscription.adverts %> job adverts</li>
                    <li><i class="fa fa-check"></i> Access to a range of dashboard statistics</li>
                    <li><i class="fa fa-check"></i> Access to a range of hiring analytics</li>
                    <li><i class="fa fa-check"></i> View candidates application forms, profiles & resume</li>
                    <li><i class="fa fa-check"></i> Unlimited view and search through our CV database </li>
                  </ul>
                </div>
              <% end %>
              <%# if current_user.admin_pa_management_group || current_user.admin_client_group %>
              <%# if @userr.admin_pa_management_group && @userr.subscribed? || @userr.admin_client_group && @userr.subscribed? %>
                <div class="btn_third"><a href="#" data-reveal-id="myModal-userr-upgrade-plan-info"><%= "UPGRADE TO #{@subscription.title} PLAN NOW!" %></div>
                <div><%# render 'shared/modal_userr_upgrade_plan_info' %></div>
              <%# elsif @userr.admin_pa_management_group && !@userr.subscribed? || @userr.admin_client_group && !@userr.subscribed? %>
                <div class="btn_third"><%= link_to "GET #{@subscription.title} PLAN NOW!", new_payment_path(product_id: @subscription.id, userr: current_user.id), target:"_blank" %></div>
              <%# else %>
                <div class="btn_third"><%= link_to "VIEW ALL PLAN", "#" %></div>
              <%# end %>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>













<div class="old_content">
  <p>
    <strong>Title:</strong>
    <%= @subscription.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @subscription.price %>
  </p>

  <%# link_to 'Edit', edit_subscription_path(@subscription) %>
  <%# link_to 'Back', subscriptions_path %>
</div>
