<% if @subcription_id.present? %>
  <h1>New Payment Subscription</h1>
  <ul>
    <li><%= @subscription.id %></li>
    <li><%= @subscription.title %></li>
  </ul>
<% elsif @event_id.present? %>
  <h1>New Payment</h1>
  <ul>
    <li><%= @event.id %></li>
    <li><%= @event.title %></li>
  </ul>
<% end %>

<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :user_id %>
    <%= f.input :subscription_id %>
    <%= f.input :reference %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



