<div class="paymentsform_main_section">
  <% if @subscription_id.present? %>
    <!-- payment_form_subscription -->
    <div class="payment_subscription_form">
      <div class="upper_section">
        <div class="header"><%= @subscription.title %> subscription plan | <%= @subscription.id %></div>
        <div class="payment_table">
          <table style="border: 1px solid #DDDDE4; border-collapse: collapse;">
            <thead style="border: 1px solid #DDDDE4;">
              <tr>
                <th>subscription</th>
                <th style="text-align:right;">amt (£)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="payment_details">
                <td><%= @subscription.title %> plan</td>
                <td style="text-align:right;">$<%= @subscription.price %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="lower_section">
        <%= simple_form_for(@payment) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.hidden_field :user_id %>
            <%= f.input :email, placeholder: "#{current_user.email}" %>
            <%= f.hidden_field :subscription_id, value: @subscription_id %>
            <%= f.hidden_field :reference %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Subscribe" %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- payment_form_subscription -->




  <% elsif @event_id.present? %>
    <!-- payment_form_event -->
    <div class="payment_event_form">
      <div class="upper_section">
        <div class="header"><%= @event.title %> | <%= @event.id %></div>
        <div class="payment_table">
          <table style="border: 1px solid #DDDDE4; border-collapse: collapse;">
            <thead style="border: 1px solid #DDDDE4;">
              <tr>
                <th>event</th>
                <th style="text-align:center;">tickets</th>
                <th style="text-align:right;">amt (£)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="payment_details">
                <td><%= @event.title %> plan</td>
                <td style="text-align: center;">1</td>
                <td style="text-align:right;">$<%= @event.price %></td>
              </tr>
              <tr>
                <td class="payment_vat">total price</td>
                <td></td>
                <td style="text-align:right;">$<%= @event.price %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="lower_section">
        <%= simple_form_for(@payment) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.hidden_field :user_id %>
            <%= f.input :email, placeholder: "#{current_user.email}" %>
            <%= f.hidden_field :event_id, value: @event_id %>
            <%= f.hidden_field :reference %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Book Securely" %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- payment_form_event -->
  <% end %>

  <!-- payment_form_paypal -->
  <!-- payment_form_paypal -->
</div>



