<div class="payments_new_section">
  <div class="medium-12 columns socials_inner_section payments_new_inner_section">
    <div class="medium-12 columns payment_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="medium-12 columns payment_main_container hide" style="margin-bottom:15px;">hello</div>
          <div class="medium-12 columns payment_main_container">

            <!-- image -->
            <% if @subscription_id.present? %>
              <div class="medium-5 columns pymt_image_section">
                <div class="pymt_image_cover">
                  <div class="text_cover pymt_text_content">
                    <div><i class="fa fa-map-marker" aria-hidden="true"></i> Grace (London)</div>
                    <div><i class="fa fa-calendar" aria-hidden="true"></i> <%= Date.today.strftime("%a, %d %b %Y") %><span class="divider">|</span> 18:00h - 21:00h</div>
                    <div><i class="fa fa-map-pin" aria-hidden="true"></i> London, United Kingdom</div>
                    <div><i class="fa fa-male" aria-hidden="true"></i> 35 -45</div>
                  </div>
                </div>
                <div><%= image_tag("img_feed_11.png") %></div>
              </div>
            <% elsif @event_id.present? %>
              <div class="medium-5 columns pymt_image_section">
                <div class="pymt_image_cover">
                  <div class="text_cover pymt_text_content">
                    <div><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @event.venuename %></div>
                    <div><i class="fa fa-calendar" aria-hidden="true"></i> <%= @event.date.strftime("%a, %d %b %Y") %> <span class="divider">|</span> <%= @event.time.strftime("%H:%M") %>h - <%= @event.time_end.strftime("%H:%M") %>h</div>
                    <div><i class="fa fa-map-pin" aria-hidden="true"></i> <%= @event.city %>, <%= @event.category_country.name %></div>
                    <div>
                      <i class="fa fa-male" aria-hidden="true"></i> 
                      <% if @event.agerange? %>
                        <%= @event.agerange_info %>
                      <% else %>
                        <%= @event.category_age.name %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div><%= cl_image_tag(@event.imgvenue_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></div>
              </div>
            <% end %>
            <!-- image -->

            <!-- form -->
            <div class="medium-7 columns pymt_form_section">
              <div class="pymt_form"><%= render 'form' %></div>
              <!-- <div>your credit card information is encryted</div> -->
            </div>
            <!-- form -->
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

