<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @payment.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @payment.subscription_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @payment.reference %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
