<%= simple_form_for [@event, @card] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input_field :title, value: @event.title %>
    <%= f.input_field :event_id, value: @event.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
