<div class="medium-12 columns cards_show_inner_section">

  <!-- upper section -->
  <div class="medium-12 columns upper_section">
    <div class="profile_banner">
      <div class="medium-12 columns card_inner_banner">
        <div class="header"><%= render 'shared/header' %></div>
        <div class="medium-12 columns upper_card_content">
          <div class="medium-12 columns card_details_cover">
            <div class="card_details_container">

              <!-- left_card_details -->
              <div class="medium-3 columns left_card_details">
                <!-- sold out -->
                <% if @card.event.sold_out? %>
                  <div class="banner">
                    <div class="ribbon-wrapper-green">
                      <div class="ribbon-green">sold out</div>
                    </div>
                  </div>
                <% end %>
                <!-- sold out -->
                <% if @card.event.image.present? %>
                  <div class="image_cover"><%= image_tag("#{@card.event.image_url}") %></div>
                <% else %>
                  <div class="image_cover"><%= image_tag("img_feed_07.png") %></div>
                <% end %>
              </div>

              <!-- right_card_details -->
              <div class="medium-9 columns right_card_details">
                <div class="title"><%= @card.event.title %></div>
                <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @card.event.venuename %></div>
                <div class="info"><i class="fa fa-calendar" aria-hidden="true"></i> <%= @card.event.date.strftime("%A, %d %b") %></div>
                <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @card.event.time.strftime("%H:%M") %>h - <%= @card.event.time_end.strftime("%H:%M") %>h</div>
                <div class="info city_country">
                  <span><i class="fa fa-map-pin" aria-hidden="true"></i> <%= @card.event.city %>, <%= @card.event.category_country.name %></span>
                  <span class="divider">|</span>
                  <span class="share_content">
                    <a href="#" data-reveal-id="myModal-share-buttons" class:"socialicon_cover_fb"><i class="fa fa-share-alt" aria-hidden="true"></i> share</a>
                    <span><%= render 'shared/modal_share_buttons' %></span>
                  </span>
                </div> 
                <div class="price">
                  <% if @card.event.expired_or_closed_event %>
                    <span>Event Closed</span>
                  <% else %>
                    <span>£<%= number_with_precision(@card.event.price, precision: 2) %></span>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- middle section -->
  <div class="medium-12 columns middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li><span class="header">View list of members that attended the event [<%= @card.event.payments.count %> attendants]</span></li>
      </ul>
      <ul class="inline-list right">
        <li><span><div class="card_show_btn btn_view_event_cards"><%= link_to 'View My Social Cards', cards_path %></div></span></li>
      </ul>
    </div>
  </div>


  <!-- lower section -->
  <div class="medium-12 columns lower_section">
    <div class="lower_inner_section attendant_container">
      <!-- listed attendants -->
      <ul>
        <% @card.event.payments.each do |attendant| %>
          <li class="medium-12 columns attendant_details_section">
            <!-- info_left -->
            <div class="medium-2 columns info_left">
              <div class="image_cover">
                <% if attendant.user.image.present? %>
                  <%= link_to(image_tag("#{attendant.user.image_url}", :alt =>  "image", :class =>"#"), attendant.user) %>
                <% else %>
                  <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), attendant.user) %>
                <% end %>
              </div>
            </div>

            <!-- info_middle -->
            <div class="medium-7 columns info_middle">
              <div class="user_name"><%= link_to "#{attendant.user.firstname} #{attendant.user.lastname}", user_path(attendant.user) %></div>
              <% if attendant.user.profession? %>
                <div class="user_profession"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= attendant.user.profession %></div>
              <% else %>
                <div class="user_profession_uncompleted"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= "#{attendant.user.firstname} has not yet stated his profession" %></div>
              <% end %>
              <% if attendant.user.description? %>
                <div class="user_description"><%= truncate attendant.user.description, length: 190 %></div>
              <% else %>
                <div class="user_description_uncompleted"><%= "#{attendant.user.firstname} currently has not yet completed his profile description" %></div>
              <% end %>
              <% unless current_user == attendant.user %>
                <div class="medium-12 columns rating_section">
                  <ul>
                    <li class="ratings_looks">
                      <span class="rate_title">rate looks:</span>
                      <span class="rate_stars"><%= rating_for attendant.user, 'looks', cancel_place: "right", disable_after_rate: true %></span>
                    </li>
                    <li class="divider">|</li>
                    <li class="ratings_personality">
                      <span class="rate_title">rate personality:</span> 
                      <span class="rate_stars"><%= rating_for attendant.user, 'personality', cancel_place: "right", disable_after_rate: true %></span>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>

            <!-- info_right -->
            <div class="medium-3 columns info_right">
              <% if current_user == attendant.user %>
                <div class="btn_view_profile"><%= link_to "view profile", user_path(attendant.user) %></div>
              <% else %>
                <div>
                  <div class="current_connection">
                    <%= friendship_status(current_user, attendant.user) %>
                  </div>
                  <% if current_user.friends?(attendant.user) %>
                    <div class="btn_view_profile"><%= link_to "view profile", user_path(attendant.user) %></div>
                  <% elsif current_user.friended?(attendant.user) %>
                    <%= "" %>
                  <% else current_user.friends?(attendant.user) %>
                    <div class="btn_connect">
                      <%= link_to "connect with #{attendant.user.firstname}", 
                                  { controller: "friendships", 
                                    action: "create", 
                                    id: attendant.user.email }, 
                                    confirm: "Send friend request to #{attendant.user.firstname}?", method: :post %>
                    </div>  
                  <% end %>

                </div>
              <% end %>
            </div>
          </li>
          <div class="clear"></div>
        <% end %>
      </ul>
      <!-- listed attendants -->
    </div>
  </div>
</div>

















<div class="old_content hide">
  <p id="notice"><%= notice %></p>


  <p>
    <strong>Title:</strong>
    <%= @card.title %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= @card.event_id %>
  </p>

  <%= link_to 'Edit', edit_card_path(@card) %> |
  <%= link_to 'Back', cards_path %>
</div>

