------------------------
  NOTES
------------------------

------------------------------------------------
table: Reviews
------------------------------------------------
user has many reviews
review belongs to user


------------------------------------------------
cost to consider for app events
------------------------------------------------
event   :  2.5hrs [18:30 - 21:00]
hosts   :  paid £15/hr | per/event: £30 ---- £30/hr | per/event: £60
ticket  :  £25:00
venue   :  £400/2.5hrs [max price to consider]
subies  :  £18/mth ---- £25/mth


12 attendees | 06 men 06 women - 30min [30m] | ie. I spoke to 06 people [5min each] in 30min
24 attendees | 12 men 12 women - 60min [1hr] | ie. I spoke to 12 people [5min each] in 01hr

48 attendees | 24 men 24 women - 120min [2hr]| ie. I spoke to 24 people [5min each] in 02hr




------------------------------------------------
an example of an event to look at
------------------------------------------------

w:https://www.originaldating.com/london-events-list/





------------------------------------------------
creating host table in SCHEMA
------------------------------------------------
table: host
user_id
event_id

with this you can assign a host to more than event
event has_many users through host
user has_many events throught host


with this you can't assign a host to more than event
event has_many hosts 
host belongs_event



------------------------------------------------
creating card table in SCHEMA
------------------------------------------------
table: card
event_id

card belongs_to an event
event has_one card





------------------------------------------------
details regarding STRIPE implementation contact
------------------------------------------------
---------- Forwarded message ----------
From: Alex Seleska <alex@razoredge-media.co.uk>
Date: 12 September 2016 at 13:16
Subject: Stripe Support
To: ashon@phundee.com


Hi Ashon,
 
Further to our phone conversation this afternoon, I can confirm we are very experienced with dealing with Stripe and can deal with most issues or integration problems that are faced.
 
If anyone you know needs our help, please get them to contact the office on 01376 44 00 23 or email me directly and we can discuss the issues to see if we can help.
Thank you for you call.
 
Kind Regards
 
Alex Seleska
Director
Razor Edge Media Ltd
T: 01376 44 00 23
M: 07739 408 746
W: www.razoredge-media.co.uk



------------------------------------------------
details regarding STRIPE usage
------------------------------------------------
Can I use the same Stripe account for multiple websites or businesses?
https://support.stripe.com/questions/stripe-account-for-multiple-projects

Answer: No, we’d highly recommend avoiding this


------------------------------------------------
contact us
------------------------------------------------

create_table "contacts", force: true do |t|
    t.string   "companyname"
    t.string   "email"
    t.text     "message"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "name"
    t.integer  "category_enquiry_id"
    t.string   "tel"
    t.integer  "category_contactclient_id"
    t.string   "status"
    t.string   "reference"
    t.integer  "userr_id"
    t.integer  "userj_id"
  end

------------------------------------------------
very important for event page
------------------------------------------------
only_men               | 10space        [quantity]
only_women             | 10space        [quantity]
both_men_and_women     | 10space        [quantity]
bothX_men_and_women    | 5men 5women    [quantity_men and quantity_women]

<div class="ref_notes hide">
  <div class="selection_BothX_men_and_women">
    <span>capacity: <%= (@event.quantity_men) + (@event.quantity_women) %></span> |
    <span>capacity [men]: <%= @event.quantity_men %></span> |
    <span>capacity [women]: <%= @event.quantity_women %></span> |

    <span>space: <%= @event.total_available_places_BothX_men_and_women %></span> | 
    <span>space [men]: <%= @event.available_places_Xmen %></span> | 
    <span>space [women]: <%= @event.available_places_Xwomen %></span> |

    <span>attendance: <%= @event.total_attendance_BothX_men_and_women %></span> | 
    <span>attendance [men]: <%= @event.attendance_Xmen %></span> | 
    <span>attendance [women]: <%= @event.attendance_Xwomen %></span>
  </div>

  <div class="selection_BothAndOnly_men_and_women">
    <span>capacity: <%= @event.quantity %></span> |
    <span>space: <%= @event.total_available_places_BothAndOnly_men_and_women %></span> | 
    <span>attendance: <%= @event.total_attendance_BothAndOnly_men_and_women %></span>
  </div>
</div>


------------------------------------------------
stackoverflow question
------------------------------------------------
i have a user (richill@gmail) with the user_id:4
user_payments: displays the payments user_id:4 has made to attend events
i also have an event (Networking Professionals) with the event_id:7
event_payments: displays the payments made by users to attend the event_id:7


my user_id:4 has paid to attend the event_id:7
user.payment.find(6) == event.payment.find(6)


could one kindly advise me how i check within the event_payments that the payment made by user_id:4 exist

2.3.0 :053 > ap user_payments
[
    [0] #<Payment:0x007fea73bcfb50> {
                               :id => 5,
                            :email => "richill@gmail.com",
                          :user_id => 4,
                        :reference => "SPz_YSQud-",
                       :created_at => Mon, 14 Nov 2016 15:51:27 UTC +00:00,
                       :updated_at => Wed, 16 Nov 2016 12:01:15 UTC +00:00,
                         :event_id => 5,
               :stripe_customer_id => "cus_9YuZZAniFCZVxn",
                :stripe_payment_id => "ch_15BRanHHg52K5vK0aj1gKmn4",
               :event_payment_date => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                           :status => "success"
    }
    [1] #<Payment:0x007fea73bcfb50> {
                               :id => 5,
                            :email => "richill@gmail.com",
                          :user_id => 4,
                        :reference => "SPz_YSQud-",
                       :created_at => Mon, 14 Nov 2016 15:51:27 UTC +00:00,
                       :updated_at => Wed, 16 Nov 2016 12:01:15 UTC +00:00,
                         :event_id => 5,
               :stripe_customer_id => "cus_9YuZZAniFCZVxn",
                :stripe_payment_id => "ch_15BRanHHg52K5vK0aj1gKmn4",
               :event_payment_date => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                           :status => "success"
    }
    [2] #<Payment:0x007fea73bcf5b0> {
                               :id => 6,
                            :email => "richill@gmail.com",
                          :user_id => 4,
                        :reference => "SPz_ruZ5om",
                       :created_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                       :updated_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                         :event_id => 7,
               :stripe_customer_id => "cus_9YuZZAniFCZVxn",
                :stripe_payment_id => "ch_19GTpnAAe71J3vK0aj1gKryO",
               :event_payment_date => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                           :status => "success"
    }
]






2.3.0 :054 > event_payments
[
    [0] #<Payment:0x007fea72ac5b70> {
                               :id => 6,
                            :email => "richill@gmail.com",
                          :user_id => 4,
                        :reference => "SPz_ruZ5om",
                       :created_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                       :updated_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                         :event_id => 7,
               :stripe_customer_id => "cus_9YuZZAniFCZVxn",
                :stripe_payment_id => "ch_19GTpnAAe71J3vK0aj1gKryO",
               :event_payment_date => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                           :status => "success"
    }
    [1] #<Payment:0x007fea72ac5b70> {
                               :id => 7,
                            :email => "peter@gmail.com",
                          :user_id => 5,
                        :reference => "SPz_mnX4ul",
                       :created_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                       :updated_at => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                         :event_id => 7,
               :stripe_customer_id => "cus_6FhLLMotYCCYvn",
                :stripe_payment_id => "ch_20GTunDDt87J3vK1sp4gPry9",
               :event_payment_date => Wed, 16 Nov 2016 13:52:23 UTC +00:00,
                           :status => "success"
    }
]
