<%= simple_form_for [@user, @social] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <%= f.input :companyname, label: false, placeholder: "company name" %>
    <%= f.input :title, label: "Discussion Topic", placeholder: "give a short distinct name" %>
    <%= f.input :description, label: "About Social" %>
    <%= f.text_field :tag_list, value: @social.tag_list.to_s, placeholder: "chess, jogging, dogs, skipping, gym, startups, entreprenuers, jazz..." %>
    <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Social Category" %>
    <%= f.input :address, label: "Location", placeholder: "address" %>
    <%= f.input :city, label: false, placeholder: "city" %>
    <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
    <%# f.country_select :country, { priority_countries: ["GB", "US"], selected: "GB" } %>
    <%= f.input :postcode %>
    <%= f.input :date %>
    <%= f.input :time %>







    <%= f.association :category_quantitygender, collection: CategoryQuantitygender.all, prompt: "select a category", label: "Quatity Gender Selection" %>
    
    <div class="general_gender_quantity_content">
    <%= f.input :quantity, placeholder: "quantity men & women", label: false %>
    </div>

    <div class="specific_gender_quantity_content">
        <%= f.input :quantity_men, placeholder: "quantity men", label: false %>
        <%= f.input :quantity_women, placeholder: "quantity women", label: false %>
    </div>














    <%= f.association :category_invite, collection: CategoryInvite.all, prompt: "select a category", label: "Who's invited?" %>
    <%= f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
    <%= f.input :speakername, label: "speaker name" %>
    <%= f.input :speakerlinkedin, label: "speaker's linkedin profile" %>



    <!-- hidden fields -->
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :user_id %>
    <!-- hidden fields -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
