<%= simple_form_for [@user, @social] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :postcode %>

    <!-- hidden fields -->
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :user_id %>
    <!-- hidden fields -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
