<div class= "medium-12 columns user_general_settings_section">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
        <!-- content -->
        <div class="social_form_main_content">
          <div class="tree_link">
            <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> 
            <span class="fwd_sign">></span> 
            <span>
              <% if action_name == 'new' %>
                <span>create social</span>
              <% else %>
                <span>update social</span>
              <% end %>
            </span>
          </div>
          <div class="user_general_settings_inner_section social_edit_update_form">
            <%= simple_form_for [@user, @social] do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.file_field :image %>

                <% unless action_name == 'new' %>
                <div class="close_social_section">
                  <%= f.input :close, label: 'Close Social' %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <% end %>

                <div class="company_info_section hide">
                  <%= f.text_field :companyname, label: false, placeholder: "HSBC Private Bank", id: "textarea" %>
                  <div class="text_info">*maximum word count: 20 | <span id="textarea_companyname_feedback"></span>
                  </div>
                </div>

                <div class="discussion_topic">
                  <div class="social_label">discussion title</div>
                  <%= f.text_field :title, label: "Discussion Topic", placeholder: "give a short distinct name" %>
                  <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_feedback"></span></div> 
                </div>

                <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Social Category" %>
                <%= f.input :description, label: "About Social", placeholder: "tell us about your social" %>

                <div class="social_tags">
                  <div class="social_label">social tags</div>
                  <%= f.text_field :tag_list, value: @social.tag_list.to_s, placeholder: "chess, jogging, dogs, skipping, gym, startups, entreprenuers, jazz" %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>

            
                <div class="address_upper">
                  <%= f.input :venuename, label: "venue name", placeholder: "sky lounge" %>
                  <%= f.input :address, label: "Location", placeholder: "address" %>
                </div>
                <div class="clear"></div>

                <div class="address_lower">
                  <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
                  <%= f.input :city, label: false, placeholder: "city" %>
                  <%= f.input :postcode, label: false, placeholder:"postcode" %>
                </div>
                <div class="clear"></div>

                <div class="map_link">
                  <%= f.input :maplink, label: "Google Map Link URL
                  ", placeholder: "https://www.google.co.uk/maps?q=Brasserie+Blanc+(Tower+Hill)+Trinity+Square+(Tower+of+London)+London+EC3N+4AA&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjz_orD857QAhUsCMAKHV2nD2QQ_AUICCgB" %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                
                <div class="date_time">
                  <div class="social_label">date</div>
                  <%= f.text_field :date, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'social_date' %>
                  <div class="social_label">time</div>
                  <%= f.input :time, label: false %>
                </div>
                <div class="clear"></div>

                <div class="gender_selection_section">
                  <% if action_name == 'edit' %>
                    <div class="current_gender_selection">
                      <span>Current Settings:</span>
                      <span>
                        <% if @social.category_quantitygender.name == "both men & women" %>
                          <i class="fa fa-users" aria-hidden="true"></i>
                        <% elsif @social.category_quantitygender.name == "only men" %>
                          <i class="fa fa-male" aria-hidden="true"></i>
                        <% else @social.category_quantitygender.name == "only women" %>
                          <i class="fa fa-female" aria-hidden="true"></i>
                        <% end %>
                      </span>
                      <span><%= @social.category_quantitygender.name %></span>
                      <span class="divider">|</span>
                      <span><%= @social.quantity %> space limit</span>
                    </div>
                  <% end %>
                  <%= f.association :category_quantitygender, collection: CategoryQuantitygender.all, prompt: "select a category", label: "Quantity Gender Selection", input_html: { class: 'category_select' } %>
                  <div class="general_gender_quantity_content">
                    <%= f.input :quantity, placeholder: "quantity", label: false %>
                  </div>
                  <div class="specific_gender_quantity_content">
                      <%= f.input :quantity_men, placeholder: "quantity men", label: "men" %>
                      <%= f.input :quantity_women, placeholder: "quantity women", label: "women" %>
                  </div>
                </div>
                <div class="clear"></div>

                <div class="additional_options">
                  <%= f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
                  <%= f.association :category_invite, collection: CategoryInvite.all, prompt: "select a category", label: "Who's invited?" %>
                </div>
                <div class="clear"></div>

                <div class="speaker_details hide">
                  <%= f.input :speakername, label: "speaker name", placeholder: "Dr. Nelson Larbi" %>
                  <%= f.input :speakerlinkedin, label: "speaker's linkedin profile", placeholder: "https://uk.linkedin.com/in/nelsonlarbi" %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="clear"></div>

                <!-- hidden fields -->
                <%= f.hidden_field :latitude %>
                <%= f.hidden_field :longitude %>
                <%= f.hidden_field :user_id %>
                <!-- hidden fields -->
              </div>

              <div class="form-actions save_btn">
                <%= f.button :submit %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- content -->
    </div>
  </div>
</div>






