<div class= "medium-12 columns user_general_settings_section">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
        <!-- content -->
        <div class="social_form_main_content">
          <div class="tree_link">
            <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> 
            <span class="fwd_sign">></span> 
            <span>
              <% if action_name == 'new' %>
                <span>create social</span>
              <% else %>
                <span>update social</span>
              <% end %>
            </span>
          </div>
          <div class="user_general_settings_inner_section social_edit_update_form">
            <%= simple_form_for [@user, @social] do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.file_field :image %>

                <% unless action_name == 'new' %>
                <div class="close_social_section">
                  <%= f.input :close, label: 'Close Social' %>
                  <div class="text_info">If ticked (closed) the social will be removed from the list of socials. Members will no longer be able to view nor attend your social.</div>
                </div>
                <% end %>

                <div class="company_info_section hide">
                  <%= f.text_field :companyname, label: false, placeholder: "HSBC Private Bank", id: "textarea" %>
                  <div class="text_info">*maximum word count: 20 | <span id="textarea_companyname_feedback"></span>
                  </div>
                </div>

                <div class="discussion_topic">
                  <%= f.input :title, label: "Discussion Topic", placeholder: "give a short distinct name" %>
                  <div class="text_info">*maximum word count: 55 | *minmum: 40 | <span id="textarea_title_feedback"></span></div> 
                </div>

                <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Social Category" %>
                <%= f.input :description, label: "About Social", placeholder: "tell us about your social" %>

                <div class="social_tags">
                  <%= f.input :tag_list, value: @social.tag_list.to_s, placeholder: "chess, jogging, dogs, skipping, gym, startups, entreprenuers, jazz", label: "Social Tags" %>
                  <div class="text_info">Place word tags that best describes the social. This allows members to easily allocate your social.</div>
                </div>
            
                <div class="address_upper">
                  <%= f.input :venuename, label: "venue name", placeholder: "sky lounge" %>
                  <%= f.input :address, label: "Location", placeholder: "address" %>
                </div>
                <div class="clear"></div>

                <div class="address_lower">
                  <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
                  <%= f.input :city, label: false, placeholder: "city" %>
                  <%= f.input :postcode, label: false, placeholder:"postcode" %>
                </div>
                <div class="clear"></div>

                <div class="map_link">
                  <%= f.input :maplink, label: "Google Map Link URL", placeholder: "https://www.google.co.uk/maps?q=Brasserie+Blanc+(Tower+Hill)+Trinity+Square+(Tower+of+London)+London+EC3N+4AA&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjz_orD857QAhUsCMAKHV2nD2QQ_AUICCgB" %>
                  <div class="text_info">Copy and past the Google URL Link for the address/location of the social here. This allows members to access the location of the social on the web directly via a click of the address. <i class="fa fa-angle-double-right" aria-hidden="true"></i>Here is an example of how this will be displayed with the given address with the embeded link: <%= link_to "The Pepys, Stew Lane, London, EC4V 3PT", "https://www.google.co.uk/maps/place/The+Pepys/@51.510479,-0.0983617,17z/data=!3m1!4b1!4m5!3m4!1s0x487604aa3ade883b:0x10f9847b2204fa31!8m2!3d51.510479!4d-0.096173", target:"_blank" %></div>
                </div>
                
                <div class="date_time">
                  <div class="social_label">date</div>
                  <%= f.text_field :date, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'social_date' %>
                  <div class="social_label">time</div>
                  <%= f.input :time, label: false %>
                </div>
                <div class="clear"></div>

                <div class="gender_selection_section">
                  <% if action_name == 'edit' %>
                    <div class="current_gender_selection">
                      <span>Current Settings:</span>
                      <span>
                        <% if @social.category_quantitygendersocial.name == "both men & women" %>
                          <i class="fa fa-users" aria-hidden="true"></i>
                        <% elsif @social.category_quantitygendersocial.name == "only men" %>
                          <i class="fa fa-male" aria-hidden="true"></i>
                        <% else @social.category_quantitygendersocial.name == "only women" %>
                          <i class="fa fa-female" aria-hidden="true"></i>
                        <% end %>
                      </span>
                      <span><%= @social.category_quantitygendersocial.name %></span>
                      <span class="divider">|</span>
                      <span><%= @social.quantity %> space limit</span>
                    </div>
                  <% end %>
                  <%= f.association :category_quantitygendersocial, collection: CategoryQuantitygendersocial.all, prompt: "select a category", label: "Quantity Gender Selection", input_html: { class: 'category_select' } %>
                  <div>
                    <%= f.input :quantity, placeholder: "quantity", label: false %>
                  </div>
                </div>
                <div class="clear"></div>

                <div class="additional_options">
                  <%= f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
                  <%= f.association :category_invite, collection: CategoryInvite.all, prompt: "select a category", label: "Who's invited?" %>
                </div>
                <div class="clear"></div>

                <div class="speaker_details">
                  <%= f.input :speakername, label: "speaker name", placeholder: "Dr. Nelson Larbi" %>
                  <%= f.input :speakerlinkedin, label: "speaker's linkedin profile", placeholder: "https://uk.linkedin.com/in/nelsonlarbi" %>
                  <div class="clear"></div>
                  <div class="text_info">If you would like to have a speaker present at the social, kindly write in the full name of the speaker and place in the linked in web address of the speaker. We highly recommend socials to have speakers present, this enables active conversation set around the topic of the event, and attracts more attendees to the event. </div>
                </div>
                <div class="clear"></div>

                <!-- hidden fields -->
                <%= f.hidden_field :latitude %>
                <%= f.hidden_field :longitude %>
                <%= f.hidden_field :user_id %>
                <!-- hidden fields -->
              </div>

              <div class="form-actions save_btn">
                <%= f.button :submit %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- content -->
    </div>
  </div>
</div>






