<%= simple_form_for [@user, @social] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image %>
    <%= f.input :title, label: "Discussion Topic", placeholder: "give a short distinct name" %>
    <%= f.input :description, label: "About Social" %>
    <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Social Category" %>
    <%= f.input :address, label: "Location", placeholder: "address" %>
    <%= f.input :city, label: false, placeholder: "city" %>
    <%= f.country_select :country, { priority_countries: ["GB", "US"], selected: "GB" } %>
    <%= f.input :postcode %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :quantity %>


    <!-- hidden fields -->
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :user_id %>
    <!-- hidden fields -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
