<div class= "medium-12 columns user_general_settings_section">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->

  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
        <!-- content -->
        <div class="social_form_main_content">
          <div class="tree_link">
            <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> 
            <span class="fwd_sign">></span> 
            <span>
              <% if action_name == 'new' %>
                <span>create social</span>
              <% else %>
                <span>update social</span>
              <% end %>
            </span>
          </div>
          <div class="user_general_settings_inner_section social_edit_update_form">
            <%= simple_form_for [@user, @social] do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.file_field :image %>

                <% unless action_name == 'new' %>
                <div class="close_social_section">
                  <%= f.input :close, label: 'Close Social' %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <% end %>

                <div class="company_info_section">
                  <%= f.input :companyname, label: false, placeholder: "HSBC Private Bank" %>
                  <div class="text_info">*maximum word count: 20</div>
                </div>

                <div class="discussion_topic">
                  <%= f.input :title, label: "Discussion Topic", placeholder: "give a short distinct name" %>
                  <div class="text_info">*minmum word count: 40 | max: 55</div> 
                </div>

                <%= f.association :category_topic, collection: CategoryTopic.all, prompt: "select a category", label: "Social Category" %>
                <%= f.input :description, label: "About Social", placeholder: "tell us about your social" %>

                <div class="social_tags">
                  <%= f.text_field :tag_list, value: @social.tag_list.to_s, placeholder: "chess, jogging, dogs, skipping, gym, startups, entreprenuers, jazz" %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>

            
                <div class="address_upper">
                  <%= f.input :venuename, label: "venue name", placeholder: "sky lounge" %>
                  <%= f.input :address, label: "Location", placeholder: "address" %>
                </div>
                <div class="clear"></div>

                <div class="address_lower">
                  <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a country", placeholder: "Select Country", label: false %>
                  <%= f.input :city, label: false, placeholder: "city" %>
                  <%= f.input :postcode, label: false, placeholder:"postcode" %>
                </div>
                <div class="clear"></div>

                <div class="map_link">
                  <%= f.input :maplink %>
                  <div class="text_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                
                <div class="date_time">
                  <%= f.text_field :date, label: false, class: "event_datepicker", placeholder: "dd/mm/yyyy", id: 'social_date' %>
                  <%= f.input :time, label: false %>
                </div>
                <div class="clear"></div>

                <%= f.association :category_quantitygender, collection: CategoryQuantitygender.all, prompt: "select a category", label: "Quantity Gender Selection", input_html: { class: 'category_select' } %>
                <div class="general_gender_quantity_content">
                  <%= f.input :quantity, placeholder: "quantity", label: false %>
                </div>
                <div class="specific_gender_quantity_content">
                    <%= f.input :quantity_men, placeholder: "quantity men", label: "men" %>
                    <%= f.input :quantity_women, placeholder: "quantity women", label: "women" %>
                </div>
                
                <%= f.association :category_invite, collection: CategoryInvite.all, prompt: "select a category", label: "Who's invited?" %>
                <%= f.association :category_age, collection: CategoryAge.all, prompt: "select a category", label: "Age Group" %>
                <%= f.input :speakername, label: "speaker name" %>
                <%= f.input :speakerlinkedin, label: "speaker's linkedin profile" %>

                <!-- hidden fields -->
                <%= f.hidden_field :latitude %>
                <%= f.hidden_field :longitude %>
                <%= f.hidden_field :user_id %>
                <!-- hidden fields -->
              </div>

              <div class="form-actions">
                <%= f.button :submit %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- content -->
    </div>
  </div>
</div>






