<div class="socials_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns social_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="feed_container">
            <ul>
              <!-- socials -->
              <% @socials.all.each do |social| %>
                <li class="medium-3 columns">
                  <div class="feed_inner_section">
                    <div class="feed">
                      <div class="feed_header">
                        <div class="feed_date"><i class="fa fa-calendar date"></i> <%= social.created_at.strftime("%a, %d %b %Y") %></div>
                        <div class="feed_location"><i class="fa fa-map-pin location"></i> United Kingdom, <%= social.city %></div>
                        <div class="feed_price"><i class="fa fa-gbp price"></i> Free</div>
                      </div>
                      <div class="feed_img"><%= link_to(image_tag("#{social.image_url}", :alt =>  "image", :class =>"#"), user_social_path(social.user, social)) %></div>
                      <div class="feed_user">
                        <% if social.user.image.present? %>
                          <div><%= link_to(image_tag(social.user.image_url), user_path(social.user)) %></div>
                        <% else %>
                          <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(social.user)) %></div>
                        <% end %>
                      </div>
                      <div class="clear"></div>
                      <div class="feed_sub_title">
                        <div class="feed_organizer">drinks with 
                          <span>
                            <% if social.companyname.present? %>
                              <%= social.companyname %>
                            <% else %>
                              <%= social.user.firstname %>
                            <% end %>
                          </span>
                        </div>
                        <div class="feed_title"><%= truncate(social.title, length: 40) %></div>
                      </div>
                    </div>
                    <div class="feed_comments_container hide">
                      <ul>
                        <!-- first comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "michael", "#" %></b>looking fwd to your chicken and veg dinner. You always organise the best events after work</span></li>
                          </ul>
                        </li>
                        <!-- second comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "emma", "#" %></b>yessss!!! will definitely be there. You must tell me the secret recipe to your grilled chicken</span></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="booking hide">
                      <div><%= link_to "attend", "#" %></div>
                    </div>
                    <div class="attendance">
                      <div>
                        <ul>
                          <li><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <li><%= link_to(image_tag("img_profile_13.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <li><%= link_to(image_tag("img_profile_08.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <li><%= link_to(image_tag("img_profile_09.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <li><%= link_to(image_tag("img_profile_10.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <li style="margin-right: 0px;"><%= link_to(image_tag("img_profile_12.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                          <!-- <li class="remaining_places" style="margin-right: 0px;"><%= link_to "+7", root_path, class: "#" %></li> -->
                        </ul>
                      </div>
                    </div>
                    <div class="icons">
                      <div class="icon_list">
                        <ul>
                          <li><%= link_to ' 1k', '#', id: "", class: "fa fa-eye" %></li>
                          <li><%= link_to ' 45', '#', id: "", class: "fa fa-comments-o" %></li>
                          <li><%= link_to ' 50', '#', id: "", class: "fa fa-users" %></li>
                          <li><%= link_to ' 5', '#', id: "", class: "fa fa-user-plus" %></li>
                          <li><%= link_to ' ', '#', id: "", class: "fa fa-bookmark-o", style:"padding:11px 15px;" %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
              <!-- socials -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>

