<div class="socials_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns social_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="feed_container">
            <ul>
              <!-- socials -->
              <% @socials.all.each do |social| %>
                <li class="medium-3 columns">
                  <div class="feed_inner_section">
                    <div class="feed">
                      <div class="feed_header">
                        <div class="feed_date"><i class="fa fa-calendar date"></i> <%= social.created_at.strftime("%a, %d %b %Y") %></div>
                        <div class="feed_location"><i class="fa fa-map-pin location"></i> ghana, accra</div>
                        <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                      </div>
                      <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), user_social_path(social.user, social)) %></div>
                      <div class="feed_user">
                        <% if social.user.image.present? %>
                          <div><%= link_to(image_tag(social.user.image_url), user_path(social.user)) %></div>
                        <% else %>
                          <div class="img_default"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(social.user)) %></div>
                        <% end %>
                      </div>
                      <div class="clear"></div>
                      <div class="feed_sub_title">
                        <div class="feed_organizer"><%= social.user.firstname %> is organising</div>
                        <div class="feed_title"><%= social.title %></div>
                      </div>
                    </div>
                    <div class="feed_comments_container hide">
                      <ul>
                        <!-- first comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "michael", "#" %></b>looking fwd to your chicken and veg dinner. You always organise the best events after work</span></li>
                          </ul>
                        </li>
                        <!-- second comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "emma", "#" %></b>yessss!!! will definitely be there. You must tell me the secret recipe to your grilled chicken</span></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="booking hide">
                      <div><%= link_to "attend", "#" %></div>
                    </div>
                    <div class="booking">
                      <div><%= link_to "attend", "#" %></div>
                    </div>
                  </div>
                </li>
              <% end %>
              <!-- socials -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>

