<div class="socials_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns social_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="feed_container">
            <ul>
              <!-- socials -->
              <% @socials.all.each do |social| %>
                <li class="medium-3 columns">
                  <div class="feed_inner_section">
                    <div class="feed">
                      <div class="feed_header">
                        <div class="feed_date"><i class="fa fa-calendar date"></i> <%= social.created_at %></div>
                        <div class="feed_location"><i class="fa fa-map-pin location"></i> ghana, accra</div>
                        <div class="feed_price"><i class="fa fa-gbp price"></i> £14.99</div>
                      </div>
                      <div class="feed_img"><%= link_to(image_tag("img_feed_01.png", :alt =>  "alt text", :class =>"#"), user_social_path(social.user, social)) %></div>
                      <div class="feed_user"><%= link_to(image_tag("img_profile_01.png", :alt =>  "alt text", :class =>"#"), user_path(social.user)) %></div>
                      <div class="clear"></div>
                      <div class="feed_sub_title">
                        <div class="feed_organizer"><%= social.user.firstname %> is organising</div>
                        <div class="feed_title"><%= social.title %></div>
                      </div>
                    </div>
                    <div class="feed_comments_container">
                      <ul>
                        <!-- first comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_05.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "michael", "#" %></b>looking fwd to your chicken and veg dinner. You always organise the best events after work</span></li>
                          </ul>
                        </li>
                        <!-- second comment -->
                        <li>
                          <ul class="inline-list feed_inner_comment_section">
                            <li class="medium-2 columns feed_comment_img"><%= link_to(image_tag("img_profile_02.png", :alt =>  "alt text", :class =>"#"), root_path) %></li>
                            <li class="medium-10 columns feed_comment"><span><b><%= link_to "emma", "#" %></b>yessss!!! will definitely be there. You must tell me the secret recipe to your grilled chicken</span></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="booking">
                      <div><%= link_to "attend", "#" %></div>
                    </div>
                  </div>
                </li>
              <% end %>
              <!-- socials -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>






<div class="hide">
  <p id="notice"><%= notice %></p>
  <h1>Listing Socials</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @socials.each do |social| %>
        <tr>
          <td><%= social.title %></td>
          <td><%= social.description %></td>
          <td><%= social.address %></td>
          <td><%= social.postcode %></td>
          <td><%= social.user_id %></td>
          <td><%= link_to 'Show', user_social_path(social.user, social) %></td>
          <td><%= link_to 'Edit', edit_user_social_path(social.user, social) %></td>
          <td><%= link_to 'Destroy', user_social_path(social.user, social), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Social', new_user_social_path(current_user) %>
</div>