<div class="medium-12 columns social_profile_page_section">

  <!-- upper section -->
  <div class="medium-12 columns upper_section">
    <div class="profile_banner">
      <div class="profile_inner_banner">
        <div class="header"><%= render 'shared/header' %></div>
        <div class="upper_profile_content">
          <div class="profile_img_main_cover">
            <% if @social.image.present? %>
              <div><%= image_tag(@social.image_url) %></div>
            <% else %>
              <div class="img_default"><%= image_tag("img-profile-image-default.png") %></div>
            <% end %>
          </div>
          <div class="user_name"><%= "#{@social.title}" %></div>
          <div class="user_location">
            <i class="fa fa-map-pin" aria-hidden="true"></i> <span><%= "#{@social.city}" %></span>, <span><%= "#{@social.category_country.name}" %></span>
            <% if @social.category_topic_id.present? %>
              <span class="divider">|</span>
              <i class="fa fa-suitcase" aria-hidden="true"></i> 
              <span><%= @social.category_topic.name %></span>
            <% end %>
          </div>
          <div class="clear"></div>
          <div class="user_social_icons">
            <span class="socialicon_cover_in"><%= link_to '', '#', class: "fa fa-linkedin" %></span> 
            <span class="socialicon_cover_fb"><%= link_to '', '#', class: "fa fa-facebook" %></span> 
            <span class="socialicon_cover_tt"><%= link_to '', '#', class: "fa fa-twitter" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- middle section -->
  <div class="medium-12 columns middle_section">
    <div class="middle_inner_section">
      <ul class="inline-list left">
        <li>
          <!-- male -->
          <% if @social.category_quantitygender.name == "only men" %>
            <span><i class="fa fa-male" aria-hidden="true"></i></span>
            <span class="content_text">[men only]</span>
            <span>
              <% if @social.sold_out? %>
                <span class="content_soldout">sold out</span>
              <% else %>
                <span class="content_available">available</span>
              <% end %>
            </span>

          <!-- female -->
          <% elsif @social.category_quantitygender.name == "only women" %>
            <span class="content_gender"><i class="fa fa-female" aria-hidden="true"></i></span>
            <span class="content_text">[women only]</span>
            <span>
              <% if @social.sold_out? %>
                <span class="content_soldout">sold out</span>
              <% else %>
                <span class="content_available">available</span>
              <% end %>
            </span>
            
          <!-- male & female -->
          <% else @social.category_quantitygender.name == "both men & women" %>
            <span class="content_gender"><i class="fa fa-users" aria-hidden="true"></i></span>
            <span class="content_text">[both men & women]</span>
            <span>
              <% if @social.sold_out? %>
                <span class="content_soldout">sold out</span>
              <% else %>
                <span class="content_available">available</span>
              <% end %>
            </span>
          <% end %>

        </li>
        <li><span class="divider">|</span></li>
        <li><span class="header">upcoming socials:</span> <span class="content"><%= @social.user.socials.live_socials.count %></span></li>
      </ul>
      <% if @social.live_social %>
        <ul class="inline-list right">
          <li>
            <% if current_user %>
              <% if @social.category_invite.present? && @social.category_invite.name == "just my guest" %>
                <div class="social_profile_btn btn_request"> <%= link_to "request to be invited", "#" %></div>
              <% else %>
                <span class="attendance">

                  <% if @social.category_quantitygender.name == "only women" && current_user.category_gender.name == "Female" || 
                        @social.category_quantitygender.name == "only men" && current_user.category_gender.name == "Male" %>
                    <% unless current_user.attending_socials.exists?(id: @social.id) %>
                      <% unless @social.sold_out? %> <!-- note: if ticket is sold out do not display attend button -->
                        <div class="social_profile_btn btn_social_attend"><%= link_to 'Attend', attending_socials_path(social_id: @social), method: :post %></div>
                      <% end %>
                    <% else %>
                      <div class="social_profile_btn btn_social_unattend"><%= link_to 'Un-Attend Social', attending_social_path(@social), method: :delete %></div>
                    <% end %>
                  <% elsif @social.category_quantitygender.name == "both men & women" && current_user.category_gender.name == "Male" || @social.category_quantitygender.name == "both men & women" && current_user.category_gender.name == "Female" %>
                    <% unless current_user.attending_socials.exists?(id: @social.id)  %>
                      <% unless @social.sold_out? %> <!-- note: if ticket is sold out do not display attend button -->
                        <div class="social_profile_btn btn_social_attend"><%= link_to 'Attend', attending_socials_path(social_id: @social), method: :post %></div>
                      <% end %>
                    <% else %>
                        <div class="social_profile_btn btn_social_unattend"><%= link_to 'Un-Attend Social', attending_social_path(@social), method: :delete %></div>
                    <% end %>
                  <% else  %>
                    <% unless @social.sold_out? %> <!-- note: if ticket is sold out do not display attend button -->
                      <div class="social_profile_btn btn_social_attendance_restrictions"><%= link_to 'Attendance Restriction', social_path(@social) %></div>
                    <% end %>
                  <% end %>

                </span>
              <% end %>
            <% end %>
          </li> 
          <li>
            <% if current_user %>
              <% unless current_user.favourite_socials.exists?(id: @social.id)  %>
                <div class="social_profile_btn btn_social_save"><%= link_to 'Save', favourite_socials_path(social_id: @social), method: :post %></div>
              <% else %>
                <div class="social_profile_btn btn_social_unsave"><%= link_to 'Un-Save', favourite_social_path(@social), method: :delete %></div>
              <% end %>
            <% end %>
          </li>
          <% if @social.user == current_user %>
            <li>
              <div class="social_profile_btn btn_edit"><%= link_to "edit", edit_user_social_path(@social.user, @social) %></div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- lower section -->
  <div class="medium-12 columns lower_section">
    <div class="lower_inner_section">
      <!-- left column -->
      <div class="medium-3 columns column_left">
        <!-- location -->
        <% if @social.current_user_attending?(current_user) || @social.user == current_user %>
          <div class="medium-12 columns left_container_location">
            <div class="medium-12 columns left_inner_container location_container">
              <div class="header"><div class="header_content"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= link_to "location", "#{@social.maplink}", target:"_blank" %></div></div>
              <div class="content">
                <div class="content_info">
                  <div class="location_address"> 
                    <%= link_to "#{@social.maplink}", target:"_blank" do %>
                     <b><%= "#{@social.venuename}" %></b> - 
                      <%= "#{@social.address}, #{@social.city}, #{@social.category_country.name}, #{@social.postcode}" %>
                    <% end %>
                  </div>
                  <div class="location_info">location only displayed to host & attendees</div>
                  <div class="divider"></div>
                  <div><i class="fa fa-calendar" aria-hidden="true"></i> <%= @social.date.strftime("%a, %d %b %Y") %> | <%= @social.time.strftime("%I:%M %p") %> </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- about -->
        <% if @social.description? %>
          <div class="medium-12 columns left_container">
            <div class="medium-12 columns left_inner_container aboutme_container">
              <div class="header"><div class="header_content"><i class="fa fa-user" aria-hidden="true"></i> about social</div></div>
              <div class="content">
                <div class="content_info">
                  <%= truncate(@social.description, length: 260) %> 
                  <span><a href="#" data-reveal-id="myModal-users-aboutme">view</a></span>
                  <div><%= render 'shared/modal_socials_aboutme' %></div>
                </div>
              </div>
            </div>
          </div>
          <% else %>
          <div class="medium-12 columns left_container">
            <div class="medium-12 columns left_inner_container aboutme_container">
              <div class="header"><div class="header_content"><i class="fa fa-user" aria-hidden="true"></i> about me</div></div>
              <div class="content">
                <div class="content_info">
                  <%= link_to "Tell Us About You", edit_user_path(current_user) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- interests -->
        <% if !@social.tags.blank? %>
          <div class="medium-12 columns left_container">
            <div class="medium-12 columns left_inner_container interest_container">
              <div class="header"><div class="header_content"><i class="fa fa-street-view" aria-hidden="true"></i> tags</div></div>
              <div class="content">
                <div class="content_info" style="padding: 15px 8px;">
                  <ul class="tags">
                    <li><%= raw @social.tag_list.map { |t| link_to t, social_tag_path(t) }.join(" ") %></li> 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="medium-12 columns left_container">
            <div class="medium-12 columns left_inner_container interest_container">
              <div class="header"><div class="header_content"><i class="fa fa-street-view" aria-hidden="true"></i> tags</div></div>
              <div class="content">
                <% if current_user.id == @social.user.id %>
                  <div class="medium-12 columns user_complete_infolink"><%= link_to "Tell Us About This Social Tags", edit_user_social_path(@social.user, @social) %></div>
                <% else %>
                  <div class="medium-12 columns user_complete_infolink"><%= "This Social Currently has no Tags" %></div>
                <% end %>
                <div class="content_info" style="padding: 15px 8px;">
                  <ul class="tags_fade">
                    <li><%= 'networking' %></li>
                    <li><%= 'management'  %></li>
                    <li><%= 'finance' %></li>
                    <li><%= 'startups' %></li>
                    <li><%= 'finTech' %></li>
                    <li><%= 'startups' %></li>
                    <li><%= 'entreprenuers' %></li>
                    <li><%= 'foodTech'  %></li>
                    <li><%= 'development' %></li>
                    <li><%= 'wealth management' %></li>
                    <li><%= 'sports' %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- middle column -->
      <div class="medium-6 columns column_middle">
        <div class="left_container middle_container">
          <div class="medium-12 columns middle_inner_container">
            <div class="medium-12 columns header">
              <% if @social.user.socials.present? %>
                <div class="medium-4 columns header_content evts_feed">wall</div>
                <div class="medium-4 columns header_content evts_upcoming">upcoming socials [<%= @social.user.socials.live_socials.count %>]</div>
                <div class="medium-4 columns header_content evts_past">past socials [<%= @social.user.socials.expired_socials.count %>]</div>
              <% else %>
                <div class="medium-12 columns header_content evts_feed">feed</div>
              <% end %>
            </div>
            <div class="clear"></div>
            <div class="content">
              <div class="content_info evts_feed_content"><%= render 'shared/content_socials_wall' %></div>
              <div class="content_info evts_upcoming_content hide"><%= render 'shared/content_socials_upcomingsocials' %></div>
              <div class="content_info evts_past_content hide"><%= render 'shared/content_socials_pastsocials' %></div>
            </div>
          </div>
        </div>
      </div>

      <!-- right column -->
      <div class="medium-3 columns column_right">
        <div class="medium-12 columns right_container_host">
          <div class="medium-12 columns right_inner_container host_container">
            <div class="header"><div class="header_content"><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "host", "#" %></div></div>
            <div class="content">
              <div class="content_info">
                <div><%= render 'shared/content_socials_about_host' %></div>
              </div>
            </div>
          </div>
        </div>

        <div class="medium-12 columns right_container">
          <div class="medium-12 columns right_inner_container attendee_container">
            <div class="header"><div class="header_content"><i class="fa fa-users" aria-hidden="true"></i> <%= link_to "attending [#{@social.attendances.count}]", "#" %></div></div>
            <div class="content">
              <div class="content_info">
                <div><%= render 'shared/content_users_attendees' %></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




