<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Reference</th>
      <th>Category report</th>
      <th>Social/Event/User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <% if report.social_id.present? %>
            <%= "Social" %>
          <% elsif report.event_id.present? %>
            <%= "Event" %>
          <% elsif report.user_id.present? %>
            <%= "User" %>
          <% end %>
        </td>
        <td><%= report.reference %></td>
        <td><%= report.category_report.name %></td>
        <td>
          <% if report.social_id.present? %>
            <%= report.social.title %>
          <% elsif report.event_id.present? %>
            <%= report.event.title %>
          <% elsif report.user_id.present? %>
            <%= "#{report.user.firstname} #{report.user.lastname}" %>
          <% end %>
        </td>
        <td><%= report.content %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


