<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%# content_for?(:title) ? yield(:title) : "foundation-rails" %></title> -->
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if notice %>
      <div id="notice_wrapper">
        <p id="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p id="alert"><%= alert %></p> 
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>