<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'img-logo-five.png' %>
    <%= tag :meta, name: "stripe-key", content: Rails.application.secrets.stripe_publishable_key %>
    <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41577227-2', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>

  <body>

    <div class="medium-12 columns container"> 
      <div><%# debug(params) if Rails.env.development? %></div>
      <% if notice %>
        <div id="notice_wrapper">
          <p id="notice"><%= notice %></p>
        </div>
      <% elsif alert %>
        <div id="alert_wrapper">
          <p id="alert"><%= alert %></p> 
        </div>
      <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>

