<%= simple_form_for(@management) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, placeholder: "dd/mm/yyyy", label: "Date" %>
    <%= f.association :event, collection: Event.all, prompt: "select an event", label: "Event" %>
    <%= f.input :venuecost %>
    <%= f.input :hostcost %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
