<div class="hide">
  <p id="notice"><%= notice %></p>
  <h1>Listing Management</h1>
  <table>
    <thead>
      <tr>
        <th>Venuecost</th>
        <th>Hostcost</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @managements.each do |management| %>
        <tr>
          <td><%= management.venuecost %></td>
          <td><%= management.hostcost %></td>
          <td><%= link_to 'Show', management %></td>
          <td><%= link_to 'Edit', edit_management_path(management) %></td>
          <td><%= link_to 'Destroy', management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
  <%= link_to 'New Management', new_management_path %>
</div>

<div class= "medium-12 columns user_general_settings_section user_main_dashboard_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="tree_link">
        <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span><%= link_to "transactions",transactions_user_path(current_user) %></span> <span class="fwd_sign">></span> <span><%= link_to "payments", payments_path %></span> <span class="fwd_sign">></span> <span>management</span> <span class="tree_link_btn"><%= link_to "create management", new_management_path %>
      </div>
      <div class="user_general_settings_inner_section user_dashboard_section_main_content">
        <div><%= render "user_dashboard_admin_managements" %></div>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>
