<div class="user_dashboard_admin_managements">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">


    <!-- financial block -->
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> jun 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <% @managements.each do |management| %>
              <!-- <li>80</li>
              <li>80</li> -->
              <li>160</li>
              <li>55.00</li>
              <li>8'800</li>
              <li class="negative">1'600</li>
              <li>4</li>
              <li class="negative">200</li>
              <li class="negative">1'760</li>
              <li class="negative">5'240</li>
              <li class="negative">2'000</li>
              <li class="total_amt">1'144</li>
            <% end %>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>
    <!-- financial block -->


    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> may 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <!-- <li>80</li>
            <li>80</li> -->
            <li>160</li>
            <li>55.00</li>
            <li>8'800</li>
            <li class="negative">1'600</li>
            <li>4</li>
            <li class="negative">200</li>
            <li class="negative">1'760</li>
            <li class="negative">5'240</li>
            <li class="negative">2'000</li>
            <li class="total_amt">1'144</li>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>

    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> apr 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <!-- <li>80</li>
            <li>80</li> -->
            <li>160</li>
            <li>55.00</li>
            <li>8'800</li>
            <li class="negative">1'600</li>
            <li>4</li>
            <li class="negative">200</li>
            <li class="negative">1'760</li>
            <li class="negative">5'240</li>
            <li class="negative">2'000</li>
            <li class="total_amt">1'144</li>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>

    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> mar 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <!-- <li>80</li>
            <li>80</li> -->
            <li>160</li>
            <li>55.00</li>
            <li>8'800</li>
            <li class="negative">1'600</li>
            <li>4</li>
            <li class="negative">200</li>
            <li class="negative">1'760</li>
            <li class="negative">5'240</li>
            <li class="negative">2'000</li>
            <li class="total_amt">1'144</li>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>

    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> feb 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <!-- <li>80</li>
            <li>80</li> -->
            <li>160</li>
            <li>55.00</li>
            <li>8'800</li>
            <li class="negative">1'600</li>
            <li>4</li>
            <li class="negative">200</li>
            <li class="negative">1'760</li>
            <li class="negative">5'240</li>
            <li class="negative">2'000</li>
            <li class="total_amt">1'144</li>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> jan 2017</div>
        <div class="header_data">
          <ul class="title">
           <!--  <li>att. male:</li>
            <li>att. female:</li> -->
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
            <li>dept/pymt (£):</li>
            <li class="total_amt">profit (£):</li>
          </ul>
          <ul class="content">
            <!-- <li>80</li>
            <li>80</li> -->
            <li>160</li>
            <li>55.00</li>
            <li>8'800</li>
            <li class="negative">1'600</li>
            <li>4</li>
            <li class="negative">200</li>
            <li class="negative">1'760</li>
            <li class="negative">5'240</li>
            <li class="negative">2'000</li>
            <li class="total_amt">1'144</li>
          </ul>
          <div class="clear"></div>
          <div class="link_btn view_btn"><%= link_to "view" %></div>
          <div class="link_btn edit_btn"><%= link_to "edit" %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>


  <div class="clear"></div>
</div>



