<div class="user_dashboard_admin_managements">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">
    <!-- financial block --> 
    <% @managements.group_by(&:monthyear).each do |monthyear, event_id| %>
      <ul class="mgt_data_content">
      <div class="group_title">Storage: <%= monthyear %></div>
      <div class="total_calculation">
        <li class="medium-2 columns left_data responsive_data stats_tab_01">
          <div class="data_content">
            <div class="header">mth-end summary</div>
            <div class="header_data">
              <ul class="title">
                <li>total att:</li>
                <li>ticket (£):</li>
                <li>sales (£):</li>
                <li>venue cost (£):</li>
                <li>host count:</li>
                <li>host cost (£):</li>
                <li>VAT 20% (£):</li>
                <li>revenue (£):</li>
                <li>dept/pymt (£):</li>
                <li class="total_amt">profit (£):</li>
              </ul>

              <ul class="content">
                <li>n/a</li>
                <li>n/a</li>
                <li>n/a</li>
                <li class="negative">n/a</li>
                <li>n/a</li>
                <li class="negative">n/a</li>
                <li class="negative">n/a</li>
                <li>n/a</li>
                <li class="negative">n/a</li>
                <li class="total_amt">n/a</li>
              </ul>
              <div class="clear"></div>
              <div class="mgt_event"><%= link_to (truncate "n/a", length: 45), "#", target:"_blank" %></div>
              <div class="link_btn view_btn"><%= link_to "details", details_managements_path %></div>
            </div>
          </div>
        </li>
      </div>
      <% event_id.each do |management| %>
        <li class="medium-2 columns left_data responsive_data stats_tab_01">
          <div class="data_content">
            <div class="header"><%= management.event.date.strftime("%a, %d %b %Y") %></div>
            <div class="header_data">
              <ul class="title">
                <li>total att:</li>
                <li>ticket (£):</li>
                <li>sales (£):</li>
                <li>venue cost (£):</li>
                <li>host count:</li>
                <li>host cost (£):</li>
                <li>VAT 20% (£):</li>
                <li>revenue (£):</li>
                <li>dept/pymt (£):</li>
                <li class="total_amt">profit (£):</li>
              </ul>

              <ul class="content">
                <li><%= management.event.payments.count %></li>
                <li><%= number_with_precision(management.event.price, precision: 2) %></li>
                <li><%= number_with_precision(management.ticket_sales, precision: 0) %></li>
                <li class="negative"><%= number_with_precision(management.venuecost, precision: 0) %></li>
                <li><%= management.host_count %></li>
                <li class="negative"><%= management.host_cost %></li>
                <li class="negative"><%= number_with_precision(management.vat, precision: 0) %></li>
                <li><%= number_with_precision(management.revenue, precision: 0) %></li>
                <li class="negative">deposit</li>
                <li class="total_amt"><%= number_with_precision(management.profit, precision: 0) %></li>
              </ul>
              <div class="clear"></div>
              <div class="mgt_event"><%= link_to (truncate "#{management.event.title}", length: 45), event_path(management.event), target:"_blank" %></div>
              <div class="link_btn edit_btn"><%= link_to "edit", edit_management_path(management) %></div>
              <div class="link_btn edit_btn"><%= link_to 'destroy', management, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
          </div>
        </li>
      <% end %>
      <div class="clear"></div>
      </ul>
    <% end %>
    <!-- financial block -->
  </div>
  <div class="clear"></div>
</div>



