<p id="notice"><%= notice %></p>

<p>
  <strong>Month Period:</strong>
  <%= @management.monthyear %>
</p>

<p>
  <strong>Week:</strong>
  <%= @management.week %>
</p>

<p>
  <strong>Event:</strong>
  <%= @management.event.title %>
</p>

<p>
  <strong>Venuecost:</strong>
  <%= @management.venuecost %>
</p>

<p>
  <strong>Hostcost:</strong>
  <%= @management.hostcost %>
</p>

<%= link_to 'Edit', edit_management_path(@management) %> |
<%= link_to 'Back', managements_path %>
