<div class="users_registrations_new_section">
  <div class="medium-12 columns users_inner_registrations_new_section upper_section">
    <div class="banner_inner_section">
      <div class="banner_register_upper_img"><% image_tag("img_banner_party_01.png") %></div>
      <!-- header -->
      <div class="header_section">
        <div class="logo_links_section">
          <span class="logo"><%= link_to(image_tag("img_spefz_logo.png", :alt =>  "alt text", :class =>"#"), root_path) %><span class="logo_text">pefz</span></span>
          <span class="links">
            <ul>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "How it works", root_path, class: "howitworksheader", rel: "relativeanchor" %></li>
              <li><%= link_to "About us", about_us_path, rel: "relativeanchor" %></li>
            </ul>
          </span>
        </div>
      </div>

      <!-- banner content -->
      <div class="signup_content signupheader">
        <div class="signup_inner_content">
          <div class="signup_inner_upper_content">We use <%= link_to "cookies", terms_cookie_policy_path %>. If you use our website, we shall assume that you are happy with the use of cookies as described in our <%= link_to "privacy policy", terms_privacy_path %>.</div>
          <div class="signup_inner_middle_content">
            <h1>Welcome To Spefz!</h1>
            <div class="sub_header">Discover the most interesting socials and discussions happening around you.</div>
            <div>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :firstname, placeholder: "First name", label: false %>
                  <%= f.input :lastname, placeholder: "Last name", label: false %>
                  <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password", label: false %>
                  <%= f.input :password_confirmation, required: true, placeholder: "Password Confirmation", label: false %>
                  <%= f.input :birthdate, placeholder: "dd/mm/yyyy", label: "Date of Birth", start_year: 1937 %>
                  <div class="clear"></div>
                  <%= f.association :category_gender, collection: CategoryGender.all, required: true, prompt: "select gender", label: 'Gender', label: false %>
                  <%= f.association :category_country, collection: CategoryCountry.all, required: true, prompt: "select country", label: 'Country', label: false %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Sign up" %>
                </div>
              <% end %>
              <div class="terms_info">By clicking on the "Sign up" button, you agree to our <%= link_to "Terms & Conditions", terms_path %> </div>
            </div>
          </div>
          <div class="signup_inner_bottom_content">Already a Spefz Member? <%= link_to "Sign in now", signin_path %></div>
        </div>
      </div>
      <!-- banner content -->
    </div>
  </div>
  

  <!-- footer -->
  <div class="medium-12 columns lower_section">
    <div class="banner_register_bottom_img"><%= image_tag("img_banner_party_01.png") %></div>
    <div class="medium-12 columns background_dark footer_section">
      <div class="header_section">
        <div class="header">find out more about us</div>
        <div class="sub_header">we like to keep our members up to date via social media</div>
      </div>
      <div class="medium-12 columns content_details">
        <div class="social_media">
          <%= link_to '', 'https://www.facebook.com/Spefz-258495281186318/', class: "fa fa-facebook-square", target:"_blank" %>
          <%= link_to '', 'https://twitter.com/spefz', class: "fa fa-twitter-square", target:"_blank" %>
          <% link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-linkedin-square", target:"_blank" %>
          <%= link_to '', 'https://www.instagram.com/spefz/', class: "fa fa-instagram", target:"_blank" %>
        </div>
        <div class="footer_links">
          <ul class="inline-list">
            <li><%= link_to "about us", about_us_path, rel: "relativeanchor" %></li>
            <li><%= link_to "blog", blogs_path %></li>
            <li><%= link_to "terms", terms_path %></li>
            <li><%= link_to "privacy", terms_privacy_path %></li>
            <li><%= link_to "help", help_path %></li>
            <li><%= link_to "we are hiring!", "https://angel.co/spefz/jobs?utm_source=startup_profile_header", target: "_blank" %></li>
            <li><%= link_to "become a partner", help_partners_path %></li>
            <li><%= link_to "contact us", contact_us_path %></li>
          </ul>
        </div>
        <div class="copyright_content">Copyright © 2017 Spefz App | ARTLoe Technologies Ltd</div>
      </div>
    </div>
  </div>
  <!-- footer -->
</div>
